<!DOCTYPE html>
<html lang="en" ng-app="DirectAsia">
  <head>
    <title>Review and Buy - Direct Asia Car Insurance</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Front-End templates for Direct Asia Car Insurance">
    <meta name="keywords" content="bootstrap angularJS bootflat">
    <meta name="author" content="Darryl Snow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../lib/bootstrap.css">
    <link rel="stylesheet" href="../../lib/bootflat.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <!--if lt IE 9
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../images/favicon-192x192.png" sizes="192x192">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/mstile-144x144.png">
    <meta name="msapplication-config" content="../../images/browserconfig.xml">
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/angular.js"></script>
    <script src="../../lib/angular-translate.js"></script>
    <script src="../../lib/angular-translate-loader-static-files.js"></script>
    <script src="../../lib/bootstrap.js"></script>
    <script src="../../lib/jquery.fs.selecter.js"></script>
    <script src="../../lib/fsm-sticky-header.js"></script>
    <script src="../../lib/bootstrap-slider.min.js"></script>
    <script src="../../lib/slider.js"></script>
    <script src="../../lib/angular-bootstrap-datepicker.js"></script>
    <script src="../../lib/select.js"></script>
    <script src="../../scripts/main.js"></script>
    <script src="../../scripts/controllers/help/help.controller.js"></script>
    <script src="../../scripts/directives/continue-button.directive.js"></script>
    <script src="../../scripts/directives/full-page-height.directive.js"></script>
    <script src="../../scripts/directives/input-group.directive.js"></script>
    <script src="../../scripts/directives/match.directive.js"></script>
    <script src="../../scripts/directives/modal.directive.js"></script>
    <script src="../../scripts/directives/popover.directive.js"></script>
    <script src="../../scripts/directives/save-for-later.directive.js"></script>
    <script src="../../scripts/directives/selecter.directive.js"></script>
    <script src="../../scripts/directives/sticky-navbar.directive.js"></script>
    <script src="../../scripts/directives/toggle-buttons.directive.js"></script>
    <script src="../../scripts/directives/tooltip.directive.js"></script>
    <script src="../../scripts/services/AdditionalDriver.factory.js"></script>
    <script src="../../scripts/services/Car.factory.js"></script>
    <script src="../../scripts/services/InsurancePlan.factory.js"></script>
    <script src="../../scripts/services/MainDriver.factory.js"></script>
    <script src="../../scripts/filters/age.filter.js"></script>
    <script src="../../scripts/filters/range.filter.js"></script>
    <script src="../../scripts/filters/slugify.filter.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../../images/direct-asia-logo.png"></a></div>
        <div translate="GS_0_0_1" class="navbar-title">Car Insurance</div>
        <div class="breadcrumb-container">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="active"><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
            <li><span translate="GC_0_1_2">Your Quote</span></li>
            <li><span translate="GC_0_1_3">Purchase</span></li>
          </ol>
          <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
            <li><span translate="GC_0_1_2">Your Quote</span></li>
            <li><span translate="GC_0_1_3">Purchase</span></li>
          </ol>
        </div>
        <div class="navbar-telephone pull-right"><span translate="GS_0_0_2c">Call our Hong Kong Team on</span><span class="navbar-telephone-number">9854 4345</span></div>
        
        <div data-ng-controller="helpCtrl" class="help">
          <button type="button" translate="GS_0_0_2a" data-ng-click="showPopover()" class="btn btn-primary btn-sm help-button">Need Help?</button>
          <div id="popover" data-ng-show="open" class="fake-popover">
            <div class="arrow"></div>
            <form name="helpForm" novalidate data-ng-submit="helpForm.$valid &amp;&amp; sendRequest()" data-ng-show="sent == false">
              <button type="button" data-ng-click="hidePopover()" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
              <p><b translate="PS_3_0_1">Let us call you. Provide your details below and someone from our HK customer care team will get back to you.</b></p>
              <div class="margin--bottom">
                <input type="text" placeholder="Enter Name" name="name" data-ng-model="supportRequest.name" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.name.$invalid &amp;&amp; helpForm.name.$dirty) || (helpForm.name.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="email" placeholder="Enter Email Address" name="email" data-ng-model="supportRequest.email" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.email.$invalid &amp;&amp; helpForm.email.$dirty) || (helpForm.email.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="tel" placeholder="Enter Phone Number" name="phone" data-ng-model="supportRequest.number" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.phone.$invalid &amp;&amp; helpForm.phone.$dirty) || (helpForm.phone.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <button type="submit" translate="PS_3_0_2" class="btn btn-forward margin--bottom">Send Now</button>
            </form>
            <div data-ng-show="sent" class="on-submit margin--bottom">
              <h2><span translate="PS_3_0_3">Message Sent</span>
                <div translate="PS_3_0_4" class="subtitle">Thank you for your message. We will respond to you with 24 hours.</div>
              </h2>
            </div>
            <p><span translate="GS_0_0_2b">Call us on </span>+852 2884 8888<br><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
            <p><span translate="GS_0_0_3a">Email us at </span><a href="mailto:enquiries@directasia.com.hk" style="display:block;">enquiries@directasia.com.hk</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../scripts/controllers/review-and-buy/review-and-buy.controller.js"></script>
    <section data-ng-controller="reviewAndBuyCtrl" class="section section-thankyou">
      <div class="container">
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2 centred margin--bottom"><img src="../../images/person-icon.png"></div>
              <div class="col-md-4 margin--bottom">
                <h1><span translate="PS_6_0a">Review Your Policy and Purchase</span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="panel">
          <div class="panel-header clearfix panel-header--blue">
            <h2 class="margin--bottom pull-left"><span translate="PS_7_1_1">Your Car Insurance Summary</span>
              <div class="subtitle"><span translate="PS_7_1_2">Policy Number: </span><span data-ng-cloak> {{summary.policy.number}}</span></div>
            </h2>
            <div class="pull-right">
              <h2 class="align-right"><span translate="PS_7_1_3">Total </span><span data-ng-cloak> S${{summary.policy.total | number}}</span><span translate="PS_7_1_4">/yr</span>
                <div class="subtitle align-right"><span data-ng-cloak>S${{(summary.policy.total / 12) | number}}</span><span translate="PS_7_1_5">/mo</span></div>
                <div class="subtitle subtitle-secondary align-right"><span translate="PS_7_1_6">Savings </span><span data-ng-cloak> S${{summary.policy.savings}}</span><span translate="PS_7_1_4">/yr</span></div>
              </h2>
            </div>
          </div>
          <div ng-hide="content" class="panel-body">
            <h2 data-ng-cloak>{{summary.policy.name}}</h2>
            <p><span translate="PS_7_1_8">Excess amount: </span><span data-ng-cloak> S${{summary.policy.excess}}</span></p>
            <p><span translate="PS_7_1_9">Optional Cover included: </span><span data-ng-repeat="cover in summary.cover">{{cover.name}}<span data-ng-if="!$last">, </span></span></p>
          </div>
          <div class="panel-body">
            <div class="row margin--bottom">
              <div class="col-xs-2"><img src="../../images/car-icon2.png"></div>
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-md-3"><strong translate="PC_4_8_1_1a">Car</strong></div>
                  <div class="col-md-8">
                    <div><span data-ng-cloak>{{summary.car.year}}</span><span data-ng-cloak>{{summary.car.make}}</span><span data-ng-cloak>{{summary.car.model}}</span><span data-ng-show="summary.car.lowmileageoption">, Low Mileage</span></div>
                    <div data-ng-show="details">
                      <p data-ng-show="summary.car.modifications.bodykit || summary.car.modifications.airintakeexhaust || summary.car.modifications.rimstires || summary.car.modifications.suspensionstabiliser">Modifications: <span data-ng-if="summary.car.modifications.bodykit">Body Kit, Rims / Tires </span><span data-ng-if="summary.car.modifications.airintakeexhaust">Air Intake/Exhaust </span><span data-ng-if="summary.car.modifications.rimstires">Rims &amp; Tires </span><span data-ng-if="summary.car.modifications.suspensionstabiliser">Suspension Stabiliser </span></p>
                      <p><span data-ng-if="summary.car.financed">Financed</span><span data-ng-if="summary.car.ownership == 'private'">Privately Owned</span><span data-ng-show="summary.car.lowmileageoption">, Low Mileage</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-md-6"><a href="../car/car.html" title="Change car details" translate="PC_4_8_1_1b" class="btn btn-default btn-sm desktop">Edit</a></div>
                  <div class="col-md-6"></div>
                </div>
              </div>
            </div>
            <div class="row margin--bottom">
              <div class="col-xs-2"><img src="../../images/driver-icon.png"></div>
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-md-3"><strong translate="PC_4_8_1_2">Driver</strong></div>
                  <div class="col-md-8">
                    <div><span data-ng-cloak>{{summary.mainDriver.gender}}</span><span data-ng-cloak>{{summary.mainDriver.age}} years old</span><span data-ng-cloak>{{summary.mainDriver.noClaimsDiscount}} NCD</span><span data-ng-cloak>Certificate of Merit</span><span data-ng-cloak data-ng-if="summary.mainDriver.accidents.atFault == 1">{{summary.mainDriver.accidents.atFault}} at fault claim</span><span data-ng-cloak data-ng-if="summary.mainDriver.accidents.atFault &gt; 1">{{summary.mainDriver.accidents.atFault}} at fault claims</span><span data-ng-cloak data-ng-if="summary.mainDriver.accidents.notAtFault == 1">{{summary.mainDriver.accidents.notAtFault}} at fault claim</span><span data-ng-cloak data-ng-if="summary.mainDriver.accidents.notAtFault &gt; 1">{{summary.mainDriver.accidents.notAtFault}} at fault claims</span></div>
                    <div ng-show="details"><span data-ng-cloak>{{summary.mainDriver.occupation}}</span><span>[Postal Code]</span><span data-ng-cloak>{{summary.mainDriver.drivingExperience}} years valid driving license,</span></div>
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-md-6"><a href="../about-your-driver/about-your-driver.html" title="Edit the main driver details" translate="PC_4_8_1_1b" class="btn btn-default btn-sm desktop">Edit</a></div>
                  <div class="col-md-6">
                    <div class="align-right">S$45 <span translate="PC_4_8_1_2_2">/yr</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin--bottom">
              <div class="col-xs-2"><img src="../../images/policy-icon2.png"></div>
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-md-3"><strong translate="PC_4_8_1_3_1">Policy</strong></div>
                  <div class="col-md-8">
                    <div><span data-ng-cloak>{{summary.policy.name}} , S${{summary.policy.excess}} </span><span translate="PC_4_8_1_3_2">policy excess</span></div>
                    <div ng-show="content">
                      <p data-ng-repeat="cover in summary.policy.covers">{{cover}}<span data-ng-if="!$last">, </span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-md-6"><a href="../choose-your-cover/choose-your-cover.html" title="Edit policy details" translate="PC_4_8_1_3_3" class="btn btn-default btn-sm desktop">Edit</a></div>
                  <div class="col-md-6">
                    <div class="align-right">S$732 <span translate="PC_4_8_1_3_4">/yr</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2"><img src="../../images/cover-icon2.png"></div>
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-md-3"><strong translate="PC_4_8_1_5_1">Cover</strong></div>
                  <div class="col-md-8">
                    <div><span data-ng-repeat="cover in summary.cover">{{cover.name}} <span data-ng-if="!$last">, </span></span></div>
                    <div ng-show="details"><span data-ng-repeat="cover in summary.cover">{{cover.description}}<span data-ng-if="!$last">, </span></span></div>
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-md-6"><a href="../quote/quote.html" title="Change your cover options" translate="PC_4_8_1_5_2" class="btn btn-default btn-sm desktop">Edit</a></div>
                  <div class="col-md-6">
                    <p class="align-right">S$235 <span translate="PC_4_8_1_5_3">/yr</span></p>
                    <p class="align-right strikethrough">S$261 <span translate="PC_4_8_1_5_3">/yr</span></p>
                    <p class="align-right highlight">(10% <span translate="PC_4_8_1_5_4">Discount</span>)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div data-ng-click="details = !details" style="cursor: pointer;" class="centred">
              <div data-ng-show="!details">
                <h2 translate="PC_4_8_2_1">Review Full Details</h2><img src="../../images/down-arrow.png">
              </div>
              <div data-ng-show="details">
                <h2 translate="PC_4_8_2_2">See Summary</h2><img src="../../images/up-arrow.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-ng-controller="reviewAndBuyCtrl" class="section section-review-and-buy">
      <div class="container">
        <form name="paymentForm" novalidate>
          <h3 translate="PS_6_2_0" class="centred">3 Easy Ways to Purchase</h3>
          <div class="row">
            <div class="col-sm-4">
              <div data-ng-class="{active:review == 'book'}" class="panel panel-option">
                <div class="panel-body centred"><img src="../../images/online-icon2.png" class="margin--bottom">
                  <h2 translate="PS_6_2_1a" class="margin--bottom">Book Online</h2>
                  <button type="button" data-ng-hide="review == 'book'" data-ng-click="review = 'book'" class="btn btn-default btn-sm">Select</button><img data-ng-show="review == 'book'" src="../../images/selected-icon.png">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div data-ng-class="{active:review == 'call'}" class="panel panel-option">
                <div class="panel-body centred"><img src="../../images/call-icon2.png" class="margin--bottom">
                  <h2 translate="PS_6_2_1b" class="margin--bottom">Call Us</h2>
                  <button type="button" data-ng-hide="review == 'call'" data-ng-click="review = 'call'" class="btn btn-default btn-sm">Select</button><img data-ng-show="review == 'call'" src="../../images/selected-icon.png">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div data-ng-class="{active:review == 'centers'}" class="panel panel-option">
                <div class="panel-body centred"><img src="../../images/store-icon2.png" class="margin--bottom">
                  <h2 translate="PS_6_2_1c" class="margin--bottom">Walk-In Centers</h2>
                  <button type="button" data-ng-hide="review == 'centers'" data-ng-click="review = 'centers'" class="btn btn-default btn-sm">Select</button><img data-ng-show="review == 'centers'" src="../../images/selected-icon.png">
                </div>
              </div>
            </div>
          </div>
          <div data-ng-show="review == 'book'" class="panel">
            <div class="panel-body">
              <h4 translate="PS_6_2_1_1_a">Your Quote Agreement</h4>
              <p translate="PS_6_2_1_1_b">Please read the agreement below carefully before you purchasing. This is for your protection in the event of a claim.</p>
              <p translate="PS_6_2_1_1_c">We are required by law to tell you that before we provide cover, you must fully and faithfully tell us everything you know or could reasonably be expected to know that is relevant to our decision to give you the insurance, otherwise you may receive no benefit from your policy or we may cancel your policy and treat it as never having existed.</p>
            </div>
            <div class="panel-footer">
              <h2 translate="PS_6_2_1_1_d" class="margin--bottom">You are agreeing to the statements below:</h2>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_e">The car is not used for commercial purposes or for hire/reward.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_f">The car is registered in Hong Kong.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_g">The car is registered in Singapore and any modifications it may have are LTA compliant.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_h">That the policyholder must be the registered owner of the vehicle.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_i">That the drivers you wish to insure do not have 2 or more at-fault accidents/claims on this or another vehicle (excluding motorcycles) in the last 3 years.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_j">You have read and agree to our Privacy Statement.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_k">The main driver of the car is aged 70 and below and has a valid driving license of at least 2 years.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_l">No driver has been refused insurance or had it terminated in the last 3 years.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_m">No driver has had any class of license suspended or cancelled in the last 5 years</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_n">| All drivers have valid driving licenses with less than 12 driving offence points.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_o">That the policyholder must be the registered owner of the vehicle.</p>
              </div>
              <div class="bonus"><img src="../../images/green-check.png" class="pull-left margin--right">
                <p translate="PS_6_2_1_1_p">You have read and understood the Policy summary and Policy wording</p>
              </div>
            </div>
            <div class="panel-body">
              <label for="checkbox1" class="label-checkbox margin--bottom">
                <input id="checkbox1" type="checkbox" data-ng-model="agreed">
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_6_2_1_1_1">I Agree to the terms</span>
              </label>
              <div data-ng-show="agreed" class="margin--top">
                <h2 translate="PS_6_3_1">Payment Details</h2>
                <div class="row">
                  <div class="col-md-6 margin--bottom">
                    <p translate="PS_6_3_2">How would you like to pay?</p>
                    <button type="button" data-ng-class="{'active': paymentDetails.term == 'monthly'}" data-ng-click="paymentDetails.term = 'monthly'" tabindex="1" class="btn btn-default random-margin"><span translate="PS_6_3_2_1">Monthly</span><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" data-ng-class="{'active': paymentDetails.term == 'annually'}" data-ng-click="paymentDetails.term = 'annually'" tabindex="2" class="btn btn-default"><span translate="PS_6_3_2_2">Annually</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="paymentForm.$submitted &amp;&amp; paymentDetails.term == null">
                  </div>
                  <div class="col-md-6 margin--bottom">
                    <p translate="PS_6_3_3">Using Bank</p>
                    <input type="text" name="bank" data-ng-model="paymentDetails.bank" required tabindex="5" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(paymentForm.$submitted &amp;&amp; paymentForm.bank.$invalid) || (paymentForm.bank.$invalid &amp;&amp; paymentForm.bank.$dirty)">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin--bottom">
                    <p translate="PS_6_3_4">Cardholder Name</p>
                    <input type="text" placeholder="Name as it appears on the card" name="cardholderName" data-ng-model="paymentDetails.cardholderName" required tabindex="3" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(paymentForm.$submitted &amp;&amp; paymentForm.cardholderName.$invalid) || (paymentForm.cardholderName.$invalid &amp;&amp; paymentForm.cardholderName.$dirty)">
                  </div>
                  <div class="col-md-6 margin--bottom">
                    <p translate="PS_6_3_5">Credit Card Number</p>
                    <input type="text" placeholder="0000-0000-0000-0000" name="creditCardNumber" data-ng-model="paymentDetails.creditCardNumber" required tabindex="6" data-ng-pattern="/^[0-9s -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(paymentForm.$submitted &amp;&amp; paymentForm.creditCardNumber.$invalid) || (paymentForm.creditCardNumber.$invalid &amp;&amp; paymentForm.creditCardNumber.$dirty)">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p translate="PS_6_3_6">Verification Number</p>
                    <input type="text" name="verificationNumber" data-ng-model="paymentDetails.verificationNumber" required tabindex="4" data-ng-pattern="/^[0-9]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(paymentForm.$submitted &amp;&amp; paymentForm.verificationNumber.$invalid) || (paymentForm.verificationNumber.$invalid &amp;&amp; paymentForm.verificationNumber.$dirty)">
                  </div>
                  <div class="col-md-6">
                    <p translate="PS_6_3_7">Expiry Date</p>
                    <div class="form-inline">
                      <input placeholder="MM" name="expiryMonth" type="number" min="1" max="12" data-ng-model="paymentDetails.expiryDate.month" required tabindex="7" class="month">
                      <input placeholder="YYYY" name="expiryYear" type="number" min="2015" max="2025" data-ng-model="paymentDetails.expiryDate.year" required tabindex="8" class="year"><img src="../../images/error.png" data-ng-show="(paymentForm.$submitted &amp;&amp; paymentForm.expiryMonth.$invalid) || (paymentForm.$submitted &amp;&amp; paymentForm.expiryYear.$invalid) || (paymentForm.expiryMonth.$invalid &amp;&amp; paymentForm.expiryMonth.$dirty) || (paymentForm.expiryYear.$invalid &amp;&amp; paymentForm.expiryYear.$dirty)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-ng-show="agreed" class="panel-footer">
              <div data-ng-show="paymentDetails.term == 'annual'">
                <h2 translate="PS_6_4_0">Would you like to sign up for auto renew?</h2>
                <p translate="PS_6_4_0_1">Copy further touting the benefits of notification, lorem ipsum dolor sit atmet.</p>
                <button type="button" data-ng-class="{'active': paymentDetails.autoRenew == true}" data-ng-click="paymentDetails.autoRenew = true" class="btn btn-default"><span translate="PS_1_2b">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" data-ng-class="{'active': paymentDetails.autoRenew == false}" data-ng-click="paymentDetails.autoRenew = false" class="btn btn-default"><span translate="PS_1_2c">No</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div>
                <h2 class="margin--bottom"><span translate="PS_6_5_1">What you pay today:</span><span data-ng-cloak> S${{summary.policy.total | number}}</span>
                  <div translate="PS_6_5_2" class="subtitle">if you change your mind, you have 15 days in which you can cancel your policy to receive a full refund</div>
                </h2>
                <h2 class="margin--bottom"><span translate="PS_6_5_3">Future monthly payments:</span><span data-ng-cloak> S${{summary.policy.total / 12}}</span></h2><a href="" title="" translate="PS_6_5_4">See monthly payment breakdown</a>
              </div>
            </div>
          </div>
          <div data-ng-show="review == 'call'" class="panel">
            <div class="panel-body">
              <h4 translate="PS_6_5_6">Want to finish over the phone?</h4>
              <p translate="PS_6_5_6_1">Let our [Country] team help you by calling us directly.</p>
              <p><strong>[Phone Number]</strong></p>
              <p translate="PS_6_5_7">Please provide your policy number below so we can pick up where you left off.</p>
              <p><span translate="PS_6_5_8">Your Policy Number:</span><strong> [XXXXX]</strong></p>
              <h5><span translate="PS_6_5_9">We are available at these times</span><strong> [Call Center Hours]</strong></h5>
            </div>
          </div>
          <div data-ng-show="review == 'centers'" class="panel">
            <div class="panel-header panel-header--white">
              <h4 translate="PS_6_5_10">Come and visit us in person!</h4>
              <p>[Address]</p>
            </div>
            <div class="panel-body panel-body--nopadding">
              <iframe src="http://regiohelden.de/google-maps/map_en.php?hl=en&amp;q=1101%2C%2011%2FF%2C%20Allied%20Kajima%20Building%2C%20138%20Gloucester%20Road%2C%20Wan%20Chai%2C%20Hong%20Kong+(RegioHelden%20GmbH)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
          <div class="clearfix"><a href="" title="" class="btn btn-backward margin--bottom"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PS_6_6_1">Back</span></a>
            <button type="submit" continue next-page="http://localhost:9000/pages/thank-you/thank-you.html" valid="review == 'book' ? paymentForm.$valid &amp;&amp; agreed : true" url="http://localhost:9000/payment" page-data="{{paymentDetails}}" class="btn btn-forward btn-lg pull-right margin--bottom"><span translate="PS_5_6_2">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
            <button type="button" style="clear:both;" data-ng-click="saveForLater()" class="popover-button btn btn-primary btn-action btn-sm pull-right"><span data-ng-show="!saved" translate="PS_6_6_2">Save for later</span><span data-ng-show="saved" translate="PS_6_6_3">Saved!</span></button>
          </div>
        </form>
        <div id="popover1" class="popover save-div bottom">
          <div class="arrow"></div>
          <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
          <div data-ng-hide="send">
            <p translate="PS_6_6_4">Please provide your email below and we‘ll send you a link to retrieve your quotation for up to 90 days.</p>
            <input type="email" placeholder="Enter email address" class="form-control">
            <p translate="PS_6_6_4_1">Want us to help you finish? provide your phone number and we‘ll give you a call.</p>
            <input type="tel" placeholder="Enter phone number" class="form-control">
            <button type="button" data-ng-click="send = true" translate="PS_6_6_6" class="btn btn-forward">Send</button>
          </div>
          <div data-ng-show="send" class="on-send">
            <p translate="PS_6_6_6_1">Your quote has been successfully saved. Please check your email, which contains a link to retrieve your quotation.</p>
            <p translate="PS_6_6_6_2">Share your current renewal premium so we can make sure we‘re giving you the best value</p>
            <button type="button" data-ng-click="submit = true" translate="PS_6_6_6_3" class="btn btn-forward">Submit</button>
          </div>
        </div>
        <p translate="PS_6_6_7">Your details will be saved for 90 days so you can finish later</p>
      </div>
    </section>
    <footer class="page-footer">
      <div class="container">
        <button ng-click="switchLanguage('zh_CN')" data-ng-show="currentLanguage=='en_GB'" class="btn btn-sm btn-icon btn-icon--chinese pull-right">Chinese</button>
        <button ng-click="switchLanguage('en_GB')" data-ng-show="currentLanguage=='zh_CN'" class="btn btn-sm btn-icon btn-icon--english pull-right">English</button>
      </div>
    </footer>
    <script>
      //- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      //- loadCSS("styles/main.css");
      
      //- var _gaq = _gaq || [];
      //- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
      //- _gaq.push(["_trackPageview"]);
      
      //- (function() {
      //- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      //- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      //- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();
      
    </script>
  </body>
</html>