
<link rel="stylesheet" href="../../lib/bootstrap-slider.css"/>
<script src="../../scripts/controllers/about-your-driver/about-your-driver.controller.js"></script>
<div class="container">
  <section data-ng-controller="aboutYourDriverCtrl" class="section section-driver">
    <form name="driverForm" novalidate="novalidate">
      <div class="container-fluid">
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2 centred margin--bottom"><img src="../../images/person-icon.png"/></div>
              <div class="col-md-7 margin--bottom">
                <h1><span translate="PS_3_0a">Tell Us About the Main Driver</span>
                  <div translate="PS_3_0b" class="subtitle">it‘s important that you‘re honest about who the main driver is so you‘re covered if you ever have a claim.</div>
                </h1>
              </div>
              <div class="col-md-3"><strong translate="GS_0_2a">Existing Customer?</strong>
                <p translate="GS_0_2b">Save time and retrieve your renewal quote</p>
                <button type="button" class="btn btn-primary"><span translate="GS_0_2c">Login Now</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin--bottom">
          <div class="col-md-10 margin--bottom">
            <div class="container-fluid">
              <h2 data-toggle="tooltip" data-placement="top" title="The main driver is the person who uses the car most frequently. They do not need to be the car owner (policyholder)." class="show-tooltip"><span translate="PS_3_0c">Does the main driver own the car?</span><img src="../../images/question-icon.png"/></h2>
              <button id="ownCar" name="ownCar" type="button" data-ng-class="{'active': driver.ownership}" data-ng-click="driver.ownership = true" class="btn btn-default random-margin"><span translate="PS_3_0d">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
              <button name="ownCar" type="button" data-ng-class="{'active': driver.ownership == false}" data-ng-click="driver.ownership = false" class="btn btn-default"><span translate="PS_3_0e">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="!driver.ownership &amp;&amp; driverForm.$submitted"/>
              <h2 translate="PS_3_0f">Date of Birth</h2>
              <div data-toggle="popover" data-placement="right" popover="#popover1" popover-type="popover--yellow" trigger="hover" style="display:inline-block;" class="form-inline">
                <input id="driverDOBDay" name="driverDOBDay" data-ng-model="driver.dob.day" placeholder="DD" type="number" min="1" max="31" required="required" class="day"/>
                <input id="driverDOBMonth" name="driverDOBMonth" data-ng-model="driver.dob.month" placeholder="MM" type="number" min="1" max="12" required="required" class="month"/>
                <input id="driverDOBYear" name="driverDOBYear" data-ng-model="driver.dob.year" placeholder="YYYY" type="number" min="1900" max="2015" required="required" class="year"/><img src="../../images/error.png" data-ng-show="(driverForm.driverDOBDay.$invalid &amp;&amp; driverForm.driverDOBDay.$dirty) || (driverForm.driverDOBMonth.$invalid &amp;&amp; driverForm.driverDOBMonth.$dirty) || (driverForm.driverDOBYear.$invalid &amp;&amp; driverForm.driverDOBYear.$dirty) || ((driverForm.driverDOBDay.$invalid || driverForm.driverDOBMonth.$invalid || driverForm.driverDOBYear.$invalid) &amp;&amp; driverForm.$submitted)"/>
              </div>
              <div id="popover1" class="popover right"><span translate="PS_3_0f_1">The main driver should be less than 70 year old</span></div>
              <div class="row">
                <div class="col-md-6">
                  <h2 translate="PS_3_0g">Gender</h2>
                  <button name="gender" type="button" data-ng-class="{'active': driver.gender == 'male'}" data-ng-click="driver.gender = 'male'" class="btn btn-default random-margin"><span translate="PS_3_0g_1">Male</span><span class="glyphicon glyphicon-ok"></span></button>
                  <button name="gender" type="button" data-ng-class="{'active': driver.gender == 'female'}" data-ng-click="driver.gender = 'female'" class="btn btn-default"><span translate="PS_3_0g_2">Female</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="driverForm.$submitted &amp;&amp; !driver.gender"/>
                </div>
                <div class="col-md-6">
                  <h2 translate="PS_3_0h">Marital Status</h2>
                  <button name="status" type="button" data-ng-class="{'active': driver.maritalStatus == 'single'}" data-ng-click="driver.maritalStatus = 'single'" class="btn btn-default random-margin"><span translate="PS_3_0i">Single</span><span class="glyphicon glyphicon-ok"></span></button>
                  <button name="status" type="button" data-ng-class="{'active': driver.maritalStatus == 'married'}" data-ng-click="driver.maritalStatus = 'married'" class="btn btn-default"><span translate="PS_3_0j">Married</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="driverForm.$submitted &amp;&amp; !driver.maritalStatus"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h2 translate="PS_3_0k">Occupation</h2>
                  <select id="occupation" name="occupation" data-ng-model="driver.occupation" required="required">
                    <option selecter="selecter" label="Enter Occupation" value="{{occupation}}" data-ng-repeat="occupation in occupations" selecter-target="#occupation" selecter-callback="select" property="occupation" data-ng-selected="occupation == selectedItem">{{occupation}}</option>
                  </select><img src="../../images/error.png" data-ng-show="(driverForm.occupation.$invalid &amp;&amp; driverForm.occupation.$dirty) || (driverForm.occupation.$invalid &amp;&amp; driverForm.$submitted)" style="bottom: 3px; position: absolute; right: 15px;"/>
                </div>
                <div class="col-md-6">
                  <h2 translate="PS_3_0l">Residential District</h2>
                  <select id="residential" name="residential" data-ng-model="driver.residentialDistrict" required="required">
                    <option selecter="selecter" label="Enter Residential District" value="{{residential}}" data-ng-repeat="residential in residentials" selecter-target="#residential" selecter-callback="select" property="residential" data-ng-selected="residential == selectedItem">{{residential}}</option>
                  </select><img src="../../images/error.png" data-ng-show="(driverForm.residential.$invalid &amp;&amp; driverForm.residential.$dirty) || (driverForm.residential.$invalid &amp;&amp; driverForm.$submitted)" style="bottom: 3px; position: absolute; right: 15px;"/>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <h2 translate="PS_3_1_1a">Years of valid driving license</h2>
              <div data-toggle="popover" data-placement="right" popover="#popover2" popover-type="popover--yellow" trigger="hover" style="display:inline-block; position: relative; width: 48%;" class="form-inline">
                <select id="drivingExperience" name="drivingExperience" data-ng-model="driver.drivingExperience" required="required">
                  <option selecter="selecter" label="Enter Driving License" value="{{drivingExperience}}" data-ng-repeat="drivingExperience in drivingExperiences" selecter-target="#drivingExperience" selecter-callback="select" property="drivingExperience" data-ng-selected="drivingExperience == selectedItem">{{drivingExperience}}</option>
                </select><img src="../../images/error.png" data-ng-show="(driverForm.drivingExperience.$invalid &amp;&amp; driverForm.drivingExperience.$dirty) || (driverForm.drivingExperience.$invalid &amp;&amp; driverForm.$submitted)" style="bottom: 3px; position: absolute; right: 0;"/>
              </div>
              <div id="popover2" class="popover right"><span translate="PS_3_1_1b">We are unable to insure drivers who have had their license suspended or cancelled in the last 5 years.</span></div>
            </div>
            <div class="container-fluid">
              <h2><span translate="PS_3_1_2a">No Claims Discount</span>
                <div translate="PS_3_1_2b" class="subtitle">You will find on the renewal notice you recieved from your insurer</div>
              </h2>
              <div class="col-md-12 margin--bottom">
                <div class="slider-labels"><span>0%</span><span>10%</span><span>20%</span><span>30%</span><span>40%</span><span>50%</span></div>
                <slider data-ng-model="driver.noClaimsDiscount" min="0" step="10" max="50" value="0"></slider>
              </div>
              <div data-ng-show="driver.noClaimsDiscount == 0">
                <h2 translate="PS_3_1_2_1a">Why does the main driver have 0% NCD?</h2>
                <label for="radio1" class="label-radio">
                  <input id="radio1" type="radio" name="noncd" value="Never been insured" data-ng-model="driver.whyNoClaimsDiscount"/>
                  <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_3_1_2_1b">Never been insured</span>
                </label>
                <label for="radio2" class="label-radio">
                  <input id="radio2" type="radio" name="noncd" value="Insured in the past, but not in the last 12 months" data-ng-model="driver.whyNoClaimsDiscount"/>
                  <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_3_1_2_1c">Insured in the past, but not in the last 12 months</span>
                </label>
                <label for="radio3" class="label-radio">
                  <input id="radio3" type="radio" name="noncd" value="Claims have been made in the last 12 months" data-ng-model="driver.whyNoClaimsDiscount"/>
                  <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_3_1_2_1d">Claims have been made in the last 12 months</span>
                </label>
                <label for="radio4" class="label-radio">
                  <input id="radio4" type="radio" name="noncd" value="Insured as a named driver on another policy" data-ng-model="driver.whyNoClaimsDiscount"/>
                  <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_3_1_2_1e">Insured as a named driver on another policy</span>
                </label>
              </div>
            </div>
            <div class="container-fluid">
              <h2><span translate="PC_3_1_3a">Did the main driver have any driving offence points in the last 2 years?</span></h2>
              <div data-toggle="popover" data-placement="right" popover="#driving-offence" popover-type="popover--yellow" trigger="hover" style="display: inline-block;">
                <button id="offences-yes" name="offences" type="button" data-ng-class="{'active': driver.offences}" data-ng-click="driver.offences = true" class="btn btn-default random-margin"><span translate="PC_3_1_3c">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                <button id="offences-no" name="offences" type="button" data-ng-class="{'active': driver.offences == false}" data-ng-click="driver.offences = false" class="btn btn-default"><span translate="PC_3_1_3d">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="driverForm.$submitted &amp;&amp; driver.offences == null"/>
              </div>
              <div id="driving-offence" class="popover right"><span translate="PC_3_1_3b">If you‘re unsure, <a href="http://www.police.gov.hk/ppp_en/05_traffic_matters/tcr.html">click here</a> to get this information. Please note that drivers must have less than 12 offence points.</span></div>
            </div>
            <div class="container-fluid">
              <h2 translate="PC_3_1_5a">Has insurance been refused or cancelled in the past 3 years?</h2>
              <button name="refusedInsurance" type="button" data-ng-class="{'active': driver.refusals == 'yes'}" data-ng-click="driver.refusals = 'yes'" class="btn btn-default random-margin"><span translate="PC_3_1_5b">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
              <button name="refusedInsurance" type="button" data-ng-class="{'active': driver.refusals == 'no'}" data-ng-click="driver.refusals = 'no'" class="btn btn-default"><span translate="PC_3_1_5c">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="driverForm.$submitted &amp;&amp; driver.refusals == null"/>
            </div>
            <div class="container-fluid">
              <h2><span translate="PC_3_1_4a">In the past 3 years (36 months), how many accidents and/or claims where made?</span>
                <div translate="PC_3_1_4b" class="subtitle">You should include all accidents and/or claims, but you can exclude windscreen claims.</div>
              </h2>
              <div class="row">
                <div class="col-xs-6">
                  <label translate="PC_4_4_1_4c">at Fault</label>
                  <select id="fault" name="fault" data-ng-model="driver.accidents.atFault" required="required">
                    <option selecter="selecter" label="at Fault" value="{{fault}}" data-ng-repeat="fault in faults" selecter-target="#fault" selecter-callback="select" property="fault" data-ng-selected="fault == selectedItem">{{fault}}</option>
                  </select><img src="../../images/error.png" data-ng-show="(driverForm.fault.$invalid &amp;&amp; driverForm.fault.$dirty) || (driverForm.fault.$invalid &amp;&amp; driverForm.$submitted)" style="bottom: 3px; position: absolute; right: 15px;"/>
                </div>
                <div class="col-xs-6">
                  <label translate="PC_4_4_1_4d">Not at Fault</label>
                  <select id="notFault" name="notFault" data-ng-model="driver.accidents.notAtFault" required="required">
                    <option selecter="selecter" label="Not at Fault" value="{{notFault}}" data-ng-repeat="notFault in notFaults" selecter-target="#notFault" selecter-callback="select" property="notFault" data-ng-selected="notFault == selectedItem">{{notFault}}</option>
                  </select><img src="../../images/error.png" data-ng-show="(driverForm.notFault.$invalid &amp;&amp; driverForm.notFault.$dirty) || (driverForm.notFault.$invalid &amp;&amp; driverForm.$submitted)" style="bottom: 3px; position: absolute; right: 15px;"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 margin--top">
            <button type="submit" continue="continue" url="http://localhost:9000/driver" page-data="{{driver}}" next-page="http://localhost:9000/pages/quote/quote.html" valid="driverForm.$valid &amp;&amp; driver.ownership == true" class="btn btn-forward btn-lg margin--bottom margin--right"><span translate="PC_3_3_2">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
            <button type="button" class="btn btn-backward"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PC_3_3_1">Back</span></button>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
<div id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="false" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      <div class="modal-body">
        <h2 id="modalLabel" translate="PC_3_3_3">Sorry, but we‘d like to speak with you about your policy</h2>
        <p><strong translate="PC_3_3_4">What to do next:</strong></p>
        <p translate="PC_3_3_5">Call our [Country] based team and provide your reference number and we‘ll help you complete your policy</p>
        <p><strong><span translate="PC_3_3_6">Your Reference Number:</span> XXXXX</strong></p>
        <p><span translate="GS_0_0_2a">Call us on</span> +852 2884 8888<span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
      </div>
    </div>
  </div>
</div>
<script>$('#modal').modal();</script>