<!DOCTYPE html>
<html lang="en" ng-app="DirectAsia">
  <head>
    <title>Your Policy - Direct Asia Car Insurance</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Front-End templates for Direct Asia Car Insurance">
    <meta name="keywords" content="bootstrap angularJS bootflat">
    <meta name="author" content="Darryl Snow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../lib/bootstrap.css">
    <link rel="stylesheet" href="../../lib/bootflat.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <!--if lt IE 9
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../images/favicon-192x192.png" sizes="192x192">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/mstile-144x144.png">
    <meta name="msapplication-config" content="../../images/browserconfig.xml">
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/angular.js"></script>
    <script src="../../lib/angular-translate.js"></script>
    <script src="../../lib/angular-translate-loader-static-files.js"></script>
    <script src="../../lib/bootstrap.js"></script>
    <script src="../../lib/jquery.fs.selecter.js"></script>
    <script src="../../lib/fsm-sticky-header.js"></script>
    <script src="../../lib/bootstrap-slider.min.js"></script>
    <script src="../../lib/slider.js"></script>
    <script src="../../scripts/main.js"></script>
    <script src="../../scripts/controllers/help/help.controller.js"></script>
    <script src="../../scripts/directives/continue-button.directive.js"></script>
    <script src="../../scripts/directives/full-page-height.directive.js"></script>
    <script src="../../scripts/directives/input-group.directive.js"></script>
    <script src="../../scripts/directives/match.directive.js"></script>
    <script src="../../scripts/directives/modal.directive.js"></script>
    <script src="../../scripts/directives/popover.directive.js"></script>
    <script src="../../scripts/directives/selecter.directive.js"></script>
    <script src="../../scripts/directives/sticky-navbar.directive.js"></script>
    <script src="../../scripts/directives/toggle-buttons.directive.js"></script>
    <script src="../../scripts/directives/tooltip.directive.js"></script>
    <script src="../../scripts/services/AdditionalDriver.factory.js"></script>
    <script src="../../scripts/services/Car.factory.js"></script>
    <script src="../../scripts/services/InsurancePlan.factory.js"></script>
    <script src="../../scripts/services/MainDriver.factory.js"></script>
    <script src="../../scripts/filters/age.filter.js"></script>
    <script src="../../scripts/filters/range.filter.js"></script>
    <script src="../../scripts/filters/slugify.filter.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../../images/direct-asia-logo.png"></a></div>
        <div translate="GS_0_0_1" class="navbar-title">Car Insurance</div>
        <ol class="breadcrumb breadcrumb-arrow">
          <li class="active"><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
          <li><span translate="GC_0_1_2">Your Quote</span></li>
          <li><span translate="GC_0_1_3">Purchase</span></li>
        </ol>
        <div class="navbar-telephone pull-right"><span translate="GS_0_0_2c">Call our Singapore Team on</span><span class="navbar-telephone-number">9854 4345</span></div>
        <script src="../../scripts/controllers/help/help.controller.js"></script>
        <div data-ng-controller="helpCtrl" class="help">
          <button type="button" translate="GS_0_0_2a" data-ng-click="showPopover()" class="btn btn-primary btn-sm help-button">Need Help?</button>
          <div id="popover" data-ng-show="open" class="fake-popover">
            <div class="arrow"></div>
            <form name="helpForm" novalidate data-ng-submit="helpForm.$valid &amp;&amp; sendRequest()" data-ng-show="sent == false">
              <button type="button" data-ng-click="hidePopover()" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
              <p><b translate="PS_3_0_1">Let us call you. Provide your details below and someone from our HK customer care team will get back to you.</b></p>
              <div class="margin--bottom">
                <input type="text" placeholder="Enter Name" name="name" data-ng-model="supportRequest.name" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.name.$invalid &amp;&amp; helpForm.name.$dirty) || (helpForm.name.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="email" placeholder="Enter Email Address" name="email" data-ng-model="supportRequest.email" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.email.$invalid &amp;&amp; helpForm.email.$dirty) || (helpForm.email.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="tel" placeholder="Enter Phone Number" name="phone" data-ng-model="supportRequest.number" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.phone.$invalid &amp;&amp; helpForm.phone.$dirty) || (helpForm.phone.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <button type="submit" translate="PS_3_0_2" class="btn btn-forward margin--bottom">Send Now</button>
            </form>
            <div data-ng-show="sent" class="on-submit margin--bottom">
              <h2><span translate="PS_3_0_3">Message Sent</span>
                <div translate="PS_3_0_4" class="subtitle">Thank you for your message. We will respond to you with 24 hours.</div>
              </h2>
            </div>
            <p><span translate="GS_0_0_2b">Call us on </span>+852 2884 8888<br><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
            <p><span translate="GS_0_0_3a">Email us at </span><a href="" style="display:block;">enquiries@directasia.com.hk</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../scripts/controllers/your-policy/your-policy.controller.js"></script>
    <section id="yourPolicy" data-ng-controller="yourPolicyCtrl" class="section section-your-policy">
      <form name="policyForm" novalidate>
        <div class="container">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-1 text-center"><img src="../../images/policy.png" class="margin--right"></div>
                <div class="col-md-5">
                  <h2 translate="PS_5_0a">Finish Your Policy Online for Instant Coverage.</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-header clearfix panel-header--blue">
              <h2 class="margin--bottom pull-left"><span translate="PS_5_0a">Finish your policy and get instant coverage.</span>
                <div class="subtitle"><span translate="PS_7_1_2">Policy Number: </span><span data-ng-cloak>{{policy.number}}</span></div>
              </h2>
              <div class="pull-right">
                <h2 class="align-right"><span translate="PS_7_1_3">Total </span><span data-ng-cloak> S${{policy.total | number}}</span><span translate="PS_7_1_4">/yr</span>
                  <div class="subtitle"><span data-ng-cloak>S${{(policy.total / 12) | number}}</span><span translate="PS_7_1_5">/mo</span></div>
                  <div class="subtitle subtitle-secondary"><span translate="PS_7_1_6">Savings </span><span data-ng-cloak> S${{policy.savings}}</span><span translate="PS_7_1_4">/yr</span></div>
                </h2>
              </div>
            </div>
            <div class="panel-body">
              <div class="row margin--bottom">
                <div class="col-xs-2"><img src="../../images/car-icon2.png"></div>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-md-3"><strong translate="PC_4_8_1_1a">Car</strong></div>
                    <div class="col-md-8">
                      <div><span data-ng-cloak>{{policy.car.year}}</span><span data-ng-cloak>{{policy.car.make}}</span><span data-ng-cloak>{{policy.car.model}}</span><span data-ng-show="policy.car.lowmileageoption">, Low Mileage</span></div>
                      <div data-ng-show="details">
                        <p data-ng-show="policy.car.modifications.bodykit || policy.car.modifications.airintakeexhaust || policy.car.modifications.rimstires || policy.car.modifications.suspensionstabiliser">Modifications: <span data-ng-if="policy.car.modifications.bodykit">Body Kit, Rims / Tires </span><span data-ng-if="policy.car.modifications.airintakeexhaust">Air Intake/Exhaust </span><span data-ng-if="policy.car.modifications.rimstires">Rims &amp; Tires </span><span data-ng-if="policy.car.modifications.suspensionstabiliser">Suspension Stabiliser </span></p>
                        <p><span data-ng-if="policy.car.financed">Financed</span><span data-ng-if="policy.car.ownership == 'private'">Privately Owned</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-md-6"><a href="../car/policy.car.html" title="Change car details" translate="PC_4_8_1_1b" class="btn btn-default btn-sm desktop">Edit</a></div>
                    <div class="col-md-6"></div>
                  </div>
                </div>
              </div>
              <div class="row margin--bottom">
                <div class="col-xs-2"><img src="../../images/driver-icon.png"></div>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-md-3"><strong translate="PC_4_8_1_2">Driver</strong></div>
                    <div class="col-md-8">
                      <div><span data-ng-cloak>{{policy.mainDriver.gender}}</span><span data-ng-cloak>{{policy.mainDriver.age}} years old</span><span data-ng-cloak>{{policy.mainDriver.noClaimsDiscount}} NCD</span><span data-ng-cloak>Certificate of Merit</span><span data-ng-cloak data-ng-if="policy.mainDriver.accidents.atFault == 1">{{policy.mainDriver.accidents.atFault}} at fault claim</span><span data-ng-cloak data-ng-if="policy.mainDriver.accidents.atFault &gt; 1">{{policy.mainDriver.accidents.atFault}} at fault claims</span><span data-ng-cloak data-ng-if="policy.mainDriver.accidents.notAtFault == 1">{{policy.mainDriver.accidents.notAtFault}} at fault claim</span><span data-ng-cloak data-ng-if="policy.mainDriver.accidents.notAtFault &gt; 1">{{policy.mainDriver.accidents.notAtFault}} at fault claims</span></div>
                      <div ng-show="details"><span data-ng-cloak>{{policy.mainDriver.occupation}}</span><span>[Postal Code]</span><span data-ng-cloak>{{policy.mainDriver.drivingExperience}} years valid driving license,</span></div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-md-6"><a href="../about-your-driver/about-your-driver.html" title="Edit the main driver details" translate="PC_4_8_1_1b" class="btn btn-default btn-sm desktop">Edit</a></div>
                    <div class="col-md-6">
                      <div class="align-right">S$45 <span translate="PC_4_8_1_2_2">/yr</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row margin--bottom">
                <div class="col-xs-2"><img src="../../images/policy-icon2.png"></div>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-md-3"><strong translate="PC_4_8_1_3_1">Policy</strong></div>
                    <div class="col-md-8">
                      <div><span data-ng-cloak>{{policy.name}} , S${{policy.excess}} </span><span translate="PC_4_8_1_3_2">policy excess</span></div>
                      <div ng-show="content">
                        <p data-ng-repeat="cover in policy.covers">{{cover}}<span data-ng-if="!$last">, </span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-md-6"><a href="../choose-your-cover/choose-your-cover.html" title="Edit policy details" translate="PC_4_8_1_3_3" class="btn btn-default btn-sm desktop">Edit</a></div>
                    <div class="col-md-6">
                      <div class="align-right">S$732 <span translate="PC_4_8_1_3_4">/yr</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2"><img src="../../images/cover-icon2.png"></div>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-md-3"><strong translate="PC_4_8_1_5_1">Cover</strong></div>
                    <div class="col-md-8">
                      <div><span data-ng-repeat="cover in options.covers">{{cover.name}} <span data-ng-if="!$last">, </span></span></div>
                      <div ng-show="details"><span data-ng-repeat="cover in options.covers">{{cover.description}}<span data-ng-if="!$last">, </span></span></div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-md-6"><a href="../quote/quote.html" title="Change your cover options" translate="PC_4_8_1_5_2" class="btn btn-default btn-sm desktop">Edit</a></div>
                    <div class="col-md-6">
                      <p class="align-right">S$235 <span translate="PC_4_8_1_5_3">/yr</span></p>
                      <p class="align-right strikethrough">S$261 <span translate="PC_4_8_1_5_3">/yr</span></p>
                      <p class="align-right highlight">(10% <span translate="PC_4_8_1_5_4">Discount</span>)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div data-ng-click="details = !details" style="cursor: pointer;" class="centred">
                <div data-ng-show="!details">
                  <h2 translate="PC_4_8_2_1">Review Policy details functionality</h2><img src="../../images/down-arrow.png">
                </div>
                <div data-ng-show="details">
                  <h2 translate="PC_4_8_2_2">See Summary</h2><img src="../../images/up-arrow.png">
                </div>
              </div>
            </div>
          </div>
          <form name="policyForm" novalidate>
            <div class="row margin--bottom">
              <div class="col-md-8 margin--top">
                <div class="container-fluid margin--top">
                  <div class="row margin--top">
                    <div class="col-md-12 margin--top"><img src="../../images/car-icon2.png" class="pull-left margin--right">
                      <h2 translate="PS_5_3a" class="section-title">Car Details</h2>
                    </div>
                  </div>
                  <div class="row margin--top">
                    <div class="col-md-6">
                      <label translate="PS_5_3b" for="registrationNumber" class="label-bold margin--bottom">Registration Number</label>
                      <input id="registrationNumber" data-ng-model="policy.registrationNumber" type="text" placeholder="enter registration number" name="registrationNumber" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.registrationNumber.$invalid) || (policyForm.registrationNumber.$invalid &amp;&amp; policyForm.registrationNumber.$dirty)">
                    </div>
                    <div data-toggle="popover" data-placement="top" popover="#popover1" popover-type="popover--yellow" trigger="hover" class="col-md-6">
                      <label for="carChassisNumber" class="label-bold margin--bottom"><span translate="PS_5_3c">Car Chassis Number</span><img src="../../images/question-icon.png"></label>
                      <input id="carChassisNumber" data-ng-model="policy.carChassisNumber" type="text" placeholder="Enter car chassis number" name="carChassisNumber" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.carChassisNumber.$invalid) || (policyForm.carChassisNumber.$invalid &amp;&amp; policyForm.carChassisNumber.$dirty)">
                      <div id="popover1" class="popover top">
                        <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
                        <div translate="PS_5_3c_1" class="subtitle">You can obtain your chassis number by logging onto LTA‘s website.</div>
                      </div>
                    </div>
                  </div>
                  <div class="row margin--top">
                    <div class="col-md-12">
                      <label translate="PS_5_3d" class="label-bold margin--bottom">Are you transfering your NCD from another car?</label>
                      <div class="margin--bottom">
                        <button type="button" data-ng-class="{'active': policy.NCD == 'yes'}" data-ng-click="policy.NCD = 'yes'" class="btn btn-default random-margin"><span translate="PS_5_3e">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                        <button type="button" data-ng-class="{'active': policy.NCD == 'no'}" data-ng-click="policy.NCD = 'no'" class="btn btn-default"><span translate="PS_5_3f">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policy.NCD == null">
                      </div>
                    </div>
                  </div>
                  <div data-ng-if="policy.NCD == 'yes'" class="row margin--bottom margin--top">
                    <div class="col-md-12">
                      <h2 translate="PS_5_3_1a">Previous vehicle registration?</h2>
                    </div>
                  </div>
                  <div data-ng-if="policy.NCD == 'yes'" class="row margin--bottom">
                    <div class="col-md-12">
                      <label translate="PS_5_3_1b" for="previousInsurer" class="margin--bottom">We need the name of the previous insurer to validate the NCD that you have declared.</label>
                      <input id="previousInsurer" data-ng-model="policy.previousInsurer" type="text" placeholder="Enter previous Insurer" name="previousInsurer" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.previousInsurer.$invalid) || (policyForm.previousInsurer.$invalid &amp;&amp; policyForm.previousInsurer.$dirty)">
                    </div>
                  </div>
                  <div data-ng-if="policy.NCD == 'yes'" class="row margin--bottom">
                    <div class="col-md-12">
                      <label translate="PS_5_3_1c" for="previousVehicle" class="margin--bottom">We need your previous car registration number to validate the NCD that you have declared</label>
                      <input id="previousVehicle" data-ng-model="policy.previousVehicle" type="text" placeholder="Enter previous vehicle registration" name="previousVehicle" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.previousVehicle.$invalid) || (policyForm.previousVehicle.$invalid &amp;&amp; policyForm.previousVehicle.$dirty)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel margin--top">
              <div class="panel-header panel-header--white">
                <div class="row">
                  <div class="col-md-1 text-center"><img src="../../images/driver-icon3.png" class="margin--right"></div>
                  <div class="col-md-11">
                    <h2><span translate="PS_5_2a">Policyholder Details</span>
                      <div translate="PS_5_2b" class="subtitle">The Policyholder of this car insurance policy must be the legal owner of the vehicle.</div>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="panel-body panel-body--grey">
                <div class="row">
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2c" for="policyholderFirstName" class="label-strong">First Name</label>
                    <input id="policyholderFirstName" data-ng-model="policy.policyHolder.firstName" type="text" placeholder="Enter first name" name="policyholderFirstName" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderFirstName.$invalid) || (policyForm.policyholderFirstName.$invalid &amp;&amp; policyForm.policyholderFirstName.$dirty)">
                  </div>
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2d" for="policyholderLastName" class="label-strong">Last Name</label>
                    <input id="policyholderLastName" data-ng-model="policy.policyHolder.lastName" type="text" placeholder="Enter last name" name="policyholderLastName" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderLastName.$invalid) || (policyForm.policyholderLastName.$invalid &amp;&amp; policyForm.policyholderLastName.$dirty)">
                  </div>
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2e" for="policyholderEmail" class="label-strong">Email</label>
                    <input id="policyholderEmail" data-ng-model="policy.policyHolder.email" type="email" placeholder="Enter email" name="policyholderEmail" required class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderEmail.$invalid) || (policyForm.policyholderEmail.$invalid &amp;&amp; policyForm.policyholderEmail.$dirty)">
                  </div>
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2f" for="policyholderConfirmEmail" class="label-strong">Confirm Email</label>
                    <input id="policyholderConfirmEmail" data-ng-model="policy.policyHolder.confirmEmail" type="email" placeholder="Enter email again" name="policyholderConfirmEmail" required match="policy.policyHolder.email" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderConfirmEmail.$invalid) || (policyForm.policyholderConfirmEmail.$invalid &amp;&amp; policyForm.policyholderConfirmEmail.$dirty)">
                  </div>
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2g" for="policyholderMobileNumber" class="label-strong">Mobile Number</label>
                    <input id="policyholderMobileNumber" data-ng-model="policy.policyHolder.mobileNumber" type="text" placeholder="enter contact number" name="policyholderMobileNumber" required data-ng-pattern="/^[0-9s() -+]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderMobileNumber.$invalid) || (policyForm.policyholderMobileNumber.$invalid &amp;&amp; policyForm.policyholderMobileNumber.$dirty)">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="margin--bottom"><span translate="PS_5_2h">Residential Address</span><img src="../../images/question-icon.png" class="margin--left"></h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2i" for="residentialAddressLine1" class="label-strong">Address Line 1</label>
                    <input id="residentialAddressLine1" data-ng-model="policy.policyHolder.residentialAddressLine1" type="text" placeholder="Enter address line 1" name="residentialAddressLine1" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.residentialAddressLine1.$invalid) || (policyForm.residentialAddressLine1.$invalid &amp;&amp; policyForm.residentialAddressLine1.$dirty)">
                  </div>
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2j" for="residentialAddressLine2" class="label-strong">Address Line 2</label>
                    <input id="residentialAddressLine2" data-ng-model="policy.policyHolder.residentialAddressLine2" type="text" placeholder="Enter address line 2" name="residentialAddressLine2" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.residentialAddressLine2.$invalid) || (policyForm.residentialAddressLine2.$invalid &amp;&amp; policyForm.residentialAddressLine2.$dirty)">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2k" for="residentialDistrict" class="label-strong">Residential District</label>
                    <input id="residentialDistrict" data-ng-model="policy.policyHolder.residentialDistrict" type="text" placeholder="Enter District" name="residentialDistrict" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.residentialDistrict.$invalid) || (policyForm.residentialDistrict.$invalid &amp;&amp; policyForm.residentialDistrict.$dirty)">
                  </div>
                  <div class="col-md-6 margin--bottom margin--top">
                    <label translate="PS_5_2l" for="residentialStatus" class="label-strong">Residential Status</label>
                    <select id="residentialStatus" name="residentialStatus" data-ng-model="policy.policyHolder.residentialStatus" required>
                      <option selecter label="Select residential status" value="{{district}}" data-ng-repeat="district in options.districts" selecter-target="#residentialStatus" selecter-callback="select" property="policyHolder.residentialStatus" data-ng-selected="district == selectedItem">{{district}}</option>
                    </select><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policy.policyHolder.residentialStatus == null" style="position:absolute; right: 15px; bottom: 3px;">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin--top">
                    <label translate="PS_5_2m" for="residentialHKID" class="label-strong">HKID</label>
                    <input id="residentialHKID" data-ng-model="policy.policyHolder.residentialHKID" type="text" placeholder="Enter HKID" name="residentialHKID" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.residentialHKID.$invalid) || (policyForm.residentialHKID.$invalid &amp;&amp; policyForm.residentialHKID.$dirty)">
                  </div>
                </div>
              </div>
              <div class="panel-footer panel-footer--white">
                <div class="row">
                  <div class="col-md-8">
                    <h2 class="section-title"><span translate="PC_5_2_1a">How would you like to be contacted?</span><img src="../../images/question-icon.png" class="margin--left"><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policyForm.contactOption == null"></h2>
                    <p translate="PC_5_2_1b" style="margin-top:10px;">Occasionally, we send information and offers about DirectAsia.com and selected third parties. By continuing this application, you agree to receive marketing materials.  If you do not want this, please uncheck all three options.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="radio1" class="label-radio pull-left margin--right">
                      <input id="radio1" type="radio" name="contactOption" value="email" data-ng-model="policy.contactOption">
                      <div class="fake-radio"></div><span translate="PC_5_2_1c">Email</span>
                    </label>
                    <label for="radio2" class="label-radio pull-left">
                      <input id="radio2" type="radio" name="contactOption" value="do not contact" data-ng-model="policy.contactOption">
                      <div class="fake-radio"></div><span translate="PC_5_2_1d">Do not contact me</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-header panel-header--white">
                <div class="row">
                  <div class="col-md-1 text-center"><img src="../../images/driver-icon3.png" class="margin--right"></div>
                  <div class="col-md-11">
                    <h2><span translate="PS_5_4a">Main Driver Details</span>
                      <div translate="PS_5_4b" class="subtitle">The main driver is the person who uses the car most frequently. They do not need to be the car owner(policy holder)</div>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="panel-body panel-body--grey">
                <div class="row">
                  <div class="col-md-4 margin--bottom margin--top">
                    <label translate="PS_5_4c" for="driverFirstName" class="label-strong">First Name</label>
                    <input id="driverFirstName" data-ng-model="policy.mainDriver.firstName" type="text" placeholder="Enter first name" name="driverFirstName" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.driverFirstName.$invalid) || (policyForm.driverFirstName.$invalid &amp;&amp; policyForm.driverFirstName.$dirty)">
                  </div>
                  <div class="col-md-4 margin--bottom margin--top">
                    <label translate="PS_5_4d" for="driverLastName" class="label-strong">Last Name</label>
                    <input id="driverLastName" data-ng-model="policy.mainDriver.lastName" type="text" placeholder="Enter last name" name="driverLastName" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.driverLastName.$invalid) || (policyForm.driverLastName.$invalid &amp;&amp; policyForm.driverLastName.$dirty)">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 margin--bottom margin--top">
                    <label translate="PS_5_4f" for="driverResidentialStatus" class="label-strong">Residential Status</label>
                    <select id="driverResidentialStatus" name="driverResidentialStatus" data-ng-model="policy.mainDriver.residentialStatus" required>
                      <option selecter label="Select residential status" value="{{district}}" data-ng-repeat="district in options.districts" selecter-target="#driverResidentialStatus" selecter-callback="select" property="driverResidentialStatus" data-ng-selected="district == selectedItem">{{district}}</option>
                    </select><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policy.mainDriver.residentialStatus == null" style="position:absolute; right: 15px; bottom: 3px;">
                  </div>
                  <div class="col-md-4 margin--bottom margin--top">
                    <label translate="PS_5_4g" for="driverHKID" class="label-strong">HKID</label>
                    <input id="driverHKID" data-ng-model="policy.mainDriver.HKID" type="text" placeholder="Enter HKID" name="driverHKID" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.driverHKID.$invalid) || (policyForm.driverHKID.$invalid &amp;&amp; policyForm.driverHKID.$dirty)">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 margin--top">
                    <label translate="PS_5_5i" for="driverContactNumber" class="label-strong">Contact Number</label>
                    <input id="driverContactNumber" data-ng-model="policy.mainDriver.contactNumber" type="tel" placeholder="Enter contact number" name="driverContactNumber" required data-ng-pattern="/^[0-9s -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.driverContactNumber.$invalid) || (policyForm.driverContactNumber.$invalid &amp;&amp; policyForm.driverContactNumber.$dirty)">
                  </div>
                  <div class="col-md-4 margin--top">
                    <label translate="PS_5_4e" for="driverRelationshipWithPolicyholder" class="label-strong">Relationship with Policyholder</label>
                    <select id="driverRelationshipWithPolicyholder" name="driverRelationshipWithPolicyholder" data-ng-model="policy.mainDriver.relationshipWithPolicyholder" required>
                      <option selecter label="Select relationship" value="{{relationship}}" data-ng-repeat="relationship in options.relationships" selecter-target="#driverRelationshipWithPolicyholder" selecter-callback="select" property="driverRelationshipWithPolicyholder" data-ng-selected="relationship == selectedItem">{{relationship}}</option>
                    </select><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policy.mainDriver.relationshipWithPolicyholder == null" style="position:absolute; right: 15px; bottom: 3px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-header panel-header--white">
                <div class="row">
                  <div class="col-md-1 text-center"><img src="../../images/driver-icon2.png" class="margin--right"></div>
                  <div class="col-md-11">
                    <h2><span translate="PS_5_5a">Additional Drivers</span>
                      <div translate="PS_5_5b" class="subtitle">The main driver is the person who uses the car most frequently. They do not need to be the car owner(policy holder)</div>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="panel-body panel-body--grey">
                <div data-ng-repeat="driver in policy.additionalDrivers">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="margin--bottom"><span translate="PS_5_5c">Additional Driver</span><span data-ng-cloak> {{$index + 1}}</span></h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 margin--bottom margin--top">
                      <label translate="PS_5_5d" for="additionalDriver{{$index}}FirstName" class="label-strong">First Name</label>
                      <input id="additionalDriver{{$index}}FirstName" type="text" placeholder="Enter first name" name="additionalDriver{{$index}}FirstName" data-ng-model="driver.firstName" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver{{$index}}FirstName.$invalid) || (policyForm.additionalDriver{{$index}}FirstName.$invalid &amp;&amp; policyForm.additionalDriver{{$index}}FirstName.$dirty)">
                    </div>
                    <div class="col-md-4 margin--bottom margin--top">
                      <label translate="PS_5_5e" for="" class="label-strong">Last name</label>
                      <input id="additionalDriver{{$index}}LastName" type="text" placeholder="Enter last name" name="additionalDriver{{$index}}LastName" data-ng-model="driver.lastName" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver{{$index}}LastName.$invalid) || (policyForm.additionalDriver{{$index}}LastName.$invalid &amp;&amp; policyForm.additionalDriver{{$index}}LastName.$dirty)">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 margin--bottom margin--top">
                      <label translate="PS_5_5g" for="" class="label-strong">Residential Status</label>
                      <select id="additionalDriver{{$index}}ResidentialStatus" name="additionalDriver{{$index}}ResidentialStatus" data-ng-model="driver.residentialStatus" required>
                        <option selecter label="Select Residential Status" value="{{district}}" data-ng-repeat="district in options.districts" selecter-target="#additionalDriver{{$parent.$index}}ResidentialStatus" selecter-callback="select" property="additionalDrivers[{{$parent.$index}}].residentialStatus" ng-selected="district == selectedItem">{{district}}</option>
                      </select><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; driver.residentialStatus == null)" style="position:absolute; right: 15px; bottom: 3px;">
                    </div>
                    <div class="col-md-4 margin--bottom margin--top">
                      <label translate="PS_5_5h" for="additionalDriver{{$index}}HKID" class="label-strong">HKID</label>
                      <input id="additionalDriver{{$index}}HKID" type="text" placeholder="Enter HKID" name="additionalDriver{{$index}}HKID" , data-ng-model="driver.NRIC" required data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver{{$index}}HKID.$invalid) || (policyForm.additionalDriver{{$index}}HKID.$invalid &amp;&amp; policyForm.additionalDriver{{$index}}HKID.$dirty)">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 margin--bottom margin--top">
                      <label translate="PS_5_5f" for="additionalDriver{{$index}}RelationshipWithPolicyHolder" class="label-strong">Relationship with Policyholder</label>
                      <select id="additionalDriver{{$index}}RelationshipWithPolicyHolder" name="additionalDriver{{$index}}RelationshipWithPolicyHolder" data-ng-model="driver.relationshipWithPolicyHolder" required>
                        <option selecter label="Select relationship" value="{{relationship}}" data-ng-repeat="relationship in options.relationships" selecter-target="#additionalDriver{{$parent.$index}}RelationshipWithPolicyHolder" selecter-callback="select" property="additionalDrivers[{{$parent.$index}}].relationshipWithPolicyHolder" ng-selected="relationship == selectedItem">{{relationship}}</option>
                      </select><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; driver.residentialStatus == null)" style="position:absolute; right: 15px; bottom: 3px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-summary">
                  <div class="panel-body">
                    <div class="container-fluid">
                      <h2 translate="PC_5_7_1a" class="margin--bottom">Policy Documents</h2><a href="" title="" class="row margin--top">
                        <div class="col-md-2"><img src="../../images/pdf-icon.png" class="margin--right"></div>
                        <div class="col-md-10">
                          <h3 translate="PC_5_7_1b">Policy Summary</h3>
                          <p translate="PC_5_7_1c">A summary if the key features of your car insurance policy</p>
                        </div></a><a href="" title="" class="row margin--top">
                        <div class="col-md-2"><img src="../../images/pdf-icon.png" class="margin--right"></div>
                        <div class="col-md-10">
                          <h3 translate="PC_5_7_1d">Policy Wording</h3>
                          <p translate="PC_5_7_1e">The full terms and conditions of your car insurance policy</p>
                        </div></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-summary">
                  <div class="panel-header panel-header--white">
                    <h2 translate="PC_5_7_2a">Why customers choose Directasia.com</h2>
                  </div>
                  <div class="panel-body panel-body--grey">
                    <div class="bonus"><img src="../../images/green-check.png">
                      <p translate="PC_5_7_2b">Voted the most popular online insurance company in Hong Kong</p>
                    </div>
                    <div class="bonus"><img src="../../images/green-check.png">
                      <p translate="PC_5_7_2c">The first Hong Kong insurer to be awarded the ISO 10002:2004 Certification</p>
                    </div>
                    <div class="bonus"><img src="../../images/green-check.png">
                      <p translate="PC_5_7_2d">100% Owned by Hiscox Group</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-backward"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PS_5_6_1">Back</span></button>
                <button type="submit" continue url="http://localhost:9000/policy" page-data="{{policy}}" next-page="http://localhost:9000/pages/review-and-buy/review-and-buy.html" valid="policyForm.$valid" class="btn btn-forward btn-lg pull-right"><span translate="PS_5_6_2">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
            </div>
            <div class="row margin--top">
              <div class="col-md-12">
                <button type="button" data-toggle="modal" data-target="#modal-saveForLater" data-ng-click="sent = false" class="btn btn-primary btn-action btn-sm pull-right"><span data-ng-show="!sent" translate="PS_5_6_3">Save for later</span><span data-ng-show="sent" translate="PS_5_6_4">Saved!</span></button>
              </div>
            </div>
          </form>
        </div>
      </form>
      <modal id="modal-saveForLater" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="false" shown="modalShown" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div data-ng-show="!sent">
                <form name="saveLaterForm" novalidate>
                  <p translate="PC_4_1_2a">Please provide your email below and we‘ll send you a link to retrieve your quotation for up to 90 days.</p>
                  <input type="email" name="saveForLaterEmail" placeholder="Enter email address" required data-ng-model="saveForLaterEmail" class="form-control margin--bottom"><img src="../../images/error.png" data-ng-show="(saveLaterForm.$submitted &amp;&amp; saveLaterForm.saveForLaterEmail.$invalid) || (saveLaterForm.saveForLaterEmail.$invalid &amp;&amp; saveLaterForm.saveForLaterEmail.$dirty)">
                  <p translate="PS_6_6_4_1">Want us to help you finish? provide your phone number and we‘ll give you a call.</p>
                  <input type="tel" name="saveForLaterPhone" placeholder="Enter phone number" required data-ng-model="saveForLaterPhone" data-ng-pattern="/^[0-9s() -+]*$/" class="form-control"><img src="../../images/error.png" data-ng-show="(saveLaterForm.$submitted &amp;&amp; saveLaterForm.saveForLaterPhone.$invalid) || (saveLaterForm.saveForLaterPhone.$invalid &amp;&amp; saveLaterForm.saveForLaterPhone.$dirty)">
                  <button type="button" data-ng-click="$parent.sent = true; saveForLater()" data-ng-disabled="!saveLaterForm.$valid" translate="PS_6_6_6" class="btn btn-forward margin--bottom margin--top">Send</button>
                </form>
              </div>
              <div data-ng-show="sent">
                <p translate="PS_6_6_6_1">Your quote has been successfully saved. Please check your email, which contains a link to retrieve your quotation.</p>
                <p translate="PS_6_6_6_2">Share your current renewal premium so we can make sure we‘re giving you the best value</p>
              </div>
              <p translate="PS_6_6_7">Your details will be saved for 90 days so you can finish later</p>
            </div>
          </div>
        </div>
      </modal>
    </section>
    <footer class="page-footer">
      <div class="container">
        <button ng-click="switchLanguage('zh_CN')" data-ng-show="currentLanguage=='en_GB'" class="btn btn-sm btn-icon btn-icon--chinese pull-right">Chinese</button>
        <button ng-click="switchLanguage('en_GB')" data-ng-show="currentLanguage=='zh_CN'" class="btn btn-sm btn-icon btn-icon--english pull-right">English</button>
      </div>
    </footer>
    <script>
      //- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      //- loadCSS("styles/main.css");
      
      //- var _gaq = _gaq || [];
      //- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
      //- _gaq.push(["_trackPageview"]);
      
      //- (function() {
      //- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      //- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      //- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();
      
    </script>
  </body>
</html>