<div class="panel" data-resource-id="PS 6.2">
    <h3 data-resource-id="PS 6.2.0">3 Easy Ways to Purchase</h3>
    <ul id="myTab1" data-resource-id="PS 6.2.1" class="nav nav-tabs nav-justified">
        <li class="active"><a href="#book" data-toggle="tab"><img src="../../images/online-icon.png" data-resource-id="PS 6.2.1a"> Book Online</a></li>
        <li class=""><a href="#call" data-toggle="tab"><img src="../../images/call-icon.png" data-resource-id="PS 6.2.1b"> Call Us</a></li>
        <li class=""><a href="#store" data-toggle="tab"><img src="../../images/store-icon.png" data-resource-id="PS 6.2.1c"> Walk-In Centers</a></li>
    </ul>
    <div id="myTabContent" data-resource-id="PS 6.2.1.1" class="tab-content">
        <div class="tab-pane fade active in" id="book">
            <div class="space"></div>
            <h2>Your Quote Agreement</h2>
            <p>Please read the agreement below carefully before you purchasing. This is for your protection in the event of a claim.</p>
            <p>We are required by law to tell you that before we provide cover, you must fully and faithfully tell us everything you know or could reasonably be expected to know that is relevant to our decision to give you the insurance, otherwise you may receive no benefit from your policy or we may cancel your policy and treat it as never having existed.</p>
            <h2>You are agreeing to the statements below:</h2>
            <ul>
                <li>The car is not used for commercial purposes or for hire/reward.</li>
                <li>The car is registered in Hong Kong.</li>
                <li>The car is registered in Singapore and any modifications it may have are LTA compliant.</li>
                <li>That the policyholder must be the registered owner of the vehicle.</li>
                <li>That the drivers you wish to insure do not have 2 or more at-fault accidents/claims on this or another vehicle (excluding motorcycles) in the last 3 years.</li>
                <li>You have read and agree to our Privacy Statement.</li>
                <li>The main driver of the car is aged 70 and below and has a valid driving license of at least 2 years.</li>
                <li>No driver has been refused insurance or had it terminated in the last 3 years.</li>
                <li>No driver has had any class of license suspended or cancelled in the last 5 years</li>
                <li>All drivers have valid driving licenses with less than 12 driving offence points.</li>
                <li>That the policyholder must be the registered owner of the vehicle.</li>
                <li>You have read and understood the Policy summary and Policy wording</li>
            </ul>

            <label for="checkbox1" data-resource-id="PS 6.2.1.1.1" class="label-checkbox">
              <input id="checkbox1" type="checkbox" ng-model="checked">
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>I Agree to the terms</span>
            </label>
            <div class="row">
                <div class="col-md-8">
                   <div class="panel" ng-show="checked">
                        <div class="panel-body" data-resource-id="PS 6.3">
                            <h2>Payment Details</h2>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="space"></div>
                                    <p>How would you like to pay?</p>
                                    <button type="button" class="btn btn-default random-margin active">Monthly<span class="glyphicon glyphicon-ok"></span></button>
                                    <button type="button" class="btn btn-default">Annually<span class="glyphicon glyphicon-ok"></span></button>
                                </div>
                                <div class="col-md-6">
                                    <div class="space"></div>
                                    <p>Using Bank</p>
                                    <input class="form-control" type="text"  name="bank_name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="space"></div>
                                    <p>Cardholder Name</p>
                                    <input class="form-control" type="text" placeholder="name as it appears on the card" name="card_name">
                                </div>
                                <div class="col-md-6">
                                    <div class="space"></div>
                                    <p>Credit Card Number</p>
                                    <input class="form-control" type="text" placeholder="enter credit card number" name="card_number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="space"></div>
                                    <p>Verification Number</p>
                                    <input class="form-control" type="text" name="verification_number">
                                </div>
                                <div class="col-md-6">
                                    <div class="space"></div>
                                    <p>Expiry Date</p>
                                    <div class="form-inline">
                                        <input placeholder="MM" type="number" min="1" max="12" class="month">
                                        <input placeholder="YYYY" type="number" min="1900" max="2015" class="year">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div data-resource-id="PS 6.4">
                            <h2>Shall we notify you when your policy is near expiration</h2>
                            <p>Copy further touting the benefits of notification, lorem ipsum dolor sit atmet.</p>
                            <label for="checkbox1" class="label-checkbox">
                              <input id="checkbox1" type="checkbox">
                              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Notify me when my policy is near expiration.</span>
                            </label>
                            </div>
                            <div class="space"></div>
                            <div data-resource-id="PS 6.5">
                            <h2>What you pay today: S$1,356
                                <div class="subtitle">if you change your mind, you have 15 days in which<br/> you can cancel your policy to receive a full refund</div>
                            </h2>
                            <h2>Future monthly payments: S$400</h2>
                            <a href="">See monthly payment breakdown</a>
                            </div>
                            <button data-resource-id="PS 6.5.1" type="button" class="btn btn-danger btn-sm" style="float:right;">BUY NOW</button>
                        </div>
                    </div> 
                </div>
            </div>
            
        </div>
        <div class="tab-pane fade" id="call">
            <div class="space"></div>
            <h2>Want to finish over the phone? Let our [Country] team help you by calling us directly.</h2>
            <p>[Phone Number]</p>
            <p>Please provide your policy number below so we can pick up where you left off.</p>
            <p>Your Policy Number: [XXXXX]</p>
            <h2>We are available at these times [Call Center Hours]</h2>
        </div>
        <div class="tab-pane fade" id="store">
            <div class="space"></div>
            <h2>Come and visit us in person!</h2>
            <p>[Address]</p>
            <iframe style="width:100%; height:300px;" src="http://regiohelden.de/google-maps/map_en.php?hl=en&amp;q=1101%2C%2011%2FF%2C%20Allied%20Kajima%20Building%2C%20138%20Gloucester%20Road%2C%20Wan%20Chai%2C%20Hong%20Kong+(RegioHelden%20GmbH)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</div>

<div data-resource-id="PS 6.6">
    <button type="button" class="btn btn-backward" style="float:left; padding: 5px 12px;"><span class="glyphicon glyphicon-arrow-left"></span>Back</button>
    <div class="save-for-later-bottom" style="float: right;">
        <button style="margin-bottom: 10px;" type="button" data-toggle="popover" data-placement="bottom" popover="#popover1" popover-type="" class="btn btn-primary btn-action btn-sm" data-original-title="" title=""><span class="btn-action-default">Save for later</span><span class="btn-action-alt">Saved!</span><span class="glyphicon glyphicon-ok"></span></button>
        <div id="popover1" class="popover bottom">
            <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
            <p>Please provide your email address so we can send you a copy of your quotation.</p>
            <p>The quotation will be valid for 90 days. We'll never email you again without your consent.</p>
            <input type="email" placeholder="Enter email address" class="form-control">
            <button type="button" class="btn btn-forward">Send</button>
        </div>
        <p>Your details will be saved for 90 days so you can finish later</p>
    </div>
</div>