//- Thank You demo page

extends ../../templates/demo

block title
	| Thank You - Direct Asia Car Insurance

block styles

block content

	include ../../partials/thank-you/thank-you.partial.jade

block scripts