//- Quote demo page

extends ../../templates/demo-quote-loading

block title
	| Quote Loading - Direct Asia Car Insurance

block styles

block content

	include ../../partials/quote/quote-loading.partial.jade

block scripts