//- Quote demo page

extends ../../templates/demo-quote

block title
	| Quote - Direct Asia Car Insurance

block styles

block content

	include ../../partials/quote/quote1.partial.jade

block scripts