<div class="need-help">
	<button type="button" data-toggle="popover" data-placement="left" popover="#popover1" popover-type="" class="help-button btn btn-primary btn-action btn-sm" data-original-title="" title=""><span class="btn-action-default">Need Help?</span><span class="glyphicon glyphicon-ok"></span></button>
		<div class="popover fade left in" role="tooltip" id="popover905682"><div class="arrow" style="top: 6.90686103351955%;"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">
		<form name="driverForm" class="ng-pristine ng-valid">
		<button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
		<p><b>How can we help you?</b></p>
		<input type="text" ng-model="helps.textHelp" placeholder="Tell us what you'd like to know" class="form-control ng-pristine ng-untouched ng-valid" name="help">
		<div class="on-type">
			<div class="space"></div>
			<p>You may find the answers in our glossary</p>
			<p><b>- Third-Party</b> cover also covers <b>theft</b></p>
			<p>- Lorem ipsum dolor sit amet <b>Third-Party</b> Integer lacinia odio <b>theft</b></p>
			<div class="space"></div>
			<p><b>Still need help?</b></p>
			<p>Provide your Email and we will get back to you</p>
			<input type="email" class="form-control" name="email">
			<button type="button" class="btn btn-forward">Send Enquiry</button>
		</div>
		<div class="on-submit">
			<h2>Message Sent
				<div class="subtitle">Thank you for your message. We will respond to you with 24 hours.</div>
			</h2>
		</div>
		<div class="space"></div>
		<p>Call us on +852 2884 8888<br>Mon - Fri 8am, Sat 9am - 6pm</p>
		<p>Email us at <a href="">enquiries@directasia.com.hk</a></p>                 
		</form>
	</div></div>
	<div id="popover1" class="popover left">
		<form name="driverForm">
		<button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
		<p><b>How can we help you?</b></p>
		<input type="text" ng-model="helps.textHelp" placeholder="Tell us what you'd like to know" class="form-control" name="help">
		<div class="on-type">
			<div class="space"></div>
			<p>You may find the answers in our glossary</p>
			<p><b>- Third-Party</b> cover also covers <b>theft</b></p>
			<p>- Lorem ipsum dolor sit amet <b>Third-Party</b> Integer lacinia odio <b>theft</b></p>
			<div class="space"></div>
			<p><b>Still need help?</b></p>
			<p>Provide your Email and we will get back to you</p>
			<input type="email" class ="form-control" name="email">
			<button type="button" class="btn btn-forward">Send Enquiry</button>
		</div>
		<div class="on-submit">
			<h2>Message Sent
				<div class="subtitle">Thank you for your message. We will respond to you with 24 hours.</div>
			</h2>
		</div>
		<div class="space"></div>
		<p>Call us on +852 2884 8888<br/>Mon - Fri 8am, Sat 9am - 6pm</p>
		<p>Email us at <a href="">enquiries@directasia.com.hk</a></p>                 
		</form>
	</div>
</div>