//- Choose your cover demo page

extends ../../templates/demo

block title
	| Review and Buy - Direct Asia Car Insurance

block styles

block content

	include ../../partials/review-and-buy/review-and-buy1.partial.jade
	include ../../partials/review-and-buy/review-and-buy2.partial.jade

block scripts