<div class="need-help" ng-controller="helpController">
            <button type="button" class="popover-button btn btn-primary btn-action btn-sm" translate="GS_0_0_2a">Need Help?</button>
            <div id="popover" class="popover left help-div">
                <div class="arrow"></div>
                <form>
                <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
                <div ng-hide="helps.submit">
                <p><b translate="PS_3_0_1">Let us call you. Provide your details below and someone from our HK customer care team will get back to you.</b></p>
                <div ng-class="{error:!helps.name && helps.no_content}">
                    <img class="error-image" src="../../images/error.png">
                    <input class="form-control" type="text" placeholder="Enter Name" name="name" ng-model="helps.name">
                </div>
                <div class="space"></div>
                <div ng-class="{error:!helps.email && helps.no_content}">
                    <img class="error-image" src="../../images/error.png">
                    <input class="form-control" type="email" placeholder="Enter Email Address" name="email" ng-model="helps.email">
                </div>
                <div class="space"></div>
                <div ng-class="{error:!helps.number && helps.no_content}">
                    <img class="error-image" src="../../images/error.png">
                    <input class="form-control" type="tel" placeholder="Enter Phone Number" name="phone" ng-model="helps.number">
                </div>
                <div class="space"></div>
                <button type="button" class="btn btn-forward" ng-click="helps.click()" translate="PS_3_0_2">Send Now</button>

                </div>
                <div class="on-submit" ng-show="helps.submit">
                    <h2>
                        <span translate="PS_3_0_3">Message Sent</span>
                        <div class="subtitle" translate="PS_3_0_4">Thank you for your message. We will respond to you with 24 hours.</div>
                    </h2>
                </div>
                <div class="space"></div>
                <p>
                    <span translate="GS_0_0_2a">Call us on </span>+852 2884 8888<br/><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
                <p><span translate="GS_0_0_3a">Email us at</span> <a href="">enquiries@directasia.com.hk</a></p>                 
                </form>
            </div>
        </div>