// General styles for the entire site & general helper classes

body,
html {
	background:			$light-grey-3;
	color:				$medium-grey;
}

.block {
	display:			block;
}

.centred {
	text-align:			center;
}

.hidden {
	display:			none;
}

.inline-block {
	display:			inline-block;
}

.margin {

	&--bottom {
		margin-bottom:	1em !important;
	}

	&--left {
		margin-left:	1em !important;
	}

	&--right {
		margin-right:	1em !important;
	}

	&--top {
		margin-top:		1em !important;
	}

}

.padding {
	padding:			2em;
}

.random-margin {
	margin-right:		1.5em;
}

.highlight-blue {
	color:				$blue;
}