// Styles specific to images throughout the site

.logo {
	// @include left();
	display: 			inline-block;
	margin-right:		1em;
	vertical-align: 	middle;
}

h1 img,
h2 img {
	margin:				0 0.5em;
}

[src="images/question-icon.png"] {
	margin-left:		1em;
}

.inline-image {
	display: 			inline-block;
	vertical-align:		middle;
}