// Styles for typography throughout the site & typography helper classes

@font-face {
    font-family: 		Proxima;
    src: 				url("../fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: 		ProximaSemiBold;
    src: 				url("../fonts/ProximaNova/ProximaNova-Semibold.otf") format("opentype");
}

@font-face {
    font-family: 		ProximaBold;
    src: 				url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
    font-family: 		ProximaLight;
    src: 				url("../fonts/ProximaNova/ProximaNova-Light.otf") format("opentype");
}

html,
body {
	font-family:		"Proxima", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color:				$dark-grey-1;
	font-weight: 		200;
}

h1 {
	font-size:			2.5em;
}

h2 {
	font-family:		"ProximaSemiBold";
	font-size:			1.6em;
}

h3 {
	font-family:		"ProximaLight";
	font-size:			1.6em;
}

h4 {
	color:				$medium-grey;
	font-size:			1em;
	font-weight:		600;
}

a {
	color:				$red;
}

label {
	color:				$dark-grey-1;
}

.centred {
	text-align:			center;
}

.align-left {
	text-align:			left;
}

.align-right {
	text-align:			right;
}

.subtitle {
	font-family:		"Proxima", sans-serif;
	font-size:			1.5rem;
	font-weight:		300;
	line-height:		1.3;
	margin-top:			0.3em;
	opacity:			0.7;

	&-secondary {
		color:			$yellow;
		font-family: 	"ProximaSemiBold";
		font-weight:	600;
	}

}

.highlight {
	color:				$red;
}

strong,
.strong {
	color:				$black;
	font-family:		"ProximaSemiBold";
	font-weight:		600;
}

.strikethrough {
	text-decoration:	line-through;
}

.small {
	font-size:			0.7em;
}