script(src="../../scripts/controllers/your-plan/your-plan.controller.js")

.container

  section.section.section-cover(data-ng-controller="yourPlanCtrl")

    .container-fluid

      .panel

        .panel-body

          .row

            .col-md-2.centred.margin--bottom
              img(src="../../images/person-icon.png")

            .col-md-7.margin--bottom

              h1
                span(translate="PS_1_0a") Get an Instant Quote &amp; Buy Online
                .subtitle(translate="PS_1_0b") Save up to 25% with a flexible &amp; customisable plan

            .col-md-3

              strong(translate="GS_0_2a") Existing Customer?
              p(translate="GS_0_2b") Save time and retrieve your renewal quote
              button.btn.btn-primary(type="button")
                span(translate="GS_0_2c") Login Now
                span.glyphicon.glyphicon-ok

    .container-fluid

      form(name="planForm", novalidate)

        .row.centred

          .col-md-12
            h2(translate="PS_1_1a") Choose you car cover

            .margin--bottom
              .panel.plan-option(data-ng-class="{'selected':coverDetails.plan == plan}", data-ng-repeat="plan in plans")
                .panel-body
                  img.margin--bottom(data-ng-src="{{plan.image}}")
                  h2.margin--bottom
                    strong {{plan.name}}
                    //- .subtitle(data-ng-if="plan.tagline") {{plan.tagline}}
                  img.plan-option-status(data-ng-show="coverDetails.plan == plan", src="../../images/selected-icon.png")
                  button.btn.btn-default.plan-option-status(type="button", data-ng-show="coverDetails.plan != plan", data-ng-click="selectPlan(plan)", translate="PC_4_5c") Select

            .row.margin--bottom
              .col-md-12

                h2(data-ng-click="compare = !compare", style="cursor: pointer;")
                  span(translate="PS_1_1_1") Compare these cover options
                  img(data-ng-show="!compare", src="../../images/down-arrow.png")
                  img(data-ng-show="compare", src="../../images/up-arrow.png")

                table.compare-plans.responsive.table.table-striped(data-ng-show="compare", responsive-table, ng-repeat="i in [0, 1, 2]", id="compare-plans-{{i}}")
                  thead
                    tr.thead-main
                      td
                      td.centred(data-ng-class="{'active': coverDetails.plan == plans[i]}")
                        img.thead-image(data-ng-src="{{plans[i].image}}")
                        br
                        strong {{plans[i].name}}
                        div(data-ng-if="plans[i].tagline") {{plans[i].tagline}} &nbsp;
                    tr
                      td
                      td.centred(data-ng-class="{'active': coverDetails.plan == plan}")
                        strong.price {{plans[i].price}}
                  tbody
                    tr(data-ng-repeat="cover in covers")
                      td.align-left.covers-meta
                        strong.name {{cover.name}}
                        span.tip
                          img.show-tooltip(data-toggle="tooltip", data-placement="top", text="cover.description", src="../../images/question-icon.png")

                      td.centred(data-ng-class="{'active': coverDetails.plan == plans[i]}")
                        img(src="../../images/green-check.png", data-ng-show="doesPlanIncludeCover(plans[i], cover)") 
                        | &nbsp;
                        span(data-ng-show="plans[i].policyExcess.length > 0 && cover.options", alt="cover.options")  
                          span.centred(data-ng-class="{'active': coverDetails.plan == plans[i]}")
                            select(data-ng-show="coverDetails.plan == plans[i]", data-ng-model="selection[plans[i].name]")
                              option(ng-repeat="policyExcess in plans[i].policyExcess") {{policyExcess}}
                            strong(data-ng-show="coverDetails.plan != plans[i]") {{selection[plans[i].name]}} 
                  tfoot
                    tr
                      td
                      td.centred(data-ng-class="{'active': coverDetails.plan == plans[i]}")
                        img(data-ng-show="coverDetails.plan == plans[i]", src="../../images/selected-icon.png")
                        button.btn.btn-default(type="button", data-ng-show="coverDetails.plan != plans[i]", data-ng-click="selectPlan(plans[i])", translate="PC_4_5c") Select


                table.compare-plans.table.table-striped.desktop(data-ng-show="compare")

                  thead
                    tr.thead-main
                      td
                      td.centred(data-ng-repeat="plan in plans", data-ng-class="{'active': coverDetails.plan == plan}")
                        img.thead-image(data-ng-src="{{plan.image}}")
                        br
                        strong {{plan.name}}
                        div(data-ng-if="plan.tagline") {{plan.tagline}}
                    tr
                      td
                      td.centred(data-ng-repeat="plan in plans", data-ng-class="{'active': coverDetails.plan == plan}")
                        strong.price {{plan.price}}

                  tbody
                    tr(data-ng-repeat="cover in covers")
                      td.align-left
                        strong {{cover.name}}
                        img.show-tooltip(data-toggle="tooltip", data-placement="top", text="cover.description", src="../../images/question-icon.png")

                      td.centred(data-ng-repeat="plan in plans", data-ng-class="{'active': coverDetails.plan == plan}")
                        img(src="../../images/green-check.png", data-ng-show="doesPlanIncludeCover(plan, cover)")
                        | &nbsp;
                        span(data-ng-show="plan.policyExcess.length > 0 && cover.options", alt="cover.options")  
                          span.centred(data-ng-class="{'active': coverDetails.plan == plan}")
                            select(data-ng-show="coverDetails.plan == plan", data-ng-model="selection[plan.name]")
                              option(ng-repeat="policyExcess in plan.policyExcess") {{policyExcess}}
                            strong(data-ng-show="coverDetails.plan != plan") {{selection[plan.name]}} 

                  tfoot
                    tr
                      td
                      td.centred(data-ng-repeat="plan in plans", data-ng-class="{'active': coverDetails.plan == plan}")
                        img(data-ng-show="coverDetails.plan == plan", src="../../images/selected-icon.png")
                        button.btn.btn-default(type="button", data-ng-show="coverDetails.plan != plan", data-ng-click="selectPlan(plan)", translate="PC_4_5c") Select

            .row.margin--bottom
              .col-md-12

                label.label-checkbox.margin--bottom(for="checkbox1")
                  input#checkbox1(type="checkbox", data-ng-model="coverDetails.agreed")
                  .fake-checkbox
                    span.glyphicon.glyphicon-ok
                  span(translate="PS_1_2a")
                    | I Agree to the 
                    a(href="#", title="") privacy terms
                    | , and to fully and honestly answer any questions needed to recieve a policy.
                  img(src="../../images/error.png", data-ng-show="(coverDetails.agreed == false || coverDetails.agreed == null) && planForm.$submitted")

            button.btn.btn-forward.btn-lg(type="submit", continue, url="http://localhost:9000/api/cover", page-data="{{coverDetails}}", valid="planForm.$valid && coverDetails.agreed", data-ng-disabled="planForm.$invalid || !coverDetails.agreed", next-page="http://localhost:9000/pages/car/car.html")
              span(translate="PS_1_3") Get Your Quote
              span.glyphicon.glyphicon-arrow-right