script(src="../../scripts/controllers/your-plan/your-plan.controller.js")

.container

	section.section.section-cover(data-ng-controller="yourPlanCtrl")

		.container-fluid

			.panel

				.panel-body

					.row

						.col-md-2.centred.margin--bottom
							img(src="../../images/person-icon.png")

						.col-md-7.margin--bottom

							h1
								span(translate="PS_3_0a") Tell Us About the Main Driver
								.subtitle(translate="PS_3_0b") it‘s important that you‘re honest about who the main driver is so you‘re covered if you ever have a claim.

						.col-md-3

							strong(translate="GS_0_2a") Existing Customer?
							p(translate="GS_0_2b") Save time and retrieve your renewal quote
							button.btn.btn-primary(type="button")
								span(translate="GS_0_2c") Login Now
								span.glyphicon.glyphicon-ok

		.container-fluid

			form(name="planForm", novalidate)

				.row.centred

					.col-md-12
						h2(translate="PS_1_1a") Choose you car cover

						.margin--bottom
							.panel.plan-option(data-ng-class="{'selected':coverDetails.plan == plan}", data-ng-repeat="plan in plans")
								.panel-body
									img.margin--bottom(data-ng-src="{{plan.image}}")
									h2.margin--bottom
										strong {{plan.name}}
										.subtitle(data-ng-if="plan.tagline") {{plan.tagline}}
									img.plan-option-status(data-ng-show="coverDetails.plan == plan", src="../../images/selected-icon.png")
									button.btn.btn-default.plan-option-status(type="button", data-ng-show="coverDetails.plan != plan", data-ng-click="selectPlan(plan)", translate="PC_4_5c") Select

						.row.margin--bottom
							.col-md-12

								h2(data-ng-click="compare = !compare", style="cursor: pointer;")
									span(translate="PS_1_1_1") Compare these cover options
									img(data-ng-show="!compare", src="../../images/down-arrow.png")
									img(data-ng-show="compare", src="../../images/up-arrow.png")

								table.compare-plans.table.table-striped(data-ng-show="compare")

									thead
										tr
											td
											td.centred(data-ng-repeat="plan in plans", data-ng-class="{'active': coverDetails.plan == plan}")
												strong {{plan.name}}
												div(data-ng-if="plan.tagline") {{plan.tagline}}

									tbody
										tr(data-ng-repeat="cover in covers")
											td.align-left
												strong {{cover.name}}
												img.show-tooltip(data-toggle="tooltip", data-placement="top", text="cover.description", src="../../images/question-icon.png")

											td.centred(data-ng-repeat="plan in plans", data-ng-class="{'active': coverDetails.plan == plan}")
												img(src="../../images/green-check.png", data-ng-show="doesPlanIncludeCover(plan, cover)")

									tfoot
										tr
											td
											td.centred(data-ng-repeat="plan in plans", data-ng-class="{'active': coverDetails.plan == plan}")
												img(data-ng-show="coverDetails.plan == plan", src="../../images/selected-icon.png")
												button.btn.btn-default(type="button", data-ng-show="coverDetails.plan != plan", data-ng-click="selectPlan(plan)", translate="PC_4_5c") Select

						.row.margin--bottom
							.col-md-12

								h2
									span(translate="PS_1_4a") Is the car financed?
									img(src="../../images/error.png", data-ng-show="coverDetails.financed === null && planForm.$submitted")

								button.btn.btn-default(type="button", data-ng-class="{'active': coverDetails.financed}", data-ng-click="coverDetails.financed = true")
									span(translate="PS_1_4b") Yes
									span.glyphicon.glyphicon-ok

								button.btn.btn-default(type="button", data-ng-class="{'active': coverDetails.financed == false}", data-ng-click="coverDetails.financed = false")
									span(translate="PS_1_4c") No
									span.glyphicon.glyphicon-ok

						.row.margin--bottom
							.col-md-12

								label.label-checkbox.margin--bottom(for="checkbox1")
									input#checkbox1(type="checkbox", data-ng-model="coverDetails.agreed")
									.fake-checkbox
										span.glyphicon.glyphicon-ok
									span(translate="PS_1_2a")
										| I Agree to the 
										a(href="#", title="") privacy terms
										| , and to fully and honestly answer any questions needed to recieve a policy.
									img(src="../../images/error.png", data-ng-show="(coverDetails.agreed == false || coverDetails.agreed == null) && planForm.$submitted")

						button.btn.btn-forward.btn-lg(type="submit", continue, url="http://localhost:9000/api/cover", page-data="{{coverDetails}}", valid="planForm.$valid && coverDetails.agreed && coverDetails.financed !== null", data-ng-disabled="planForm.$invalid || !coverDetails.agreed || coverDetails.financed === null", next-page="http://localhost:9000/pages/car/car.html")
							span(translate="PS_1_3") Get Your Quote
							span.glyphicon.glyphicon-arrow-right