<div class="row" style="text-align:center;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                            <div class="panel" data-resource-id="PS 7.2">
                                <div class="panel-body">
                                    <h2 translate="PS_7_2_1">Want to add [Product Name]?</h2>
                                    <p translate="PS_7_2_2">Customer's who buy car insurance through DirectAsia.com often buy [Product Name]. Get your [Product Name] quote online now.</p>
                                    <button type="button" class="btn btn-danger btn-sm" translate="PS_7_2_4">Get Started</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel" data-resource-id="PS 7.3">
                                <div class="panel-body">
                                    <h2 translate="PS_7_3_1">Your DirectAsia.com Account</h2>
                                    <p translate="PS_7_3_2">We have automatically created a DirectAsia.com account for you! You can log in at any time to review your policy, manage claims or update your profile.</p>
                                    <button type="button" class="btn btn-primary btn-sm" translate="PS_7_3_3">Login Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="panel" data-resource-id="PS 7.4" style="text-align:center;">
                        <div class="panel-body">
                            <h2 translate="PS_7_4_1">Connect With Us for Great Offers!</h2>
                            <p translate="PS_7_4_2">We want you to get to know the people in our customer care centre and those behind the website. Follow us on our social media accounts and stay up to date with DirectAsia.com's news and special offers.</p>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 col-xs-4" style="margin-top:60px">
                                    <img src="../../images/DA-facebook.png">
                                    <h2>Facebook</h2>
                                </div>
                                <div class="col-md-2 col-xs-4" style="margin-top:60px">
                                    <img src="../../images/DA-twitter.png">
                                    <h2>Twitter</h2>
                                </div>
                                <div class="col-md-2 col-xs-4" style="margin-top:60px">
                                    <img src="../../images/DA-google+.png">
                                    <h2>Google+</h2>
                                </div>
                                <div class="col-md-2 col-xs-6" style="margin-top:60px">
                                    <img src="../../images/DA-linkedin.png">
                                    <h2>Linkedin</h2>
                                </div>
                                <div class="col-md-2 col-xs-6" style="margin-top:60px">
                                    <img src="../../images/DA-youtube.jpg">
                                    <h2>YouTube</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel" data-resource-id="PS 7.5">
                        <div class="panel-body">
                            <h2 style="text-align:center;" translate="PS_7_5_1">Help Us Improve</h2>
                            <p translate="PS_7_5_2">We love honest feedback so we can make a better business for our customers. If you have two minutes, please complete a short survey about your DirectAsia.com experience. </p>
                            <ul>
                                <li translate="PS_7_5_3">Rate and Review Us</li>
                                <li translate="PS_7_5_4">Refer a Friend and Get a $25 Voucher</li>
                                <li translate="PS_7_5_5">Refer a friend to us for their car insurance and receive a $25 voucher when they sign up with us!</li>
                            </ul>
                            <button type="button" class="btn btn-primary btn-sm" translate="PS_7_5_6">Learn More</button>
                        </div>
                    </div>