
<section id="quote3" data-ng-show="currentStep&gt;=3" class="section section--blue section--padded section--centred">
  <div class="container"><img src="../../images/cover-icon3.png"/>
    <h2 class="margin--bottom"><span translate="PC_4_5a">Optional Cover</span><img src="../../images/question-icon.png"/>
      <div translate="PC_4_5b" class="subtitle">Customise your coverage and save money by adding optional items</div>
    </h2>
    <div class="options clearfix">
      <div data-ng-repeat="option in options.optionalCover" data-ng-class="{'selected': option.selected, 'editing':option.editing, 'details':option.details}" class="option">
        <div class="option-content">
          <div data-ng-if="option.recommended" class="recommended"><img src="../../images/star-icon.png"/><span translate="PC_4_5_1">recommended</span></div>
          <div class="panel">
            <div data-ng-click="option.details=!option.details; option.editing=false" class="panel-heading">
              <h3>{{option.name}}</h3><img src="../../images/down-arrow.png" data-ng-show="!option.details" class="option-details-icon"/><img src="../../images/up-arrow.png" data-ng-show="option.details" class="option-details-icon"/>
            </div>
            <div class="panel-footer"><img data-ng-src="../../images/{{option.name | slugify}}-icon.png" class="option-icon"/><strong data-ng-show="!option.selected">S$ <span>{{option.cost}}</span></strong><strong data-ng-show="option.selected" translate="PC_4_5_1a" style="font-size:18px;">Included</strong>
              <div class="buttons">
                <button type="button" data-ng-click="editOption(option); option.editing=!option.editing;" data-ng-class="{'active': option.editing}" data-ng-show="option.editable &amp;&amp; !option.selected" translate="PC_4_5d" class="btn btn-default">Edit</button>
                <button type="button" data-ng-click="selectOption(option)" data-ng-show="!option.selected" translate="PC_4_5c" class="btn btn-default">Select</button>
              </div>
              <div data-ng-show="option.selected" class="icon"><i class="glyphicon glyphicon-ok-sign"></i></div>
            </div>
          </div>
        </div>
        <div data-ng-show="option.editing" data-ng-class="{'panel-editoption-1': (($index % 3 == 1) &amp;&amp; ($parent.options.optionalCover.length &gt;= ($index + 2))) || (($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length == ($index + 1))),'panel-editoption-2': ($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length == $index + 2),'panel-editoption-3': ($index % 3 == 1) &amp;&amp; ($parent.options.optionalCover.length == ($index + 1)),'panel-editoption-4': ($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length &gt;= ($index + 3)),'panel-editoption-5': $index % 3 == 2}" class="panel panel-editoption option-edit align-left">
          <div class="panel-body">
            <h4>Select the modifications done on your car.</h4>
            <p>Please note that these need to be <span class="highlight">LTA compliant.</span></p>
            <label for="checkbox1" class="label-checkbox">
              <input id="checkbox1" type="checkbox" data-ng-model="plan.car.modifications.bodykit"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Body Kit</span>
            </label>
            <label for="checkbox2" class="label-checkbox">
              <input id="checkbox2" type="checkbox" data-ng-model="plan.car.modifications.rimstires"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Rims / Tires</span>
            </label>
            <label for="checkbox3" class="label-checkbox">
              <input id="checkbox3" type="checkbox" data-ng-model="plan.car.modifications.suspensionstabiliser"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Suspension / Stabiliser System</span>
            </label>
            <label for="checkbox4" class="label-checkbox">
              <input id="checkbox4" type="checkbox" data-ng-model="plan.car.modifications.airintakeexhaust"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Air Intake / Exhaust System</span>
            </label>
          </div>
          <div class="panel-footer">
            <p>Further details and description of what this optional cover is.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nibh nisi, varius vitae mi vitae, porttitor sagittis tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ac massa vitae justo lobortis placerat at vel dolor.</p>
          </div>
        </div>
        <div data-ng-show="option.details" data-ng-class="{'panel-editoption-1': (($index % 3 == 1) &amp;&amp; ($parent.options.optionalCover.length &gt;= ($index + 2))) || (($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length == ($index + 1))),'panel-editoption-2': ($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length == $index + 2),'panel-editoption-3': ($index % 3 == 1) &amp;&amp; ($parent.options.optionalCover.length == ($index + 1)),'panel-editoption-4': ($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length &gt;= ($index + 3)),'panel-editoption-5': $index % 3 == 2}" class="panel panel-option-details option-edit align-left">
          <div class="panel-footer">
            <p>Further details and description of what this optional cover is.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nibh nisi, varius vitae mi vitae, porttitor sagittis tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ac massa vitae justo lobortis placerat at vel dolor.</p><a href="" title="">Optional link to more info.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><a href="#quote4" title="" data-ng-click="continue(4)" class="btn btn-continue internal-link"><i class="glyphicon glyphicon-arrow-down"></i><span translate="PC_4_5_2">No Thanks, Continue</span></a></div>
    </div>
  </div>
</section>