
<section id="quote1" data-ng-show="currentStep&gt;=1" class="container">
  <h1 translate="PC_4_2a">Choose Your Car Insurance Plan</h1>
  <div class="panel">
    <div class="panel-header">
      <h2><span translate="PC_4_3a">Your Recommended Plan</span><img src="../../images/question-icon.png" style="margin-left:10px;"/>
        <div translate="PC_4_3b" class="subtitle">Your recommended plan is based on the car and driver details you provide, as well as popular options our customer's enjoy.</div>
      </h2>
    </div>
    <div class="panel-body panel-body--grey">
      <div class="row">
        <div class="col-md-2"><img src="../../images/car-icon3.png"/></div>
        <div class="col-md-10 align-left">
          <div class="plan-item">
            <div class="row">
              <div class="col-md-1"><strong translate="PC_4_3_1_1">Car</strong></div>
              <div class="col-md-7"><span data-ng-cloak="data-ng-cloak">{{plan.car.year}} </span><span data-ng-cloak="data-ng-cloak">{{plan.car.make}} </span><span data-ng-cloak="data-ng-cloak">{{plan.car.model}}</span><span data-ng-cloak="data-ng-cloak">{{plan.car.lowmileageoption ? ", Low Mileage" : "" }}</span></div>
              <div class="col-md-4"><a href="../car/car.html" title="Edit car details" translate="PC_4_3_1_2" class="btn btn-default btn-sm">Edit</a></div>
            </div>
          </div>
          <div class="plan-item">
            <div class="row">
              <div class="col-md-1"><strong translate="PC_4_3_1_3">Driver</strong></div>
              <div class="col-md-7"><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.gender}}, </span><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.age}}</span><span translate="PC_4_3_1_3a"> years old, </span><span data-ng-cloak="data-ng-cloak"> {{plan.mainDriver.noClaimsDiscount}} NCD, </span>
                <ng-pluralize data-ng-cloak="data-ng-cloak" count="plan.mainDriver.accidents.atFault" when="{'0':'0 at fault claims', '1': '1 at fault claim', 'other': '{} at fault claims'}"></ng-pluralize>
              </div>
              <div class="col-md-4"><a href="../about-your-driver/your-driver.html" title="Edit driver information" translate="PC_4_3_1_4" class="btn btn-default btn-sm">Edit</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <h2><span data-ng-bind="plan.cover.name"></span><img src="../../images/down-arrow.png"/></h2>
          <div data-ng-if="recommendedPlan.options.length != 0">
            <h3 translate="PC_4_3_1_5">Recommended Optional Cover</h3>
            <div class="row">
              <div data-ng-repeat="option in recommendedPlan.options" class="col-md-4">
                <div class="benefit"><img data-ng-src="../../images/{{option.name | slugify}}-icon.png" class="benefit-icon"/>
                  <div class="benefit-details">
                    <h4><a data-ng-click="showDescription=!showDescription" data-ng-cloak="data-ng-cloak" class="clearfix"><span>{{option.name}}</span><img src="../../images/down-arrow.png" data-ng-show="!showDescription"/><img src="../../images/up-arrow.png" data-ng-show="showDescription"/></a></h4>
                    <p data-ng-show="showDescription" data-ng-cloak="data-ng-cloak">{{option.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 align-right">
          <h2>S$<span data-ng-bind="plan.cover.baseCost"></span><span translate="PC_4_1_1_1">/yr</span>
            <div class="subtitle">S$<span data-ng-bind="plan.cover.baseCost / 12"></span><span translate="PC_4_1_1_2">/mo</span></div>
          </h2>
          <h2 style="margin-top:10px;">S$<span data-ng-bind="recommendedPlan.totalCost - recommendedPlan.cover.baseCost"></span><span translate="PC_4_1_1_1">/yr</span>
            <div class="subtitle">S$<span data-ng-bind="(recommendedPlan.totalCost - recommendedPlan.cover.baseCost) / 12"></span><span translate="PC_4_1_1_2">/mo</span></div>
            <div class="subtitle highlight">(10% <span translte="PC_4_3_1_6">off</span>)</div>
          </h2>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-6"><a data-ng-click="selectPlanAndModify()" href="#quote2" title="" class="btn btn-default btn-lg btn-block btn-select-plan internal-link"><span translate="PC_4_3_6_2">Select Plan &amp; Modify</span><i class="glyphicon glyphicon-ok"></i></a><a data-ng-click="continue(2)" href="#quote2" title="" class="btn btn-white btn-lg btn-block internal-link"><span translate="PC_4_3_6_3">or Build Plan Starting at </span>S$<span data-ng-bind="plan.cover.baseCost"></span><i class="glyphicon glyphicon-ok"></i></a></div>
        <div class="col-md-6 align-right">
          <div class="plan-total"><span translate="PC_4_3_6_1">Total</span> S$<span data-ng-bind="recommendedPlan.totalCost"></span><span translate="PC_4_1_1_1">/yr</span>
            <div class="subtitle">S$<span data-ng-bind="recommendedPlan.totalCost / 12"></span><span translate="PC_4_1_1_2">/mo</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>