
<script src="../../scripts/controllers/your-plan/your-plan.controller.js"></script>
<div class="container">
  <section data-ng-controller="yourPlanCtrl" class="section section-cover">
    <div class="container-fluid">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2 centred margin--bottom"><img src="../../images/person-icon.png"/></div>
            <div class="col-md-7 margin--bottom">
              <h1><span translate="PS_1_0a">Get an Instant Quote &amp; Buy Online</span>
                <div translate="PS_1_0b" class="subtitle">Save up to 25% with a flexible &amp; customisable plan</div>
              </h1>
            </div>
            <div class="col-md-3"><strong translate="GS_0_2a">Existing Customer?</strong>
              <p translate="GS_0_2b">Save time and retrieve your renewal quote</p>
              <button type="button" class="btn btn-primary"><span translate="GS_0_2c">Login Now</span><span class="glyphicon glyphicon-ok"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <form name="planForm" novalidate="novalidate">
        <div class="row centred">
          <div class="col-md-12">
            <h2 translate="PS_1_1a">Choose you car cover</h2>
            <div class="margin--bottom">
              <div data-ng-class="{'selected':coverDetails.plan == plan}" data-ng-repeat="plan in plans" class="panel plan-option">
                <div class="panel-body"><img data-ng-src="{{plan.image}}" class="margin--bottom"/>
                  <h2 class="margin--bottom"><strong>{{plan.name}}</strong>
                  </h2><img data-ng-show="coverDetails.plan == plan" src="../../images/selected-icon.png" class="plan-option-status"/>
                  <button type="button" data-ng-show="coverDetails.plan != plan" data-ng-click="selectPlan(plan)" translate="PC_4_5c" class="btn btn-default plan-option-status">Select</button>
                </div>
              </div>
            </div>
            <div class="row margin--bottom">
              <div class="col-md-12">
                <h2 data-ng-click="compare = !compare" style="cursor: pointer;"><span translate="PS_1_1_1">Compare these cover options</span><img data-ng-show="!compare" src="../../images/down-arrow.png"/><img data-ng-show="compare" src="../../images/up-arrow.png"/></h2>
                <table data-ng-show="compare" responsive-table="responsive-table" ng-repeat="i in [0, 1, 2]" id="compare-plans-{{i}}" class="compare-plans responsive table table-striped">
                  <thead>
                    <tr class="thead-main">
                      <td></td>
                      <td data-ng-class="{'active': coverDetails.plan == plans[i]}" class="centred"><img data-ng-src="{{plans[i].image}}" class="thead-image"/><br/><strong>{{plans[i].name}}</strong>
                        <div data-ng-if="plans[i].tagline">{{plans[i].tagline}} &nbsp;</div>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td data-ng-class="{'active': coverDetails.plan == plan}" class="centred"><strong class="price">{{plans[i].price}}</strong></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="cover in covers">
                      <td class="align-left covers-meta"><strong class="name">{{cover.name}}</strong><span class="tip"><img data-toggle="tooltip" data-placement="top" text="cover.description" src="../../images/question-icon.png" class="show-tooltip"/></span></td>
                      <td data-ng-class="{'active': coverDetails.plan == plans[i]}" class="centred"><img src="../../images/green-check.png" data-ng-show="doesPlanIncludeCover(plans[i], cover)"/>&nbsp;<span data-ng-show="plans[i].policyExcess.length &gt; 0 &amp;&amp; cover.options" alt="cover.options"> <span data-ng-class="{'active': coverDetails.plan == plans[i]}" class="centred">
                            <select data-ng-show="coverDetails.plan == plans[i]" data-ng-model="selection[plans[i].name]">
                              <option ng-repeat="policyExcess in plans[i].policyExcess">{{policyExcess}}</option>
                            </select><strong data-ng-show="coverDetails.plan != plans[i]">{{selection[plans[i].name]}} </strong></span></span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td data-ng-class="{'active': coverDetails.plan == plans[i]}" class="centred"><img data-ng-show="coverDetails.plan == plans[i]" src="../../images/selected-icon.png"/>
                        <button type="button" data-ng-show="coverDetails.plan != plans[i]" data-ng-click="selectPlan(plans[i])" translate="PC_4_5c" class="btn btn-default">Select</button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <table data-ng-show="compare" class="compare-plans table table-striped desktop">
                  <thead>
                    <tr class="thead-main">
                      <td></td>
                      <td data-ng-repeat="plan in plans" data-ng-class="{'active': coverDetails.plan == plan}" class="centred"><img data-ng-src="{{plan.image}}" class="thead-image"/><br/><strong>{{plan.name}}</strong>
                        <div data-ng-if="plan.tagline">{{plan.tagline}}</div>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td data-ng-repeat="plan in plans" data-ng-class="{'active': coverDetails.plan == plan}" class="centred"><strong class="price">{{plan.price}}</strong></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="cover in covers">
                      <td class="align-left"><strong>{{cover.name}}</strong><img data-toggle="tooltip" data-placement="top" text="cover.description" src="../../images/question-icon.png" class="show-tooltip"/></td>
                      <td data-ng-repeat="plan in plans" data-ng-class="{'active': coverDetails.plan == plan}" class="centred"><img src="../../images/green-check.png" data-ng-show="doesPlanIncludeCover(plan, cover)"/>&nbsp;<span data-ng-show="plan.policyExcess.length &gt; 0 &amp;&amp; cover.options" alt="cover.options"> <span data-ng-class="{'active': coverDetails.plan == plan}" class="centred">
                            <select data-ng-show="coverDetails.plan == plan" data-ng-model="selection[plan.name]">
                              <option ng-repeat="policyExcess in plan.policyExcess">{{policyExcess}}</option>
                            </select><strong data-ng-show="coverDetails.plan != plan">{{selection[plan.name]}} </strong></span></span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td data-ng-repeat="plan in plans" data-ng-class="{'active': coverDetails.plan == plan}" class="centred"><img data-ng-show="coverDetails.plan == plan" src="../../images/selected-icon.png"/>
                        <button type="button" data-ng-show="coverDetails.plan != plan" data-ng-click="selectPlan(plan)" translate="PC_4_5c" class="btn btn-default">Select</button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row margin--bottom">
              <div class="col-md-12">
                <label for="checkbox1" class="label-checkbox margin--bottom">
                  <input id="checkbox1" type="checkbox" data-ng-model="coverDetails.agreed"/>
                  <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_1_2a">I Agree to the <a href="#" title="">privacy terms</a>, and to fully and honestly answer any questions needed to recieve a policy.</span><img src="../../images/error.png" data-ng-show="(coverDetails.agreed == false || coverDetails.agreed == null) &amp;&amp; planForm.$submitted"/>
                </label>
              </div>
            </div>
            <button type="submit" continue="continue" url="http://localhost:9000/api/cover" page-data="{{coverDetails}}" valid="planForm.$valid &amp;&amp; coverDetails.agreed" data-ng-disabled="planForm.$invalid || !coverDetails.agreed" next-page="http://localhost:9000/pages/car/car.html" class="btn btn-forward btn-lg"><span translate="PS_1_3">Get Your Quote</span><span class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>