<!DOCTYPE html>
<html lang="en" ng-app="DirectAsia">
    <head>
        <title>Car Insurance - Direct Asia Car Insurance</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Front-End templates for Direct Asia Car Insurance">
        <meta name="keywords" content="bootstrap angularJS bootflat">
        <meta name="author" content="Darryl Snow">
        <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="../../images/mstile-144x144.png" />
        <meta name="msapplication-config" content="../../images/browserconfig.xml" />

        <link rel="stylesheet" href="../../lib/bootstrap.css">
        <link rel="stylesheet" href="../../lib/bootflat.css">
        <link rel="stylesheet" href="../../styles/main.css">
        <!--if lt IE 9
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        
        -->
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../../images/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="../../images/favicon-192x192.png" sizes="192x192">

        <link rel="shortcut icon" href="../../images/favicon.ico">
        <script src="../../lib/jquery.js"></script>
        <script src="../../lib/angular.js"></script>
        <script src="../../lib/angular-translate.js"></script>
        <script src="../../lib/angular-translate-loader-static-files.js"></script>
        <script src="../../lib/bootstrap.js"></script>
        <script src="../../lib/jquery.fs.selecter.js"></script>
        <script src="../../lib/fsm-sticky-header.js"></script>
        <script src="../../scripts/main.js"></script>
        <script src="../../scripts/controllers/help/help.controller.js"></script>
        <script src="../../scripts/directives/continue-button.directive.js"></script>
        <script src="../../scripts/directives/input-group.directive.js"></script>
        <script src="../../scripts/directives/popover.directive.js"></script>
        <script src="../../scripts/directives/selecter.directive.js"></script>
        <script src="../../scripts/directives/toggle-buttons.directive.js"></script>
        <script src="../../scripts/directives/tooltip.directive.js"></script>
        <script src="../../scripts/services/AdditionalDriver.factory.js"></script>
        <script src="../../scripts/services/Car.factory.js"></script>
        <script src="../../scripts/services/InsurancePlan.factory.js"></script>
        <script src="../../scripts/services/MainDriver.factory.js"></script>
        <script src="../../scripts/filters/age.filter.js"></script>
        <script src="../../scripts/filters/range.filter.js"></script>
        <script src="../../scripts/filters/slugify.filter.js"></script>

        <script src="../../scripts/controllers/car/car1.controller.js"></script>

    </head>
  <body>
        <div class="need-help" ng-controller="helpController">
            <button type="button" class="popover-button btn btn-primary btn-action btn-sm" translate="GS_0_0_1a">Need Help?</button>
            <div id="popover" class="popover left help-div">
                <div class="arrow"></div>
                <form>
                <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
                <div ng-hide="helps.submit">
                <p><b translate="PS_3_0_1">Let us call you. Provide your details below and someone from our HK customer care team will get back to you.</b></p>
                <div ng-class="{error:!helps.name && helps.no_content}">
                    <img class="error-image" src="../../images/error.png">
                    <input class="form-control" type="text" placeholder="Enter Name" name="name" ng-model="helps.name">
                </div>
                <div class="space"></div>
                <div ng-class="{error:!helps.email && helps.no_content}">
                    <img class="error-image" src="../../images/error.png">
                    <input class="form-control" type="email" placeholder="Enter Email Address" name="email" ng-model="helps.email">
                </div>
                <div class="space"></div>
                <div ng-class="{error:!helps.number && helps.no_content}">
                    <img class="error-image" src="../../images/error.png">
                    <input class="form-control" type="tel" placeholder="Enter Phone Number" name="phone" ng-model="helps.number">
                </div>
                <div class="space"></div>
                <button type="button" class="btn btn-forward" ng-click="helps.click()" translate="PS_3_0_2">Send Now</button>

                </div>
                <div class="on-submit" ng-show="helps.submit">
                    <h2>
                        <span translate="PS_3_0_3">Message Sent</span>
                        <div class="subtitle" translate="PS_3_0_4">Thank you for your message. We will respond to you with 24 hours.</div>
                    </h2>
                </div>
                <div class="space"></div>
                <p>
                    <span translate="GS_0_0_2a">Call us on </span>+852 2884 8888<br/><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
                <p><span translate="GS_0_0_3a">Email us at</span> <a href="">enquiries@directasia.com.hk</a></p>                 
                </form>
            </div>
        </div>
    <div class="container">
      <div class="navbar navbar-default" data-resource-id="GS 0.0">
                        <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../../images/direct-asia-logo.png"></a></div>
                        <div class="navbar-title" translate="GS_0_0_1">Car Insurance</div>
                        <ol class="breadcrumb breadcrumb-arrow" data-resource-id="GC 0.1">
                            <li class="active"><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
                            <li><a href="#" translate="GC_0_1_2">Your Quote</a></li>
                            <li><span translate="GC_0_1_3">Purchase</span></li>
                        </ol>
                        <div class="navbar-telephone pull-right">
                            <span translate="GS_0_0_2">Need help? Speak with Our Hong Kong Team</span>
                            <span class="navbar-telephone-number">2884 8888</span>
                            <span translate="GS_0_0_3">Mon - Fri 8am - 8pm | Sat 9am - 6pm</span>
                        </div>
                    </div> 
      

      <section ng-controller="CarCtrl" class="section section-car">
        <div class="container">
          
        </div>
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h1><img src="../../images/car-icon.png" class="pull-left" data-resource-id="PS 2.0a">
                  <span translate="PS_2_0_1">Tell us about the car</span>
                  
                </h1>
              </div>
              <div class="col-md-6">
				<div style="text-align:right;">
                    <div class="col-md-12 col-xs-10">
                      <h2 style="margin: 5px 0px;" data-resource-id="GS 0.2a">
                                            <span translate="GS_0_2a">Existing Customer?</span>
                                            <div class="subtitle" data-resource-id="GS 0.2b" translate="GS_0_2b">Save time and retrieve your renewal quote</div>
                                          </h2>
                    </div>
                    <div class="col-md-12 col-xs-2">
                      <button style="margin: 10px 0;" type="button" class="btn btn-default" data-resource-id="GS 0.2c"><span translate="GS_0_2c">Login Now</span><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                  </div>
            </div>
            </div>
            
          </div>
          <div class="panel-footer">
            <div class="custom-tooltip">
              <div class="row  hover-tooltip" data-toggle="popover" data-placement="right" popover="#driving-offence" popover-type="" data-original-title="" title="" style="width: 75%;">
              <div class="col-md-4">
                <label for="year" data-resource-id="PS 2.0c"><span translate="PS_2_0_3">Year of Manufacture</span><img data-toggle="tooltip" data-placement="top" title="This refers to the year when the car was manufactured. You’ll find this on your vehicle registration document." class="show-tooltip" src="../../images/question-icon.png"></label>
                <div ng-class="{error:!car.year && proceed.no_content}">
                  <img class="error-image" src="../../images/error.png">
                  <input class="form-control" type="text" placeholder="Enter year" name="year">
                </div>
              </div>
              <div class="col-md-4">
                <label for="make" data-resource-id="PS 2.0d"><span translate="PS_2_0_4">Car Make</span><img src="../../images/question-icon.png" style="opacity:0;"></label>
                <div ng-class="{error:!car.make && proceed.no_content}">
                  <img class="error-image" src="../../images/error.png">
                  <input class="form-control" type="text" placeholder="Enter make" name="make">
                </div>
              </div>
              <div class="col-md-4">
                <label for="model" data-resource-id="PS 2.0e"><span translate="PS_2_0_5">Car Model</span><img src="../../images/question-icon.png" style="opacity:0;"></label>
                <div ng-class="{error:!car.model && proceed.no_content}" style="width:270px;">
                  <img class="error-image" src="../../images/error.png">
                  <div style="width:240px">
                  <select id="model" name="model">
                    <option selecter label="Enter model" value="{{model}}" data-ng-repeat="model in models" selecter-target="#model" selecter-callback="select" property="model" ng-selected="model == selectedItem">{{model}}</option>
                  </select>
                  </div>
                </div>
              </div>
              </div>
              <div id="driving-offence" class="popover right">
                  <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
                  <div class="subtitle" data-resource-id="GS 0.2b" translate="PS_2_0_2">Please note that we do not cover cars used for commercial<br>purposes or for hire/reward</div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="container-fluid margin--bottom">
          <div class="container-fluid">
            <h2 class="margin--bottom" data-resource-id="PS 2.1.2a" translate="PS_2_1_2_1">Is the vehicle privately owned or corporate owned?</h2>
            <div ng-class="{error:!car.ownership && proceed.no_content}" style="width:310px;">
              <img class="error-image" src="../../images/error.png">
              <button type="button" ng-click="select('private', 0, 'ownership')" ng-class="{'active':car.ownership=='private'}" class="btn btn-default random-margin" data-resource-id="PS 2.1.2b"><span translate="PS_2_1_2_2">Private</span><span class="glyphicon glyphicon-ok"></span></button>
              <button type="button" ng-click="select('corporate', 0, 'ownership')" ng-class="{'active':car.ownership=='corporate'}" class="btn btn-default" data-resource-id="PS 2.1.2c"><span translate="PS_2_1_2_3">Corporate</span><span class="glyphicon glyphicon-ok"></span></button>
            </div>
          </div>
        </div>       
        <div class="container-fluid margin--bottom margin--top">
          <div class="container-fluid margin--bottom">
            <h2 class="margin--bottom" data-resource-id="PS 2.1.4a"><span translate="PS_2_1_4_a">Roughly how many kilometres do you drive per year?</span><img data-toggle="tooltip" data-placement="top" title="We ask how much you drive per year so we can recommend the right optional benefits for your policy." class="show-tooltip" src="../../images/question-icon.png"></h2>
            <div class="row">
              <div class="col-md-2">
                <button type="button" ng-click="select('&lt; 8,000', 0, 'kmsperyear')" ng-class="{'active':car.kmsperyear=='&lt; 8,000'}" class="btn btn-default margin--bottom" data-resource-id="PS 2.1.4b"><span translate="PS_2_1_4_b">Less than<br>8,000 km</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" ng-click="select('8,000 - 15,000', 0, 'kmsperyear')" ng-class="{'active':car.kmsperyear=='8,000 - 15,000'}" class="btn btn-default margin--bottom" data-resource-id="PS 2.1.4c"><span translate="PS_2_1_4_c">8,000 km -<br>15,000 km</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" ng-click="select('&gt; 15,000', 0, 'kmsperyear')" ng-class="{'active':car.kmsperyear=='&gt; 15,000'}" class="btn btn-default margin--bottom" data-resource-id="PS 2.1.4d"><span translate="PS_2_1_4_d">Over<br>15,000 km</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" ng-click="select('not sure', 0, 'kmsperyear')" ng-class="{'active':car.kmsperyear=='not sure'}" class="btn btn-default margin--bottom" data-resource-id="PS 2.1.4e"><span translate="PS_2_1_4_e">Not<br>sure</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="">
              <div style="left:407px;" class="arrow"></div>
              <div class="panel-body">
                <h2 class="margin--bottom" data-resource-id="PS 2.1.4f" translate="PS_2_1_4_2_1">What do you use the car for?</h2>
                <div class="row margin--top">
                  <div class="col-md-4 centred"><img src="../../images/trolley-icon.png" data-toggle="tooltip" data-placement="top" title="If you are only using your car in the course of your private life and for leisure." class="margin--bottom show-tooltip">
                    <button type="button" ng-click="select('personal use', 0, 'usage')" ng-class="{'active':car.usage=='personal use'}" class="btn btn-default btn-block" data-resource-id="PS 2.1.4h"><span translate="PS_2_1_4_2_3">Personal<br>use</span><span class="glyphicon glyphicon-ok"></span></button>
                  </div>
                  <div class="col-md-4 centred"><img src="../../images/cityscape-icon.png" data-toggle="tooltip" data-placement="top" title="If you are using your car in the course of your private life and to go to and from your workplace." class="margin--bottom show-tooltip">
                    <button type="button" ng-click="select('personal use + commute', 0, 'usage')" ng-class="{'active':car.usage=='personal use + commute'}" class="btn btn-default btn-block" data-resource-id="PS 2.1.4i"><span translate="PS_2_1_4_2_4">Personal use<br>+ Commute</span><span class="glyphicon glyphicon-ok"></span></button>
                  </div>
                  <div class="col-md-4 centred"><img src="../../images/lanyard-icon.png" data-toggle="tooltip" data-placement="top" title="If you are using your car to go to and from your workplace and for or during the course of your work." class="margin--bottom show-tooltip">
                    <button type="button" ng-click="select('commute + during work', 0, 'usage')" ng-class="{'active':car.usage=='commute + during work'}" class="btn btn-default btn-block" data-resource-id="PS 2.1.4j"><span translate="PS_2_1_4_2_5">Commute +<br>During work</span><span class="glyphicon glyphicon-ok"></span></button>
                  </div>
                </div>
                <p style="color:#777777" class="margin--top" data-resource-id="PS 2.1.4k" translate="PS_2_1_4_2_6">Do you sometimes use your car for commute or work? You can use your car up to 5 times per year outside the usage you declare. Simply email us at <a href="mailto:carusage@directasia.com">CarUsage@DirectAsia.com </a>before you drive, and you'll be covered in case something happens.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid margin--bottom margin--top">
          <div class="panel">
            <div class="panel-body">
              <h2 translate="PS_2_1_4_3">When would you like the policy to start ?</h2>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-4">
                  <p data-resource-id="PS 2.1.5a"><b translate="PS_2_1_5a">Policy start date:</b></p>
                  <div class="form-inline">
                    <div ng-class="{error:!car.policy_start_date_day && !car.policy_start_date_month && !car.policy_start_date_year && proceed.no_content}" style="width:280px;">
                      <img class="error-image" src="../../images/error.png">
                      <input ng-model="car.policy_start_date_day" id="day2" placeholder="DD" type="number" min="1" max="31" class="day">
                      <input ng-model="car.policy_start_date_month" placeholder="MM" type="number" min="1" max="12" class="month">
                      <input ng-model="car.policy_start_date_year" placeholder="YYYY" type="number" min="1900" max="2015" class="year">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <p data-resource-id="PS 2.1.5b"><b translate="PS_2_1_5b">Policy end date:</b></p>
                  <div class="form-inline">
                    <div ng-class="{error:!car.policy_end_date_day && !car.policy_end_date_month && !car.policy_end_date_year && proceed.no_content}" style="width:280px;">
                      <img class="error-image" src="../../images/error.png">
                      <input ng-model="car.policy_end_date_day" id="day2" placeholder="DD" type="number" min="1" max="31" class="day">
                      <input ng-model="car.policy_end_date_month" placeholder="MM" type="number" min="1" max="12" class="month">
                      <input ng-model="car.policy_end_date_year" placeholder="YYYY" type="number" min="1900" max="2015" class="year">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="container-fluid">
            <div style="margin-top:3em;" class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-backward" style="float:left;"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PS_2_2_2">Back</span></button>
                <button type="button" class="btn btn-forward btn-lg" style="float:right;" continue url="http://localhost:9000/car" page-data="{{car}}" next-page="http://localhost:9000/pages/about-your-driver/your-driver.html"><span translate="PS_2_2_1">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
            </div>
            <div style="margin-top:1em;margin-bottom:12em;" class="row">
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


<div class="overlay">
  <div class="panel">
    <button type="button" class="overlay-close-button"><span class="glyphicon glyphicon-remove"></span></button>
    <div class="panel-body">
      <h2 translate="GS_0_3_1">Are you still there?</h2>
      <p translate="GS_0_3_2">If we don't detect you clicking around, then we end your<br/> session to protect your personal information.</p>
      <p><b translate="GS_0_3_3">your session will end in: [X]</b></p>
      <button type="button" ng-click="proceed()" class="btn btn-forward btn-lg" translate="GS_0_3_4">Yes! Continue My Quote</button>
    </div>
  </div>
</div>


    <script>
      //- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      //- loadCSS("styles/main.css");
      
      //- var _gaq = _gaq || [];
      //- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
      //- _gaq.push(["_trackPageview"]);
      
      //- (function() {
      //- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      //- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      //- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();
      
    </script>
  </body>
</html>