<!DOCTYPE html>
<html lang="en" ng-app="DirectAsia">
  <head>
    <title>About Your Driver - Direct Asia Car Insurance</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Front-End templates for Direct Asia Car Insurance">
    <meta name="keywords" content="bootstrap angularJS bootflat">
    <meta name="author" content="Darryl Snow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../lib/bootstrap.css">
    <link rel="stylesheet" href="../../lib/bootflat.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <!--if lt IE 9
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../images/favicon-192x192.png" sizes="192x192">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/mstile-144x144.png">
    <meta name="msapplication-config" content="../../images/browserconfig.xml">
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/angular.js"></script>
    <script src="../../lib/angular-translate.js"></script>
    <script src="../../lib/angular-translate-loader-static-files.js"></script>
    <script src="../../lib/bootstrap.js"></script>
    <script src="../../lib/jquery.fs.selecter.js"></script>
    <script src="../../lib/fsm-sticky-header.js"></script>
    <script src="../../lib/bootstrap-slider.min.js"></script>
    <script src="../../lib/slider.js"></script>
    <script src="../../lib/angular-bootstrap-datepicker.js"></script>
    <script src="../../lib/select.js"></script>
    <script src="../../scripts/main.js"></script>
    <script src="../../scripts/controllers/help/help.controller.js"></script>
    <script src="../../scripts/directives/continue-button.directive.js"></script>
    <script src="../../scripts/directives/full-page-height.directive.js"></script>
    <script src="../../scripts/directives/input-group.directive.js"></script>
    <script src="../../scripts/directives/match.directive.js"></script>
    <script src="../../scripts/directives/modal.directive.js"></script>
    <script src="../../scripts/directives/popover.directive.js"></script>
    <script src="../../scripts/directives/save-for-later.directive.js"></script>
    <script src="../../scripts/directives/selecter.directive.js"></script>
    <script src="../../scripts/directives/sticky-navbar.directive.js"></script>
    <script src="../../scripts/directives/toggle-buttons.directive.js"></script>
    <script src="../../scripts/directives/tooltip.directive.js"></script>
    <script src="../../scripts/services/AdditionalDriver.factory.js"></script>
    <script src="../../scripts/services/Car.factory.js"></script>
    <script src="../../scripts/services/InsurancePlan.factory.js"></script>
    <script src="../../scripts/services/MainDriver.factory.js"></script>
    <script src="../../scripts/filters/age.filter.js"></script>
    <script src="../../scripts/filters/range.filter.js"></script>
    <script src="../../scripts/filters/slugify.filter.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../../images/direct-asia-logo.png"></a></div>
        <div translate="GS_0_0_1" class="navbar-title">Car Insurance</div>
        <div class="breadcrumb-container">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="active"><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
            <li><span translate="GC_0_1_2">Your Quote</span></li>
            <li><span translate="GC_0_1_3">Purchase</span></li>
          </ol>
          <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
            <li><span translate="GC_0_1_2">Your Quote</span></li>
            <li><span translate="GC_0_1_3">Purchase</span></li>
          </ol>
        </div>
        <div class="navbar-telephone pull-right"><span translate="GS_0_0_2c">Call our Hong Kong Team on</span><span class="navbar-telephone-number">9854 4345</span></div>
        
        <div data-ng-controller="helpCtrl" class="help">
          <button type="button" translate="GS_0_0_2a" data-ng-click="showPopover()" class="btn btn-primary btn-sm help-button">Need Help?</button>
          <div id="popover" data-ng-show="open" class="fake-popover">
            <div class="arrow"></div>
            <form name="helpForm" novalidate data-ng-submit="helpForm.$valid &amp;&amp; sendRequest()" data-ng-show="sent == false">
              <button type="button" data-ng-click="hidePopover()" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
              <p><b translate="PS_3_0_1">Let us call you. Provide your details below and someone from our HK customer care team will get back to you.</b></p>
              <div class="margin--bottom">
                <input type="text" placeholder="Enter Name" name="name" data-ng-model="supportRequest.name" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.name.$invalid &amp;&amp; helpForm.name.$dirty) || (helpForm.name.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="email" placeholder="Enter Email Address" name="email" data-ng-model="supportRequest.email" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.email.$invalid &amp;&amp; helpForm.email.$dirty) || (helpForm.email.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="tel" placeholder="Enter Phone Number" name="phone" data-ng-model="supportRequest.number" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.phone.$invalid &amp;&amp; helpForm.phone.$dirty) || (helpForm.phone.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <button type="submit" translate="PS_3_0_2" class="btn btn-forward margin--bottom">Send Now</button>
            </form>
            <div data-ng-show="sent" class="on-submit margin--bottom">
              <h2><span translate="PS_3_0_3">Message Sent</span>
                <div translate="PS_3_0_4" class="subtitle">Thank you for your message. We will respond to you with 24 hours.</div>
              </h2>
            </div>
            <p><span translate="GS_0_0_2b">Call us on </span>+852 2884 8888<br><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
            <p><span translate="GS_0_0_3a">Email us at </span><a href="mailto:enquiries@directasia.com.hk" style="display:block;">enquiries@directasia.com.hk</a></p>
          </div>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="../../lib/bootstrap-slider.css">
    <link rel="stylesheet" href="../../lib/angular-bootstrap-datepicker.css">
    <script src="../../scripts/controllers/about-your-driver/about-your-driver.controller.js"></script>
    <div class="container">
      <section data-ng-controller="aboutYourDriverCtrl" class="section section-driver">
        <form name="driverForm" novalidate>
          <div class="container-fluid">
            <div class="panel">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-2 centred margin--bottom"><img src="../../images/person-icon.png"></div>
                  <div class="col-md-7 margin--bottom">
                    <h1><span translate="PS_3_0a">Tell Us About the Main Driver</span>
                      <div translate="PS_3_0b" class="subtitle">it‘s important that you‘re honest about who the main driver is so you‘re covered if you ever have a claim.</div>
                    </h1>
                  </div>
                  <div class="col-md-3">
                    <strong translate="GS_0_2a">Existing Customer?</strong>
                    <p translate="GS_0_2b">Save time and retrieve your renewal quote</p>
                    <button type="button" class="btn btn-primary"><span translate="GS_0_2c">Login Now</span><span class="glyphicon glyphicon-ok"></span></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin--bottom">
              <div class="col-md-10 margin--bottom">
                <div class="container-fluid">
                  <div data-ng-if="ownership == 'private'">
                    <h2 data-toggle="tooltip" data-placement="top" title="The main driver is the person who uses the car most frequently. They do not need to be the car owner (policyholder)." class="show-tooltip"><span translate="PS_3_0c">Does the main driver own the car?</span><img src="../../images/question-icon.png"></h2>
                    <button id="ownCar" name="ownCar" type="button" data-ng-class="{'active': driver.ownership}" data-ng-click="driver.ownership = true" class="btn btn-default random-margin"><span translate="PS_3_0d">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                    <button name="ownCar" type="button" data-ng-class="{'active': driver.ownership == false}" data-ng-click="driver.ownership = false" class="btn btn-default"><span translate="PS_3_0e">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="!driver.ownership &amp;&amp; driverForm.$submitted">
                  </div>
                  <h2 translate="PS_3_0f">Date of Birth</h2>
                  <div data-toggle="popover" data-placement="right" popover="#popover1" popover-type="popover--yellow" trigger="hover" style="display:inline-block;" class="form-inline"><img src="../../images/calendar.png" class="margin--right">
                    <input type="text" data-ng-datepicker data-ng-model="driver.dob" name="driverDOB" data-ng-options="{'format': 'dd/mm/yyyy', 'autoclose': true, 'endDate': today, 'immediateUpdates': true}" placeholder="DD/MM/YYYY" style="display:inline-block;" required data-ng-class="{'ng-invalid': (!isValidAge() &amp;&amp; driverForm.$submitted) || (modalShown &amp;&amp; driver.age &lt; 20)}"><img src="../../images/error.png" data-ng-show="(driverForm.driverDOB.$invalid &amp;&amp; driverForm.driverDOB.$dirty) || (modalShown &amp;&amp; driver.age &lt; 20)">
                  </div>
                  <div id="popover1" class="popover right"><span translate="PS_3_0f_1">The main driver should be less than 70 year old</span></div>
                  <div class="row">
                    <div class="col-md-5">
                      <h2 translate="PS_3_0g">Gender</h2>
                      <button name="gender" type="button" data-ng-class="{'active': driver.gender == 'male'}" data-ng-click="driver.gender = 'male'" class="btn btn-default random-margin"><span translate="PS_3_0g_1">Male</span><span class="glyphicon glyphicon-ok"></span></button>
                      <button name="gender" type="button" data-ng-class="{'active': driver.gender == 'female'}" data-ng-click="driver.gender = 'female'" class="btn btn-default"><span translate="PS_3_0g_2">Female</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="driverForm.$submitted &amp;&amp; !driver.gender">
                    </div>
                    <div class="col-md-5">
                      <h2 translate="PS_3_0h">Marital Status</h2>
                      <button name="status" type="button" data-ng-class="{'active': driver.maritalStatus == 'single'}" data-ng-click="driver.maritalStatus = 'single'" class="btn btn-default random-margin"><span translate="PS_3_0i">Single</span><span class="glyphicon glyphicon-ok"></span></button>
                      <button name="status" type="button" data-ng-class="{'active': driver.maritalStatus == 'married'}" data-ng-click="driver.maritalStatus = 'married'" class="btn btn-default"><span translate="PS_3_0j">Married</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="driverForm.$submitted &amp;&amp; !driver.maritalStatus">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <h2 translate="PS_3_0k">Occupation</h2>
                      <select id="occupation" name="occupation" data-ng-model="driver.occupation" required>
                        <option selecter label="Enter Occupation" value="{{occupation}}" data-ng-repeat="occupation in occupations" selecter-target="#occupation" selecter-callback="select" property="occupation" data-ng-selected="occupation == selectedItem">{{occupation}}</option>
                      </select><img src="../../images/error.png" data-ng-show="(driverForm.occupation.$invalid &amp;&amp; driverForm.occupation.$dirty) || (driverForm.occupation.$invalid &amp;&amp; driverForm.$submitted)" style="bottom: 3px; position: absolute; right: 15px;">
                    </div>
                    <div class="col-md-5">
                      <h2 translate="PS_3_0l">Residential District</h2>
                      <select id="residential" name="residential" data-ng-model="driver.residentialDistrict" required>
                        <option selecter label="Enter Residential District" value="{{residential}}" data-ng-repeat="residential in residentials" selecter-target="#residential" selecter-callback="select" property="residential" data-ng-selected="residential == selectedItem">{{residential}}</option>
                      </select><img src="../../images/error.png" data-ng-show="(driverForm.residential.$invalid &amp;&amp; driverForm.residential.$dirty) || (driverForm.residential.$invalid &amp;&amp; driverForm.$submitted)" style="bottom: 3px; position: absolute; right: 15px;">
                    </div>
                  </div>
                </div>
                <div class="container-fluid">
                  <h2 translate="PS_3_1_1a">Years of valid driving license</h2>
                  <div class="col-md-12 margin--bottom">
                    <div data-toggle="popover" data-placement="right" popover="#popover2" popover-type="popover--yellow" trigger="hover" class="slider-labels slider-labels-experience"><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>more than 5</span><img src="../../images/error.png" data-ng-show="(driverForm.drivingExperience == 'null' &amp;&amp; driverForm.$submitted) || (modalShown &amp;&amp; driver.drivingExperience == '1')" style="bottom: 3px; position: absolute; right: 0;"></div>
                    <slider data-ng-model="driver.drivingExperience" min="1" step="1" max="6" value="1"></slider>
                  </div>
                  <div id="popover2" class="popover right"><span translate="PS_3_1_1b">We are unable to insure drivers who have had their license suspended or cancelled in the last 5 years.</span></div>
                </div>
                <div class="container-fluid">
                  <h2><span translate="PS_3_1_2a">No Claims Discount</span>
                    <div translate="PS_3_1_2b" class="subtitle">You will find on the renewal notice you recieved from your insurer</div>
                  </h2>
                  <div class="col-md-12 margin--bottom">
                    <div class="slider-labels"><span>0%</span><span>10%</span><span>20%</span><span>30%</span><span>40%</span><span>50%</span><span>60%</span></div>
                    <slider data-ng-model="driver.noClaimsDiscount" min="0" step="10" max="60" value="30"></slider>
                  </div>
                  <div data-ng-show="driver.noClaimsDiscount == 0">
                    <h2><span translate="PS_3_1_2_1a">Why does the main driver have 0% NCD?</span><img src="../../images/error.png" data-ng-show="driver.noClaimsDiscount == 0 &amp;&amp; driver.whyNoClaimsDiscount == null &amp;&amp; driverForm.$submitted"></h2>
                    <label for="radio1" class="label-radio">
                      <input id="radio1" type="radio" name="noncd" value="Never been insured" data-ng-model="driver.whyNoClaimsDiscount">
                      <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_3_1_2_1b">Never been insured</span>
                    </label>
                    <label for="radio2" class="label-radio">
                      <input id="radio2" type="radio" name="noncd" value="Insured in the past, but not in the last 12 months" data-ng-model="driver.whyNoClaimsDiscount">
                      <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_3_1_2_1c">Insured in the past, but not in the last 12 months</span>
                    </label>
                    <label for="radio3" class="label-radio">
                      <input id="radio3" type="radio" name="noncd" value="Claims have been made in the last 12 months" data-ng-model="driver.whyNoClaimsDiscount">
                      <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_3_1_2_1d">Claims have been made in the last 12 months</span>
                    </label>
                    <label for="radio4" class="label-radio">
                      <input id="radio4" type="radio" name="noncd" value="Insured as a named driver on another policy" data-ng-model="driver.whyNoClaimsDiscount">
                      <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_3_1_2_1e">Insured as a named driver on another policy</span>
                    </label>
                  </div>
                  <div data-ng-show="driver.whyNoClaimsDiscount == 'Insured as a named driver on another policy' &amp;&amp; driver.noClaimsDiscount == 0">
                    <h2><span translate="PS_3_1_2_1f">What is your NCD on the other car?</span><img src="../../images/error.png" data-ng-show="driver.whyNoClaimsDiscount == 'Insured as a named driver on another policy' &amp;&amp; driver.otherCarNoClaimsDiscount == null &amp;&amp; driverForm.$submitted"></h2>
                    <div class="slider-labels"><span>0%</span><span>10%</span><span>20%</span><span>30%</span><span>40%</span><span>50%</span><span>60%</span></div>
                    <slider data-ng-model="driver.otherCarNoClaimsDiscount" min="0" step="10" max="60" value="30"></slider>
                  </div>
                </div>
                <div class="container-fluid">
                  <h2><span translate="PC_3_1_3a">Did the main driver have any driving offence points in the last 2 years?</span></h2>
                  <div data-toggle="popover" data-placement="right" popover="#driving-offence" popover-type="popover--yellow" trigger="hover" style="display: inline-block;">
                    <button id="offences-yes" name="offences" type="button" data-ng-class="{'active': driver.offences}" data-ng-click="driver.offences = true" class="btn btn-default random-margin"><span translate="PC_3_1_3c">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                    <button id="offences-no" name="offences" type="button" data-ng-class="{'active': driver.offences == false}" data-ng-click="driver.offences = false" class="btn btn-default"><span translate="PC_3_1_3d">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="driverForm.$submitted &amp;&amp; driver.offences == null">
                  </div>
                  <div id="driving-offence" class="popover right"><span translate="PC_3_1_3b">If you‘re unsure, <a href="http://www.police.gov.hk/ppp_en/05_traffic_matters/tcr.html">click here</a> to get this information. Please note that drivers must have less than 12 offence points.</span></div>
                </div>
                <div class="container-fluid">
                  <h2 translate="PC_3_1_5a">Has insurance been refused or cancelled in the past 3 years?</h2>
                  <div data-toggle="popover" data-placement="right" popover="#insurance-refused" popover-type="popover--yellow" trigger="hover" style="display: inline-block;">
                    <button name="refusedInsurance" type="button" data-ng-class="{'active': driver.refusals == 'yes'}" data-ng-click="driver.refusals = 'yes'" class="btn btn-default random-margin"><span translate="PC_3_1_5b">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                    <button name="refusedInsurance" type="button" data-ng-class="{'active': driver.refusals == 'no'}" data-ng-click="driver.refusals = 'no'" class="btn btn-default"><span translate="PC_3_1_5c">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="(driverForm.$submitted &amp;&amp; driver.refusals == null) || (modalShown &amp;&amp; driver.refusals == 'yes')">
                  </div>
                  <div id="insurance-refused" class="popover right"><span translate="PC_3_1_3e">Tooltip text</span></div>
                </div>
                <div class="container-fluid">
                  <h2><span translate="PC_3_1_4a">In the past 3 years (36 months), how many accidents and/or claims where made?</span>
                    <div translate="PC_3_1_4b" class="subtitle">You should include all accidents and/or claims, but you can exclude windscreen claims.</div>
                  </h2>
                  <div data-toggle="popover" data-placement="top" popover="#faults" popover-type="popover--yellow" trigger="hover" class="row">
                    <div class="col-xs-5">
                      <label translate="PC_4_4_1_4c">at Fault</label>
                      <select id="fault" name="fault" data-ng-model="driver.accidents.atFault" required>
                        <option selecter label="at Fault" value="{{fault}}" data-ng-repeat="fault in faults" selecter-target="#fault" selecter-callback="select" property="fault" data-ng-selected="fault == selectedItem">{{fault}}</option>
                      </select><img src="../../images/error.png" data-ng-show="(driverForm.fault.$invalid &amp;&amp; driverForm.fault.$dirty) || (driverForm.fault.$invalid &amp;&amp; driverForm.$submitted) || (modalShown &amp;&amp; driver.accidents.atFault == '2+')" style="bottom: 3px; position: absolute; right: 15px;">
                    </div>
                    <div class="col-xs-5">
                      <label translate="PC_4_4_1_4d">Not at Fault</label>
                      <select id="notFault" name="notFault" data-ng-model="driver.accidents.notAtFault" required>
                        <option selecter label="Not at Fault" value="{{notFault}}" data-ng-repeat="notFault in notFaults" selecter-target="#notFault" selecter-callback="select" property="notFault" data-ng-selected="notFault == selectedItem">{{notFault}}</option>
                      </select><img src="../../images/error.png" data-ng-show="(driverForm.notFault.$invalid &amp;&amp; driverForm.notFault.$dirty) || (driverForm.notFault.$invalid &amp;&amp; driverForm.$submitted)" style="bottom: 3px; position: absolute; right: 15px;">
                    </div>
                  </div>
                  <div id="faults" class="popover top"><span translate="PC_3_1_3f">Tooltip text</span></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 margin--top">
                <button type="button" class="btn btn-backward margin--bottom"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PC_3_3_1">Back</span></button>
                <button type="submit" continue modals="[{'condition': driver.age &lt; 20 || driver.refusals == 'yes' || driver.accidents.atFault == '2+' || driver.drivingExperience == 1, 'popup': '#modal'}]" url="http://localhost:9000/driver" page-data="{{driver}}" next-page="http://localhost:9000/pages/quote/quote.html" valid="driverForm.$valid &amp;&amp; driver.ownership != null" data-ng-disabled="modalShown &amp;&amp; (driver.ownership == false || driver.age &lt; 20 || driver.refusals == 'yes' || driver.accidents.atFault == '2+' || driver.drivingExperience == 1 || !isValidAge())" class="btn btn-forward btn-lg pull-right margin--bottom"><span translate="PC_3_3_2">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
            </div>
          </div>
        </form>
        <modal id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="false" shown="modalShown" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <h2 id="modalLabel" translate="PC_3_3_3">Sorry, but we‘d like to speak with you about your policy</h2>
                <p><strong translate="PC_3_3_4">What to do next:</strong></p>
                <p translate="PC_3_3_5">Call our [Country] based team and provide your reference number and we‘ll help you complete your policy</p>
                <p><strong><span translate="PC_3_3_6">Your Reference Number:</span> XXXXX</strong></p>
                <p><span translate="GS_0_0_2a">Call us on</span> +852 2884 8888<span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
              </div>
            </div>
          </div>
        </modal>
      </section>
    </div>
    <footer class="page-footer">
      <div class="container">
        <button ng-click="switchLanguage('zh_CN')" data-ng-show="currentLanguage=='en_GB'" class="btn btn-sm btn-icon btn-icon--chinese pull-right">Chinese</button>
        <button ng-click="switchLanguage('en_GB')" data-ng-show="currentLanguage=='zh_CN'" class="btn btn-sm btn-icon btn-icon--english pull-right">English</button>
      </div>
    </footer>
    <script>
      //- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      //- loadCSS("styles/main.css");
      
      //- var _gaq = _gaq || [];
      //- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
      //- _gaq.push(["_trackPageview"]);
      
      //- (function() {
      //- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      //- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      //- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();
      
    </script>
  </body>
</html>