<!DOCTYPE html>
<html lang="en" ng-app="DirectAsia">
  <head>
    <title>SOS - Direct Asia Car Insurance</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Front-End templates for Direct Asia Car Insurance">
    <meta name="keywords" content="bootstrap angularJS bootflat">
    <meta name="author" content="Darryl Snow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../lib/bootstrap.css">
    <link rel="stylesheet" href="../../lib/bootflat.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <!--if lt IE 9
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../images/favicon-192x192.png" sizes="192x192">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/mstile-144x144.png">
    <meta name="msapplication-config" content="../../images/browserconfig.xml">
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/angular.js"></script>
    <script src="../../lib/angular-translate.js"></script>
    <script src="../../lib/angular-translate-loader-static-files.js"></script>
    <script src="../../lib/bootstrap.js"></script>
    <script src="../../lib/jquery.fs.selecter.js"></script>
    <script src="../../lib/fsm-sticky-header.js"></script>
    <script src="../../scripts/main.js"></script>
    <script src="../../scripts/controllers/help/help.controller.js"></script>
    <script src="../../scripts/directives/continue-button.directive.js"></script>
    <script src="../../scripts/directives/input-group.directive.js"></script>
    <script src="../../scripts/directives/popover.directive.js"></script>
    <script src="../../scripts/directives/selecter.directive.js"></script>
    <script src="../../scripts/directives/toggle-buttons.directive.js"></script>
    <script src="../../scripts/directives/tooltip.directive.js"></script>
    <script src="../../scripts/services/AdditionalDriver.factory.js"></script>
    <script src="../../scripts/services/Car.factory.js"></script>
    <script src="../../scripts/services/InsurancePlan.factory.js"></script>
    <script src="../../scripts/services/MainDriver.factory.js"></script>
    <script src="../../scripts/filters/age.filter.js"></script>
    <script src="../../scripts/filters/range.filter.js"></script>
    <script src="../../scripts/filters/slugify.filter.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../../images/direct-asia-logo.png"></a></div>
        <div class="navbar-title">Car Insurance</div>
        <ol class="breadcrumb breadcrumb-arrow">
          <li class="active"><a href="#">Your Car &amp; Drivers</a></li>
          <li><span>Your Quote</span></li>
          <li><span>Purchase</span></li>
        </ol>
        <div class="navbar-telephone pull-right">Call our Singapore Team on<span class="navbar-telephone-number">9854 4345</span></div>
      </div>
      <script src="../../scripts/controllers/sos/sos1.controller.js"></script>
      <section ng-controller="SOSCtrl" class="section section-sos">
        <div class="jumbotron jumbotron--black">
          <h1 translate="PS_3_A_0_1">You Need SOS Car Insurance:<br>Comprehensive Cover for Up to 4 Drivers</h1>
          <p translate="PS_3_A_0_2">Based on your details, you can get cover through our SOS Car Insurance. This cover provides comprehensive cover for a main driver and up to 2 additional drivers.</p>
        </div>
        <div class="panel">
          <div class="panel-body">
            <h1><img src="../../images/person-icon.png" class="pull-left"><span translate="PS_3_A_1_1">Tell us more about the main driver</span>
              <div translate="PS_3_A_1_2" class="subtitle">Please provide your drivers' details below or give us a call at <strong>666 55555 </strong>to finish your quote.</div>
            </h1>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-12">
                <h3 translate="PS_3_A_1_3" class="margin--bottom">Insurance Coverage</h3>
                <p><span translate="PS_3_A_1_4">You said the main driver has had a valid driving license for </span><strong ng-bind="maindriver.yearslicensed"></strong><span translate="PS_3_A_1_5">years.</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3 translate="PS_3_A_1_6" class="margin--bottom">How many of those years included cover from a car insurance policy?</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <select id="years" name="years">
                  <option selecter label="Select" value="{{year}}" data-ng-repeat="year in years" selecter-target="#years" selecter-callback="select" property="yearscovered" ng-selected="maindriver.yearscovered == selectedItem">{{year}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3 translate="PS_3_A_1_7" class="margin--bottom">Roughly how many kilometers do you drive per year?</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <button type="button" ng-click="select('0 - 10', 0, 'kmsperyear')" ng-class="{'active':maindriver.kmsperyear=='0 - 10'}" class="btn btn-default margin--bottom">0-10 months<span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" ng-click="select('11 - 23', 0, 'kmsperyear')" ng-class="{'active':maindriver.kmsperyear=='11 - 23'}" class="btn btn-default margin--bottom">11-23 months<span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" ng-click="select('24 - 35', 0, 'kmsperyear')" ng-class="{'active':maindriver.kmsperyear=='24 - 35'}" class="btn btn-default margin--bottom">24-35 months<span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" ng-click="select('&gt; 36', 0, 'kmsperyear')" ng-class="{'active':maindriver.kmsperyear=='&gt; 36'}" class="btn btn-default margin--bottom">36 months<span class="glyphicon glyphicon-ok"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="container-fluid">
            <h2 class="margin--bottom"><img src="../../images/car-icon2.png" class="inline-image"><span translate="PS_3_A_2_1">Claims History</span></h2>
            <p translate="PS_3_A_2_2">You indicated ["How many accidents and/or claims were made in the past 36 months (3 years)?"<br>on 3.0 Driver] accidents and/or claimes were made in the past 36 months (3 years).</p>
            <h4 translate="PS_3_A_2_3">Please share the details of the claims you declared.</h4>
          </div>
        </div>
        <div ng-repeat="claim in maindriver.claims" class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <h2><span translate="PS_3_A_2_4">Claim </span><span data-ng-bind="claim.number"></span></h2>
              </div>
              <div class="col-md-10"><span data-ng-bind="claim.day"> </span><span data-ng-bind="claim.month"></span><span data-ng-bind="claim.year"></span><span data-ng-bind="claim.nature"></span>
                <div class="buttons pull-right">
                  <button type="button" translate="PS_3_A_2_5" class="btn btn-default btn-sm">Edit</button>
                  <button type="button" translate="PS_3_A_2_6" class="btn btn-danger btn-sm">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <h2 class="margin--bottom"><span translate="PS_3_A_2_4">Claim</span>2</h2>
            <div class="row margin--bottom">
              <div class="col-md-6">
                <label for="day2" translate="PS_3_A_2_7">Date of Accident</label>
                <div class="form-inline">
                  <input id="day2" ng-model="maindriver.claims[1].day" placeholder="DD" type="number" min="1" max="31" class="day">
                  <input ng-model="maindriver.claims[1].month" placeholder="MM" type="number" min="1" max="12" class="month">
                  <input ng-model="maindriver.claims[1].year" placeholder="YYYY" type="number" min="1900" max="2015" class="year">
                </div>
              </div>
              <div class="col-md-4">
                <label for="natureofclaim" translate="PS_3_A_2_8">Nature of Claim</label>
                <select id="natureofclaim" name="natureofclaim">
                  <option selecter label="Select" value="{{nature}}" data-ng-repeat="nature in natures" selecter-target="#natureofclaim" selecter-callback="select" property="maindriver.claims[1].nature" ng-selected="maindriver.claims[1].nature == selectedItem">{{nature}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label translate="PS_3_A_2_9" class="block">Was the vehicle you wish to insure involved in the accident?</label>
                <button type="button" ng-click="select(true, 0, 'maindriver.claims[1].vehicleInvoled')" ng-class="{'active':car.maindriver.claims[1].vehicleInvoled}" class="btn btn-default random-margin"><span translate="PS_3_A_2_10">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" ng-click="select(false, 0, 'maindriver.claims[1].vehicleInvoled')" ng-class="{'active':car.maindriver.claims[1].vehicleInvoled==false}" class="btn btn-default"><span translate="PS_3_A_2_11">No</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="page-footer">
      <div class="container">
        <button ng-click="switchLanguage('zh_CN')" data-ng-show="currentLanguage=='en_GB'" class="btn btn-sm btn-icon btn-icon--chinese pull-right">Chinese</button>
        <button ng-click="switchLanguage('en_GB')" data-ng-show="currentLanguage=='zh_CN'" class="btn btn-sm btn-icon btn-icon--english pull-right">English</button>
      </div>
    </footer>
    <script>
      //- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      //- loadCSS("styles/main.css");
      
      //- var _gaq = _gaq || [];
      //- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
      //- _gaq.push(["_trackPageview"]);
      
      //- (function() {
      //- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      //- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      //- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();
      
    </script>
  </body>
</html>