
<link rel="stylesheet" href="../../lib/angular-bootstrap-datepicker.css"/>
<script src="../../scripts/controllers/car/car.controller.js"></script>
<div class="container">
  <section ng-controller="CarCtrl" class="section section-car">
    <form name="carForm" novalidate="novalidate">
      <div class="container-fluid">
        <div class="panel margin--bottom">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2 centred margin--bottom"><img src="../../images/person-icon.png"/></div>
              <div class="col-md-7 margin--bottom">
                <h1><span translate="PS_2_0_1">Tell us about the car</span>
                  <div translate="PS_2_0_2" class="subtitle">Please note that we do not cover cars used for commercial<br>purposes or for hire/reward</div>
                </h1>
              </div>
              <div class="col-md-3">
                <strong translate="GS_0_2a">Existing Customer?</strong>
                <p translate="GS_0_2b">Save time and retrieve your renewal quote</p>
                <button type="button" class="btn btn-primary"><span translate="GS_0_2c">Login Now</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-4 margin--bottom">
                <label for="year"><span translate="PS_2_0_3">Year of Manufacture</span><img data-placement="top" title="This refers to the year when the car was manufactured. You’ll find this on your vehicle registration document." src="../../images/question-icon.png" class="show-tooltip"/></label>
                <select id="carYear" name="carYear" data-ng-model="car.year" required="required">
                  <option selecter="selecter" label="Enter year" value="{{year}}" data-ng-repeat="year in years" selecter-target="#carYear" selecter-callback="select" property="year" data-ng-selected="year == selectedItem">{{year}}</option>
                </select><img src="../../images/error.png" data-ng-show="(carForm.carYear.$invalid &amp;&amp; carForm.carYear.$dirty) || (carForm.carYear.$invalid &amp;&amp; carForm.$submitted) || (modalShown &amp;&amp; age &gt; 10)" style="position:absolute; right: 15px; bottom: 3px;"/>
              </div>
              <div class="col-md-4 margin--bottom">
                <label for="make"><span translate="PS_2_0_4">Car Make</span><img src="../../images/question-icon.png"/></label>
                <select id="carMake" name="carMake" data-ng-model="car.make" required="required">
                  <option selecter="selecter" label="Enter make" value="{{make}}" data-ng-repeat="make in makes" selecter-target="#carMake" selecter-callback="select" property="make" data-ng-selected="make == selectedItem">{{make}}</option>
                </select>
                <input type="text" required="required" data-ng-model="car.otherMake" name="otherCarMake" data-ng-if="car.make=='Other'" placeholder="Enter make" class="margin--top block"/><img src="../../images/error.png" data-ng-show="(carForm.carMake.$invalid &amp;&amp; carForm.carMake.$dirty) || (carForm.carMake.$invalid &amp;&amp; carForm.$submitted) || (modalShown &amp;&amp; car.make == 'xxxx') || ((car.make == 'Other' &amp;&amp; carForm.otherCarMake == null &amp;&amp; carForm.otherCarMake.$dirty) || (car.make == 'Other' &amp;&amp; carForm.otherCarMake.$invalid &amp;&amp; carForm.otherCarMake.$dirty))" style="position:absolute; right: 15px; bottom: 3px;"/>
              </div>
              <div class="col-md-4">
                <label for="model"><span translate="PS_2_0_5">Car Model</span><img src="../../images/question-icon.png"/></label>
                <select id="model" name="model" data-ng-model="car.model" required="required">
                  <option selecter="selecter" label="Enter model" value="{{model}}" data-ng-repeat="model in models" selecter-target="#model" selecter-callback="select" property="model" data-ng-selected="model == selectedItem">{{model}}</option>
                </select>
                <input type="text" required="required" data-ng-model="car.otherModel" name="otherCarModel" data-ng-if="car.model=='Other'" placeholder="Enter model" class="margin--top block"/><img src="../../images/error.png" data-ng-show="(carForm.model.$invalid &amp;&amp; carForm.model.$dirty) || (carForm.model.$invalid &amp;&amp; carForm.$submitted) || (modalShown &amp;&amp; car.model == 'ZZZZ') || ((car.model == 'other' &amp;&amp; carForm.otherCarModel == null) || (car.model == 'other' &amp;&amp; carForm.otherCarModel.$invalid))" style="position:absolute; right: 15px; bottom: 3px;"/>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid margin--bottom">
          <div class="container-fluid">
            <label translate="PS_2_1_2_1" class="label-bold margin--bottom">Is the vehicle privately owned or corporate owned?</label>
            <div class="row">
              <div class="col-md-12">
                <button name="carOwnership" type="button" data-ng-click="select('private', 0, 'ownership')" data-ng-class="{'active':car.ownership=='private'}" class="btn btn-default random-margin"><span translate="PS_2_1_2_2">Private</span><span class="glyphicon glyphicon-ok"></span></button>
                <button name="carOwnership" type="button" data-ng-click="select('corporate', 0, 'ownership')" data-ng-class="{'active':car.ownership=='corporate'}" data-toggle="popover" data-placement="right" popover="#popover1" popover-type="popover--yellow" trigger="hover" class="btn btn-default"><span translate="PS_2_1_2_3">Corporate</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="carForm.$submitted &amp;&amp; !car.ownership"/>
                <div id="popover1" class="popover right">
                  <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
                  <div translate="PS_2_0_2" class="subtitle">Please note that we do not cover cars used for commercial purposes or for hire/reward</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid margin--bottom margin--top">
          <div class="container-fluid margin--bottom">
            <div class="row margin--bottom">
              <div class="col-md-12">
                <h2><span translate="PS_1_4a">Is the car financed?</span><img src="../../images/error.png" data-ng-show="car.financed === null &amp;&amp; carForm.$submitted"/></h2>
                <button type="button" data-ng-class="{'active': car.financed}" data-ng-click="car.financed = true" class="btn btn-default random-margin"><span translate="PS_1_4b">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" data-ng-class="{'active': car.financed == false}" data-ng-click="car.financed = false" class="btn btn-default"><span translate="PS_1_4c">No</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid margin--bottom margin--top">
          <div class="container-fluid margin--bottom">
            <label class="label-bold margin--bottom"><span translate="PS_2_1_4_a">Roughly how many kilometres do you drive per year?</span><img data-toggle="tooltip" data-placement="top" title="We ask how much you drive per year so we can recommend the right optional benefits for your policy." src="../../images/question-icon.png" class="show-tooltip"/></label>
            <div class="row">
              <div class="col-md-2">
                <button type="button" data-ng-click="select('&lt; 8,000', 0, 'kmsperyear')" data-ng-class="{'active':car.kmsperyear=='&lt; 8,000'}" class="btn btn-default margin--bottom"><span translate="PS_2_1_4_b">Less than 8,000 km</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" data-ng-click="select('8,000 - 15,000', 0, 'kmsperyear')" data-ng-class="{'active':car.kmsperyear=='8,000 - 15,000'}" class="btn btn-default margin--bottom"><span translate="PS_2_1_4_c">8,000 km - 15,000 km</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" data-ng-click="select('&gt; 15,000', 0, 'kmsperyear')" data-ng-class="{'active':car.kmsperyear=='&gt; 15,000'}" class="btn btn-default margin--bottom"><span translate="PS_2_1_4_d">Over 15,000 km</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-2">
                <button type="button" data-ng-click="select('not sure', 0, 'kmsperyear')" data-ng-class="{'active':car.kmsperyear=='not sure'}" class="btn btn-default margin--bottom"><span translate="PS_2_1_4_e">Not sure</span><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-md-1"><img src="../../images/error.png" data-ng-show="carForm.$submitted &amp;&amp; !car.kmsperyear"/></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="arrow"></div>
            <div class="panel-body">
              <label class="label-bold margin--bottom"><span translate="PS_2_1_4_2_1">What do you use the car for?</span><img src="../../images/error.png" data-ng-show="carForm.$submitted &amp;&amp; !car.usage"/></label>
              <div class="row margin--top">
                <div class="col-md-4 centred"><img src="../../images/trolley-icon.png" data-toggle="tooltip" data-placement="top" title="If you are only using your car in the course of your private life and for leisure." class="margin--bottom show-tooltip"/>
                  <button type="button" data-ng-click="select('personal use', 0, 'usage')" data-ng-class="{'active':car.usage=='personal use'}" class="btn btn-default btn-block margin--bottom"><span translate="PS_2_1_4_2_3">Personal use</span><span class="glyphicon glyphicon-ok"></span></button>
                </div>
                <div class="col-md-4 centred"><img src="../../images/cityscape-icon.png" data-toggle="tooltip" data-placement="top" title="If you are using your car in the course of your private life and to go to and from your workplace." class="margin--bottom show-tooltip"/>
                  <button type="button" data-ng-click="select('personal use + commute', 0, 'usage')" data-ng-class="{'active':car.usage=='personal use + commute'}" class="btn btn-default btn-block margin--bottom"><span translate="PS_2_1_4_2_4">Personal use + Commute</span><span class="glyphicon glyphicon-ok"></span></button>
                </div>
                <div class="col-md-4 centred"><img src="../../images/lanyard-icon.png" data-toggle="tooltip" data-placement="top" title="If you are using your car to go to and from your workplace and for or during the course of your work." class="margin--bottom show-tooltip"/>
                  <button type="button" data-ng-click="select('commute + during work', 0, 'usage')" data-ng-class="{'active':car.usage=='commute + during work'}" class="btn btn-default btn-block margin--bottom"><span translate="PS_2_1_4_2_5">Commute + During work</span><span class="glyphicon glyphicon-ok"></span></button>
                </div>
              </div>
              <p translate="PS_2_1_4_2_6" class="margin--top">Do you sometimes use your car for commute or work? You can use your car up to 5 times per year outside the usage you declare. Simply email us at <a href="mailto:carusage@directasia.com">CarUsage@DirectAsia.com</a> before you drive, and you‘ll be covered in case something happens.</p>
            </div>
          </div>
        </div>
        <div class="container-fluid margin--bottom margin--top">
          <div class="panel">
            <div class="panel-body">
              <h2 translate="PS_2_1_4_3">When would you like the policy to start ?</h2>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-4">
                  <p><strong translate="PS_2_1_5a">Policy start date:</strong></p>
                  <div class="form-inline"><img src="../../images/calendar.png" class="margin--right"/>
                    <input type="text" name="policyStartDate" ng-datepicker="ng-datepicker" data-ng-model="car.policy.startDate" data-ng-options="{'format': 'dd/mm/yyyy', 'autoclose': true}" placeholder="DD/MM/YYYY" required="required" data-ng-class="{'ng-invalid': (carForm.policyStartDate.$invalid &amp;&amp; carForm.$submitted) || (!startDateWithin3Months() &amp;&amp; carForm.$submitted) || (!startDateOnOrAfterTomorrow() &amp;&amp; carForm.$submitted)}" style="display:inline-block;"/><img src="../../images/error.png" data-ng-show="(carForm.policyStartDate.$invalid &amp;&amp; carForm.$submitted) || (!startDateWithin3Months() &amp;&amp; carForm.$submitted) || (!startDateOnOrAfterTomorrow() &amp;&amp; carForm.$submitted)"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <p><strong translate="PS_2_1_5b">Policy end date:</strong></p>
                  <div class="form-inline"><img src="../../images/calendar.png" class="margin--right"/>
                    <input type="text" name="policyEndDate" ng-datepicker="ng-datepicker" data-ng-model="car.policy.endDate" data-ng-options="{'format': 'dd/mm/yyyy', 'autoclose': true}" placeholder="DD/MM/YYYY" required="required" data-ng-class="{'ng-invalid': (carForm.policyEndDate.$invalid &amp;&amp; carForm.$submitted) || (!endDateAfterStartDate() &amp;&amp; carForm.$submitted) || (!endDateWithin7And18MonthsAfterStartDate() &amp;&amp; carForm.$submitted)}" style="display:inline-block;"/><img src="../../images/error.png" data-ng-show="(carForm.policyEndDate.$invalid &amp;&amp; carForm.$submitted) || (!endDateAfterStartDate() &amp;&amp; carForm.$submitted) || (!endDateWithin7And18MonthsAfterStartDate() &amp;&amp; carForm.$submitted)"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-backward margin--bottom"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PS_2_2_2">Back</span></button>
              <button type="submit" valid="carForm.$valid &amp;&amp; startDateWithin3Months() &amp;&amp; startDateOnOrAfterTomorrow() &amp;&amp; endDateAfterStartDate() &amp;&amp; endDateWithin7And18MonthsAfterStartDate()" continue="continue" url="http://localhost:9000/car" page-data="{{car}}" next-page="http://localhost:9000/pages/about-your-driver/about-your-driver.html" modals="[{'condition': (age &gt; 10 &amp;&amp; plan != 'Comprehensive') || car.make == 'xxxx' || car.model == 'ZZZZ', 'popup': '#modal-problem'}, {'condition': !carIsCovered(), 'popup': '#modal-unique-vehicle'}, {'condition': !carIsNotMoreThan10YearsOld() &amp;&amp; plan == 'Comprehensive', 'popup': '#modal-old-vehicle'}]" data-ng-disabled="modalShown &amp;&amp; (age &gt; 10 || car.make == 'xxxx' || car.model == 'ZZZZ')" success-modal="#modal-success" class="btn btn-forward btn-lg pull-right margin--bottom"><span translate="PS_2_2_1">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <modal id="modal-success" tabindex="-1" role="dialog" aria-labelledby="modalSuccessTitle" aria-hidden="false" shown="modalShown" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h2 id="modalSuccessTitle" translate="GS_0_3_1">Are you still there?</h2>
            <p translate="GS_0_3_2">If we don‘t detect you clicking around, then we end your session to protect your personal information.</p>
            <p><strong translate="GS_0_3_3">your session will end in:<span class="highlight-blue">[X]</span></strong></p>
            <button type="button" data-dismiss="modal" translate="GS_0_3_4" class="btn btn-forward btn-lg">Yes! Continue My Quote</button>
          </div>
        </div>
      </div>
    </modal>
    <modal id="modal-problem" tabindex="-1" role="dialog" aria-labelledby="modalProblemTitle" aria-hidden="false" shown="modalShown" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
            <h2 id="modalProblemTitle" translate="PC_3_3_3">Sorry, but we‘d like to speak with you about your policy</h2>
            <p><strong translate="PC_3_3_4">What to do next:</strong></p>
            <p translate="PC_3_3_5">Call our [Country] based team and provide your reference number and we‘ll help you complete your policy</p>
            <p><strong><span translate="PC_3_3_6">Your Reference Number:</span><span class="highlight-blue"> XXXXX</span></strong></p>
            <p><span translate="GS_0_0_2b">Call us on</span> +852 2884 8888<br/><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
          </div>
        </div>
      </div>
    </modal>
    <modal id="modal-unique-vehicle" tabindex="-1" role="dialog" aria-labelledby="modalUniqueVehicleTitle" aria-hidden="false" shown="modalShown" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
            <h2 id="modalUniqueVehicleTitle" translate="PC_3_3_7">You have a unique vehicle. Please give us a call so we can help!</h2>
            <p translate="PC_3_3_8">You've indicated that you have a vehicle that we are unable to quote online. Please give us a call and we'll help you to finish.</p>
            <p><span translate="GS_0_0_2b">Call us on</span> +852 2884 8888<br/><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
          </div>
        </div>
      </div>
    </modal>
    <modal id="modal-old-vehicle" tabindex="-1" role="dialog" aria-labelledby="modalOldVehicleTitle" aria-hidden="false" shown="modalShown" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
            <h2 id="modalOldVehicleTitle" translate="PC_3_3_9">Sorry, but you can only purchase Third-Party Plans based on your vehicle. How would you like to proceed?</h2>
            <p translate="PC_3_3_10">Still want Comprehensive cover?</p>
            <p><span translate="GS_0_0_2b">Call us on</span> +852 2884 8888<br/><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
          </div>
        </div>
      </div>
    </modal>
  </section>
</div>
<script>$('#modal').modal();</script>