<!DOCTYPE html>
<html lang="en" ng-app="DirectAsia">
  <head>
    <title>Choose Your Cover - Direct Asia Car Insurance</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Front-End templates for Direct Asia Car Insurance">
    <meta name="keywords" content="bootstrap angularJS bootflat">
    <meta name="author" content="Darryl Snow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../lib/bootstrap.css">
    <link rel="stylesheet" href="../../lib/bootflat.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <!--if lt IE 9
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../images/favicon-192x192.png" sizes="192x192">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/mstile-144x144.png">
    <meta name="msapplication-config" content="../../images/browserconfig.xml">
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/angular.js"></script>
    <script src="../../lib/angular-translate.js"></script>
    <script src="../../lib/angular-translate-loader-static-files.js"></script>
    <script src="../../lib/bootstrap.js"></script>
    <script src="../../lib/jquery.fs.selecter.js"></script>
    <script src="../../lib/fsm-sticky-header.js"></script>
    <script src="../../lib/bootstrap-slider.min.js"></script>
    <script src="../../lib/slider.js"></script>
    <script src="../../scripts/main.js"></script>
    <script src="../../scripts/controllers/help/help.controller.js"></script>
    <script src="../../scripts/directives/continue-button.directive.js"></script>
    <script src="../../scripts/directives/full-page-height.directive.js"></script>
    <script src="../../scripts/directives/input-group.directive.js"></script>
    <script src="../../scripts/directives/modal.directive.js"></script>
    <script src="../../scripts/directives/popover.directive.js"></script>
    <script src="../../scripts/directives/selecter.directive.js"></script>
    <script src="../../scripts/directives/sticky-navbar.directive.js"></script>
    <script src="../../scripts/directives/toggle-buttons.directive.js"></script>
    <script src="../../scripts/directives/tooltip.directive.js"></script>
    <script src="../../scripts/services/AdditionalDriver.factory.js"></script>
    <script src="../../scripts/services/Car.factory.js"></script>
    <script src="../../scripts/services/InsurancePlan.factory.js"></script>
    <script src="../../scripts/services/MainDriver.factory.js"></script>
    <script src="../../scripts/filters/age.filter.js"></script>
    <script src="../../scripts/filters/range.filter.js"></script>
    <script src="../../scripts/filters/slugify.filter.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../../images/direct-asia-logo.png"></a></div>
        <div translate="GS_0_0_1" class="navbar-title">Car Insurance</div>
        <ol class="breadcrumb breadcrumb-arrow">
          <li class="active"><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
          <li><span translate="GC_0_1_2">Your Quote</span></li>
          <li><span translate="GC_0_1_3">Purchase</span></li>
        </ol>
        <div class="navbar-telephone pull-right"><span translate="GS_0_0_2c">Call our Singapore Team on</span><span class="navbar-telephone-number">9854 4345</span></div>
        <script src="../../scripts/controllers/help/help.controller.js"></script>
        <div data-ng-controller="helpCtrl" class="help">
          <button type="button" translate="GS_0_0_2a" data-ng-click="showPopover()" class="btn btn-primary btn-sm help-button">Need Help?</button>
          <div id="popover" data-ng-show="open" class="fake-popover">
            <div class="arrow"></div>
            <form name="helpForm" novalidate data-ng-submit="helpForm.$valid &amp;&amp; sendRequest()" data-ng-show="sent == false">
              <button type="button" data-ng-click="hidePopover()" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
              <p><b translate="PS_3_0_1">Let us call you. Provide your details below and someone from our HK customer care team will get back to you.</b></p>
              <div class="margin--bottom">
                <input type="text" placeholder="Enter Name" name="name" data-ng-model="supportRequest.name" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.name.$invalid &amp;&amp; helpForm.name.$dirty) || (helpForm.name.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="email" placeholder="Enter Email Address" name="email" data-ng-model="supportRequest.email" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.email.$invalid &amp;&amp; helpForm.email.$dirty) || (helpForm.email.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="tel" placeholder="Enter Phone Number" name="phone" data-ng-model="supportRequest.number" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.phone.$invalid &amp;&amp; helpForm.phone.$dirty) || (helpForm.phone.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <button type="submit" translate="PS_3_0_2" class="btn btn-forward margin--bottom">Send Now</button>
            </form>
            <div data-ng-show="sent" class="on-submit margin--bottom">
              <h2><span translate="PS_3_0_3">Message Sent</span>
                <div translate="PS_3_0_4" class="subtitle">Thank you for your message. We will respond to you with 24 hours.</div>
              </h2>
            </div>
            <p><span translate="GS_0_0_2b">Call us on </span>+852 2884 8888<br><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
            <p><span translate="GS_0_0_3a">Email us at </span><a href="" style="display:block;">enquiries@directasia.com.hk</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../scripts/controllers/your-plan/your-plan.controller.js"></script>
    <div class="container">
      <section data-ng-controller="yourPlanCtrl" class="section section-cover">
        <div class="container-fluid">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2 centred margin--bottom"><img src="../../images/person-icon.png"></div>
                <div class="col-md-7 margin--bottom">
                  <h1><span translate="PS_3_0a">Tell Us About the Main Driver</span>
                    <div translate="PS_3_0b" class="subtitle">it‘s important that you‘re honest about who the main driver is so you‘re covered if you ever have a claim.</div>
                  </h1>
                </div>
                <div class="col-md-3"><strong translate="GS_0_2a">Existing Customer?</strong>
                  <p translate="GS_0_2b">Save time and retrieve your renewal quote</p>
                  <button type="button" class="btn btn-primary"><span translate="GS_0_2c">Login Now</span><span class="glyphicon glyphicon-ok"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <form name="planForm" novalidate>
            <div class="row centred">
              <div class="col-md-12">
                <h2 translate="PS_1_1a">Choose you car cover</h2>
                <div class="margin--bottom">
                  <div data-ng-class="{'selected':coverDetails.plan == plan}" data-ng-repeat="plan in plans" class="panel plan-option">
                    <div class="panel-body"><img data-ng-src="{{plan.image}}" class="margin--bottom">
                      <h2 class="margin--bottom"><strong>{{plan.name}}</strong>
                        <div data-ng-if="plan.tagline" class="subtitle">{{plan.tagline}}</div>
                      </h2><img data-ng-show="coverDetails.plan == plan" src="../../images/selected-icon.png" class="plan-option-status">
                      <button type="button" data-ng-show="coverDetails.plan != plan" data-ng-click="selectPlan(plan)" translate="PC_4_5c" class="btn btn-default plan-option-status">Select</button>
                    </div>
                  </div>
                </div>
                <div class="row margin--bottom">
                  <div class="col-md-12">
                    <h2 data-ng-click="compare = !compare" style="cursor: pointer;"><span translate="PS_1_1_1">Compare these cover options</span><img data-ng-show="!compare" src="../../images/down-arrow.png"><img data-ng-show="compare" src="../../images/up-arrow.png"></h2>
                    <table data-ng-show="compare" class="compare-plans table table-striped">
                      <thead>
                        <tr>
                          <td></td>
                          <td data-ng-repeat="plan in plans" data-ng-class="{'active': coverDetails.plan == plan}" class="centred"><strong>{{plan.name}}</strong>
                            <div data-ng-if="plan.tagline">{{plan.tagline}}</div>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-ng-repeat="cover in covers">
                          <td class="align-left"><strong>{{cover.name}}</strong><img data-toggle="tooltip" data-placement="top" text="cover.description" src="../../images/question-icon.png" class="show-tooltip"></td>
                          <td data-ng-repeat="plan in plans" data-ng-class="{'active': coverDetails.plan == plan}" class="centred"><img src="../../images/green-check.png" data-ng-show="doesPlanIncludeCover(plan, cover)"></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td></td>
                          <td data-ng-repeat="plan in plans" data-ng-class="{'active': coverDetails.plan == plan}" class="centred"><img data-ng-show="coverDetails.plan == plan" src="../../images/selected-icon.png">
                            <button type="button" data-ng-show="coverDetails.plan != plan" data-ng-click="selectPlan(plan)" translate="PC_4_5c" class="btn btn-default">Select</button>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="row margin--bottom">
                  <div class="col-md-12">
                    <h2><span translate="PS_1_4a">Is the car financed?</span><img src="../../images/error.png" data-ng-show="coverDetails.financed === null &amp;&amp; planForm.$submitted"></h2>
                    <button type="button" data-ng-class="{'active': coverDetails.financed}" data-ng-click="coverDetails.financed = true" class="btn btn-default"><span translate="PS_1_4b">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" data-ng-class="{'active': coverDetails.financed == false}" data-ng-click="coverDetails.financed = false" class="btn btn-default"><span translate="PS_1_4c">No</span><span class="glyphicon glyphicon-ok"></span></button>
                  </div>
                </div>
                <div class="row margin--bottom">
                  <div class="col-md-12">
                    <label for="checkbox1" class="label-checkbox margin--bottom">
                      <input id="checkbox1" type="checkbox" data-ng-model="coverDetails.agreed">
                      <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span translate="PS_1_2a">I Agree to the <a href="#" title="">privacy terms</a>, and to fully and honestly answer any questions needed to recieve a policy.</span><img src="../../images/error.png" data-ng-show="(coverDetails.agreed == false || coverDetails.agreed == null) &amp;&amp; planForm.$submitted">
                    </label>
                  </div>
                </div>
                <button type="submit" continue url="http://localhost:9000/api/cover" page-data="{{coverDetails}}" valid="planForm.$valid &amp;&amp; coverDetails.agreed &amp;&amp; coverDetails.financed !== null" data-ng-disabled="planForm.$invalid || !coverDetails.agreed || coverDetails.financed === null" next-page="http://localhost:9000/pages/car/car.html" class="btn btn-forward btn-lg"><span translate="PS_1_3">Get Your Quote</span><span class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <footer class="page-footer">
      <div class="container">
        <button ng-click="switchLanguage('zh_CN')" data-ng-show="currentLanguage=='en_GB'" class="btn btn-sm btn-icon btn-icon--chinese pull-right">Chinese</button>
        <button ng-click="switchLanguage('en_GB')" data-ng-show="currentLanguage=='zh_CN'" class="btn btn-sm btn-icon btn-icon--english pull-right">English</button>
      </div>
    </footer>
    <script>
      //- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      //- loadCSS("styles/main.css");
      
      //- var _gaq = _gaq || [];
      //- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
      //- _gaq.push(["_trackPageview"]);
      
      //- (function() {
      //- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      //- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      //- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();
      
    </script>
  </body>
</html>