link(rel="stylesheet", href="../../lib/angular-bootstrap-datepicker.css")
script(src="../../scripts/controllers/car/car.controller.js")

.container

	section.section.section-car(ng-controller="CarCtrl")

		form(name="carForm", novalidate)

			.container-fluid

				.panel.margin--bottom

					.panel-body

						.row

							.col-md-2.centred.margin--bottom
								img(src="../../images/person-icon.png")

							.col-md-7.margin--bottom

								h1
									span(translate="PS_2_0_1") Tell us about the car
									.subtitle(translate="PS_2_0_2") Please note that we do not cover cars used for commercial<br>purposes or for hire/reward

							.col-md-3

								include ../login.partial.jade

					.panel-footer

						.row(data-toggle="popover", data-placement="top", popover="#popover1", popover-type="popover--yellow", trigger="hover")

							.col-md-4.margin--bottom

								label(for="year")
									span(translate="PS_2_0_3") Year of Manufacture
									img.show-tooltip(data-placement="top", title="This refers to the year when the car was manufactured. You’ll find this on your vehicle registration document.", src="../../images/question-icon.png")

								select#carYear(name="carYear", data-ng-model="car.year", required)
									option(selecter, label="Enter year", value="{{year}}", data-ng-repeat="year in years", selecter-target="#carYear", selecter-callback="select", property="year", data-ng-selected="year == selectedItem") {{year}}

								img(src="../../images/error.png", data-ng-show="(carForm.carYear.$invalid && carForm.carYear.$dirty) || (carForm.carYear.$invalid && carForm.$submitted) || (modalShown && age > 10)", style="position:absolute; right: 15px; bottom: 3px;")

							.col-md-4.margin--bottom

								label(for="make")
									span(translate="PS_2_0_4") Car Make
									img(src="../../images/question-icon.png")

								select#carMake(name="carMake", data-ng-model="car.make", required)
									option(selecter, label="Enter make", value="{{make}}", data-ng-repeat="make in makes", selecter-target="#carMake", selecter-callback="select", property="make", data-ng-selected="make == selectedItem") {{make}}

								img(src="../../images/error.png", data-ng-show="(carForm.carMake.$invalid && carForm.carMake.$dirty) || (carForm.carMake.$invalid && carForm.$submitted) || (modalShown && car.make == 'xxxx')", style="position:absolute; right: 15px; bottom: 3px;")

							.col-md-4

								label(for="model")
									span(translate="PS_2_0_5") Car Model
									img(src="../../images/question-icon.png")

								select#model(name="model", data-ng-model="car.model", required)
									option(selecter, label="Enter model", value="{{model}}", data-ng-repeat="model in models", selecter-target="#model", selecter-callback="select", property="model", data-ng-selected="model == selectedItem") {{model}}

								img(src="../../images/error.png", data-ng-show="(carForm.model.$invalid && carForm.model.$dirty) || (carForm.model.$invalid && carForm.$submitted) || (modalShown && car.model == 'ZZZZ')", style="position:absolute; right: 15px; bottom: 3px;")

							#popover1.popover.top
								button.popover-close-button(type="button")
									span.glyphicon.glyphicon-remove
								.subtitle(translate="PS_2_0_2") Please note that we do not cover cars used for commercial purposes or for hire/reward

				.container-fluid.margin--bottom

					.container-fluid

						label.label-bold.margin--bottom(translate="PS_2_1_2_1") Is the vehicle privately owned or corporate owned?

						.row
							.col-md-12

								button.btn.btn-default.random-margin(name="carOwnership", type="button", data-ng-click="select('private', 0, 'ownership')", data-ng-class="{'active':car.ownership=='private'}")
									span(translate="PS_2_1_2_2") Private
									span.glyphicon.glyphicon-ok

								button.btn.btn-default(name="carOwnership", type="button", data-ng-click="select('corporate', 0, 'ownership')", data-ng-class="{'active':car.ownership=='corporate'}")
									span(translate="PS_2_1_2_3") Corporate
									span.glyphicon.glyphicon-ok

								img(src="../../images/error.png", data-ng-show="carForm.$submitted && !car.ownership")

				.container-fluid.margin--bottom.margin--top
					.container-fluid.margin--bottom
						.row.margin--bottom
							.col-md-12

								h2
									span(translate="PS_1_4a") Is the car financed?
									img(src="../../images/error.png", data-ng-show="car.financed === null && carForm.$submitted")

								button.btn.btn-default.random-margin(type="button", data-ng-class="{'active': car.financed}", data-ng-click="car.financed = true")
									span(translate="PS_1_4b") Yes
									span.glyphicon.glyphicon-ok

								button.btn.btn-default(type="button", data-ng-class="{'active': car.financed == false}", data-ng-click="car.financed = false")
									span(translate="PS_1_4c") No
									span.glyphicon.glyphicon-ok

				.container-fluid.margin--bottom.margin--top

					.container-fluid.margin--bottom

						label.label-bold.margin--bottom
							span(translate="PS_2_1_4_a") Roughly how many kilometres do you drive per year?
							img.show-tooltip(data-toggle="tooltip", data-placement="top", title="We ask how much you drive per year so we can recommend the right optional benefits for your policy.", src="../../images/question-icon.png")

						.row

							.col-md-2

								button.btn.btn-default.margin--bottom(type="button", data-ng-click="select('< 8,000', 0, 'kmsperyear')", data-ng-class="{'active':car.kmsperyear=='< 8,000'}")
									span(translate="PS_2_1_4_b") Less than 8,000 km
									span.glyphicon.glyphicon-ok

							.col-md-2

								button.btn.btn-default.margin--bottom(type="button", data-ng-click="select('8,000 - 15,000', 0, 'kmsperyear')", data-ng-class="{'active':car.kmsperyear=='8,000 - 15,000'}")
									span(translate="PS_2_1_4_c") 8,000 km - 15,000 km
									span.glyphicon.glyphicon-ok

							.col-md-2

								button.btn.btn-default.margin--bottom(type="button", data-ng-click="select('> 15,000', 0, 'kmsperyear')", data-ng-class="{'active':car.kmsperyear=='> 15,000'}")
									span(translate="PS_2_1_4_d") Over 15,000 km
									span.glyphicon.glyphicon-ok

							.col-md-2

								button.btn.btn-default.margin--bottom(type="button", data-ng-click="select('not sure', 0, 'kmsperyear')", data-ng-class="{'active':car.kmsperyear=='not sure'}")
									span(translate="PS_2_1_4_e") Not sure
									span.glyphicon.glyphicon-ok

							.col-md-1
								img(src="../../images/error.png", data-ng-show="carForm.$submitted && !car.kmsperyear")

				.row

					.col-md-8

						.arrow
						.panel-body

							label.label-bold.margin--bottom
								span(translate="PS_2_1_4_2_1") What do you use the car for?
								img(src="../../images/error.png", data-ng-show="carForm.$submitted && !car.usage")

							.row.margin--top

								.col-md-4.centred

									img.margin--bottom.show-tooltip(src="../../images/trolley-icon.png", data-toggle="tooltip", data-placement="top", title="If you are only using your car in the course of your private life and for leisure.")
									button.btn.btn-default.btn-block.margin--bottom(type="button", data-ng-click="select('personal use', 0, 'usage')", data-ng-class="{'active':car.usage=='personal use'}")
										span(translate="PS_2_1_4_2_3") Personal use
										span.glyphicon.glyphicon-ok

								.col-md-4.centred

									img.margin--bottom.show-tooltip(src="../../images/cityscape-icon.png", data-toggle="tooltip", data-placement="top", title="If you are using your car in the course of your private life and to go to and from your workplace.")
									button.btn.btn-default.btn-block.margin--bottom(type="button", data-ng-click="select('personal use + commute', 0, 'usage')", data-ng-class="{'active':car.usage=='personal use + commute'}")
										span(translate="PS_2_1_4_2_4") Personal use + Commute
										span.glyphicon.glyphicon-ok

								.col-md-4.centred

									img.margin--bottom.show-tooltip(src="../../images/lanyard-icon.png", data-toggle="tooltip", data-placement="top", title="If you are using your car to go to and from your workplace and for or during the course of your work.")
									button.btn.btn-default.btn-block.margin--bottom(type="button", data-ng-click="select('commute + during work', 0, 'usage')", data-ng-class="{'active':car.usage=='commute + during work'}")
										span(translate="PS_2_1_4_2_5") Commute + During work
										span.glyphicon.glyphicon-ok

							p.margin--top(translate="PS_2_1_4_2_6") Do you sometimes use your car for commute or work? You can use your car up to 5 times per year outside the usage you declare. Simply email us at 
								a(href="mailto:carusage@directasia.com") CarUsage@DirectAsia.com
								|  before you drive, and you‘ll be covered in case something happens.

				.container-fluid.margin--bottom.margin--top

					.panel

						.panel-body
							h2(translate="PS_2_1_4_3") When would you like the policy to start ?

						.panel-footer
							.row
								.col-md-4

									p
										strong(translate="PS_2_1_5a") Policy start date:

									.form-inline

										img.margin--right(src="../../images/calendar.png")
										input(type="text", name="policyStartDate", ng-datepicker, data-ng-model="car.policy.startDate", data-ng-options="{'format': 'dd/mm/yyyy', 'autoclose': true}", placeholder="DD/MM/YYYY", required, data-ng-class="{'ng-invalid': (carForm.policyStartDate.$invalid && carForm.$submitted) || (!startDateWithin3Months() && carForm.$submitted) || (!startDateOnOrAfterTomorrow() && carForm.$submitted)}", style="display:inline-block;")

										img(src="../../images/error.png", data-ng-show="(carForm.policyStartDate.$invalid && carForm.$submitted) || (!startDateWithin3Months() && carForm.$submitted) || (!startDateOnOrAfterTomorrow() && carForm.$submitted)")

								.col-md-4

									p
										strong(translate="PS_2_1_5b") Policy end date:

									.form-inline

										img.margin--right(src="../../images/calendar.png")
										input(type="text", name="policyEndDate", ng-datepicker, data-ng-model="car.policy.endDate", data-ng-options="{'format': 'dd/mm/yyyy', 'autoclose': true}", placeholder="DD/MM/YYYY", required, data-ng-class="{'ng-invalid': (carForm.policyEndDate.$invalid && carForm.$submitted) || (!endDateAfterStartDate() && carForm.$submitted) || (!endDateWithin7And18MonthsAfterStartDate() && carForm.$submitted)}", style="display:inline-block;")

										img(src="../../images/error.png", data-ng-show="(carForm.policyEndDate.$invalid && carForm.$submitted) || (!endDateAfterStartDate() && carForm.$submitted) || (!endDateWithin7And18MonthsAfterStartDate() && carForm.$submitted)")
				.container-fluid

					.row
						.col-md-12

							button.btn.btn-backward.margin--bottom(type="button")
								span.glyphicon.glyphicon-arrow-left
								span(translate="PS_2_2_2") Back

							button.btn.btn-forward.btn-lg.pull-right.margin--bottom(type="submit", valid="carForm.$valid && startDateWithin3Months() && startDateOnOrAfterTomorrow() && endDateAfterStartDate() && endDateWithin7And18MonthsAfterStartDate()", continue, url="http://localhost:9000/car", page-data="{{car}}", next-page="http://localhost:9000/pages/about-your-driver/about-your-driver.html", modals="[{'condition': (age > 10 && plan != 'Comprehensive') || car.make == 'xxxx' || car.model == 'ZZZZ', 'popup': '#modal-problem'}, {'condition': !carIsCovered(), 'popup': '#modal-unique-vehicle'}, {'condition': !carIsNotMoreThan10YearsOld() && plan == 'Comprehensive', 'popup': '#modal-old-vehicle'}]", data-ng-disabled="modalShown && (age > 10 || car.make == 'xxxx' || car.model == 'ZZZZ')", success-modal="#modal-success")
								span(translate="PS_2_2_1") Proceed
								span.glyphicon.glyphicon-arrow-right


		modal#modal-success.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modalSuccessTitle", aria-hidden="false", shown="modalShown")
			.modal-dialog
				.modal-content

					.modal-body

						h2#modalSuccessTitle(translate="GS_0_3_1") Are you still there?

						p(translate="GS_0_3_2") If we don‘t detect you clicking around, then we end your session to protect your personal information.
						p
							strong(translate="GS_0_3_3") your session will end in:
								span.highlight-blue [X]

						button.btn.btn-forward.btn-lg(type="button", data-dismiss="modal", translate="GS_0_3_4") Yes! Continue My Quote


		modal#modal-problem.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modalProblemTitle", aria-hidden="false", shown="modalShown")
			.modal-dialog
				.modal-content

					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") ×

					.modal-body

						h2#modalProblemTitle(translate="PC_3_3_3") Sorry, but we‘d like to speak with you about your policy
						p
							strong(translate="PC_3_3_4") What to do next:
						p(translate="PC_3_3_5") Call our [Country] based team and provide your reference number and we‘ll help you complete your policy
						p
							strong
								span(translate="PC_3_3_6") Your Reference Number:
								span.highlight-blue  XXXXX
						p
							span(translate="GS_0_0_2b") Call us on
							|  +852 2884 8888
							br
							span(translate="GS_0_0_3") Mon - Fri 8am, Sat 9am - 6pm

		modal#modal-unique-vehicle.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modalUniqueVehicleTitle", aria-hidden="false", shown="modalShown")
			.modal-dialog
				.modal-content

					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") ×

					.modal-body

						h2#modalUniqueVehicleTitle(translate="PC_3_3_7") You have a unique vehicle. Please give us a call so we can help!
						p(translate="PC_3_3_8") You've indicated that you have a vehicle that we are unable to quote online. Please give us a call and we'll help you to finish.

						p
							span(translate="GS_0_0_2b") Call us on
							|  +852 2884 8888
							br
							span(translate="GS_0_0_3") Mon - Fri 8am, Sat 9am - 6pm

		modal#modal-old-vehicle.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modalOldVehicleTitle", aria-hidden="false", shown="modalShown")
			.modal-dialog
				.modal-content

					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") ×

					.modal-body

						h2#modalOldVehicleTitle(translate="PC_3_3_9") Sorry, but you can only purchase Third-Party Plans based on your vehicle. How would you like to proceed?
						p(translate="PC_3_3_10") Still want Comprehensive cover?

						p
							span(translate="GS_0_0_2b") Call us on
							|  +852 2884 8888
							br
							span(translate="GS_0_0_3") Mon - Fri 8am, Sat 9am - 6pm


script.
	$('#modal').modal();