script(src="../../scripts/controllers/car/car.controller.js")

.container

	section.section.section-car(ng-controller="CarCtrl")

		form(name="carForm", novalidate)

			.container-fluid

				.panel.margin--bottom

					.panel-body

						.row

							.col-md-2.centred.margin--bottom
								img(src="../../images/person-icon.png")

							.col-md-7.margin--bottom

								h1
									span(translate="PS_3_0a") Tell Us About the Main Driver
									.subtitle(translate="PS_3_0b") it‘s important that you‘re honest about who the main driver is so you‘re covered if you ever have a claim.

							.col-md-3

								strong(translate="GS_0_2a") Existing Customer?
								p(translate="GS_0_2b") Save time and retrieve your renewal quote
								button.btn.btn-primary(type="button")
									span(translate="GS_0_2c") Login Now
									span.glyphicon.glyphicon-ok

					.panel-footer

						.row(data-toggle="popover", data-placement="top", popover="#popover1", popover-type="popover--yellow", trigger="hover")

							.col-md-4.margin--bottom

								label(for="year")
									span(translate="PS_2_0_3") Year of Manufacture
									img.show-tooltip(data-placement="top", title="This refers to the year when the car was manufactured. You’ll find this on your vehicle registration document.", src="../../images/question-icon.png")

								input#carYear.form-control(name="carYear", data-ng-model="car.year", type="number", min="1980", max="2015", placeholder="Enter year", required)

								img.error-input-image(src="../../images/error.png", data-ng-show="(carForm.carYear.$invalid && carForm.carYear.$dirty) || (carForm.carYear.$invalid && carForm.$submitted)")

							.col-md-4.margin--bottom

								label(for="make")
									span(translate="PS_2_0_4") Car Make
									img(src="../../images/question-icon.png")

								input#carMake.form-control(name="carMake", data-ng-model="car.make", type="text", placeholder="Enter make", data-ng-pattern="/^[a-zA-Z0-9_ -]*$/", required)

								img.error-input-image(src="../../images/error.png", data-ng-show="(carForm.carMake.$invalid && carForm.carMake.$dirty) || (carForm.carMake.$invalid && carForm.$submitted)")

							.col-md-4

								label(for="model")
									span(translate="PS_2_0_5") Car Model
									img(src="../../images/question-icon.png")

								select#model(name="model", data-ng-model="car.model", required)
									option(selecter, label="Enter model", value="{{model}}", data-ng-repeat="model in models", selecter-target="#model", selecter-callback="select", property="model", data-ng-selected="model == selectedItem") {{model}}

								img.error-input-image(src="../../images/error.png", data-ng-show="(carForm.model.$invalid && carForm.model.$dirty) || (carForm.model.$invalid && carForm.$submitted)", style="position:absolute; right: 15px; bottom: 3px;")

							#popover1.popover.top
								button.popover-close-button(type="button")
									span.glyphicon.glyphicon-remove
								.subtitle(translate="PS_2_0_2") Please note that we do not cover cars used for commercial purposes or for hire/reward

				.container-fluid.margin--bottom

					.container-fluid

						h2.margin--bottom(translate="PS_2_1_2_1") Is the vehicle privately owned or corporate owned?

						button.btn.btn-default.random-margin(name="carOwnership", type="button", data-ng-click="select('private', 0, 'ownership')", data-ng-class="{'active':car.ownership=='private'}")
							span(translate="PS_2_1_2_2") Private
							span.glyphicon.glyphicon-ok

						button.btn.btn-default(name="carOwnership", type="button", data-ng-click="select('corporate', 0, 'ownership')", data-ng-class="{'active':car.ownership=='corporate'}")
							span(translate="PS_2_1_2_3") Corporate
							span.glyphicon.glyphicon-ok

						img(src="../../images/error.png", data-ng-show="carForm.$submitted && !car.ownership")

				.container-fluid.margin--bottom.margin--top

					.container-fluid.margin--bottom

						h2.margin--bottom
							span(translate="PS_2_1_4_a") Roughly how many kilometres do you drive per year?
							img.show-tooltip(data-toggle="tooltip", data-placement="top", title="We ask how much you drive per year so we can recommend the right optional benefits for your policy.", src="../../images/question-icon.png")

						.row

							.col-md-2

								button.btn.btn-default.margin--bottom(type="button", data-ng-click="select('< 8,000', 0, 'kmsperyear')", data-ng-class="{'active':car.kmsperyear=='< 8,000'}")
									span(translate="PS_2_1_4_b") Less than 8,000 km
									span.glyphicon.glyphicon-ok

							.col-md-2

								button.btn.btn-default.margin--bottom(type="button", data-ng-click="select('8,000 - 15,000', 0, 'kmsperyear')", data-ng-class="{'active':car.kmsperyear=='8,000 - 15,000'}")
									span(translate="PS_2_1_4_c") 8,000 km - 15,000 km
									span.glyphicon.glyphicon-ok

							.col-md-2

								button.btn.btn-default.margin--bottom(type="button", data-ng-click="select('> 15,000', 0, 'kmsperyear')", data-ng-class="{'active':car.kmsperyear=='> 15,000'}")
									span(translate="PS_2_1_4_d") Over 15,000 km
									span.glyphicon.glyphicon-ok

							.col-md-2

								button.btn.btn-default.margin--bottom(type="button", data-ng-click="select('not sure', 0, 'kmsperyear')", data-ng-class="{'active':car.kmsperyear=='not sure'}")
									span(translate="PS_2_1_4_e") Not sure
									span.glyphicon.glyphicon-ok

							.col-md-1
								img(src="../../images/error.png", data-ng-show="carForm.$submitted && !car.kmsperyear")

				.row

					.col-md-8

						.arrow
						.panel-body

							h2.margin--bottom
								span(translate="PS_2_1_4_2_1") What do you use the car for?
								img(src="../../images/error.png", data-ng-show="carForm.$submitted && !car.usage")

							.row.margin--top

								.col-md-4.centred

									img.margin--bottom.show-tooltip(src="../../images/trolley-icon.png", data-toggle="tooltip", data-placement="top", title="If you are only using your car in the course of your private life and for leisure.")
									button.btn.btn-default.btn-block.margin--bottom(type="button", data-ng-click="select('personal use', 0, 'usage')", data-ng-class="{'active':car.usage=='personal use'}")
										span(translate="PS_2_1_4_2_3") Personal use
										span.glyphicon.glyphicon-ok

								.col-md-4.centred

									img.margin--bottom.show-tooltip(src="../../images/cityscape-icon.png", data-toggle="tooltip", data-placement="top", title="If you are using your car in the course of your private life and to go to and from your workplace.")
									button.btn.btn-default.btn-block.margin--bottom(type="button", data-ng-click="select('personal use + commute', 0, 'usage')", data-ng-class="{'active':car.usage=='personal use + commute'}")
										span(translate="PS_2_1_4_2_4") Personal use + Commute
										span.glyphicon.glyphicon-ok

								.col-md-4.centred

									img.margin--bottom.show-tooltip(src="../../images/lanyard-icon.png", data-toggle="tooltip", data-placement="top", title="If you are using your car to go to and from your workplace and for or during the course of your work.")
									button.btn.btn-default.btn-block.margin--bottom(type="button", data-ng-click="select('commute + during work', 0, 'usage')", data-ng-class="{'active':car.usage=='commute + during work'}")
										span(translate="PS_2_1_4_2_5") Commute + During work
										span.glyphicon.glyphicon-ok

							p.margin--top(translate="PS_2_1_4_2_6") Do you sometimes use your car for commute or work? You can use your car up to 5 times per year outside the usage you declare. Simply email us at 
								a(href="mailto:carusage@directasia.com") CarUsage@DirectAsia.com
								|  before you drive, and you‘ll be covered in case something happens.

				.container-fluid.margin--bottom.margin--top

					.panel

						.panel-body
							h2(translate="PS_2_1_4_3") When would you like the policy to start ?

						.panel-footer
							.row
								.col-md-4

									p
										strong(translate="PS_2_1_5a") Policy start date:

									.form-inline

										input#policyStartDay.day(name="policyStartDay", data-ng-model="car.policy.start.day", placeholder="DD", type="number", min="1", max="31", required)

										input#policyStartMonth.month(name="policyStartMonth", data-ng-model="car.policy.start.month", placeholder="MM", type="number", min="1", max="12", required)

										input#policyStartYear.year(name="policyStartYear", data-ng-model="car.policy.start.year", placeholder="YYYY", type="number", min="1900", max="2015", required)

										img(src="../../images/error.png", data-ng-show="(carForm.policyStartDay.$invalid && carForm.policyStartDay.$dirty) || (carForm.policyStartMonth.$invalid && carForm.policyStartMonth.$dirty) || (carForm.policyStartYear.$invalid && carForm.policyStartYear.$dirty) || (carForm.policyStartDay.$invalid && carForm.policyStartMonth.$invalid && carForm.policyStartYear.$invalid && carForm.$submitted)")

								.col-md-4

									p
										strong(translate="PS_2_1_5b") Policy end date:

									.form-inline

										input#policyEndDay.day(name="policyEndDay", data-ng-model="car.policy.end.day", placeholder="DD", type="number", min="1", max="31", required)

										input#policyEndMonth.month(name="policyEndMonth", data-ng-model="car.policy.end.month", placeholder="MM", type="number", min="1", max="12", required)

										input#policyEndYear.year(name="policyEndYear", data-ng-model="car.policy.end.year", placeholder="YYYY", type="number", min="1900", max="2015", required)

										img(src="../../images/error.png", data-ng-show="(carForm.policyEndDay.$invalid && carForm.policyEndDay.$dirty) || (carForm.policyEndMonth.$invalid && carForm.policyEndMonth.$dirty) || (carForm.policyEndYear.$invalid && carForm.policyEndYear.$dirty) || (carForm.policyEndDay.$invalid && carForm.policyEndMonth.$invalid && carForm.policyEndYear.$invalid && carForm.$submitted)")
				.container-fluid

					.row
						.col-md-12

							button.btn.btn-backward.margin--bottom(type="button")
								span.glyphicon.glyphicon-arrow-left
								span(translate="PS_2_2_2") Back

							button.btn.btn-forward.btn-lg.pull-right.margin--bottom(type="submit", valid="carForm.$valid", continue, url="http://localhost:9000/car", page-data="{{car}}", next-page="http://localhost:9000/pages/about-your-driver/about-your-driver.html")
								span(translate="PS_2_2_1") Proceed
								span.glyphicon.glyphicon-arrow-right


#modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="false")
	.modal-dialog
		.modal-content

			button(type="button", class="close", data-dismiss="modal", aria-label="Close")
				span(aria-hidden="true") ×

			.modal-body

				h2(translate="GS_0_3_1") Are you still there?

				p(translate="GS_0_3_2") If we don‘t detect you clicking around, then we end your session to protect your personal information.
				p
					strong(translate="GS_0_3_3") your session will end in: [X]

				button.btn.btn-forward.btn-lg(type="button", data-ng-click="proceed()", translate="GS_0_3_4") Yes! Continue My Quote

script.
	$('#modal').modal();