<!-- <script src="../../scripts/controllers/review-buy/reviewbuy.controller.js"></script> -->


<h1 data-resource-id="PS 6.0" translate="PS_6_0a">Review Your Policy and Purchase</h1>
                    <div class="panel" data-resource-id="PS 6.1" ng-init="content = true">
                        <div class="panel-header" data-resource-id="PC 4.8.0">
                            <div class="desktop">
                                <h2 style="float:left;" data-resource-id="PS 6.1a"><span translate="PS_6_1a">Your Car Insurance Summary</span>
                                    <div class="subtitle"><span translate="PS_6_1a_1">Policy Number:</span>2332434535t66</div>
                                </h2>
                                <div class="yr-right" style="float:none;">
                                    <h2><span translate="PS_6_1a_2">Total</span> S$1,356 <span translate="PS_6_1a_3">/yr</span></h2>
                                    <div class="subtitle">S$113 <span translate="PS_6_1a_4">/mo</span></div>
                                    <div class="subtitle" style="color:#fcd900;"><span translate="PS_6_1a_5">Savings</span> S$167 <span translate="PS_6_1a_3">/yr</span></div>
                                </div>
                            </div>
                            <div class="mobile">
                                <h2><span translate="PS_6_1a">Your Car Insurance Summary</span>
                                    <div class="subtitle"><span translate="PS_6_1a_1">Policy Number:</span>2332434535t66</div>
                                    <div class="space"></div>
                                        <h2><span translate="PS_6_1a_2">Total</span> S$1,356 <span translate="PS_6_1a_3">/yr</span></h2>
                                        <div class="subtitle">S$113 <span translate="PS_6_1a_4">/mo</span> | <span style="color:#fcd900;"><span translate="PS_6_1a_5">Savings</span> S$167 <span translate="PS_6_1a_3">/yr</span></span></div>
                                    
                                </h2>
                            </div>
                            
                        </div>
                        <div class="panel-body" ng-hide="content">
                            <h2>Comprehensive Premium</h2>
                            <p><span translate="PS_6_1_1">Excess amount:</span> <span style="color:#25A8E0;">S$500</span></p>
                        </div>
                        <div class="panel-body" ng-show="content" data-resource-id="PC 4.8.1">
                            <div class="row" data-resource-id="PC 4.8.1.1">
                                <div class="space"></div>
                                <div class="col-xs-2">
                                    <img src="../../images/car-icon2.png">
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="subtitle"><b translate="PC_4_3_1_1">Car</b></div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="subtitle">2010 Honda Civic, Low Mileage</div>
                                            <div class="subtitle" ng-show="content">
                                                Modifications: Body Kit, Rims / Tires
                                                Air Intake/Exhaust
                                                Financed, Privately Owned, Low Mileage
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default btn-sm desktop" translate="PC_4_3_1_2">Edit</button>
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <button type="button" class="btn btn-default btn-sm mobile" translate="PC_4_3_1_2">Edit</button>
                                        </div>

                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-resource-id="PC 4.8.1.2">
                                <div class="space"></div>
                                <div class="col-xs-2">
                                    <img src="../../images/driver-icon.png">
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="subtitle"><b translate="PC_4_3_1_3">Driver</b></div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="subtitle">Female, 37 years old, 30% NCD, Certificate of Merit, 1 at fault claim</div>
                                            <div class="subtitle" ng-show="content">
                                                [Occupation],[Postal Code],[4] years valid driving license,
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default btn-sm desktop" translate="PC_4_3_1_4">Edit</button>
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <button type="button" class="btn btn-default btn-sm mobile" translate="PC_4_3_1_4">Edit</button>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="yr-right" style="margin-top: 15px;">
                                                <div class="subtitle">S$45 <span translate="PS_6_1a_3">/yr</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-resource-id="PC 4.8.1.3">
                                <div class="space"></div>
                                <div class="col-xs-2">
                                    <img src="../../images/policy-icon2.png">
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="subtitle"><b translate="PC_4_8_1_3_1">Policy</b></div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="subtitle">Comprehensive Premium, S$500 <span translate="PC_4_8_1_3_2">policy excess</span></div>
                                            <div class="subtitle" ng-show="content">
                                                Third Party - Death or Bodily Injury<br/>
                                                Third Party - Property Damage<br/>
                                                24 hour accident towing<br/>
                                                Own damage - Fire<br/>
                                                Own damage - Theft<br/>
                                                Own damage - Act of God<br/>
                                                Own damage - All Accidents<br/>
                                                Windscreen / Window Breakage
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default btn-sm desktop" translate="PC_4_8_1_3_3">Edit</button>
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <button type="button" class="btn btn-default btn-sm mobile" translate="PC_4_8_1_3_3">Edit</button>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="yr-right" style="margin-top: 15px;">
                                                <div class="subtitle">S$732 <span translate="PS_6_1a_3">/yr</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-resource-id="PC 4.8.1.5">
                                <div class="space"></div>
                                <div class="col-xs-2">
                                    <img src="../../images/cover-icon2.png">
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="subtitle"><b translate="PC_4_8_1_5_1">Cover</b></div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="subtitle">Loss of use, My Workshop, Experienced Drivers</div>
                                            <div class="subtitle" ng-show="content">
                                                S$50 to help you with transport costs while your car is being repaired
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default btn-sm desktop" translate="PC_4_8_1_5_2">Edit</button>
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <button type="button" class="btn btn-default btn-sm mobile" translate="PC_4_8_1_5_2">Edit</button>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="yr-right" style="margin-top: 15px;">
                                                <div class="subtitle">S$235 <span translate="PC_4_8_1_5_3">/yr</span><br><span style="text-decoration:line-through;">S$261 <span translate="PC_4_8_1_5_3">/yr</span></span>  <span style="color:#D52B1E;">(10% <span translate="PC_4_8_1_5_4">Discount</span>)</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" data-resource-id="PC 4.8.2" style="text-align:center;">      
                            <div ng-hide="content" ng-click="content = true">
                                <h2 translate="PC_4_8_2_1">Review Full Details</h2>
                                <img src="../../images/down-arrow.png">
                            </div>
                            <div ng-show="content" ng-click="content = false">
                                <h2 translate="PC_4_8_2_2">See Summary</h2>
                                <img src="../../images/up-arrow.png">
                            </div>
                        </div>
                    </div>