<div class="container" ng-controller="yourPolicy">

	<div class="row">
		<div class="col-md-8">
			<div class="container-fluid">

				<div class="space"></div>
				<div class="row">
					<div class="col-md-12">      
						<img class="pull-left margin-right" src="../../images/car-icon2.png" style="margin-right: 20px;">
						<h2 class="section-title" style="margin-top:10px; " data-resource-id="PS 5.3a">Car Details</h2>
					</div>
					<div class="col-md-6">
						<div class="space"></div>
						<div class="input-content">
							<label data-resource-id="PS 5.3b">Registration Number</label><br />
							<input class="form-control" type="text" placeHolder="enter registration number" name="car_details_registration_number">
						</div>
					</div>
					<div class="col-md-6">
						<div class="space"></div>
						<div class="input-content">
							<label data-resource-id="PS 5.3c">Car Chassis Number <img data-toggle="tooltip" data-placement="top" title="You can obtain your chassis number by logging onto LTA's website." class="show-tooltip" src="../../images/question-icon.png"></label><br />
							<input class="form-control" type="text" placeHolder="enter car chassis number" name="car_details_chassis_number">
						</div>
					</div>
					<div class="col-md-12">
						<div class="space"></div>
						<div class="row">
						<div class="col-md-12">
							<p data-resource-id="PS 5.3d"><b>Are you transfering your NCD from another car?</p>
						</div>
						<div class="col-xs-2">
							<button type="button" class="btn btn-default btn-block" ng-class="{active:yes_no === true}" ng-click="yes_no = true" data-resource-id="PS 5.3e">Yes <span class="glyphicon glyphicon-ok"></span></button>
						</div>
						<div class="col-xs-2">
							<button type="button" class="btn btn-default btn-block" ng-class="{active:yes_no === false}" ng-click="yes_no = false" data-resource-id="PS 5.3f">No <span class="glyphicon glyphicon-ok"></span></button>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space"></div>
			<div class="panel" ng-show="yes_no">
				<div class="panel-body">
					<h2 data-resource-id="PS 5.3.1a">Previous vehicle registration?</h2>
					<p data-resource-id="PS 5.3.1b">We need the name of the previous insurer to validate the NCD that you have declared.</p>
					<div class="input-content">
						<input class="form-control" type="text" placeHolder="enter previous Insurer" name="previous_insurer">
					</div>
					<div class="space"></div>
					<p data-resource-id="PS 5.3.1c">We need your previous car registration number to validate the NCD that you have declared</p>
					<div class="input-content">
						<input class="form-control" type="text" placeHolder="enter previous vehicle registration" name="previous_vehicle_registration">
					</div>
				</div>
			</div>
			<div class="space"></div>

			<div class="panel" data-resource-id="PS 5.2">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<img class="pull-left margin-right" src="../../images/driver-icon3.png" style="margin-right: 20px;">
								<h2 class="section-title" data-resource-id="PS 5.2a">Policyholder Details
									<div class="subtitle" data-resource-id="PS 5.2b"> The Policyholder of this car insurance policy must be the legal owner of the vehicle.</div>
								</h2>
							</div>
						</div>
					</div>
					<div class="panel-body" style="background: #f2f2f2;">
						<div class="row">
							<div class="col-md-6">
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2c">First Name</label><br />
									<input class="form-control" type="text" placeHolder="enter first name" name="policy_holder_firstname">
								</div>
							</div>
							<div class="col-md-6" >
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2d">Surname</label><br />
									<input class="form-control" type="text" placeHolder="enter surname" name="policy_holder_surname">
								</div>
							</div>
							<div class="col-md-6">
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2e">Email</label><br />
									<input class="form-control" type="text" placeHolder="enter email" name="policy_holder_email">
								</div>
							</div>
							<div class="col-md-6">
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2f">Confirm Email</label><br />
									<input class="form-control" type="text" placeHolder="enter email again" name="policy_holder_confirm_email">
								</div>
							</div>
							<div class="col-md-6">
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2g">Mobile Number</label><br />
									<input class="form-control" type="text" placeHolder="enter contact number" name="policy_holder_contact_number">
								</div>
							</div>                                    
						</div>
						<div class="space"></div>
						<div class="row">
							<div class="col-md-12">
								<h2 class="section-title" data-resource-id="PS 5.2h">Residential Address</h2>
								</h2>
							</div>
							<div class="space"></div>
							<div class="col-md-6">
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2i">Address Line 1</label><br />
									<input class="form-control" type="text" placeHolder="enter address line 1" name="residential_address_1">
								</div>
							</div>
							<div class="col-md-6" >
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2j">Address Line 2</label><br />
									<input class="form-control" type="text" placeHolder="enter address line 2" name="residential_address_2">
								</div>
							</div>
							<div class="col-md-6">
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2k">Residential District</label><br />
									<input class="form-control" type="text" placeHolder="enter District" name="residential_district">
								</div>
							</div>
							<div class="col-md-6">
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2l">Residential Status</label><br />
									<div>
										<select id="residential1" name="residential">
											<option selecter label="Enter Driving License" value="{{residential}}" data-ng-repeat="residential in residentials" selecter-target="#residential1" selecter-callback="select" property="residential" ng-selected="year == selectedItem">{{residential}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="space"></div>
								<div class="input-content">
									<label data-resource-id="PS 5.2m">HKID</label><br />
									<input class="form-control" type="text" placeHolder="enter HKID" name="main_driver_hkid">
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body" data-resource-id="PC 5.2.1">
						<div class="row">
							<div class="col-md-12">
								<h2 class="section-title" data-resource-id="PC 5.2.1a">How would you like to be contacted?</h2>
								<p data-resource-id="PC 5.2.1b">Occasionally, we send information and offers about DirectAsia.com and selected third parties. By continuing this application, you agree to receive marketing materials.  If you do not want this, please uncheck all three options.</p><br />
								<div class="row">
									<div class="col-xs-4">
										<label for="radio1" class="label-radio pull-left margin-right">
											<input id="radio1" type="radio" name="radios" checked="">
											<div class="fake-radio" ></div><span data-resource-id="PC 5.2.1c">Email</span>
										</label>
									</div>
									<div class="col-xs-4">
										<label for="radio2" class="label-radio pull-left margin-right">
											<input id="radio2" type="radio" name="radios">
											<div class="fake-radio"></div><span data-resource-id="PC 5.2.1d">Do not contact me</span>
										</label>
									</div>                                            
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="space"></div>
			<div class="panel" data-resource-id="PS 5.4">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<img class="pull-left margin-right" src="../../images/driver-icon3.png" style="margin-right: 20px;  margin-bottom: 20px;">
							<h2 class="section-title" style="margin-top:10px;" data-resource-id="PS 5.4a">Main Driver Details
								<div class="subtitle" data-resource-id="PS 5.4b">The main driver is the person who uses the car most frequently. They do not need to be the car owner(policy holder)</div>
							</h2>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-6">
							<div class="space"></div>
							<div class="input-content">
								<label data-resource-id="PS 5.4c">First Name</label><br />
								<input class="form-control" type="text" placeHolder="enter first name" name="main_driver_firstname">
							</div>
						</div>
						<div class="col-md-6">
							<div class="space"></div>
							<div class="input-content">
								<label data-resource-id="PS 5.4d">Surname</label><br />
								<input class="form-control" type="text" placeHolder="enter surname" name="main_driver_surname">
							</div>
						</div>
						<div class="col-md-6">
							<div class="space"></div>
							<div class="input-content">
								<label data-resource-id="PS 5.4e">Relationship with Policyholder</label><br />
								<div>
									<select id="policyholder" name="policyholder">
										<option selecter label="Enter Driving License" value="{{policyholder}}" data-ng-repeat="policyholder in policyholders" selecter-target="#policyholder" selecter-callback="select" property="policyholder" ng-selected="year == selectedItem">{{policyholder}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="space"></div>
							<div class="input-content">
								<label data-resource-id="PS 5.4f">Residential Status</label><br />
								<div>
									<select id="residential" name="residential">
										<option selecter label="Enter Driving License" value="{{residential}}" data-ng-repeat="residential in residentials" selecter-target="#residential" selecter-callback="select" property="residential" ng-selected="year == selectedItem">{{residential}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="space"></div>
							<div class="input-content">
								<label data-resource-id="PS 5.4g">HKID</label><br />
								<input class="form-control" type="text" placeHolder="enter HKID" name="main_driver_HKID2">
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>
	</div>

</div>