doctype
html(lang="en", ng-app="DirectAsia")

	head

		title
			block title

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="#{description}")
		meta(name="keywords", content="#{keywords}")
		meta(name="author", content="Darryl Snow")
		meta(name="viewport", content="width=device-width,initial-scale=1")

		block meta

		//- 3rd party library Styles
		link(rel="stylesheet", href="../../lib/bootstrap.css")
		link(rel="stylesheet", href="../../lib/bootflat.css")

		//- Custom Styles
		link(rel="stylesheet", href="../../styles/main.css")

		block styles

		//if lt IE 9
			script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

		link(rel="apple-touch-icon", sizes="57x57", href="../../images/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="114x114", href="../../images/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="72x72", href="../../images/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="144x144", href="../../images/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="60x60", href="../../images/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="120x120", href="../../images/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="76x76", href="../../images/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="152x152", href="../../images/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="../../images/apple-touch-icon-180x180.png")
		link(rel="icon", type="image/png", href="../../images/favicon-16x16.png", sizes="16x16")
		link(rel="icon", type="image/png", href="../../images/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="../../images/favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="../../images/favicon-160x160.png", sizes="160x160")
		link(rel="icon", type="image/png", href="../../images/favicon-192x192.png", sizes="192x192")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="msapplication-TileImage", content="../../images/mstile-144x144.png")
		meta(name="msapplication-config", content="../../images/browserconfig.xml")
		link(rel="shortcut icon", href="../../images/favicon.ico")

		//- Scripts loaded in the head because each component loads
		//- other scripts and components will appear above the page
		//- footer

		//- 3rd party libraries & plugins
		//- DO NOT CHANGE THE ORDER
		script(src="../../lib/jquery.js")
		script(src="../../lib/angular.js")
		script(src="../../lib/angular-translate.js")
		script(src="../../lib/angular-translate-loader-static-files.js")
		script(src="../../lib/bootstrap.js")
		script(src="../../lib/jquery.fs.selecter.js")
		script(src="../../lib/fsm-sticky-header.js")
		script(src="../../lib/bootstrap-slider.min.js")
		script(src="../../lib/slider.js")
		script(src="../../lib/angular-bootstrap-datepicker.js")
		script(src="../../lib/select.js")

		// if lt IE 9
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
			<script>
				document.createElement('ui-select');
				document.createElement('ui-select-match');
				document.createElement('ui-select-choices');
			</script>

		//- Main module - required on all pages
		script(src="../../scripts/main.js")

		//- Global controllers
		script(src="../../scripts/controllers/help/help.controller.js")

		//- All directives
		script(src="../../scripts/directives/continue-button.directive.js")
		script(src="../../scripts/directives/full-page-height.directive.js")
		script(src="../../scripts/directives/input-group.directive.js")
		script(src="../../scripts/directives/match.directive.js")
		script(src="../../scripts/directives/modal.directive.js")
		script(src="../../scripts/directives/popover.directive.js")
		script(src="../../scripts/directives/selecter.directive.js")
		script(src="../../scripts/directives/sticky-navbar.directive.js")
		script(src="../../scripts/directives/toggle-buttons.directive.js")
		script(src="../../scripts/directives/tooltip.directive.js")

		//- All services
		script(src="../../scripts/services/AdditionalDriver.factory.js")
		script(src="../../scripts/services/Car.factory.js")
		script(src="../../scripts/services/InsurancePlan.factory.js")
		script(src="../../scripts/services/MainDriver.factory.js")

		//- All filters
		script(src="../../scripts/filters/age.filter.js")
		script(src="../../scripts/filters/range.filter.js")
		script(src="../../scripts/filters/slugify.filter.js")

	body

		block content

		include ../partials/footer.partial.jade