<script src="../../scripts/controllers/quote/quote2.controller.js"></script>

<div class="container" ng-controller="qouteController">
            <div style="width:100%; margin-top:50px; text-align:center;">
                <img src="../../images/loading.gif" style="width: 100px;">
            </div>
            <h1 style="text-align:center;" translate="PS_1_5_1">We're working on your quote</h1>
            <div class="row">
                <div class="col-sm-6">
                    <h2 translate="PS_1_5_2">Why our customers choose DirectAsia.com's Car Insurance:</h2>
                    <ul>
                        <li translate="PS_1_5_3">Award Winning Insurer - People's Choice Awards</li>
                        <li translate="PS_1_5_4">Award Winning Customer Service - Call Center Association of Singapore</li>
                        <li translate="PS_1_5_5">Favourite Online Insurance - Service Lifestyle Awards</li>
                        <li translate="PS_1_5_6">Gold Award in Mystery Caller Assessment - Hong Kong Corporate Counsel Association</li>
                        <li translate="PS_1_5_7">100% Owned by Hiscox Group</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="panel" style="margin-top: 30px;">
                       <div class="panel-body">
                            <h2 style="margin-bottom: 20px;" translate="PS_1_5_8">Where did you hear about DirectAsia.com?</h2>
                            <div style="width:300px">
                                <select id="heardAboutUs" name="heardAboutUs">
                                    <option selecter label="Enter Driving License" value="{{heardAboutUs}}" data-ng-repeat="heardAboutUs in heardAboutUs" selecter-target="#heardAboutUs" selecter-callback="select" property="heardAboutUs" ng-selected="heardAboutUs == selectedItem">{{heardAboutUs}}</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>