//- Choose Your Car Insurance Plan

section#quote1.container

	h1 Choose Your Car Insurance Plan

	.panel

		.panel-header

			h2 Your Recommended Plan
				img(src="../../images/question-icon.png", style="margin-left:10px;")
				.subtitle Your recommended plan is based on the car and driver details you provide, as well as popular options our customer's enjoy.

		.panel-body.panel-body--grey

			.plan
				.plan-left
					img(src="../../images/car-icon3.png")

				.plan-right

					.plan-item
						strong Car
						span(data-ng-bind="data.car")
						button.btn.btn-default.btn-sm(type="button") Edit

					.plan-item
						strong Driver
						span(data-ng-bind="data.driver")
						button.btn.btn-default.btn-sm(type="button") Edit

		.panel-body

			.row

				.col-md-10

					h2
						span(data-ng-bind="selectedPlan.name")
						img(src="../../images/down-arrow.png")

					h3 Recommended Optional Cover

					.row
						.col-md-4
							.benefit
								img.benefit-icon(src="../../images/lost-of-use-icon.png")
								.benefit-details
									h4
										a(data-ng-click="benefit1=!benefit1") Loss of use
											img(src="../../images/down-arrow.png", data-ng-show="!benefit1")
											img(src="../../images/up-arrow.png", data-ng-show="benefit1")
									p(data-ng-show="benefit1") S$50 to help you with transport costs while your car is being repaired

						.col-md-4
							.benefit
								img.benefit-icon(src="../../images/my-workshop-icon.png")
								.benefit-details
									h4
										a(data-ng-click="benefit2=!benefit2") My Workshop
											img(src="../../images/down-arrow.png", data-ng-show="!benefit2")
											img(src="../../images/up-arrow.png", data-ng-show="benefit2")
									p(data-ng-show="benefit2") Gives you the freedom to select your own preferred workshop for an optional benefit

						.col-md-4
							.benefit
								img.benefit-icon(src="../../images/experienced-drivers-icon.png")
								.benefit-details
									h4
										a(data-ng-click="benefit3=!benefit3") Experienced Drivers
											img(src="../../images/down-arrow.png", data-ng-show="!benefit3")
											img(src="../../images/up-arrow.png", data-ng-show="benefit3")
									p(data-ng-show="benefit3") Cover anyone over 30 with more than 2 years driving experience

				.col-md-2.align-right

					h2 S$
						span(data-ng-bind="selectedPlan.baseCost")
						|  /yr

						.subtitle S$
							span(data-ng-bind="selectedPlan.baseCost / 12")
							|  /mo

					h2(style="margin-top:10px;") S$
						span 624
						|  /yr

						.subtitle S$
							span 900
							|  /yr
						.subtitle.highlight (10% off)

		.panel-footer

			.row
				.col-md-5
					button.btn.btn-default.btn-lg.btn-block.btn-select-plan(data-ng-click="", type="button") Select Plan &amp; Modify
						i.glyphicon.glyphicon-ok
					button.btn.btn-white.btn-lg.btn-block(data-ng-click="", type="button") or Build Plan Starting at S$
						span(data-ng-bind="selectedPlan.baseCost")
						i.glyphicon.glyphicon-ok

				.col-md-7.align-right
					.total Total S$
						span 1,356
						|  /yr
						.subtitle S$
							span 113
							|  /mo