//- Choose Your Car Insurance Plan

section#quote1.container(data-ng-show="currentStep>=1")

	h1(translate="quotePage.headline") Choose Your Car Insurance Plan

	.panel

		.panel-header

			h2 Your Recommended Plan
				img(src="../../images/question-icon.png", style="margin-left:10px;")
				.subtitle Your recommended plan is based on the car and driver details you provide, as well as popular options our customer's enjoy.

		.panel-body.panel-body--grey

			.plan
				.plan-left
					img(src="../../images/car-icon3.png")

				.plan-right

					.plan-item
						strong Car
						span(data-ng-cloak) {{plan.car.year}} 
						span(data-ng-cloak) {{plan.car.make}} 
						span(data-ng-cloak) {{plan.car.model}}
						span(data-ng-cloak) {{plan.car.lowmileageoption ? ", Low Mileage" : "" }}
						a.btn.btn-default.btn-sm.margin--left(href="../car/car.html", title="Edit car details") Edit

					.plan-item
						strong Driver
						span(data-ng-cloak) {{plan.mainDriver.gender}}, 
						span(data-ng-cloak) {{plan.mainDriver.age}} years old, 
						span(data-ng-cloak) {{plan.mainDriver.noClaimsDiscount}} NCD, 
						ng-pluralize(data-ng-cloak, count="plan.mainDriver.accidents.atFault", when="{'0':'0 at fault claims', '1': '1 at fault claim', 'other': '{} at fault claims'}")
						a.btn.btn-default.btn-sm.margin--left(href="../about-your-driver/your-driver.html", title="Edit driver information") Edit

		.panel-body

			.row

				.col-md-10

					h2
						span(data-ng-bind="plan.cover.name")
						img(src="../../images/down-arrow.png")

					div(data-ng-if="recommendedPlan.options.length != 0")

						h3 Recommended Optional Cover

						.row
							.col-md-4(data-ng-repeat="option in recommendedPlan.options")
								.benefit
									img.benefit-icon(data-ng-src="../../images/{{option.name | slugify}}-icon.png")
									.benefit-details
										h4
											a(data-ng-click="showDescription=!showDescription", data-ng-cloak) {{option.name}}
												img(src="../../images/down-arrow.png", data-ng-show="!showDescription")
												img(src="../../images/up-arrow.png", data-ng-show="showDescription")
										p(data-ng-show="showDescription", data-ng-cloak) {{option.description}}

				.col-md-2.align-right

					h2 S$
						span(data-ng-bind="plan.cover.baseCost")
						|  /yr

						.subtitle S$
							span(data-ng-bind="plan.cover.baseCost / 12")
							|  /mo

					h2(style="margin-top:10px;") S$
						span(data-ng-bind="plan.totalCost")
						|  /yr

						.subtitle S$
							span(data-ng-bind="plan.totalCost / 12")
							|  /mo
						.subtitle.highlight (10% off)

		.panel-footer

			.row
				.col-md-5
					a.btn.btn-default.btn-lg.btn-block.btn-select-plan.internal-link(data-ng-click="selectPlanAndModify()", href="#quote2", title="") Select Plan &amp; Modify
						i.glyphicon.glyphicon-ok
					a.btn.btn-white.btn-lg.btn-block.internal-link(data-ng-click="continue(2)", href="#quote2", title="") or Build Plan Starting at S$
						span(data-ng-bind="plan.cover.baseCost")
						i.glyphicon.glyphicon-ok

				.col-md-7.align-right
					.total Total S$
						span(data-ng-bind="plan.totalCost")
						|  /yr
						.subtitle S$
							span(data-ng-bind="plan.totalCost / 12")
							|  /mo