//- SCRIPTS FOR CAR COMPONENT

//- Angular Controllers
script(src="../../scripts/controllers/quote/quote1.controller.js")

section.section.section-quote(ng-controller="QuoteCtrl")

	ul.side-pagination(role="tablist")
		li(data-ng-class="{'active':currentStep>=1}")
			a.internal-link(href="#quote1", data-toggle="tooltip", data-placement="left", title="Select Car Insurance Plan")
		li(data-ng-class="{'active':currentStep>=2}")
			a.internal-link(href="#quote2", data-toggle="tooltip", data-placement="left", title="Add Additional Drivers")
		li(data-ng-class="{'active':currentStep>=3}")
			a.internal-link(href="#quote3", data-toggle="tooltip", data-placement="left", title="Customise Optional Coverage")
		li(data-ng-class="{'active':currentStep>=4}")
			a.internal-link(href="#quote4", data-toggle="tooltip", data-placement="left", title="Select Policy Excess")
		li(data-ng-class="{'active':currentStep>=5}")
			a.internal-link(href="#quote5", data-toggle="tooltip", data-placement="left", title="See Your Car Insurance Summary")

	.navbar-da(fsm-sticky-header, scroll-body="'.section-quote'", scroll-stop="0")
		.container

			nav(data-ng-class="{'notchosen':currentStep>1}")
				li(data-ng-repeat="cover in options.coverPlans", data-ng-class="{active:cover.name==plan.cover.name}")
					a(data-ng-click="selectPlan(cover)", data-ng-cloak)
						span.navbar-item(data-ng-bind="cover.name")
						span.navbar-price S$ 
							span(data-ng-bind="cover.baseCost")
							span(translate="PC_4_1_1_1") /yr
						span.navbar-smallprint S$
							span(data-ng-bind="cover.baseCost / 12")
							span(translate="PC_4_1_1_2") /mo

			nav(data-ng-show="currentStep>1", data-ng-class="{'chosen':currentStep>1}")
				li.active
					a(href="#")
						span.navbar-item(data-ng-cloak) {{plan.cover.name}}
						span.navbar-price(data-ng-cloak) S${{plan.cover.baseCost}}
						span(translate="PC_4_1_1_1") /yr
						span.navbar-smallprint(data-ng-cloak) S${{plan.cover.baseCost / 12}}
						span(translate="PC_4_1_1_2") /mo
				li
					.navbar-info
						span.navbar-item(translate="PC_4_3_2_2") Additional Drivers
						span.navbar-price(data-ng-cloak) {{plan.additionalDrivers[0].firstName ? plan.additionalDrivers.length : "0"}}
				li
					.navbar-info
						span.navbar-item(translate="PC_4_5a") Optional Cover
						span.navbar-price(data-ng-cloak) {{plan.options.length}}
				li
					.navbar-info
						span.navbar-item(translate="PC_4_3_5_1") Excess Policy
						span.navbar-price(data-ng-cloak) {{plan.excess}}

			.save-for-later
				button.btn.btn-primary.btn-sm.btn-block(data-ng-click="saveForLater()", translate="PC_4_1_2_1") Save for Later
				p(translate="PC_4_1_2d") Your details will be saved for 90 days so you can finish later

	include quote2
	include quote3
	include quote4
	include quote5
	include quote6
	include quote7

	script.
		$(".internal-link").on("click", function(e) {
			e.preventDefault();
			setTimeout(function() {
				$("html, body").animate({scrollTop: $($(e.target).attr("href")).offset().top - 100});
			}, 200);
		});
		$('[data-toggle="tooltip"]').tooltip();