section#quote3.section.section--blue.section--padded.section--centred

	.container

		img(src="../../images/cover-icon3.png")
		h2.margin--bottom Optional Cover
			img(src="../../images/question-icon.png")
			.subtitle Customise your coverage and save money by adding optional items

		.options.clearfix

			.col-md-4
				.option
					.recommended
						img(src="../../images/star-icon.png")
						| recommended
					.panel
						.panel-heading
							h3 24 hr breakdown assistance
						.panel-footer
							img.option-icon(src="../../images/break-icon.png")
							strong S$ 
								span 156
							button.btn.btn-default(type="button") Select

			.col-md-4
				.option
					.recommended
						img(src="../../images/star-icon.png")
						| recommended
					.panel
						.panel-heading
							h3 24 months new for old replacement car
						.panel-footer
							img.option-icon(src="../../images/car-icon4.png")
							strong S$ 
								span 156
							button.btn.btn-default(type="button") Select

			.col-md-4
				.option
					.panel
						.panel-heading
							h3 Car modifications
						.panel-footer
							img.option-icon(src="../../images/clock-icon.png")
							strong S$ 
								span 156
							button.btn.btn-default(type="button") Select

			.col-md-4
				.option
					.panel
						.panel-heading
							h3 My workshop/ garage
						.panel-footer
							img.option-icon(src="../../images/garage-icon.png")
							strong S$ 
								span 156
							button.btn.btn-default(type="button") Select

			.col-md-4
				.option
					.panel
						.panel-heading
							h3 Medical expenses
						.panel-footer
							img.option-icon(src="../../images/medical-icon.png")
							strong S$ 
								span 156
							button.btn.btn-default(type="button") Select

			.col-md-4
				.option
					.panel
						.panel-heading
							h3 Personal accident
						.panel-footer
							img.option-icon(src="../../images/accident-icon.png")
							strong S$ 
								span 156
							button.btn.btn-default(type="button") Select

			.col-md-4
				.option
					.panel
						.panel-heading
							h3 Loss of use
						.panel-footer
							img.option-icon(src="../../images/lost-of-use-icon2.png")
							strong S$ 
								span 156
							button.btn.btn-default(type="button") Select

			.col-md-4
				.option
					.panel
						.panel-heading
							h3 Repatriation costs
						.panel-footer
							img.option-icon(src="../../images/plane-icon.png")
							strong S$ 
								span 156
							button.btn.btn-default(type="button") Select

		.row
			.col-md-12

				button.btn.btn-continue(type="button")
					i.glyphicon.glyphicon-arrow-down
					| No Thanks, Continue