section#quote4.section.section--blue.section--padded.section--centred

	.container

		img(src="../../images/policy-icon.png")

		.row
			.col-md-6.col-md-offset-3
				h2.margin--bottom Policy Excess
					.subtitle Policy excess is the amount that you'll pay out of your own pocket if you have a claim. If you choose a higher excess, you will have a lower the premium.

		.excesses

			.row
				.col-md-2
					.excess
						label.label-radio.label--large(for="radio1")
							input#radio1(type="radio", name="excess")
							.fake-radio
								span.glyphicon.glyphicon-ok
							span S$ 500

				.col-md-2
					.excess
						label.label-radio.label--large(for="radio2")
							input#radio2(type="radio", name="excess")
							.fake-radio
								span.glyphicon.glyphicon-ok
							span S$ 1,000

				.col-md-2
					.excess
						label.label-radio.label--large(for="radio3")
							input#radio3(type="radio", name="excess")
							.fake-radio
								span.glyphicon.glyphicon-ok
							span S$ 2,000

				.col-md-2
					.excess
						label.label-radio.label--large(for="radio4")
							input#radio4(type="radio", name="excess")
							.fake-radio
								span.glyphicon.glyphicon-ok
							span S$ 3,000

				.col-md-2
					.excess
						label.label-radio.label--large(for="radio5")
							input#radio5(type="radio", name="excess")
							.fake-radio
								span.glyphicon.glyphicon-ok
							span S$ 4,000

				.col-md-2
					.excess
						label.label-radio.label--large(for="radio6")
							input#radio6(type="radio", name="excess")
							.fake-radio
								span.glyphicon.glyphicon-ok
							span S$ 5,000

		.row
			.col-md-12

				button.btn.btn-continue(type="button")
					i.glyphicon.glyphicon-arrow-down
					| Continue