section#quote3.section.section--blue.section--padded.section--centred(data-ng-show="currentStep>=3")

	.container

		img(src="../../images/cover-icon3.png")
		h2.margin--bottom Optional Cover
			img(src="../../images/question-icon.png")
			.subtitle Customise your coverage and save money by adding optional items

		.options.clearfix

			.col-md-4(data-ng-repeat="option in options.optionalCover")
				.option
					.recommended(data-ng-if="recommended")
						img(src="../../images/star-icon.png")
						| recommended
					.panel
						.panel-heading
							h3 {{option.name}}
						.panel-footer
							img.option-icon(data-ng-src="../../images/{{option.name | slugify}}-icon.png")
							strong S$ 
								span {{option.cost}}
							button.btn.btn-default.btn-action(type="button", data-ng-click="selectOption(option)", ng-class="{'active':option.selected, 'done':option.selected}")
								span.btn-action-default Select
								span.btn-action-alt Selected
								i.glyphicon.glyphicon-ok

		.row
			.col-md-12

				button.btn.btn-continue(type="button", data-ng-click="continue()")
					i.glyphicon.glyphicon-arrow-down
					| No Thanks, Continue