section.section.section--padded

	.container

		.row
			.col-md-5
				label.label--large(for="feedback") We'd like to know how you heard about us
				select#feedback(selecter, name="feedback")
					option(selecter, label="Select an option", value="{{option}}", data-ng-repeat="option in feedbackOptions", selecter-target="#feedback", selecter-callback="select", property="feedback", ng-selected="feedback == selectedItem") {{option}}

		.row(style="margin-top:2em;")
			.col-md-12
				button.btn.btn-backward(type="button")
					span.glyphicon.glyphicon-arrow-left
					| Back

				button.btn.btn-forward.btn-lg.pull-right(type="button") Proceed
					span.glyphicon.glyphicon-arrow-right

		.row.margin--top
			.col-md-2.col-md-offset-10
				button.btn.btn-primary.btn-action.btn-block.btn-sm(type="button")
					span.btn-action-default Save for later
					span.btn-action-alt Saved!
					span.glyphicon.glyphicon-ok
				p Your details will be saved for 90 days so you can finish later