<!DOCTYPE html>
<html lang="en" ng-app="DirectAsia">
  <head>
    <title>Quote - Direct Asia Car Insurance</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Front-End templates for Direct Asia Car Insurance">
    <meta name="keywords" content="bootstrap angularJS bootflat">
    <meta name="author" content="Darryl Snow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../lib/bootstrap.css">
    <link rel="stylesheet" href="../../lib/bootflat.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <!--if lt IE 9
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../images/favicon-192x192.png" sizes="192x192">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/mstile-144x144.png">
    <meta name="msapplication-config" content="../../images/browserconfig.xml">
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/angular.js"></script>
    <script src="../../lib/angular-translate.js"></script>
    <script src="../../lib/angular-translate-loader-static-files.js"></script>
    <script src="../../lib/bootstrap.js"></script>
    <script src="../../lib/jquery.fs.selecter.js"></script>
    <script src="../../lib/fsm-sticky-header.js"></script>
    <script src="../../lib/bootstrap-slider.min.js"></script>
    <script src="../../lib/slider.js"></script>
    <script src="../../scripts/main.js"></script>
    <script src="../../scripts/controllers/help/help.controller.js"></script>
    <script src="../../scripts/directives/continue-button.directive.js"></script>
    <script src="../../scripts/directives/full-page-height.directive.js"></script>
    <script src="../../scripts/directives/input-group.directive.js"></script>
    <script src="../../scripts/directives/popover.directive.js"></script>
    <script src="../../scripts/directives/selecter.directive.js"></script>
    <script src="../../scripts/directives/sticky-navbar.directive.js"></script>
    <script src="../../scripts/directives/toggle-buttons.directive.js"></script>
    <script src="../../scripts/directives/tooltip.directive.js"></script>
    <script src="../../scripts/services/AdditionalDriver.factory.js"></script>
    <script src="../../scripts/services/Car.factory.js"></script>
    <script src="../../scripts/services/InsurancePlan.factory.js"></script>
    <script src="../../scripts/services/MainDriver.factory.js"></script>
    <script src="../../scripts/filters/age.filter.js"></script>
    <script src="../../scripts/filters/range.filter.js"></script>
    <script src="../../scripts/filters/slugify.filter.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../../images/direct-asia-logo.png"></a></div>
        <div class="navbar-title">Car Insurance</div>
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a href="#"><span class="glyphicon glyphicon-ok"></span>Your Car &amp; Drivers</a></li>
          <li class="active"><a href="#">Your Quote</a></li>
          <li><span>Purchase</span></li>
        </ol>
        <div class="navbar-telephone pull-right">Need help? Speak with Our Hong Kong Team<span class="navbar-telephone-number">2884 8888</span>Mon - Fri 8am - 8pm | Sat 9am - 6pm</div>
        <script src="../../scripts/controllers/help/help.controller.js"></script>
        <div data-ng-controller="helpCtrl" class="help">
          <button type="button" translate="GS_0_0_2a" data-ng-click="showPopover()" class="btn btn-primary btn-sm help-button">Need Help?</button>
          <div id="popover" data-ng-show="open" class="fake-popover">
            <div class="arrow"></div>
            <form name="helpForm" novalidate data-ng-submit="helpForm.$valid &amp;&amp; sendRequest()" data-ng-show="sent == false">
              <button type="button" data-ng-click="hidePopover()" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
              <p><b translate="PS_3_0_1">Let us call you. Provide your details below and someone from our HK customer care team will get back to you.</b></p>
              <div class="margin--bottom">
                <input type="text" placeholder="Enter Name" name="name" data-ng-model="supportRequest.name" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.name.$invalid &amp;&amp; helpForm.name.$dirty) || (helpForm.name.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="email" placeholder="Enter Email Address" name="email" data-ng-model="supportRequest.email" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.email.$invalid &amp;&amp; helpForm.email.$dirty) || (helpForm.email.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <div class="margin--bottom">
                <input type="tel" placeholder="Enter Phone Number" name="phone" data-ng-model="supportRequest.number" required class="form-control"><img src="../../images/error.png" data-ng-show="(helpForm.phone.$invalid &amp;&amp; helpForm.phone.$dirty) || (helpForm.phone.$invalid &amp;&amp; helpForm.$submitted)">
              </div>
              <button type="submit" translate="PS_3_0_2" class="btn btn-forward margin--bottom">Send Now</button>
            </form>
            <div data-ng-show="sent" class="on-submit margin--bottom">
              <h2><span translate="PS_3_0_3">Message Sent</span>
                <div translate="PS_3_0_4" class="subtitle">Thank you for your message. We will respond to you with 24 hours.</div>
              </h2>
            </div>
            <p><span translate="GS_0_0_2b">Call us on </span>+852 2884 8888<br><span translate="GS_0_0_3">Mon - Fri 8am, Sat 9am - 6pm</span></p>
            <p><span translate="GS_0_0_3a">Email us at </span><a href="" style="display:block;">enquiries@directasia.com.hk</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../scripts/controllers/quote/quote.controller.js"></script>
    <section ng-controller="QuoteCtrl" class="section section-quote">
      <ul role="tablist" data-ng-show="currentStep&gt;1" class="side-pagination">
        <li data-ng-class="{'active':currentStep&gt;=1}"><a href="#quote1" data-toggle="tooltip" data-placement="left" title="Select Car Insurance Plan" class="internal-link"></a></li>
        <li data-ng-class="{'active':currentStep&gt;=2}"><a href="#quote2" data-toggle="tooltip" data-placement="left" title="Add Additional Drivers" class="internal-link"></a></li>
        <li data-ng-class="{'active':currentStep&gt;=3}"><a href="#quote3" data-toggle="tooltip" data-placement="left" title="Customise Optional Coverage" class="internal-link"></a></li>
        <li data-ng-class="{'active':currentStep&gt;=4}"><a href="#quote4" data-toggle="tooltip" data-placement="left" title="Select Policy Excess" class="internal-link"></a></li>
        <li data-ng-class="{'active':currentStep&gt;=5}"><a href="#quote5" data-toggle="tooltip" data-placement="left" title="See Your Car Insurance Summary" class="internal-link"></a></li>
      </ul>
      <div fsm-sticky-header scroll-body="'.section-quote'" scroll-stop="0" data-ng-style="{}" sticky-nav class="navbar-da">
        <div class="container">
          <nav data-ng-class="{'notchosen':currentStep&gt;1}">
            <li data-ng-repeat="cover in options.coverPlans" data-ng-class="{active:cover.name==plan.cover.name}"><a data-ng-click="selectPlan(cover)" data-ng-cloak>
                <div data-ng-if="cover.name=='Comprehensive'" class="recommended"><img src="../../images/star-icon.png"><span translate="PC_4_5_1">recommended</span></div><span data-ng-bind="cover.name" class="navbar-item"></span><span class="navbar-price">S$ <span data-ng-bind="cover.baseCost"></span><span translate="PC_4_1_1_1">/yr</span></span><span class="navbar-smallprint">S$<span data-ng-bind="cover.baseCost / 12"></span><span translate="PC_4_1_1_2">/mo</span></span></a></li>
          </nav>
          <nav data-ng-show="currentStep &gt; 1" data-ng-class="{'chosen':currentStep&gt;1}">
            <li class="active"><a href="#"><span data-ng-cloak class="navbar-item">{{plan.cover.name}}</span><span data-ng-cloak class="navbar-price">S${{plan.cover.baseCost}}<span translate="PC_4_1_1_1">/yr</span></span><span data-ng-cloak class="navbar-smallprint">S${{plan.cover.baseCost / 12}}<span translate="PC_4_1_1_2">/mo</span></span></a></li>
            <li>
              <div class="navbar-info"><span translate="PC_4_3_2_2" class="navbar-item">Additional Drivers</span><span data-ng-cloak class="navbar-price">{{plan.additionalDrivers.length}}</span></div>
            </li>
            <li>
              <div class="navbar-info"><span translate="PC_4_5a" class="navbar-item">Optional Cover</span><span data-ng-cloak class="navbar-price">{{plan.options.length}}</span></div>
            </li>
            <li>
              <div class="navbar-info"><span translate="PC_4_3_5_1" class="navbar-item">Excess Policy</span><span data-ng-cloak class="navbar-price">S${{plan.excess | number: 0}}</span></div>
            </li>
          </nav>
          <div class="save-for-later">
            <button data-ng-click="saveForLater()" translate="PC_4_1_2_1" class="btn btn-primary btn-sm btn-block">Save for Later</button>
            <p translate="PC_4_1_2d">Your details will be saved for 90 days so you can finish later</p>
          </div>
        </div>
      </div>
      <section id="quote1" data-ng-show="currentStep&gt;=1" class="container">
        <h1 translate="PC_4_2a">Choose Your Car Insurance Plan</h1>
        <div class="panel">
          <div class="panel-header">
            <h2><span translate="PC_4_3a">Your Recommended Plan</span><img src="../../images/question-icon.png" style="margin-left:10px;">
              <div translate="PC_4_3b" class="subtitle">Your recommended plan is based on the car and driver details you provide, as well as popular options our customer's enjoy.</div>
            </h2>
          </div>
          <div class="panel-body panel-body--grey">
            <div class="row">
              <div class="col-md-2"><img src="../../images/car-icon3.png"></div>
              <div class="col-md-10 align-left">
                <div class="plan-item">
                  <div class="row">
                    <div class="col-md-1"><strong translate="PC_4_3_1_1">Car</strong></div>
                    <div class="col-md-7"><span data-ng-cloak>{{plan.car.year}} </span><span data-ng-cloak>{{plan.car.make}} </span><span data-ng-cloak>{{plan.car.model}}</span><span data-ng-cloak>{{plan.car.lowmileageoption ? ", Low Mileage" : "" }}</span></div>
                    <div class="col-md-4"><a href="../car/car.html" title="Edit car details" translate="PC_4_3_1_2" class="btn btn-default btn-sm">Edit</a></div>
                  </div>
                </div>
                <div class="plan-item">
                  <div class="row">
                    <div class="col-md-1"><strong translate="PC_4_3_1_3">Driver</strong></div>
                    <div class="col-md-7"><span data-ng-cloak>{{plan.mainDriver.gender}}, </span><span data-ng-cloak>{{plan.mainDriver.age}}</span><span translate="PC_4_3_1_3a"> years old, </span><span data-ng-cloak> {{plan.mainDriver.noClaimsDiscount}} NCD, </span>
                      <ng-pluralize data-ng-cloak count="plan.mainDriver.accidents.atFault" when="{'0':'0 at fault claims', '1': '1 at fault claim', 'other': '{} at fault claims'}"></ng-pluralize>
                    </div>
                    <div class="col-md-4"><a href="../about-your-driver/your-driver.html" title="Edit driver information" translate="PC_4_3_1_4" class="btn btn-default btn-sm">Edit</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-10">
                <h2><span data-ng-bind="plan.cover.name"></span><img src="../../images/down-arrow.png"></h2>
                <div data-ng-if="recommendedPlan.options.length != 0">
                  <h3 translate="PC_4_3_1_5">Recommended Optional Cover</h3>
                  <div class="row">
                    <div data-ng-repeat="option in recommendedPlan.options | limitTo:3" class="col-md-4">
                      <div class="benefit"><img data-ng-src="../../images/{{option.name | slugify}}-icon.png" class="benefit-icon">
                        <div class="benefit-details">
                          <h4><a data-ng-click="showDescription=!showDescription" data-ng-cloak class="clearfix"><span>{{option.name}}</span><img src="../../images/down-arrow.png" data-ng-show="!showDescription"><img src="../../images/up-arrow.png" data-ng-show="showDescription"></a></h4>
                          <p data-ng-show="showDescription" data-ng-cloak>{{option.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 align-right">
                <h2>S$<span data-ng-bind="plan.cover.baseCost"></span><span translate="PC_4_1_1_1">/yr</span>
                  <div class="subtitle">S$<span data-ng-bind="plan.cover.baseCost / 12"></span><span translate="PC_4_1_1_2">/mo</span></div>
                </h2>
                <h2 style="margin-top:10px;">S$<span data-ng-bind="recommendedPlan.totalCost - recommendedPlan.cover.baseCost"></span><span translate="PC_4_1_1_1">/yr</span>
                  <div class="subtitle">S$<span data-ng-bind="(recommendedPlan.totalCost - recommendedPlan.cover.baseCost) / 12"></span><span translate="PC_4_1_1_2">/mo</span></div>
                  <div class="subtitle highlight">(10% <span translte="PC_4_3_1_6">off</span>)</div>
                </h2>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-6"><a data-ng-click="selectPlanAndModify()" href="#quote2" title="" class="btn btn-default btn-lg btn-block btn-select-plan internal-link"><span translate="PC_4_3_6_2">Select Plan &amp; Modify</span><i class="glyphicon glyphicon-ok"></i></a><a data-ng-click="continue(2)" href="#quote2" title="" class="btn btn-white btn-lg btn-block internal-link"><span translate="PC_4_3_6_3">or Build Plan Starting at </span>S$<span data-ng-bind="plan.cover.baseCost"></span><i class="glyphicon glyphicon-ok"></i></a></div>
              <div class="col-md-6 align-right">
                <div class="plan-total"><span translate="PC_4_3_6_1">Total</span> S$<span data-ng-bind="recommendedPlan.totalCost"></span><span translate="PC_4_1_1_1">/yr</span>
                  <div class="subtitle">S$<span data-ng-bind="recommendedPlan.totalCost / 12"></span><span translate="PC_4_1_1_2">/mo</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="quote2" data-ng-show="currentStep&gt;=2" full-page-height class="section section--blue section--padded section--centred margin--top">
        <div class="container margin--top"><img src="../../images/cover-icon.png">
          <div data-ng-show="!plan.mainDriver.additionalDrivers" style="margin-bottom:30px;" class="row">
            <div class="col-md-6 col-md-offset-3">
              <h2 translate="PS_4_4a" class="margin--bottom">You indicated that you don't want to cover additional drivers?</h2><a translate="PS_4_4b" href="#quote3" title="" data-ng-click="continue(3)" class="btn btn-default--inverse margin--bottom btn--spaced internal-link">Yes, continue</a>
              <button translate="PS_4_4c" data-ng-click="plan.mainDriver.additionalDrivers = true" class="btn btn-default--inverse margin--bottom btn--spaced">No, add drivers</button>
            </div>
          </div>
          <div data-ng-show="plan.mainDriver.additionalDrivers" style="margin-bottom:30px;">
            <h2 translate="PS_4_4d">Tell us about your additional drivers</h2>
            <div class="additional-drivers">
              <div data-ng-repeat="driver in additionalDrivers" data-ng-class="{'active':driver.editing}" class="additional-driver">
                <div class="additional-driver-content"><img src="../../images/driver-icon3.png" data-ng-if="driver.added"><img src="../../images/driver-icon2.png" data-ng-if="!driver.added">
                  <h4 data-ng-cloak>{{driver.firstName}} {{driver.lastName}}</h4>
                  <p data-ng-cloak data-ng-if="driver.gender &amp;&amp; driver.drivingExperience &amp;&amp; driver.dob.year &amp;&amp; driver.dob.month &amp;&amp; driver.dob.day">{{driver.dob.year + "-" + driver.dob.month + "-" + driver.dob.day | age}} <span translate="PS_4_4g">yrs old </span><span> {{driver.gender}} </span><span translate="PS_4_4h">with</span><span> {{driver.drivingExperience}}</span>
                    <ng-pluralize count="driver.drivingExperience" when="{'1': 'yr', 'other': 'yrs'}"></ng-pluralize><span translate="PS_4_4i"> of driving experience</span>
                  </p>
                  <button type="button" data-ng-click="editAdditionalDriver(driver)" data-ng-show="!driver.editing" translate="PS_4_4j" data-ng-if="driver.added" class="btn btn-default margin--right">Edit</button>
                  <button type="button" data-ng-click="removeAdditionalDriver(driver, $index)" data-ng-if="driver.added" class="btn btn-sm btn-danger btn-remove"><span translate="PS_4_4k">Remove</span><i class="glyphicon glyphicon-remove"></i></button>
                  <button translate="PS_4_4f" data-ng-click="showNewDriverForm(driver)" data-ng-show="!driver.editing" data-ng-if="!driver.added" class="btn btn-default">Add</button>
                </div>
                <div data-ng-show="driver.editing" data-ng-class="{'panel-editdriver-1': $index == 0 || $index == 2, 'panel-editdriver-2': $index == 1 || $index == 3}" class="panel panel-editdriver align-left">
                  <div class="panel-body"><i data-ng-click="driver.editing = false" class="glyphicon glyphicon-remove panel-close-button"></i>
                    <form name="editDriverForm" novalidate data-ng-submit="editDriverForm.$valid &amp;&amp; saveChangesToDriver(driver)">
                      <div class="row">
                        <div class="col-md-6 margin--top margin--bottom">
                          <label for="editDriverFirstName" translate="PC_4_4_1_1a" class="label--large">First Name</label>
                          <input id="editDriverFirstName" name="editDriverFirstName" type="text" placeholder="enter first name" data-ng-model="driver.firstName" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" required class="form-control"><img src="../../images/error.png" data-ng-show="(editDriverForm.editDriverFirstName.$invalid &amp;&amp; editDriverForm.editDriverFirstName.$dirty) || (editDriverForm.editDriverFirstName.$invalid &amp;&amp; editDriverForm.$submitted)">
                        </div>
                        <div class="col-md-6 margin--top margin--bottom">
                          <label for="editDriverLastName" translate="PC_4_4_1_1b" class="label--large">Last Name</label>
                          <input id="editDriverLastName" name="editDriverLastName" type="text" placeholder="enter last name" data-ng-model="driver.lastName" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" required class="form-control"><img src="../../images/error.png" data-ng-show="(editDriverForm.editDriverLastName.$invalid &amp;&amp; editDriverForm.editDriverLastName.$dirty) || (editDriverForm.editDriverLastName.$invalid &amp;&amp; editDriverForm.$submitted)">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 margin--top margin--bottom">
                          <label for="editDriverDOBDay" translate="PC_4_4_1_1c" class="label--large">Date of Birth</label>
                          <div class="form-inline">
                            <input id="editDriverDOBDay" min="1" max="31" name="editDriverDOBDay" placeholder="DD" type="number" data-ng-model="driver.dob.day" required class="day">
                            <input id="editDriverDOBMonth" min="1" max="12" name="editDriverDOBMonth" placeholder="MM" type="number" data-ng-model="driver.dob.month" required class="month">
                            <input id="editDriverDOBYear" min="1900" max="2015" name="editDriverDOBYear" placeholder="YYYY" type="number" data-ng-model="driver.dob.year" required class="year"><img src="../../images/error.png" data-ng-show="((editDriverForm.editDriverDOBDay.$invalid &amp;&amp; editDriverForm.editDriverDOBDay.$dirty) || (editDriverForm.editDriverDOBDay.$invalid &amp;&amp; editDriverForm.$submitted)) || ((editDriverForm.editDriverDOBMonth.$invalid &amp;&amp; editDriverForm.editDriverDOBMonth.$dirty) || (editDriverForm.editDriverDOBMonth.$invalid &amp;&amp; editDriverForm.$submitted)) || ((editDriverForm.editDriverDOBYear.$invalid &amp;&amp; editDriverForm.editDriverDOBYear.$dirty) || (editDriverForm.editDriverDOBYear.$invalid &amp;&amp; editDriverForm.$submitted))">
                          </div>
                        </div>
                        <div class="col-md-6 margin--top margin--bottom">
                          <label translate="PC_4_4_1_1d" class="label--large">Gender</label>
                          <button type="button" ng-click="driver.gender='Male'" ng-class="{'active':driver.gender=='Male'}" class="btn btn-default random-margin margin--bottom"><span translate="PC_4_4_1_1d_1">Male</span><span class="glyphicon glyphicon-ok"></span></button>
                          <button type="button" ng-click="driver.gender='Female'" ng-class="{'active':driver.gender=='Female'}" class="btn btn-default margin--bottom"><span translate="PC_4_4_1_1d_2">Female</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="!driver.gender &amp;&amp; editDriverForm.$submitted">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 margin--top margin--bottom">
                          <label translate="PC_4_4_1_1e" class="label--large">Marital Status</label>
                          <button type="button" ng-click="driver.maritalStatus = 'single'" ng-class="{'active':driver.maritalStatus=='single'}" class="btn btn-default random-margin margin--bottom">Single<span class="glyphicon glyphicon-ok"></span></button>
                          <button type="button" ng-click="driver.maritalStatus = 'married'" ng-class="{'active':driver.maritalStatus=='married'}" class="btn btn-default margin--bottom">Married<span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="!driver.maritalStatus &amp;&amp; editDriverForm.$submitted">
                        </div>
                        <div class="col-md-6 margin--top margin--bottom">
                          <label for="editDriverOccupation" translate="PC_4_4_1_1f" class="label--large">Occupation</label>
                          <input id="editDriverOccupation" name="editDriverOccupation" type="text" placeholder="enter occupation" data-ng-model="driver.occupation" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" required class="form-control"><img src="../../images/error.png" data-ng-show="(editDriverForm.editDriverOccupation.$invalid &amp;&amp; editDriverForm.editDriverOccupation.$dirty) || (editDriverForm.editDriverOccupation.$invalid &amp;&amp; editDriverForm.$submitted)">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-7 margin--top margin--bottom">
                          <label for="editDriver-experience" translate="PC_4_4_1_2a" class="label--large">Years of valid driving</label>
                          <div class="row">
                            <div class="col-md-9">
                              <p translate="PC_4_4_1_2b">We are unable to insure drivers who've had their license suspended or cancelled in the last 5 years.</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <select id="editDriver{{$index}}-experience" name="editDriver-experience" data-ng-model="driver.drivingExperience" required>
                                <option selecter label="Select number of years" value="{{y}}" data-ng-repeat="y in [] | range:100" selecter-target="#editDriver{{$parent.$index}}-experience" selecter-callback="select" property="additionalDrivers[{{$parent.$index}}].drivingExperience" ng-selected="additionalDrivers[{{$parent.$index}}].drivingExperience == y">{{y}}</option>
                              </select><img src="../../images/error.png" data-ng-show="!driver.drivingExperience &amp;&amp; editDriverForm.$submitted">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-7 margin--top margin--bottom">
                          <label class="label--large"><span translate="PC_4_4_1_3a">Did the main driver have any driving offence points in the last 2 years?</span><img src="../../images/question-icon.png"></label>
                          <p translate="PC_4_4_1_3b">If you're unsure, <a href="" title="">click here</a> to get this information. Please note that drivers must have less than 12 offence points.</p>
                          <div class="row">
                            <div class="col-md-12">
                              <button type="button" ng-click="driver.offences = true" ng-class="{'active':driver.offences}" class="btn btn-default random-margin"><span translate="PC_4_4_1_3c">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
                              <button type="button" ng-click="driver.offences = false" ng-class="{'active':driver.offences==false}" class="btn btn-default"><span translate="PC_4_4_1_3d">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="!driver.offences &amp;&amp; editDriverForm.$submitted &amp;&amp; driver.offences != 0">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 margin--top margin--bottom">
                          <label for="newDriverClaimsAtFault" class="label--large"><span translate="PC_4_4_1_4a">In the past 3 years (36 months), how many accidents and/or claims were made?</span><img src="../../images/question-icon.png"></label>
                          <p translate="PC_4_4_1_4b">Please include all accidents, but you can exclude windscreen claims.</p>
                          <div class="row">
                            <div class="col-md-5">
                              <input id="editDriverClaimsAtFault" min="0" name="editDriverClaimsAtFault" placeholder="0" type="number" data-ng-model="driver.accidents.atFault" required class="claim"><span translate="PC_4_4_1_4c">at fault</span><img src="../../images/error.png" data-ng-show="(editDriverForm.editDriverClaimsAtFault.$invalid &amp;&amp; editDriverForm.editDriverClaimsAtFault.$dirty) || (editDriverForm.editDriverClaimsAtFault.$invalid &amp;&amp; editDriverForm.$submitted)">
                            </div>
                            <div class="col-md-5">
                              <input id="editDriverClaimsNotAtFault" min="0" name="editDriverClaimsNotAtFault" placeholder="0" type="number" data-ng-model="driver.accidents.notAtFault" required class="claim"><span translate="PC_4_4_1_4d">not at fault</span><img src="../../images/error.png" data-ng-show="(editDriverForm.editDriverClaimsNotAtFault.$invalid &amp;&amp; editDriverForm.editDriverClaimsNotAtFault.$dirty) || (editDriverForm.editDriverClaimsNotAtFault.$invalid &amp;&amp; editDriverForm.$submitted)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 margin--top margin--top">
                          <button type="submit" class="btn btn-forward btn-lg"><span translate="PS_4_4l">Save</span><span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 margin--top margin--top">
                          <button type="button" data-ng-click="removeAdditionalDriver(driver, $index)" data-ng-show="driver.added" class="btn btn-sm btn-danger"><span translate="PS_4_4m">Remove this driver</span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><a href="#quote3" title="" data-ng-click="continue(3)" style="margin-top:30px;" class="btn btn-continue internal-link"><i class="glyphicon glyphicon-arrow-down"></i><span translate="PC_4_4_4">Continue</span></a></div>
            </div>
          </div>
        </div>
      </section>
      <section id="quote3" data-ng-show="currentStep&gt;=3" full-page-height class="section section--blue section--padded section--centred">
        <div class="container"><img src="../../images/policy-icon.png">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h2 class="margin--bottom"><span translate="PC_4_6a">Policy Excess</span>
                <div translate="PC_4_6b" class="subtitle">Policy excess is the amount that you'll pay out of your own pocket if you have a claim. If you choose a higher excess, you will have a lower the premium.</div>
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h3 class="recommended-excess"><span translate="PC_4_6c">Recommended Excess:</span></h3>
              <p translate="PC_4_6d">or Choose your excess</p>
            </div>
          </div>
          <div style="margin-bottom:90px;" class="row">
            <div class="col-md-4 col-md-offset-4">
              <div class="excess-selecter">
                <select id="excess" name="excess">
                  <option selecter label="S${{recommendedPlan.excess | number: 0}}" value="{{excess | number:0}}" data-ng-repeat="excess in options.excesses" selecter-target="#excess" selecter-callback="select" property="plan.excess" ng-selected="plan.excess === selectedItem">S${{excess | number: 0}}</option>
                </select>
              </div>
            </div>
          </div>
          <div style="margin-bottom:30px;" class="row margin--top">
            <div class="col-md-12"><a href="#quote4" title="" data-ng-click="continue(4)" class="btn btn-continue internal-link"><i class="glyphicon glyphicon-arrow-down"></i><span translate="PC_4_4_4">Continue</span></a></div>
          </div>
        </div>
      </section>
      <section id="quote4" data-ng-show="currentStep&gt;=4" full-page-height class="section section--blue section--padded section--centred">
        <div class="container"><img src="../../images/cover-icon3.png">
          <h2 class="margin--bottom"><span translate="PC_4_5a">Optional Cover</span><img src="../../images/question-icon.png">
            <div translate="PC_4_5b" class="subtitle">Customise your coverage and save money by adding optional items</div>
          </h2>
          <div class="options clearfix">
            <div data-ng-repeat="option in options.optionalCover" data-ng-class="{'selected': option.selected, 'editing':option.editing, 'details':option.details}" class="option">
              <div class="option-content">
                <div data-ng-if="option.recommended" class="recommended"><img src="../../images/star-icon.png"><span translate="PC_4_5_1">recommended</span></div>
                <div class="panel">
                  <div data-ng-click="option.details=!option.details; option.editing=false" class="panel-heading">
                    <h3>{{option.name}}</h3><img src="../../images/down-arrow.png" data-ng-show="!option.details" class="option-details-icon"><img src="../../images/up-arrow.png" data-ng-show="option.details" class="option-details-icon">
                  </div>
                  <div class="panel-footer"><img data-ng-src="../../images/{{option.name | slugify}}-icon.png" class="option-icon"><strong data-ng-show="!option.selected">S$ <span>{{option.cost}}</span></strong><strong data-ng-show="option.selected" translate="PC_4_5_1a" style="font-size:18px;">Included</strong>
                    <div class="buttons">
                      <button type="button" data-ng-click="editOption(option); option.editing=!option.editing;" data-ng-class="{'active': option.editing}" data-ng-show="option.editable &amp;&amp; !option.selected" translate="PC_4_5d" class="btn btn-default">Edit</button>
                      <button type="button" data-ng-click="selectOption(option)" data-ng-show="!option.selected" translate="PC_4_5c" class="btn btn-default">Select</button>
                    </div>
                    <div data-ng-show="option.selected" data-ng-click="selectOption(option)" style="cursor:pointer;" class="icon"><i class="glyphicon glyphicon-ok-sign"></i></div>
                  </div>
                </div>
              </div>
              <div data-ng-show="option.editing" data-ng-class="{'panel-editoption-1': (($index % 3 == 1) &amp;&amp; ($parent.options.optionalCover.length &gt;= ($index + 2))) || (($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length == ($index + 1))),'panel-editoption-2': ($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length == $index + 2),'panel-editoption-3': ($index % 3 == 1) &amp;&amp; ($parent.options.optionalCover.length == ($index + 1)),'panel-editoption-4': ($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length &gt;= ($index + 3)),'panel-editoption-5': $index % 3 == 2}" class="panel panel-editoption option-edit align-left">
                <div class="panel-body">
                  <h4>Select the modifications done on your car.</h4>
                  <p>Please note that these need to be <span class="highlight">LTA compliant.</span></p>
                  <label for="checkbox1" class="label-checkbox">
                    <input id="checkbox1" type="checkbox" data-ng-model="plan.car.modifications.bodykit">
                    <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Body Kit</span>
                  </label>
                  <label for="checkbox2" class="label-checkbox">
                    <input id="checkbox2" type="checkbox" data-ng-model="plan.car.modifications.rimstires">
                    <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Rims / Tires</span>
                  </label>
                  <label for="checkbox3" class="label-checkbox">
                    <input id="checkbox3" type="checkbox" data-ng-model="plan.car.modifications.suspensionstabiliser">
                    <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Suspension / Stabiliser System</span>
                  </label>
                  <label for="checkbox4" class="label-checkbox">
                    <input id="checkbox4" type="checkbox" data-ng-model="plan.car.modifications.airintakeexhaust">
                    <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Air Intake / Exhaust System</span>
                  </label>
                </div>
                <div class="panel-footer">
                  <p>Further details and description of what this optional cover is.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nibh nisi, varius vitae mi vitae, porttitor sagittis tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ac massa vitae justo lobortis placerat at vel dolor.</p>
                </div>
              </div>
              <div data-ng-show="option.details" data-ng-class="{'panel-editoption-1': (($index % 3 == 1) &amp;&amp; ($parent.options.optionalCover.length &gt;= ($index + 2))) || (($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length == ($index + 1))),'panel-editoption-2': ($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length == $index + 2),'panel-editoption-3': ($index % 3 == 1) &amp;&amp; ($parent.options.optionalCover.length == ($index + 1)),'panel-editoption-4': ($index % 3 == 0) &amp;&amp; ($parent.options.optionalCover.length &gt;= ($index + 3)),'panel-editoption-5': $index % 3 == 2}" class="panel panel-option-details option-edit align-left">
                <div class="panel-footer">
                  <p>Further details and description of what this optional cover is.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nibh nisi, varius vitae mi vitae, porttitor sagittis tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ac massa vitae justo lobortis placerat at vel dolor.</p><a href="" title="">Optional link to more info.</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><a href="#quote5" title="" data-ng-click="continue(5)" class="btn btn-continue internal-link"><i class="glyphicon glyphicon-arrow-down"></i><span translate="PC_4_5_2">No Thanks, Continue</span></a></div>
          </div>
        </div>
      </section>
      <section id="quote5" data-ng-show="currentStep&gt;=5" class="section section--padded">
        <div class="container">
          <div class="panel panel-nopadding">
            <div class="panel-body">
              <table class="table table-plain">
                <tr>
                  <td colspan="3" class="blue">
                    <h2 translate="PS_4_8a" class="pull-left margin--bottom">Your Car Insurance Summary</h2>
                    <div data-ng-show="comparing" class="price-summary clearfix pull-right">
                      <div style="height:29px;"></div>
                      <h2 data-ng-cloak class="align-right"><span translate="PC_4_8a_1">Total </span>S${{plan.totalCost}}<span translate="PC_4_8_1_2_2">/yr</span>
                        <div class="subtitle align-right">S${{plan.totalCost / 12}}<span translate="PC_4_8_3_4">/mo</span></div>
                        <div class="subtitle subtitle-secondary align-right"><span translate="PC_4_8a_2">Savings</span>S$167<span translate="PC_4_8_1_2_2">/yr</span></div>
                      </h2>
                      <label class="label-checkbox">
                        <input id="selectCurrent" type="checkbox">
                        <div class="fake-checkbox"><i class="glyphicon glyphicon-ok"></i></div>
                      </label>
                    </div>
                  </td>
                  <td colspan="2" data-ng-class="{'blue': !comparing, 'dark-grey': comparing, 'shadow': comparing}">
                    <div data-ng-show="!comparing" class="price-summary clearfix">
                      <h2 data-ng-cloak class="align-right"><span translate="PC_4_8a_1">Total </span>S${{plan.totalCost}}<span translate="PC_4_8_1_2_2">/yr</span>
                        <div class="subtitle align-right">S${{plan.totalCost / 12}}<span translate="PC_4_8_3_4">/mo</span></div>
                        <div class="subtitle subtitle-secondary align-right"><span translate="PC_4_8a_2">Savings</span>S$167<span translate="PC_4_8_1_2_2">/yr</span></div>
                      </h2>
                    </div>
                    <div data-ng-show="comparing">
                      <button type="button" data-ng-click="comparing=!comparing" style="font-size:1.25em;" class="btn btn-plain btn-medium btn-block"><span translate="PC_4_8_3_1">Compare Recommended Plan</span><img src="../../images/down-arrow.png"></button>
                      <h2 data-ng-cloak><span translate="PC_4_8_3_2">Total </span>S${{recommendedPlan.totalCost}}<span translate="PC_4_8_3_3">/yr</span>
                        <div class="subtitle">S${{recommendedPlan.totalCost / 12}}<span translate="PC_4_8_3_4">/mo</span></div>
                        <div class="subtitle subtitle-secondary"><span translate="PC_4_8_3_5">Savings</span>S$167<span translate="PC_4_8_3_3">/yr</span></div>
                      </h2>
                      <button type="button" data-ng-click="useRecommendedPlan()" translate="PC_4_8_3_6" data-ng-show="!selectRecommendedPlan" class="btn btn-primary btn-sm pull-right">Select Plan</button>
                      <button type="button" data-ng-click="revertToPreviousPlan()" translate="PC_4_8_3_6_1" data-ng-show="selectRecommendedPlan" class="btn btn-primary btn-sm pull-right">Back to Previous Plan</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images/car-icon2.png"></td>
                  <td><strong translate="PC_4_8_1_1a">Car</strong></td>
                  <td><span data-ng-cloak>{{plan.car.year}} </span><span data-ng-cloak>{{plan.car.make}} </span><span data-ng-cloak>{{plan.car.model}}</span><span data-ng-cloak>{{plan.car.lowmileageoption ? ", Low Mileage" : "" }}</span>
                    <div data-ng-hide="!fulldetails"><span data-ng-if="plan.car.modifications.bodykit || plan.car.modifications.rimstires || plan.car.modifications.airintakeexhaust || plan.car.modifications.suspensionstabiliser">Modifications:</span>
                      <ul data-ng-if="plan.car.modifications.bodykit || plan.car.modifications.rimstires || plan.car.modifications.airintakeexhaust || plan.car.modifications.suspensionstabiliser">
                        <li data-ng-cloak data-ng-if="plan.car.modifications.bodykit">Body Kit</li>
                        <li data-ng-cloak data-ng-if="plan.car.modifications.rimstires">Rims/Tires</li>
                        <li data-ng-cloak data-ng-if="plan.car.modifications.airintakeexhaust">Air Intake/Exhaust</li>
                        <li data-ng-cloak data-ng-if="plan.car.modifications.suspensionstabiliser">Suspension Stabiliser</li>
                      </ul><span data-ng-if="plan.car.financed">Financed </span><span data-ng-cloak>{{plan.car.ownership == "private" ? "Privately Owned " : "" }}</span><span data-ng-cloak>{{plan.car.lowmileageoption ? "Low Mileage " : "" }}</span>
                    </div>
                  </td>
                  <td data-ng-class="{'light-grey':comparing, 'shadow': comparing}"><a href="../car/car.html" title="Edit car details" translate="PC_4_8_1_1b" data-ng-show="!comparing" class="btn btn-default">Edit</a><strong translate="PC_4_8_1_1a" data-ng-show="comparing">Car</strong></td>
                  <td data-ng-class="{'light-grey':comparing}" class="align-right">
                    <div data-ng-show="!comparing">S$45<span translate="PC_4_8_1_2_2">/yr</span></div>
                    <div data-ng-show="comparing">Loss of use</div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images/driver-icon.png"></td>
                  <td><strong translate="PC_4_8_1_2">Driver</strong></td>
                  <td><span data-ng-cloak>{{plan.mainDriver.gender}}, <span data-ng-cloak>{{plan.mainDriver.age}} years old, </span><span data-ng-cloak>{{plan.mainDriver.noClaimsDiscount}} NCD, </span>
                      <p data-ng-hide="!fulldetails">
                        <ng-pluralize data-ng-cloak count="plan.mainDriver.accidents.atFault" when="{'0':'0 at fault claims', '1': '1 at fault claim', 'other': '{} at fault claims'}"></ng-pluralize>
                      </p>
                      <p data-ng-hide="!fulldetails"><span data-ng-cloak>{{plan.mainDriver.occupation}} </span>
                        <ng-pluralize data-ng-cloak count="plan.mainDriver.drivingExperience" when="{'0':'0 years', '1': '1 year', 'other': '{} years'}"></ng-pluralize>
                      </p></span></td>
                  <td data-ng-class="{'light-grey':comparing, 'shadow': comparing}"><a href="../about-your-driver/your-driver.html" title="Edit driver information" translate="PC_4_8_1_2_1" data-ng-show="!comparing" class="btn btn-default">Edit</a><strong translate="PC_4_8_1_2" data-ng-show="comparing">Driver</strong></td>
                  <td data-ng-class="{'light-grey':comparing}" class="align-right">
                    <div data-ng-show="!comparing">S$45<span translate="PC_4_8_1_2_2">/yr</span></div>
                    <div data-ng-show="comparing">Loss of use</div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images/policy-icon2.png"></td>
                  <td><strong translate="PC_4_8_1_3_1">Cover Type</strong></td>
                  <td><span data-ng-cloak>{{plan.cover.name}} </span><span data-ng-cloak data-ng-show="plan.excess">, {{plan.excess}}</span><span translate="PC_4_8_1_3_2">policy excess</span></td>
                  <td data-ng-class="{'light-grey':comparing, 'shadow': comparing}"><a href="" title="" translate="PC_4_8_1_3_3" data-ng-show="!comparing" class="btn btn-default">Edit</a><strong translate="PC_4_8_1_1a" data-ng-show="comparing">Car</strong></td>
                  <td data-ng-class="{'light-grey':comparing}" class="align-right">
                    <div data-ng-show="!comparing">S$<span data-ng-cloak>{{plan.cover.baseCost}}</span><span translate="PC_4_8_1_3_4">/yr</span></div>
                    <div data-ng-show="comparing">Loss of use</div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images/cover-icon2.png"></td>
                  <td><strong translate="PC_4_3_2_2">Additional Drivers</strong></td>
                  <td>
                    <ul>
                      <li data-ng-repeat="option in plan.options" data-ng-cloak>{{option.name}}<small data-ng-hide="!fulldetails" data-ng-cloak>{{option.description}}</small></li>
                    </ul>
                  </td>
                  <td data-ng-class="{'light-grey':comparing, 'shadow': comparing}"><a href="" title="" translate="PC_4_8_1_3_3" data-ng-show="!comparing" class="btn btn-default">Edit</a><strong translate="PC_4_3_2_2" data-ng-show="comparing">Additional Drivers</strong></td>
                  <td data-ng-class="{'light-grey':comparing}" class="align-right">
                    <div data-ng-show="!comparing">S$45<span translate="PC_4_8_1_2_2">/yr</span></div>
                    <div data-ng-show="comparing">Loss of use</div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images/cover-icon2.png"></td>
                  <td><strong translate="PC_4_3_2_3">Optional Benefits</strong></td>
                  <td>
                    <ul>
                      <li data-ng-repeat="option in plan.options" data-ng-cloak>{{option.name}}<small data-ng-hide="!fulldetails" data-ng-cloak>{{option.description}}</small></li>
                    </ul>
                  </td>
                  <td data-ng-class="{'light-grey':comparing, 'shadow': comparing}"><a href="" title="" translate="PC_4_8_1_3_3" data-ng-show="!comparing" class="btn btn-default">Edit</a><strong translate="PC_4_3_2_3" data-ng-show="comparing">Optional Benefits</strong></td>
                  <td data-ng-class="{'light-grey':comparing}" class="align-right">
                    <div data-ng-show="!comparing">S$<span data-ng-cloak>{{calculateOptionsCost(plan)}}</span><span translate="PC_4_8_1_5_3"> /yr</span>
                      <div><span class="strikethrough">S$261</span><span translate="PC_4_8_1_5_3"> /yr</span><span class="highlight"> (10% </span><span translate="PC_4_8_1_5_4">discount</span>)</div>
                    </div>
                    <div data-ng-show="comparing">Loss of use</div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images/cover-icon2.png"></td>
                  <td><strong translate="PC_4_3_5">Policy Excess</strong></td>
                  <td>
                    <ul>
                      <li data-ng-repeat="option in plan.options" data-ng-cloak>{{option.name}}<small data-ng-hide="!fulldetails" data-ng-cloak>{{option.description}}</small></li>
                    </ul>
                  </td>
                  <td data-ng-class="{'light-grey':comparing, 'shadow': comparing}"><a href="" title="" translate="PC_4_8_1_3_3" data-ng-show="!comparing" class="btn btn-default">Edit</a><strong translate="PC_4_3_5" data-ng-show="comparing">Policy Excess</strong></td>
                  <td data-ng-class="{'light-grey':comparing}" class="align-right">
                    <div data-ng-show="!comparing">S$<span data-ng-cloak>{{plan.excess || 0}}</span><span translate="PC_4_8_1_3_4"> /yr</span></div>
                    <div data-ng-show="comparing">Loss of use</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" class="light-grey">
                    <button type="button" data-ng-click="fulldetails=!fulldetails" class="btn btn-plain btn-large btn-block"><span data-ng-hide="fulldetails" translate="PC_4_8_2_1">Review Full Details</span><img src="../../images/down-arrow.png" data-ng-hide="fulldetails"><span data-ng-hide="!fulldetails" translate="PC_4_8_2_2">See Summary</span><img src="../../images/up-arrow.png" data-ng-hide="!fulldetails"></button>
                  </td>
                  <td colspan="2" data-ng-class="{'shadow': comparing}" class="light-grey">
                    <button type="button" data-ng-click="comparing=!comparing" data-ng-show="!comparing" class="btn btn-plain btn-large btn-block">Compare Recommended Plan<img src="../../images/down-arrow.png"></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section data-ng-show="currentStep&gt;=5" class="section section--padded">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <label for="feedback" translate="PC_4_9a" class="label--large">We'd like to know how you heard about us</label>
              <select id="feedback" selecter name="feedback">
                <option selecter label="Select an option" value="{{option}}" data-ng-repeat="option in options.feedback" selecter-target="#feedback" selecter-callback="select" property="feedback" ng-selected="feedback == selectedItem">{{option}}</option>
              </select>
            </div>
          </div>
          <div style="margin-top:2em;" class="row">
            <div class="col-md-12"><a href="" title="" class="btn btn-backward margin--bottom"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PC_4_10_1">Back</span></a>
              <button type="button" continue url="http://localhost:9000/plans" page-data="{{plan}}" next-page="http://localhost:9000/pages/your-policy/your-policy.html" class="btn btn-forward btn-lg pull-right"><span translate="PC_4_10_2">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
          </div>
          <div class="row margin--top">
            <div class="col-md-3 col-md-offset-9">
              <button type="button" data-ng-click="saveForLater()" class="btn btn-primary btn-action btn-block btn-sm"><span translate="PC_4_10_3" class="btn-action-default">Save for later</span><span translate="PC_4_10_4" class="btn-action-alt">Saved!</span><span class="glyphicon glyphicon-ok"></span></button>
              <p translate="PC_4_10_8">Your details will be saved for 90 days so you can finish later</p>
            </div>
          </div>
        </div>
      </section>
      <script>
        $(".internal-link").on("click", function(e) {
        	e.preventDefault();
        	setTimeout(function() {
        		$("html, body").animate({scrollTop: $($(e.target).attr("href")).offset().top - 100});
        	}, 400);
        });
        $('[data-toggle="tooltip"]').tooltip();
      </script>
    </section>
    <footer class="page-footer">
      <div class="container">
        <button ng-click="switchLanguage('zh_CN')" data-ng-show="currentLanguage=='en_GB'" class="btn btn-sm btn-icon btn-icon--chinese pull-right">Chinese</button>
        <button ng-click="switchLanguage('en_GB')" data-ng-show="currentLanguage=='zh_CN'" class="btn btn-sm btn-icon btn-icon--english pull-right">English</button>
      </div>
    </footer>
    <script>
      //- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      //- loadCSS("styles/main.css");
      
      //- var _gaq = _gaq || [];
      //- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
      //- _gaq.push(["_trackPageview"]);
      
      //- (function() {
      //- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      //- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      //- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();
      
    </script>
  </body>
</html>