<!DOCTYPE html>
<html lang="en" ng-app="DirectAsia">
  <head>
    <title>Direct Asia Car Insurance - STYLEGUIDE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Front-End templates for Direct Asia Car Insurance">
    <meta name="keywords" content="bootstrap angularJS bootflat">
    <meta name="author" content="Darryl Snow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../lib/bootstrap.css">
    <link rel="stylesheet" href="../lib/bootflat.css">
    <link rel="stylesheet" href="../styles/main.css">
    <style>
      .colour {
      	border-radius: 	0.25em;
      	height: 		3em;
      	margin-bottom: 	1em;
      }
      
      .colour--yellow {
      	background: 	#fcd900;
      }
      
      .colour--blue {
      	background: 	#25a8e0;
      }
      
      .colour--green {
      	background: 	#75bb49;
      }
      
      .colour--red {
      	background: 	#d52b1e;
      }
      
      .colour--black {
      	background: 	#000000;
      }
      
      .colour--dark-grey-1 {
      	background:		#252525;
      }
      
      .colour--dark-grey-2 {
      	background:		#333333;
      }
      
      .colour--medium-grey {
      	background:		#707070;
      }
      
      .colour--light-grey-1 {
      	background:		#e5e5e5;
      }
      
      .colour--light-grey-2 {
      	background:		#f2f2f2;
      }
      
      .colour-name,
      .colour-code {
      	display: 		block;
      	font-family: 	Consolas, Menlo;
      	text-transform:	uppercase;
      }
      
      .colour-code {
      	margin-bottom:	1em;
      }
      
    </style>
    <!--if lt IE 9
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="../images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../images/favicon-192x192.png" sizes="192x192">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/mstile-144x144.png">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <script src="../lib/jquery.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-translate.js"></script>
    <script src="../lib/angular-translate-loader-static-files.js"></script>
    <script src="../lib/bootstrap.js"></script>
    <script src="../lib/jquery.fs.selecter.js"></script>
    <script src="../lib/fsm-sticky-header.js"></script>
    <script src="../lib/bootstrap-slider.min.js"></script>
    <script src="../lib/slider.js"></script>
    <script src="../lib/angular-bootstrap-datepicker.js"></script>
    <script src="../lib/select.js"></script>
    <!-- if lt IE 9
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
    	document.createElement('ui-select');
    	document.createElement('ui-select-match');
    	document.createElement('ui-select-choices');
    </script>
    
    -->
    <script src="../scripts/main.js"></script>
    <script src="../scripts/controllers/help/help.controller.js"></script>
    <script src="../scripts/directives/continue-button.directive.js"></script>
    <script src="../scripts/directives/full-page-height.directive.js"></script>
    <script src="../scripts/directives/input-group.directive.js"></script>
    <script src="../scripts/directives/match.directive.js"></script>
    <script src="../scripts/directives/modal.directive.js"></script>
    <script src="../scripts/directives/popover.directive.js"></script>
    <script src="../scripts/directives/save-for-later.directive.js"></script>
    <script src="../scripts/directives/selecter.directive.js"></script>
    <script src="../scripts/directives/toggle-buttons.directive.js"></script>
    <script src="../scripts/directives/tooltip.directive.js"></script>
    <script src="../scripts/services/AdditionalDriver.factory.js"></script>
    <script src="../scripts/services/Car.factory.js"></script>
    <script src="../scripts/services/InsurancePlan.factory.js"></script>
    <script src="../scripts/services/MainDriver.factory.js"></script>
    <script src="../scripts/filters/age.filter.js"></script>
    <script src="../scripts/filters/range.filter.js"></script>
    <script src="../scripts/filters/slugify.filter.js"></script>
  </head>
  <body>
    <script src="../scripts/controllers/car/car.controller.js"></script>
    <div class="container">
      <section ng-controller="CarCtrl" class="section section-car">
        <div class="row">
          <div class="col-md-12">
            <h1><a href="/" class="logo"><img src="/images/direct-asia-logo.png" alt="Direct Asia Logo"></a>BOW UI Kits</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Colours</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="colour colour--yellow"></div><span class="colour-name">Yellow</span><span class="colour-code">#fco900</span>
          </div>
          <div class="col-md-2">
            <div class="colour colour--blue"></div><span class="colour-name">Blue</span><span class="colour-code">#25a8e0</span>
          </div>
          <div class="col-md-2">
            <div class="colour colour--green"></div><span class="colour-name">Green</span><span class="colour-code">#75bb49</span>
          </div>
          <div class="col-md-2">
            <div class="colour colour--red"></div><span class="colour-name">Red</span><span class="colour-code">#d52b1e</span>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="colour colour--black"></div><span class="colour-name">Black</span><span class="colour-code">#0000000</span>
          </div>
          <div class="col-md-2">
            <div class="colour colour--dark-grey-1"></div><span class="colour-name">Dark Grey 1</span><span class="colour-code">#252525</span>
          </div>
          <div class="col-md-2">
            <div class="colour colour--dark-grey-2"></div><span class="colour-name">Dark Grey 2</span><span class="colour-code">#333333</span>
          </div>
          <div class="col-md-2">
            <div class="colour colour--medium-grey"></div><span class="colour-name">Medium Grey</span><span class="colour-code">#707070</span>
          </div>
          <div class="col-md-2">
            <div class="colour colour--light-grey-1"></div><span class="colour-name">Light Grey 1</span><span class="colour-code">#e5e5e5</span>
          </div>
          <div class="col-md-2">
            <div class="colour colour--light-grey-2"></div><span class="colour-name">Light Grey 2</span><span class="colour-code">#f2f2f2</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Buttons</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block">Yes<span class="glyphicon glyphicon-ok"></span></button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block active">No<span class="glyphicon glyphicon-ok"></span></button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block">24-35 Months<span class="glyphicon glyphicon-ok"></span></button>
          </div>
          <div style="margin-bottom:1em;" class="col-md-2">
            <button type="button" class="btn btn-default btn-block">Over<br>15,000 KM<span class="glyphicon glyphicon-ok"></span></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-action btn-block btn-sm"><span class="btn-action-default">Save for later</span><span class="btn-action-alt">Saved!</span><span class="glyphicon glyphicon-ok"></span></button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-action done btn-block btn-sm"><span class="btn-action-default">Save for later</span><span class="btn-action-alt">Saved!</span><span class="glyphicon glyphicon-ok"></span></button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-forward btn-block btn-lg">Proceed<span class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-backward"><span class="glyphicon glyphicon-arrow-left"></span>Back</button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default btn-sm">Edit</button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-danger btn-sm">Remove</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Form</h2>
          </div>
          <div class="col-md-4">
            <select id="year" name="year">
              <option selecter label="Enter year" value="{{year}}" data-ng-repeat="year in years" selecter-target="#year" selecter-callback="select" property="year" ng-selected="year == selectedItem">{{year}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <input readonly value="Select" class="form-control">
              <div class="input-group-btn">
                <button data-toggle="dropdown" tabindex="-1" type="button" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">2014</a></li>
                  <li><a href="#">2013</a></li>
                  <li><a href="#">2012</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3>Checkboxes</h3>
            <label for="checkbox1" class="label-checkbox">
              <input id="checkbox1" type="checkbox">
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Rims / Tires</span>
            </label>
            <label for="checkbox2" class="label-checkbox">
              <input id="checkbox2" type="checkbox" checked>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Suspension / Stabiliser System</span>
            </label>
            <label for="checkbox3" class="label-checkbox">
              <input id="checkbox3" type="checkbox" disabled>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div><span>Air Intake / Exhaust System</span>
            </label>
          </div>
          <div class="col-md-3">
            <h3>Radios</h3>
            <label for="radio1" class="label-radio">
              <input id="radio1" type="radio" name="radios">
              <div class="fake-radio"></div><span>Default item</span>
            </label>
            <label for="radio2" class="label-radio">
              <input id="radio2" type="radio" name="radios" checked>
              <div class="fake-radio"></div><span>Selected item</span>
            </label>
            <label for="radio3" class="label-radio">
              <input id="radio3" type="radio" name="radios" disabled>
              <div class="fake-radio"></div><span>Disabled item</span>
            </label>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Popovers</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 centred">
            <button type="button" data-toggle="popover" data-placement="bottom" popover="#popover1" popover-type="" trigger="click" class="btn btn-primary btn-action btn-sm"><span class="btn-action-default">Save for later</span><span class="btn-action-alt">Saved!</span><span class="glyphicon glyphicon-ok"></span></button>
            <div id="popover1" class="popover bottom">
              <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
              <p>Please provide your email address so we can send you a copy of your quotation.</p>
              <p>The quotation will be valid for 90 days. We'll never email you again without your consent.</p>
              <input type="email" placeholder="Enter email address" class="form-control">
              <button type="button" class="btn btn-forward">Send</button>
            </div>
          </div>
          <div class="col-md-4 centred">
            <button type="button" data-toggle="popover" data-placement="bottom" popover="#popover2" popover-type="" trigger="click" class="btn btn-primary btn-action done btn-sm active"><span class="btn-action-default">Save for later</span><span class="btn-action-alt">Saved!</span><span class="glyphicon glyphicon-ok"></span></button>
            <div id="popover2" class="popover bottom">
              <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
              <div class="success-icon"><span class="glyphicon glyphicon-ok"></span></div>
              <p class="centred">Your quote has been successfully stored. An email has been sent to you with a link to your saved quote.</p>
            </div>
          </div>
          <div class="col-md-4"><span href="" data-toggle="popover" data-placement="right" popover="#popover3" popover-type="popover--yellow" trigger="click" class="glyphicon glyphicon-ok"></span>
            <div id="popover3" class="popover right">
              <p>This refers to the car's original year of registration in Singapore. You'll find this on your vehicle registration document,</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Navbars</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <ol class="breadcrum breadcrumb-arrow">
              <li class="active"><a href="#">Your Car &amp; Drivers</a></li>
              <li><a href="#">Your Quote</a></li>
              <li><span>Purchase</span></li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <ol class="breadcrum breadcrumb-arrow">
              <li><a href="#"><span class="glyphicon glyphicon-ok"></span>Your Car &amp; Drivers</a></li>
              <li class="active"><a href="#">Your Quote</a></li>
              <li><span>Purchase</span></li>
            </ol>
          </div>
        </div>
      </section>
      <div class="navbar-da">
        <div class="container-fluid">
          <nav>
            <li class="active"><a href="#">
                <div class="recommended"><img src="../../images/star-icon.png"><span translate="PC_4_5_1">recommended</span></div><span class="navbar-item">Comprehensive</span><span class="navbar-price">S$ 732 /yr</span><span class="navbar-smallprint">S$61 /mo</span></a></li>
            <li><a href="#"><span class="navbar-item">Third-Party Fire &amp; Theft</span><span class="navbar-price">S$ 594 /yr</span><span class="navbar-smallprint">S$50 /mo</span></a></li>
            <li><a href="#"><span class="navbar-item">Third-Party</span><span class="navbar-price">S$ 540 /yr</span><span class="navbar-smallprint">S$45 /mo</span></a></li>
          </nav>
          <div class="save-for-later">
            <button class="btn btn-primary btn-sm btn-block">Save for Later</button>
            <p>Your details will be saved for 90 days so you can finish later</p>
          </div>
        </div>
      </div>
      <div class="navbar-da">
        <div class="container-fluid">
          <nav>
            <li class="active"><a href="#"><span class="navbar-item">Comprehensive</span><span class="navbar-price">S$ 732 /yr</span><span class="navbar-smallprint">S$61 /mo</span></a></li>
            <li>
              <div class="navbar-info"><span class="navbar-item">Additional Drivers</span><span class="navbar-price">2</span></div>
            </li>
            <li>
              <div class="navbar-info"><span class="navbar-item">Optional Cover</span><span class="navbar-price">3</span></div>
            </li>
            <li>
              <div class="navbar-info"><span class="navbar-item">Excess Policy</span><span class="navbar-price">S$500</span></div>
            </li>
            <li>
              <div class="navbar-info strong"><span class="navbar-item">You saved</span><span class="navbar-price">S$500</span></div>
            </li>
          </nav>
          <div class="save-for-later">
            <button class="btn btn-primary btn-sm btn-block">Save for Later</button>
            <p>Your details will be saved for 90 days so you can finish later</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Dropdowns</h2>
          </div>
        </div>
      </div>
      <section class="section--blue">
        <div class="container-fluid">
          <div class="row margin--top">
            <div class="col-md-4">
              <div class="panel">
                <div class="panel-body">
                  <h3>24 hr breakdown assistance</h3>
                </div>
                <div class="panel-footer">footer</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel">
                <div class="panel-body">
                  <h3>24 months new for old replacement car</h3>
                </div>
                <div class="panel-footer">
                  <button class="btn btn-default">Select</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel">
                <div class="panel-body">
                  <h3>Car modifications</h3>
                </div>
                <div class="panel-footer">
                  <button class="btn btn-default active">Edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </section>
    </div>
    <footer class="page-footer">
      <div class="container">
        <button ng-click="switchLanguage('zh_CN')" data-ng-show="currentLanguage=='en_GB'" class="btn btn-sm btn-icon btn-icon--chinese pull-right">Chinese</button>
        <button ng-click="switchLanguage('en_GB')" data-ng-show="currentLanguage=='zh_CN'" class="btn btn-sm btn-icon btn-icon--english pull-right">English</button>
      </div>
    </footer>
    <script>
      //- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      //- loadCSS("styles/main.css");
      
      //- var _gaq = _gaq || [];
      //- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
      //- _gaq.push(["_trackPageview"]);
      
      //- (function() {
      //- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      //- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      //- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();
      
    </script>
  </body>
</html>