
<script src="../../scripts/controllers/your-policy/your-policy.controller.js"></script>
<div id="yourPolicy" data-ng-controller="yourPolicyCtrl" class="container">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-1 text-center"><img src="../../images/policy.png" class="margin--right"/></div>
        <div class="col-md-5">
          <h2 translate="PS_5_0a">Finish Your Policy Online for Instant Coverage.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-header clearfix panel-header--blue">
      <h2 class="margin--bottom pull-left"><span translate="PS_7_1_2">Policy Number: </span>
        <div class="subtitle"><span data-ng-cloak="data-ng-cloak">{{policy.number}}</span></div>
      </h2>
      <div class="pull-right">
        <h2 class="align-right"><span translate="PS_7_1_3">Total </span><span data-ng-cloak="data-ng-cloak"> S${{policy.total | number}}</span><span translate="PS_7_1_4">/yr</span>
          <div class="subtitle"><span data-ng-cloak="data-ng-cloak">S${{(policy.total / 12) | number}}</span><span translate="PS_7_1_5">/mo</span></div>
          <div class="subtitle subtitle-secondary"><span translate="PS_7_1_6">Savings </span><span data-ng-cloak="data-ng-cloak"> S${{policy.savings}}</span><span translate="PS_7_1_4">/yr</span></div>
        </h2>
      </div>
    </div>
    <div class="panel-body">
      <div class="row margin--bottom">
        <div class="col-xs-2"><img src="../../images/car-icon2.png"/></div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-md-3"><strong translate="PC_4_8_1_1a">Car</strong></div>
            <div class="col-md-8">
              <div><span data-ng-cloak="data-ng-cloak">{{car.year}}</span><span data-ng-cloak="data-ng-cloak">{{car.make}}</span><span data-ng-cloak="data-ng-cloak">{{car.model}}</span><span data-ng-show="car.lowmileageoption">, Low Mileage</span></div>
              <div data-ng-show="details">
                <p data-ng-show="car.modifications.bodykit || car.modifications.airintakeexhaust || car.modifications.rimstires || car.modifications.suspensionstabiliser">Modifications: <span data-ng-if="car.modifications.bodykit">Body Kit, Rims / Tires </span><span data-ng-if="car.modifications.airintakeexhaust">Air Intake/Exhaust </span><span data-ng-if="car.modifications.rimstires">Rims &amp; Tires </span><span data-ng-if="car.modifications.suspensionstabiliser">Suspension Stabiliser </span></p>
                <p><span data-ng-if="car.financed">Financed</span><span data-ng-if="car.ownership == 'private'">Privately Owned</span><span data-ng-show="car.lowmileageoption">, Low Mileage</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-md-6"><a href="../car/car.html" title="Change car details" translate="PC_4_8_1_1b" class="btn btn-default btn-sm desktop">Edit</a></div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
      <div class="row margin--bottom">
        <div class="col-xs-2"><img src="../../images/driver-icon.png"/></div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-md-3"><strong translate="PC_4_8_1_2">Driver</strong></div>
            <div class="col-md-8">
              <div><span data-ng-cloak="data-ng-cloak">{{mainDriver.gender}}</span><span data-ng-cloak="data-ng-cloak">{{mainDriver.age}} years old</span><span data-ng-cloak="data-ng-cloak">{{mainDriver.noClaimsDiscount}} NCD</span><span data-ng-cloak="data-ng-cloak">Certificate of Merit</span><span data-ng-cloak="data-ng-cloak" data-ng-if="mainDriver.accidents.atFault == 1">{{mainDriver.accidents.atFault}} at fault claim</span><span data-ng-cloak="data-ng-cloak" data-ng-if="mainDriver.accidents.atFault &gt; 1">{{mainDriver.accidents.atFault}} at fault claims</span><span data-ng-cloak="data-ng-cloak" data-ng-if="mainDriver.accidents.notAtFault == 1">{{mainDriver.accidents.notAtFault}} at fault claim</span><span data-ng-cloak="data-ng-cloak" data-ng-if="mainDriver.accidents.notAtFault &gt; 1">{{mainDriver.accidents.notAtFault}} at fault claims</span></div>
              <div ng-show="details"><span data-ng-cloak="data-ng-cloak">{{mainDriver.occupation}}</span><span>[Postal Code]</span><span data-ng-cloak="data-ng-cloak">{{mainDriver.drivingExperience}} years valid driving license,</span></div>
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-md-6"><a href="../about-your-driver/about-your-driver.html" title="Edit the main driver details" translate="PC_4_8_1_1b" class="btn btn-default btn-sm desktop">Edit</a></div>
            <div class="col-md-6">
              <div class="align-right">S$45 <span translate="PC_4_8_1_2_2">/yr</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin--bottom">
        <div class="col-xs-2"><img src="../../images/policy-icon2.png"/></div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-md-3"><strong translate="PC_4_8_1_3_1">Policy</strong></div>
            <div class="col-md-8">
              <div><span data-ng-cloak="data-ng-cloak">{{policy.name}} , S${{policy.excess}} </span><span translate="PC_4_8_1_3_2">policy excess</span></div>
              <div ng-show="content">
                <p data-ng-repeat="cover in policy.covers">{{cover}}<span data-ng-if="!$last">, </span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-md-6"><a href="../choose-your-cover/choose-your-cover.html" title="Edit policy details" translate="PC_4_8_1_3_3" class="btn btn-default btn-sm desktop">Edit</a></div>
            <div class="col-md-6">
              <div class="align-right">S$732 <span translate="PC_4_8_1_3_4">/yr</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2"><img src="../../images/cover-icon2.png"/></div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-md-3"><strong translate="PC_4_8_1_5_1">Cover</strong></div>
            <div class="col-md-8">
              <div><span data-ng-repeat="cover in covers">{{cover.name}} <span data-ng-if="!$last">, </span></span></div>
              <div ng-show="details"><span data-ng-repeat="cover in covers">{{cover.description}}<span data-ng-if="!$last">, </span></span></div>
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-md-6"><a href="../quote/quote.html" title="Change your cover options" translate="PC_4_8_1_5_2" class="btn btn-default btn-sm desktop">Edit</a></div>
            <div class="col-md-6">
              <p class="align-right">S$235 <span translate="PC_4_8_1_5_3">/yr</span></p>
              <p class="align-right strikethrough">S$261 <span translate="PC_4_8_1_5_3">/yr</span></p>
              <p class="align-right highlight">(10% <span translate="PC_4_8_1_5_4">Discount</span>)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div data-ng-click="details = !details" style="cursor: pointer;" class="centred">
        <div data-ng-show="!details">
          <h2 translate="PC_4_8_2_1">Review Policy details functionality</h2><img src="../../images/down-arrow.png"/>
        </div>
        <div data-ng-show="details">
          <h2 translate="PC_4_8_2_2">See Summary</h2><img src="../../images/up-arrow.png"/>
        </div>
      </div>
    </div>
  </div>
  <form name="policyForm" novalidate="novalidate">
    <div class="row">
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12"><img src="../../images/car-icon2.png" class="pull-left margin-right"/>
              <h2 translate="PS_5_3a" class="section-title">Car Details</h2>
            </div>
            <div class="col-md-6">
              <div class="input-content">
                <label translate="PS_5_3b" for="registrationNumber">Registration Number</label>
                <input id="registrationNumber" data-ng-model="policy.registrationNumber" type="text" placeholder="enter registration number" name="registrationNumber" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.registrationNumber.$invalid) || (policyForm.registrationNumber.$invalid &amp;&amp; policyForm.registrationNumber.$dirty)"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-content">
                <label translate="PS_5_3c" for="carChassisNumber">Car Chassis Number</label>
                <input id="carChassisNumber" data-ng-model="policy.carChassisNumber" type="text" placeholder="Enter car chassis number" name="carChassisNumber" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.carChassisNumber.$invalid) || (policyForm.carChassisNumber.$invalid &amp;&amp; policyForm.carChassisNumber.$dirty)"/><span translate="PS_5_3c_1">(You can obtain your chassis number by logging onto LTA‘s website.)</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><strong translate="PS_5_3d">Are you transfering your NCD from another car?</strong></p>
              <button type="button" data-ng-class="{'active': policy.NCD == 'yes'}" data-ng-click="policy.NCD = 'yes'" class="btn btn-default random-margin"><span translate="PS_5_3e">Yes</span><span class="glyphicon glyphicon-ok"></span></button>
              <button type="button" data-ng-class="{'active': policy.NCD == 'no'}" data-ng-click="policy.NCD = 'no'" class="btn btn-default"><span translate="PS_5_3f">No</span><span class="glyphicon glyphicon-ok"></span></button><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policy.NCD == null"/>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <h2 translate="PS_5_3_1a">Previous vehicle registration?</h2>
            <div class="input-content">
              <label translate="PS_5_3_1b" for="previousInsurer">We need the name of the previous insurer to validate the NCD that you have declared.</label>
              <input id="previousInsurer" data-ng-model="policy.previousInsurer" type="text" placeholder="Enter previous Insurer" name="previousInsurer" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.previousInsurer.$invalid) || (policyForm.previousInsurer.$invalid &amp;&amp; policyForm.previousInsurer.$dirty)"/>
            </div>
            <div class="input-content">
              <label translate="PS_5_3_1c" for="previousVehicle">We need your previous car registration number to validate the NCD that you have declared</label>
              <input id="previousVehicle" data-ng-model="policy.previousVehicle" type="text" placeholder="Enter previous vehicle registration" name="previousVehicle" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.previousVehicle.$invalid) || (policyForm.previousVehicle.$invalid &amp;&amp; policyForm.previousVehicle.$dirty)"/>
            </div>
          </div>
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12"><img src="../../images/driver-icon3.png" class="pull-left margin-right"/>
                  <h2 class="section-title"><span translate="PS_5_2a">Policyholder Details</span>
                    <div translate="PS_5_2b" class="subtitle">The Policyholder of this car insurance policy must be the legal owner of the vehicle.</div>
                  </h2>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2c" for="policyholderFirstName">First Name</label>
                    <input id="policyholderFirstName" data-ng-model="policy.policyholderFirstName" type="text" placeholder="Enter first name" name="policyholderFirstName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderFirstName.$invalid) || (policyForm.policyholderFirstName.$invalid &amp;&amp; policyForm.policyholderFirstName.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2d" for="policyholderLastName">Last Name</label>
                    <input id="policyholderLastName" data-ng-model="policy.policyholderLastName" type="text" placeholder="Enter last name" name="policyholderLastName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderLastName.$invalid) || (policyForm.policyholderLastName.$invalid &amp;&amp; policyForm.policyholderLastName.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2e" for="policyholderEmail">Email</label>
                    <input id="policyholderEmail" data-ng-model="policy.policyholderEmail" type="email" placeholder="Enter email" name="policyholderEmail" required="required" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderEmail.$invalid) || (policyForm.policyholderEmail.$invalid &amp;&amp; policyForm.policyholderEmail.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2f" for="policyholderConfirmEmail">Confirm Email</label>
                    <input id="policyholderConfirmEmail" data-ng-model="policy.policyholderConfirmEmail" type="email" placeholder="Enter email again" name="policyholderConfirmEmail" required="required" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderConfirmEmail.$invalid) || (policyForm.policyholderConfirmEmail.$invalid &amp;&amp; policyForm.policyholderConfirmEmail.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2g" for="policyholderMobileNumber">Mobile Number</label>
                    <input id="policyholderMobileNumber" data-ng-model="policy.policyholderMobileNumber" type="text" placeholder="enter contact number" name="policyholderMobileNumber" required="required" data-ng-pattern="/^[0-9s() -+]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.policyholderMobileNumber.$invalid) || (policyForm.policyholderMobileNumber.$invalid &amp;&amp; policyForm.policyholderMobileNumber.$dirty)"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h2 translate="PS_5_2h" class="section-title">Residential Address</h2>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2i" for="residentialAddressLine1">Address Line 1</label>
                    <input id="residentialAddressLine1" data-ng-model="policy.residentialAddressLine1" type="text" placeholder="Enter address line 1" name="residentialAddressLine1" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.residentialAddressLine1.$invalid) || (policyForm.residentialAddressLine1.$invalid &amp;&amp; policyForm.residentialAddressLine1.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2j" for="residentialAddressLine2">Address Line 2</label>
                    <input id="residentialAddressLine2" data-ng-model="policy.residentialAddressLine2" type="text" placeholder="Enter address line 2" name="residentialAddressLine2" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.residentialAddressLine1.$invalid) || (policyForm.residentialAddressLine1.$invalid &amp;&amp; policyForm.residentialAddressLine1.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2k" for="residentialDistrict">Residential District</label>
                    <input id="residentialDistrict" data-ng-model="policy.residentialDistrict" type="text" placeholder="Enter District" name="residentialDistrict" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.residentialDistrict.$invalid) || (policyForm.residentialDistrict.$invalid &amp;&amp; policyForm.residentialDistrict.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2l" for="residentialStatus">Residential Status</label>
                    <select id="residentialStatus" name="residentialStatus" data-ng-model="policy.residentialStatus">
                      <option selecter="selecter" label="Enter Driving License" value="{{residential}}" data-data-ng-repeat="residential in options.residentials" selecter-target="#residentialStatus" selecter-callback="select" property="residentialStatus" data-ng-selected="residential == selectedItem">{{residential}}</option>
                    </select><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policyForm.residentialStatus == null"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_2m" for="residentialHKID">HKID</label>
                    <input id="residentialHKID" data-ng-model="policy.residentialHKID" type="text" placeholder="Enter HKID" name="residentialHKID" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.residentialHKID.$invalid) || (policyForm.residentialHKID.$invalid &amp;&amp; policyForm.residentialHKID.$dirty)"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <h2 translate="PC_5_2_1a" class="section-title">How would you like to be contacted?<img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policyForm.contactOption == null"/></h2>
                  <p translate="PC_5_2_1b">Occasionally, we send information and offers about DirectAsia.com and selected third parties. By continuing this application, you agree to receive marketing materials.  If you do not want this, please uncheck all three options.</p>
                  <div class="row">
                    <div class="col-xs-4">
                      <label for="radio1" class="label-radio pull-left margin-right">
                        <input id="radio1" type="radio" name="contactOption" data-ng-model="policy.contactOption"/>
                        <div class="fake-radio"></div><span translate="PC_5_2_1c">Email</span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label for="radio2" class="label-radio pull-left margin-right">
                        <input id="radio2" type="radio" name="contactOption" data-ng-model="policy.contactOption"/>
                        <div class="fake-radio"></div><span translate="PC_5_2_1d">Do not contact me</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12"><img src="../../images/driver-icon3.png" class="pull-left margin-right"/>
                  <h2 class="section-title"><span translate="PS_5_4a">Main Driver Details</span>
                    <div translate="PS_5_4b" class="subtitle">The main driver is the person who uses the car most frequently. They do not need to be the car owner(policy holder)</div>
                  </h2>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_4c" for="driverFirstName">First Name</label>
                    <input id="driverFirstName" data-ng-model="policy.driverFirstName" type="text" placeholder="Enter first name" name="driverFirstName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.driverFirstName.$invalid) || (policyForm.driverFirstName.$invalid &amp;&amp; policyForm.driverFirstName.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_4d" for="driverLastName">Last Name</label>
                    <input id="driverLastName" data-ng-model="policy.driverLastName" type="text" placeholder="Enter last name" name="driverLastName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.driverLastName.$invalid) || (policyForm.driverLastName.$invalid &amp;&amp; policyForm.driverLastName.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_4f" for="driverResidentialStatus">Residential Status</label>
                    <select id="driverResidentialStatus" name="driverResidentialStatus" data-ng-model="policy.driverResidentialStatus">
                      <option selecter="selecter" label="Enter Driving License" value="{{residential}}" data-data-ng-repeat="residential in driver1residentials" selecter-target="#driverResidentialStatus" selecter-callback="select" property="driverResidentialStatus" data-ng-selected="residential == selectedItem">{{residential}}</option>
                    </select><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policyForm.residentialStatus == null"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_4g" for="driverHKID">HKID</label>
                    <input id="driverHKID" data-ng-model="policy.driverHKID" type="text" placeholder="Enter HKID" name="driverHKID" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.driverHKID.$invalid) || (policyForm.driverHKID.$invalid &amp;&amp; policyForm.driverHKID.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_5i" for="driverContactNumber">Contact Number</label>
                    <input id="driverContactNumber" data-ng-model="policy.driverContactNumber" type="number" placeholder="Enter contact number" name="driverContactNumber" required="required" data-ng-pattern="/^[0-9s -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.driverContactNumber.$invalid) || (policyForm.driverContactNumber.$invalid &amp;&amp; policyForm.driverContactNumber.$dirty)"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-content">
                    <label translate="PS_5_4c" for="driverRelationshipWithPolicyholder">Relationship with Policyholder</label>
                    <select id="driverRelationshipWithPolicyholder" name="driverRelationshipWithPolicyholder" data-ng-model="policy.driverRelationshipWithPolicyholder">
                      <option selecter="selecter" label="Enter Driving License" value="{{policyholder}}" data-data-ng-repeat="policyholder in policyholders" selecter-target="#driverRelationshipWithPolicyholder" selecter-callback="select" property="driverRelationshipWithPolicyholder" data-ng-selected="policyholder == selectedItem">{{policyholder}}</option>
                    </select><img src="../../images/error.png" data-ng-show="policyForm.$submitted &amp;&amp; policyForm.driverRelationshipWithPolicyholder == null"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12"><img src="../../images/driver-icon2.png" class="pull-left margin-right"/>
          <h2 class="section-title"><span translate="PS_5_5a">Additional Drivers</span>
            <div translate="PS_5_5b" class="subtitle">The main driver is the person who uses the car most frequently. They do not need to be the car owner(policy holder)</div>
          </h2>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title"><span translate="PS_5_5c">Additional Driver</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5d" for="additionalDriver1FirstName">First Name</label>
              <input id="additionalDriver1FirstName" type="text" placeholder="Enter first name" name="additionalDriver1FirstName" data-ng-model="additionalDrivers.driver1.firstName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver1FirstName.$invalid) || (policyForm.additionalDriver1FirstName.$invalid &amp;&amp; policyForm.additionalDriver1FirstName.$dirty)"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5e" for="">Last name</label>
              <input id="additionalDriver1LastName" type="text" placeholder="Enter last name" name="additionalDriver1LastName" data-ng-model="additionalDrivers.driver1.lastName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver1LastName.$invalid) || (policyForm.additionalDriver1LastName.$invalid &amp;&amp; policyForm.additionalDriver1LastName.$dirty)"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5g" for="">Residential Status</label>
              <select id="additionalDriver1ResidentialStatus" name="additionalDriver1ResidentialStatus">
                <option selecter="selecter" label="Enter Driving License" value="{{residential}}" data-ng-repeat="residential in driver1residentials" selecter-target="#additionalDriver1ResidentialStatus" selecter-callback="select" property="additionalDrivers.driver1.residentialStatus" ng-selected="year == selectedItem">{{residential}}</option>
              </select><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver1LastName.$invalid) || (policyForm.additionalDriver1LastName.$invalid &amp;&amp; policyForm.additionalDriver1LastName.$dirty)"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5h" for="additionalDriver1HKID">HKID</label>
              <input id="additionalDriver1HKID" type="text" placeholder="Enter HKID" name="additionalDriver1HKID" ,="," data-ng-model="additionalDrivers.driver1.NRIC" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver1HKID.$invalid) || (policyForm.additionalDriver1HKID.$invalid &amp;&amp; policyForm.additionalDriver1HKID.$dirty)"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5f" for="additionalDriverRelationshipWithPolicyHolder">Relationship with Policyholder</label>
              <select id="additionalDriverRelationshipWithPolicyHolder" name="additionalDriver1rRelationshipWithPolicyHolder">
                <option selecter="selecter" label="Enter Driving License" value="{{driver1policyholder}}" data-ng-repeat="driver1policyholder in driver1policyholders" selecter-target="#driver1policyholder" selecter-callback="select" property="driver1policyholder" ng-selected="year == selectedItem">{{driver1policyholder}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title"><span translate="PS_5_5c">Additional Driver</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5d" for="additionalDriver2FirstName">First Name</label>
              <input id="additionalDriver2FirstName" type="text" placeholder="Enter first name" name="additionalDriver2FirstName" data-ng-model="additionalDrivers.driver1.firstName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver2FirstName.$invalid) || (policyForm.additionalDriver2FirstName.$invalid &amp;&amp; policyForm.additionalDriver2FirstName.$dirty)"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5e" for="">Last name</label>
              <input id="additionalDriver2LastName" type="text" placeholder="Enter last name" name="additionalDriver2LastName" data-ng-model="additionalDrivers.driver1.lastName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver2LastName.$invalid) || (policyForm.additionalDriver2LastName.$invalid &amp;&amp; policyForm.additionalDriver2LastName.$dirty)"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5g" for="">Residential Status</label>
              <select id="additionalDriver2ResidentialStatus" name="additionalDriver2ResidentialStatus">
                <option selecter="selecter" label="Enter Driving License" value="{{residential}}" data-ng-repeat="residential in driver1residentials" selecter-target="#additionalDriver2ResidentialStatus" selecter-callback="select" property="additionalDrivers.driver1.residentialStatus" ng-selected="year == selectedItem">{{residential}}</option>
              </select><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver2LastName.$invalid) || (policyForm.additionalDriver2LastName.$invalid &amp;&amp; policyForm.additionalDriver2LastName.$dirty)"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5h" for="additionalDriver2HKID">HKID</label>
              <input id="additionalDriver2HKID" type="text" placeholder="Enter HKID" name="additionalDriver2HKID" ,="," data-ng-model="additionalDrivers.driver1.NRIC" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver2HKID.$invalid) || (policyForm.additionalDriver2HKID.$invalid &amp;&amp; policyForm.additionalDriver2HKID.$dirty)"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-content">
              <label translate="PS_5_5f" for="additionalDriverRelationshipWithPolicyHolder">Relationship with Policyholder</label>
              <select id="additionalDriverRelationshipWithPolicyHolder" name="additionalDriver2rRelationshipWithPolicyHolder">
                <option selecter="selecter" label="Enter Driving License" value="{{driver1policyholder}}" data-ng-repeat="driver1policyholder in driver1policyholders" selecter-target="#driver1policyholder" selecter-callback="select" property="driver1policyholder" ng-selected="year == selectedItem">{{driver1policyholder}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body">
            <h2 translate="PC_5_7_1a">Policy Documents</h2>
            <div class="row">
              <div class="col-xs-12"><img src="../../images/pdf-icon.png" class="pull-left margin--right"/>
                <p translate="PC_5_7_1b" class="remove-margin font-weight-bold font-color-25a8e0">Policy Summary</p>
                <p translate="PC_5_7_1c">A summary if the key features of your car insurance policy</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12"><img src="../../images/pdf-icon.png" class="pull-left margin--right"/>
                <p translate="PC_5_7_1d" class="remove-margin font-weight-bold font-color-25a8e0">Policy Wording</p>
                <p translate="PC_5_7_1e">The full terms and conditions of your car insurance policy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body">
            <h2 translate="PC_5_7_2a">Why customers choose Directasia.com</h2>
          </div>
          <div class="panel-footer">
            <ul>
              <li><img src="../../images/green-check.png" class="pull-left margin--right"/>
                <p translate="PC_5_7_2b">Voted the most popular online insurance company in Hong Kong</p>
              </li>
              <li><img src="../../images/green-check.png" class="pull-left margin--right"/>
                <p translate="PC_5_7_2c">The first Hong Kong insurer to be awarded the ISO 10002:2004 Certification</p>
              </li>
              <li><img src="../../images/green-check.png" class="pull-left margin--right"/>
                <p translate="PC_5_7_2d">100% Owned by Hiscox Group</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-backward"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PS_5_6_1">Back</span></button>
        <button type="button" continue="continue" url="http://localhost:9000/policy" page-data="{{policy}}" next-page="http://localhost:9000/pages/review-and-buy/review-and-buy.html" valid="policyForm.$valid" class="btn btn-forward btn-lg"><span translate="PS_5_6_2">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="save-for-later">
          <button type="button" class="popover-button btn btn-primary btn-action btn-sm"><span ng-hide="submit" translate="PS_5_6_3">Save for later</span><span ng-show="submit" translate="PS_5_6_4">Saved!</span></button>
          <div id="popover1" class="popover save-div bottom">
            <div class="arrow"></div>
            <button type="button" class="popover-close-button"><span class="glyphicon glyphicon-remove"></span></button>
            <div ng-hide="send">
              <p translate="PC_4_1_2a">Please provide your email below and we‘ll send you a link to retrieve your quotation for up to 90 days.</p>
              <input type="email" placeholder="Enter email address" class="form-control"/>
              <p translate="PS_6_6_4_1">Want us to help you finish? provide your phone number and we‘ll give you a call.</p>
              <input type="tel" placeholder="Enter phone number" class="form-control"/>
              <button type="button" ng-click="send = true" translate="PS_6_6_6" class="btn btn-forward">Send</button>
            </div>
            <div ng-show="send" class="on-send">
              <p translate="PS_6_6_6_1">Your quote has been successfully saved. Please check your email, which contains a link to retrieve your quotation.</p>
              <p translate="PS_6_6_6_2">Share your current renewal premium so we can make sure we‘re giving you the best value</p>
              <button type="button" ng-click="submit = true" translate="PS_6_6_6_3" class="btn btn-forward">Submit</button>
            </div>
          </div>
          <p translate="PS_6_6_7">Your details will be saved for 90 days so you can finish later</p>
        </div>
      </div>
    </div>
  </div>
</div>