
<div class="panel">
  <div class="panel-header panel-header--white">
    <div class="row">
      <div class="col-md-1 text-center"><img src="../../images/driver-icon2.png" class="margin--right"/></div>
      <div class="col-md-11">
        <h2><span translate="PS_5_5a">Additional Drivers</span>
          <div translate="PS_5_5b" class="subtitle">The main driver is the person who uses the car most frequently. They do not need to be the car owner(policy holder)</div>
        </h2>
      </div>
    </div>
  </div>
  <div class="panel-body panel-body--grey">
    <div data-ng-repeat="driver in policy.additionalDrivers">
      <div class="row">
        <div class="col-md-12">
          <h3 class="margin--bottom"><span translate="PS_5_5c">Additional Driver</span><span data-ng-cloak="data-ng-cloak"> {{$index + 1}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 margin--bottom margin--top">
          <label translate="PS_5_5d" for="additionalDriver{{$index}}FirstName" class="label-strong">First Name</label>
          <input id="additionalDriver{{$index}}FirstName" type="text" placeholder="Enter first name" name="additionalDriver{{$index}}FirstName" data-ng-model="driver.firstName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver{{$index}}FirstName.$invalid) || (policyForm.additionalDriver{{$index}}FirstName.$invalid &amp;&amp; policyForm.additionalDriver{{$index}}FirstName.$dirty)"/>
        </div>
        <div class="col-md-4 margin--bottom margin--top">
          <label translate="PS_5_5e" for="" class="label-strong">Last name</label>
          <input id="additionalDriver{{$index}}LastName" type="text" placeholder="Enter last name" name="additionalDriver{{$index}}LastName" data-ng-model="driver.lastName" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver{{$index}}LastName.$invalid) || (policyForm.additionalDriver{{$index}}LastName.$invalid &amp;&amp; policyForm.additionalDriver{{$index}}LastName.$dirty)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 margin--bottom margin--top">
          <label translate="PS_5_5g" for="" class="label-strong">Residential Status</label>
          <select id="additionalDriver{{$index}}ResidentialStatus" name="additionalDriver{{$index}}ResidentialStatus" data-ng-model="driver.residentialStatus" required="required">
            <option selecter="selecter" label="Select Residential Status" value="{{district}}" data-ng-repeat="district in options.districts" selecter-target="#additionalDriver{{$parent.$index}}ResidentialStatus" selecter-callback="select" property="additionalDrivers[{{$parent.$index}}].residentialStatus" ng-selected="district == selectedItem">{{district}}</option>
          </select><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; driver.residentialStatus == null)" style="position:absolute; right: 15px; bottom: 3px;"/>
        </div>
        <div class="col-md-4 margin--bottom margin--top">
          <label translate="PS_5_5h" for="additionalDriver{{$index}}HKID" class="label-strong">HKID</label>
          <input id="additionalDriver{{$index}}HKID" type="text" placeholder="Enter HKID" name="additionalDriver{{$index}}HKID" ,="," data-ng-model="driver.NRIC" required="required" data-ng-pattern="/^[a-zA-Z0-9_ -]*$/" class="form-control"/><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; policyForm.additionalDriver{{$index}}HKID.$invalid) || (policyForm.additionalDriver{{$index}}HKID.$invalid &amp;&amp; policyForm.additionalDriver{{$index}}HKID.$dirty)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 margin--bottom margin--top">
          <label translate="PS_5_5f" for="additionalDriver{{$index}}RelationshipWithPolicyHolder" class="label-strong">Relationship with Policyholder</label>
          <select id="additionalDriver{{$index}}RelationshipWithPolicyHolder" name="additionalDriver{{$index}}RelationshipWithPolicyHolder" data-ng-model="driver.relationshipWithPolicyHolder" required="required">
            <option selecter="selecter" label="Select relationship" value="{{relationship}}" data-ng-repeat="relationship in options.relationships" selecter-target="#additionalDriver{{$parent.$index}}RelationshipWithPolicyHolder" selecter-callback="select" property="additionalDrivers[{{$parent.$index}}].relationshipWithPolicyHolder" ng-selected="relationship == selectedItem">{{relationship}}</option>
          </select><img src="../../images/error.png" data-ng-show="(policyForm.$submitted &amp;&amp; driver.residentialStatus == null)" style="position:absolute; right: 15px; bottom: 3px;"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-summary">
      <div class="panel-body">
        <div class="container-fluid">
          <h2 translate="PC_5_7_1a" class="margin--bottom">Policy Documents</h2><a href="" title="" class="row margin--top">
            <div class="col-md-2"><img src="../../images/pdf-icon.png" class="margin--right"/></div>
            <div class="col-md-10">
              <h3 translate="PC_5_7_1b">Policy Summary</h3>
              <p translate="PC_5_7_1c">A summary if the key features of your car insurance policy</p>
            </div></a><a href="" title="" class="row margin--top">
            <div class="col-md-2"><img src="../../images/pdf-icon.png" class="margin--right"/></div>
            <div class="col-md-10">
              <h3 translate="PC_5_7_1d">Policy Wording</h3>
              <p translate="PC_5_7_1e">The full terms and conditions of your car insurance policy</p>
            </div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-summary">
      <div class="panel-header panel-header--white">
        <h2 translate="PC_5_7_2a">Why customers choose Directasia.com</h2>
      </div>
      <div class="panel-body panel-body--grey">
        <div class="bonus"><img src="../../images/green-check.png"/>
          <p translate="PC_5_7_2b">Voted the most popular online insurance company in Hong Kong</p>
        </div>
        <div class="bonus"><img src="../../images/green-check.png"/>
          <p translate="PC_5_7_2c">The first Hong Kong insurer to be awarded the ISO 10002:2004 Certification</p>
        </div>
        <div class="bonus"><img src="../../images/green-check.png"/>
          <p translate="PC_5_7_2d">100% Owned by Hiscox Group</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-backward"><span class="glyphicon glyphicon-arrow-left"></span><span translate="PS_5_6_1">Back</span></button>
    <button type="submit" continue="continue" url="http://localhost:9000/policy" page-data="{{policy}}" next-page="http://localhost:9000/pages/review-and-buy/review-and-buy.html" valid="policyForm.$valid" class="btn btn-forward btn-lg pull-right"><span translate="PS_5_6_2">Proceed</span><span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
</div>
<div class="row margin--top">
  <div class="col-md-12">
    <button type="button" data-toggle="modal" data-target="#modal-saveForLater" data-ng-click="sent = false" class="btn btn-primary btn-action btn-sm pull-right"><span data-ng-show="!sent" translate="PS_5_6_3">Save for later</span><span data-ng-show="sent" translate="PS_5_6_4">Saved!</span></button>
  </div>
</div>