.panel

	.panel-header.panel-header--white

		.row

			.col-md-1.text-center
				img.margin--right(src="../../images/driver-icon2.png")

			.col-md-11
				h2
					span(translate="PS_5_5a") Additional Drivers
					.subtitle(translate="PS_5_5b") The main driver is the person who uses the car most frequently. They do not need to be the car owner(policy holder)

	.panel-body.panel-body--grey

		div(data-ng-repeat="driver in policy.additionalDrivers")

			.row

				.col-md-12

					h3.margin--bottom
						span(translate="PS_5_5c") Additional Driver
						span(data-ng-cloak)  {{$index + 1}}

			.row

				.col-md-4.margin--bottom.margin--top

					label.label-strong(translate="PS_5_5d", for="additionalDriver{{$index}}FirstName") First Name
					input.form-control(id="additionalDriver{{$index}}FirstName", type="text", placeholder="Enter first name", name="additionalDriver{{$index}}FirstName", data-ng-model="driver.firstName", required, data-ng-pattern="/^[a-zA-Z0-9_ -]*$/")
					img(src="../../images/error.png", data-ng-show="(policyForm.$submitted && policyForm.additionalDriver{{$index}}FirstName.$invalid) || (policyForm.additionalDriver{{$index}}FirstName.$invalid && policyForm.additionalDriver{{$index}}FirstName.$dirty)")

				.col-md-4.margin--bottom.margin--top

					label.label-strong(translate="PS_5_5e", for="") Last name
					input.form-control(id="additionalDriver{{$index}}LastName", type="text", placeholder="Enter last name", name="additionalDriver{{$index}}LastName", data-ng-model="driver.lastName", required, data-ng-pattern="/^[a-zA-Z0-9_ -]*$/")
					img(src="../../images/error.png", data-ng-show="(policyForm.$submitted && policyForm.additionalDriver{{$index}}LastName.$invalid) || (policyForm.additionalDriver{{$index}}LastName.$invalid && policyForm.additionalDriver{{$index}}LastName.$dirty)")

			.row

				.col-md-4.margin--bottom.margin--top

					label.label-strong(translate="PS_5_5g", for="") Residential Status
					select(id="additionalDriver{{$index}}ResidentialStatus", name="additionalDriver{{$index}}ResidentialStatus", data-ng-model="driver.residentialStatus", required)
						option(selecter, label="Select Residential Status", value="{{district}}", data-ng-repeat="district in options.districts", selecter-target="#additionalDriver{{$parent.$index}}ResidentialStatus", selecter-callback="select", property="additionalDrivers[{{$parent.$index}}].residentialStatus", ng-selected="district == selectedItem") {{district}}
					img(src="../../images/error.png", data-ng-show="(policyForm.$submitted && driver.residentialStatus == null)", style="position:absolute; right: 15px; bottom: 3px;")

				.col-md-4.margin--bottom.margin--top

					label.label-strong(translate="PS_5_5h", for="additionalDriver{{$index}}HKID") HKID
					input.form-control(id="additionalDriver{{$index}}HKID", type="text", placeholder="Enter HKID", name="additionalDriver{{$index}}HKID", , data-ng-model="driver.NRIC", required, data-ng-pattern="/^[a-zA-Z0-9_ -]*$/")
					img(src="../../images/error.png", data-ng-show="(policyForm.$submitted && policyForm.additionalDriver{{$index}}HKID.$invalid) || (policyForm.additionalDriver{{$index}}HKID.$invalid && policyForm.additionalDriver{{$index}}HKID.$dirty)")

			.row

				.col-md-4.margin--bottom.margin--top

					label.label-strong(translate="PS_5_5f", for="additionalDriver{{$index}}RelationshipWithPolicyHolder") Relationship with Policyholder
					select(id="additionalDriver{{$index}}RelationshipWithPolicyHolder", name="additionalDriver{{$index}}RelationshipWithPolicyHolder", data-ng-model="driver.relationshipWithPolicyHolder", required)
						option(selecter, label="Select relationship", value="{{relationship}}", data-ng-repeat="relationship in options.relationships", selecter-target="#additionalDriver{{$parent.$index}}RelationshipWithPolicyHolder", selecter-callback="select", property="additionalDrivers[{{$parent.$index}}].relationshipWithPolicyHolder", ng-selected="relationship == selectedItem") {{relationship}}
					img(src="../../images/error.png", data-ng-show="(policyForm.$submitted && driver.residentialStatus == null)", style="position:absolute; right: 15px; bottom: 3px;")

.row
	.col-md-6

		.panel.panel-summary

			.panel-body

				.container-fluid

					h2.margin--bottom(translate="PC_5_7_1a") Policy Documents

					a.row.margin--top(href="", title="")

						.col-md-2
							img.margin--right(src="../../images/pdf-icon.png")

						.col-md-10
							h3(translate="PC_5_7_1b") Policy Summary
							p(translate="PC_5_7_1c") A summary if the key features of your car insurance policy

					a.row.margin--top(href="", title="")

						.col-md-2
							img.margin--right(src="../../images/pdf-icon.png")

						.col-md-10
							h3(translate="PC_5_7_1d") Policy Wording
							p(translate="PC_5_7_1e") The full terms and conditions of your car insurance policy

	.col-md-6

		.panel.panel-summary

			.panel-header.panel-header--white
				h2(translate="PC_5_7_2a") Why customers choose Directasia.com

			.panel-body.panel-body--grey

				.bonus
					img(src="../../images/green-check.png")
					p(translate="PC_5_7_2b") Voted the most popular online insurance company in Hong Kong
				.bonus
					img(src="../../images/green-check.png")
					p(translate="PC_5_7_2c") The first Hong Kong insurer to be awarded the ISO 10002:2004 Certification
				.bonus
					img(src="../../images/green-check.png")
					p(translate="PC_5_7_2d") 100% Owned by Hiscox Group

.row

	.col-md-12

		button.btn.btn-backward(type="button")
			span.glyphicon.glyphicon-arrow-left
			span(translate="PS_5_6_1") Back

		button.btn.btn-forward.btn-lg.pull-right(type="submit", continue, url="http://localhost:9000/policy", page-data="{{policy}}", next-page="http://localhost:9000/pages/review-and-buy/review-and-buy.html", valid="policyForm.$valid")
			span(translate="PS_5_6_2") Proceed
			span.glyphicon.glyphicon-arrow-right

.row.margin--top

	.col-md-12

		button.btn.btn-primary.btn-action.btn-sm.pull-right(type="button", data-toggle="modal", data-target="#modal-saveForLater", data-ng-click="sent = false")
			span(data-ng-show="!sent", translate="PS_5_6_3") Save for later
			span(data-ng-show="sent", translate="PS_5_6_4") Saved!