//- Choose your cover demo page

extends ../../templates/demo

block title
	| Choose Your Cover - Direct Asia Car Insurance

block styles

block content

	include ../../partials/choose-your-cover/choose-your-cover.partial.jade

block scripts