section#quote2.section.section--blue.section--padded.section--centred.margin--top(data-ng-show="currentStep>=2", full-page-height)

	.container.margin--top
		img(src="../../images/cover-icon.png")

		.row(data-ng-show="!plan.mainDriver.additionalDrivers", style="margin-bottom:30px;")
			.col-md-6.col-md-offset-3
				h2.margin--bottom(translate="PS_4_4a") You indicated that you don't want to cover additional drivers?
				a.btn.btn-default--inverse.margin--bottom.btn--spaced.internal-link(translate="PS_4_4b", href="#quote3", title="", data-ng-click="continue(3)") Yes, continue
				button.btn.btn-default--inverse.margin--bottom.btn--spaced(translate="PS_4_4c", data-ng-click="plan.mainDriver.additionalDrivers = true") No, add drivers

		div(data-ng-show="plan.mainDriver.additionalDrivers", style="margin-bottom:30px;")

			h2(translate="PS_4_4d") Tell us about your additional drivers

			.additional-drivers

				.additional-driver(data-ng-repeat="driver in additionalDrivers", data-ng-class="{'active':driver.editing}")
					.additional-driver-content
						img(src="../../images/driver-icon3.png", data-ng-if="driver.added")
						img(src="../../images/driver-icon2.png", data-ng-if="!driver.added")
						h4(data-ng-cloak) {{driver.firstName}} {{driver.lastName}}
						p(data-ng-cloak, data-ng-if="driver.gender && driver.drivingExperience && driver.dob.year && driver.dob.month && driver.dob.day") {{driver.dob.year + "-" + driver.dob.month + "-" + driver.dob.day | age}} 
							span(translate="PS_4_4g") yrs old 
							span  {{driver.gender}} 
							span(translate="PS_4_4h") with
							span  {{driver.drivingExperience}}
							ng-pluralize(count="driver.drivingExperience", when="{'1': 'yr', 'other': 'yrs'}")
							span(translate="PS_4_4i")  of driving experience
						button.btn.btn-default.margin--right(type="button", data-ng-click="editAdditionalDriver(driver)", data-ng-show="!driver.editing", translate="PS_4_4j", data-ng-if="driver.added") Edit
						button.btn.btn-sm.btn-danger.btn-remove(type="button", data-ng-click="removeAdditionalDriver(driver, $index)", data-ng-if="driver.added")
							span(translate="PS_4_4k") Remove
							i.glyphicon.glyphicon-remove
						button.btn.btn-default(translate="PS_4_4f", data-ng-click="showNewDriverForm(driver)", data-ng-show="!driver.editing", data-ng-if="!driver.added") Add

					//- EDIT DRIVER

					.panel.panel-editdriver.align-left(data-ng-show="driver.editing", data-ng-class="{'panel-editdriver-1': $index == 0 || $index == 2, 'panel-editdriver-2': $index == 1 || $index == 3}")
						.panel-body

							i.glyphicon.glyphicon-remove.panel-close-button(data-ng-click="driver.editing = false")

							form(name="editDriverForm", novalidate, data-ng-submit="editDriverForm.$valid && saveChangesToDriver(driver)")

								.row

									.col-md-6.margin--top.margin--bottom
										label.label--large(for="editDriverFirstName", translate="PC_4_4_1_1a") First Name
										input.form-control(id="editDriverFirstName", name="editDriverFirstName", type="text", placeholder="enter first name", data-ng-model="driver.firstName", data-ng-pattern="/^[a-zA-Z0-9_ -]*$/", required)
										img(src="../../images/error.png", data-ng-show="(editDriverForm.editDriverFirstName.$invalid && editDriverForm.editDriverFirstName.$dirty) || (editDriverForm.editDriverFirstName.$invalid && editDriverForm.$submitted)")


									.col-md-6.margin--top.margin--bottom
										label.label--large(for="editDriverLastName", translate="PC_4_4_1_1b") Last Name
										input.form-control(id="editDriverLastName", name="editDriverLastName", type="text", placeholder="enter last name", data-ng-model="driver.lastName", data-ng-pattern="/^[a-zA-Z0-9_ -]*$/", required)
										img(src="../../images/error.png", data-ng-show="(editDriverForm.editDriverLastName.$invalid && editDriverForm.editDriverLastName.$dirty) || (editDriverForm.editDriverLastName.$invalid && editDriverForm.$submitted)")

								.row

									.col-md-6.margin--top.margin--bottom
										label.label--large(for="editDriverDOBDay", translate="PC_4_4_1_1c") Date of Birth
										.form-inline
											input.day(id="editDriverDOBDay", min="1", max="31", name="editDriverDOBDay", placeholder="DD", type="number", data-ng-model="driver.dob.day", required)
											input.month(id="editDriverDOBMonth", min="1", max="12", name="editDriverDOBMonth", placeholder="MM", type="number", data-ng-model="driver.dob.month", required)
											input.year(id="editDriverDOBYear", min="1900", max="2015", name="editDriverDOBYear", placeholder="YYYY", type="number", data-ng-model="driver.dob.year", required)
											img(src="../../images/error.png", data-ng-show="((editDriverForm.editDriverDOBDay.$invalid && editDriverForm.editDriverDOBDay.$dirty) || (editDriverForm.editDriverDOBDay.$invalid && editDriverForm.$submitted)) || ((editDriverForm.editDriverDOBMonth.$invalid && editDriverForm.editDriverDOBMonth.$dirty) || (editDriverForm.editDriverDOBMonth.$invalid && editDriverForm.$submitted)) || ((editDriverForm.editDriverDOBYear.$invalid && editDriverForm.editDriverDOBYear.$dirty) || (editDriverForm.editDriverDOBYear.$invalid && editDriverForm.$submitted))")

									.col-md-6.margin--top.margin--bottom
										label.label--large(translate="PC_4_4_1_1d") Gender
										button.btn.btn-default.random-margin.margin--bottom(type="button", ng-click="driver.gender='Male'", ng-class="{'active':driver.gender=='Male'}")
											span(translate="PC_4_4_1_1d_1") Male
											span.glyphicon.glyphicon-ok

										button.btn.btn-default.margin--bottom(type="button", ng-click="driver.gender='Female'", ng-class="{'active':driver.gender=='Female'}")
											span(translate="PC_4_4_1_1d_2") Female
											span.glyphicon.glyphicon-ok

										img(src="../../images/error.png", data-ng-show="!driver.gender && editDriverForm.$submitted")

								.row

									.col-md-6.margin--top.margin--bottom
										label.label--large(translate="PC_4_4_1_1e") Marital Status
										button.btn.btn-default.random-margin.margin--bottom(type="button", ng-click="driver.maritalStatus = 'single'", ng-class="{'active':driver.maritalStatus=='single'}") Single
											span.glyphicon.glyphicon-ok

										button.btn.btn-default.margin--bottom(type="button", ng-click="driver.maritalStatus = 'married'", ng-class="{'active':driver.maritalStatus=='married'}") Married
											span.glyphicon.glyphicon-ok

										img(src="../../images/error.png", data-ng-show="!driver.maritalStatus && editDriverForm.$submitted")

									.col-md-6.margin--top.margin--bottom
										label.label--large(for="editDriverOccupation", translate="PC_4_4_1_1f") Occupation
										input.form-control(id="editDriverOccupation", name="editDriverOccupation", type="text", placeholder="enter occupation", data-ng-model="driver.occupation", data-ng-pattern="/^[a-zA-Z0-9_ -]*$/", required)
										img(src="../../images/error.png", data-ng-show="(editDriverForm.editDriverOccupation.$invalid && editDriverForm.editDriverOccupation.$dirty) || (editDriverForm.editDriverOccupation.$invalid && editDriverForm.$submitted)")

								.row

									.col-md-7.margin--top.margin--bottom
										label.label--large(for="editDriver-experience", translate="PC_4_4_1_2a") Years of valid driving

										.row
											.col-md-9
												p(translate="PC_4_4_1_2b") We are unable to insure drivers who've had their license suspended or cancelled in the last 5 years.

										.row
											.col-md-6
												select(id="editDriver{{$index}}-experience", name="editDriver-experience", data-ng-model="driver.drivingExperience", required)
													option(selecter, label="Select number of years", value="{{y}}", data-ng-repeat="y in [] | range:100", selecter-target="#editDriver{{$parent.$index}}-experience", selecter-callback="select", property="additionalDrivers[{{$parent.$index}}].drivingExperience", ng-selected="additionalDrivers[{{$parent.$index}}].drivingExperience == y") {{y}}

												img(src="../../images/error.png", data-ng-show="!driver.drivingExperience && editDriverForm.$submitted")

								.row

									.col-md-7.margin--top.margin--bottom
										label.label--large
											span(translate="PC_4_4_1_3a") Did the main driver have any driving offence points in the last 2 years?
											img(src="../../images/question-icon.png")
										p(translate="PC_4_4_1_3b") If you're unsure, 
											a(href="", title="") click here
											|  to get this information. Please note that drivers must have less than 12 offence points.

										.row
											.col-md-12
												button.btn.btn-default.random-margin(type="button", ng-click="driver.offences = true", ng-class="{'active':driver.offences}")
													span(translate="PC_4_4_1_3c") Yes
													span.glyphicon.glyphicon-ok

												button.btn.btn-default(type="button", ng-click="driver.offences = false", ng-class="{'active':driver.offences==false}")
													span(translate="PC_4_4_1_3d") No
													span.glyphicon.glyphicon-ok

												img(src="../../images/error.png", data-ng-show="!driver.offences && editDriverForm.$submitted && driver.offences != 0")

								.row

									.col-md-8.margin--top.margin--bottom
										label.label--large(for="newDriverClaimsAtFault")
											span(translate="PC_4_4_1_4a") In the past 3 years (36 months), how many accidents and/or claims were made?
											img(src="../../images/question-icon.png")
										p(translate="PC_4_4_1_4b") Please include all accidents, but you can exclude windscreen claims.

										.row

											.col-md-5
												input.claim(id="editDriverClaimsAtFault", min="0", name="editDriverClaimsAtFault", placeholder="0", type="number", data-ng-model="driver.accidents.atFault", required)
												span(translate="PC_4_4_1_4c") at fault
												img(src="../../images/error.png", data-ng-show="(editDriverForm.editDriverClaimsAtFault.$invalid && editDriverForm.editDriverClaimsAtFault.$dirty) || (editDriverForm.editDriverClaimsAtFault.$invalid && editDriverForm.$submitted)")

											.col-md-5
												input.claim(id="editDriverClaimsNotAtFault", min="0", name="editDriverClaimsNotAtFault", placeholder="0", type="number", data-ng-model="driver.accidents.notAtFault", required)
												span(translate="PC_4_4_1_4d") not at fault
												img(src="../../images/error.png", data-ng-show="(editDriverForm.editDriverClaimsNotAtFault.$invalid && editDriverForm.editDriverClaimsNotAtFault.$dirty) || (editDriverForm.editDriverClaimsNotAtFault.$invalid && editDriverForm.$submitted)")

								.row

									.col-md-12.margin--top.margin--top

										button.btn.btn-forward.btn-lg(type="submit")
											span(translate="PS_4_4l") Save
											span.glyphicon.glyphicon-arrow-right

								.row

									.col-md-12.margin--top.margin--top
										button.btn.btn-sm.btn-danger(type="button", data-ng-click="removeAdditionalDriver(driver, $index)", data-ng-show="driver.added")
											span(translate="PS_4_4m") Remove this driver

			//- CONTINUE

			.row
				.col-md-12
					a.btn.btn-continue.internal-link(href="#quote3", title="", data-ng-click="continue(3)", style="margin-top:30px;")
						i.glyphicon.glyphicon-arrow-down
						span(translate="PC_4_4_4") Continue