/* direct-asia : 0.0.0 : Mon Dec 22 2014 02:12:11 GMT+0800 (CST) */@import url(../lib/Bootflat/bootflat/css/bootflat.css);
.centred {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.6em;
  font-weight: 500; }

a {
  color: #d52b1e; }

.centred {
  text-align: center; }

.subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.3;
  margin-top: 0.3em;
  opacity: 0.7; }

body, html {
  background: #fafafa;
  color: #000000; }

.random-margin {
  margin-right: 1.5em; }

.margin--bottom {
  margin-bottom: 1em; }
.margin--left {
  margin-left: 1em; }
.margin--right {
  margin-right: 1em; }
.margin--top {
  margin-top: 1em; }

.logo {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle; }

h1 img, h2 img {
  margin-right: 0.5em; }

[src="images/question-icon.png"] {
  margin-left: 1em; }

.breadcrumb-arrow {
  background-color: #ffffff;
  box-shadow: 0 2px 0 #e5e5e5; }
  .breadcrumb-arrow li > span {
    position: relative; }
    .breadcrumb-arrow li > span:before {
      border-bottom: 18px solid transparent;
      border-left-color: #ffffff;
      border-left-style: solid;
      border-left-width: 11px;
      border-top: 18px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      right: -10px;
      top: -1px;
      width: 0;
      z-index: 3; }
    .breadcrumb-arrow li > span:after {
      border-bottom: 18px solid transparent;
      border-left: 11px solid #e5e5e5;
      border-top: 18px solid transparent;
      content: "";
      height: 0;
      right: -11px;
      position: absolute;
      top: -1px;
      width: 0;
      z-index: 2; }
  .breadcrumb-arrow li:last-of-type > span:before {
    display: none; }
  .breadcrumb-arrow li:last-of-type > span:after {
    display: none; }
  .breadcrumb-arrow li span.glyphicon {
    color: #75bb49;
    vertical-align: baseline; }
  .breadcrumb-arrow li a {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #333333; }
    .breadcrumb-arrow li a:before {
      border-left-color: #ffffff; }
    .breadcrumb-arrow li a:after {
      border-left: 11px solid #e6e6e6; }
    .breadcrumb-arrow li a:active, .breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover, .breadcrumb-arrow li a.active, .breadcrumb-arrow li a.selected {
      background-color: #ffffff;
      border: 1px solid #ffffff; }
      .breadcrumb-arrow li a:active:before, .breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before, .breadcrumb-arrow li a.active:before, .breadcrumb-arrow li a.selected:before {
        border-left-color: #ffffff; }
  .breadcrumb-arrow li.active a {
    background-color: #fcd900;
    border: 1px solid #fcd900;
    color: #333333; }
    .breadcrumb-arrow li.active a:before {
      border-left-color: #fcd900; }
    .breadcrumb-arrow li.active a:after {
      border-left: 11px solid #e3c300; }
    .breadcrumb-arrow li.active a:active, .breadcrumb-arrow li.active a:focus, .breadcrumb-arrow li.active a:hover, .breadcrumb-arrow li.active a.active, .breadcrumb-arrow li.active a.selected {
      background-color: #ffe963;
      border: 1px solid #ffe963; }
      .breadcrumb-arrow li.active a:active:before, .breadcrumb-arrow li.active a:focus:before, .breadcrumb-arrow li.active a:hover:before, .breadcrumb-arrow li.active a.active:before, .breadcrumb-arrow li.active a.selected:before {
        border-left-color: #ffe963; }

.btn {
  border: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: Menlo, Consolas;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px 2.5em;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: 0.2s background-color ease-in-out;
          transition: 0.2s background-color ease-in-out; }
  .btn .glyphicon {
    margin-top: -7px;
    position: absolute;
    right: 12px;
    top: 50%;
    visibility: hidden; }
  .btn.active {
    background: #fcd900;
    border: none;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    color: #000000; }
    .btn.active .glyphicon {
      visibility: visible; }
  .btn-default {
    background: #25a8e0;
    color: #ffffff; }
  .btn-primary {
    background: #000000;
    -webkit-transition: 0.2s color ease-in-out;
            transition: 0.2s color ease-in-out; }
    .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary.active, .btn-primary.selected {
      background: #000000;
      color: #75bb49; }
  .btn-action-default {
    display: inline; }
  .btn-action-alt {
    display: none; }
  .btn-action.done {
    background: #000000;
    color: #75bb49; }
    .btn-action.done .glyphicon {
      visibility: visible; }
    .btn-action.done .btn-action-default {
      display: none; }
    .btn-action.done .btn-action-alt {
      display: inline; }
  .btn-forward {
    background: #75bb49; }
    .btn-forward .glyphicon {
      margin: 0 0 0 1em;
      position: relative;
      right: auto;
      top: auto;
      visibility: visible; }
    .btn-forward:active, .btn-forward:focus, .btn-forward:hover, .btn-forward.active, .btn-forward.selected {
      background: #5e9839; }
  .btn-backward {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 0.225em;
    color: #000000; }
    .btn-backward .glyphicon {
      margin: 0 1em 0 0;
      position: relative;
      right: auto;
      top: auto;
      visibility: visible; }
    .btn-backward:active, .btn-backward:focus, .btn-backward:hover, .btn-backward.active, .btn-backward.selected {
      background: #000000;
      border: 2px solid #000000; }
  .btn-lg {
    font-size: 14px;
    padding: 1em 6em; }

.btn-group .btn:first-child {
  background: #ffffff; }

.open .dropdown-toggle.btn-default {
  background-color: #fcd900; }

.input-group-btn {
  vertical-align: top; }
.input-group .form-control {
  box-shadow: 0 3px 0 #e5e5e5; }
.input-group .btn-default {
  border: 1px solid #25a8e0;
  height: 34px;
  padding: 7px 10px; }
.input-group .form-control[disabled], .input-group .form-control[readonly] {
  background-color: #ffffff;
  border-color: #aab2bd;
  cursor: default; }

.selecter .selecter-selected {
  border: 1px solid #ccc; }

.selecter .selecter-options {
  border: 1px solid #25a8e0;
  border-top: none;
  box-shadow: 0 3px 0 #e5e5e5; }
  .selecter .selecter-options .placeholder {
    display: none; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

.label-checkbox, .label-radio {
  display: block;
  margin-bottom: 0.5em; }

.fake-checkbox, .fake-radio {
  background: transparent;
  border: 1px solid #25a8e0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  margin-right: 0.7em;
  text-align: center;
  -webkit-transition: 0.1s all ease-in-out;
          transition: 0.1s all ease-in-out;
  vertical-align: text-top;
  width: 1.5em; }
  .fake-checkbox .glyphicon, .fake-radio .glyphicon {
    opacity: 0;
    -webkit-transition: 0.1s all ease-in-out;
            transition: 0.1s all ease-in-out; }
  .fake-checkbox + span, .fake-radio + span {
    cursor: pointer;
    vertical-align: text-top; }

input[type="checkbox"]:checked + .fake-checkbox {
  background: #fcd900;
  border: 1px solid #fcd900; }
  input[type="checkbox"]:checked + .fake-checkbox .glyphicon {
    opacity: 1; }

input[type="radio"]:checked + .fake-radio {
  background: #fcd900; }

input[type="checkbox"]:disabled + .fake-checkbox, input[type="radio"]:disabled + .fake-radio {
  border: 1px solid #a5a5a5;
  cursor: not-allowed; }

input[type="checkbox"]:disabled ~ span, input[type="radio"]:disabled ~ span {
  color: #a5a5a5;
  cursor: not-allowed; }

.navbar {
  background: transparent !important;
  border: none !important;
  margin-bottom: 0 !important; }

.navbar-brand {
  height: 100px;
  margin-right: 2em; }
  .navbar-brand img {
    height: 100%;
    width: auto; }

.navbar-title {
  float: left;
  line-height: 100px;
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 2em; }

.navbar .breadcrumb {
  float: left;
  margin-bottom: 0;
  margin-top: 30px; }

.navbar-telephone {
  margin-top: 25px;
  text-align: right; }
  .navbar-telephone-number {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: -0.3em; }

.navbar-item, .navbar-price, .navbar-smallprint {
  display: block; }

.navbar-item {
  font-size: 0.85em; }

.navbar-price {
  font-size: 1.5em; }

.navbar-smallprint {
  color: #8a8a8a;
  font-size: 0.85em;
  display: none; }

.navbar-da {
  background: #fcd900;
  background: -webkit-linear-gradient(legacy-direction(to bottom), #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  background: -webkit-linear-gradient(top, #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  background: linear-gradient(to bottom, #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  margin: 2em 0;
  width: 100%; }
  .navbar-da nav {
    list-style: none;
    padding: 0;
    float: left; }
    .navbar-da nav li {
      display: inline-block;
      margin-left: -4px !important;
      vertical-align: middle; }
    .navbar-da nav li {
      margin: 0;
      padding: 0; }
    .navbar-da nav li {
      vertical-align: top; }
  .navbar-da a {
    background: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
    color: #333333;
    font-weight: 300;
    margin: 0.5em 0.2em;
    padding: 0.5em 0.75em;
    position: relative; }
  .navbar-da .active a {
    background: #333333;
    color: #ffffff;
    height: 150%; }
    .navbar-da .active a .navbar-smallprint {
      display: block; }
    .navbar-da .active a:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #333333;
      bottom: -10px;
      content: "";
      display: block;
      height: 0;
      left: 50%;
      margin-left: -10px;
      position: absolute;
      width: 0; }

.navbar-info {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid #707070;
  margin: 0.5em 0;
  padding: 0.5em 0.85em;
  text-align: center; }
  .navbar-info.strong {
    font-weight: 500; }

.navbar-da li:last-of-type .navbar-info {
  border-right: none; }

.navbar-da li.active + li .navbar-info {
  border-left: none; }

.save-for-later {
  float: right;
  padding-top: 0.5em;
  width: 12em; }
  .save-for-later .btn {
    box-shadow: none; }
  .save-for-later p {
    font-size: 0.85em;
    margin-top: 0.3em; }

.panel {
  position: relative; }
  .panel-header, .panel-body, .panel-footer {
    padding: 2em; }
  .panel-footer {
    background: #f2f2f2;
    border-top: none; }
  .panel h1, .panel h2 {
    margin-bottom: 0;
    margin-top: 0; }
  .panel .arrow {
    height: 13px;
    position: absolute;
    top: -13px;
    width: 26px; }
    .panel .arrow:after {
      border-bottom: 11px solid #ffffff;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: 1px;
      width: 0;
      z-index: 2; }
    .panel .arrow:before {
      border-bottom: 13px solid rgba(0, 0, 0, 0.02);
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      content: "";
      height: 0;
      left: -2px;
      position: absolute;
      right: 1px;
      top: -1px;
      width: 0;
      z-index: 1; }

.popover {
  background-color: #333333;
  border-color: #333333;
  box-shadow: none;
  padding: 1em; }
  .popover.bottom {
    margin-top: 20px; }
  .popover.right {
    margin-left: 20px; }
  .popover.bottom .arrow, .popover.bottom .arrow:after {
    border-bottom-color: #333333; }
  .popover.right .arrow, .popover.right .arrow:after {
    border-right-color: #333333; }
  .popover .btn {
    box-shadow: none;
    margin-top: 1em; }
  .popover .success-icon {
    background: #75bb49;
    border-radius: 50%;
    height: 4em;
    line-height: 5;
    margin: 1em auto;
    text-align: center;
    width: 4em; }
    .popover .success-icon .glyphicon {
      font-size: 2em; }
  .popover--yellow {
    background-color: #fcd900;
    border-color: #fcd900;
    color: #333333;
    padding: 0.5em; }
    .popover--yellow.right .arrow, .popover--yellow.right .arrow:after {
      border-right-color: #fcd900; }

.popover-close-button {
  background: transparent;
  border: none;
  color: #ffffff;
  position: absolute;
  right: 0.5em;
  top: 0.5em; }

.section {
  padding: 1em; }
  .section--blue {
    background: #25a8e0; }

.tooltip-inner {
  color: #333333;
  background-color: #fcd900; }

.tooltip.top .tooltip-arrow {
  border-top-color: #fcd900; }
