/* direct-asia : 0.0.0 : Mon Apr 13 2015 15:54:14 GMT+0800 (CST) */
@font-face {
  font-family: Proxima;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype"); }

@font-face {
  font-family: ProximaSemiBold;
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.otf") format("opentype"); }

@font-face {
  font-family: ProximaBold;
  src: url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("opentype"); }

@font-face {
  font-family: ProximaLight;
  src: url("../fonts/ProximaNova/ProximaNova-Light.otf") format("opentype"); }

html, body {
  font-family: "Proxima", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #252525;
  font-weight: 200; }

h1 {
  font-size: 2.5em; }

h2 {
  font-family: "ProximaSemiBold";
  font-size: 1.6em; }

h3 {
  font-family: "ProximaLight";
  font-size: 1.6em; }

h4 {
  color: #707070;
  font-size: 1em;
  font-weight: 600; }

a {
  color: #d52b1e; }

label {
  color: #252525; }

.centred {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.subtitle {
  font-family: "Proxima", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 0.3em;
  opacity: 0.7; }
  .subtitle-secondary {
    color: #fcd900; }

.highlight {
  color: #d52b1e; }

strong, .strong {
  color: #000000;
  font-family: "ProximaSemiBold";
  font-weight: 600; }

.strikethrough {
  text-decoration: line-through; }

.small {
  font-size: 0.7em; }

body, html {
  background: #fafafa;
  color: #707070; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.margin--bottom {
  margin-bottom: 1em !important; }
.margin--left {
  margin-left: 1em !important; }
.margin--right {
  margin-right: 1em !important; }
.margin--top {
  margin-top: 1em !important; }

.random-margin {
  margin-right: 1.5em; }

.logo {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle; }

h1 img, h2 img {
  margin: 0 0.5em; }

[src="images/question-icon.png"] {
  margin-left: 1em; }

.inline-image {
  display: inline-block;
  vertical-align: middle; }

.additional-drivers {
  margin: 0 auto; }
  @media (min-width: 654px) {
    .additional-drivers {
      width: 568px; } }

.additional-driver {
  display: inline-block;
  margin: 0.5em;
  position: relative;
  vertical-align: top; }
  .additional-driver-content {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #707070;
    min-height: 255px;
    padding: 3em;
    position: relative;
    width: 270px; }
    .additional-driver-content h4 {
      color: #000000;
      font-family: "ProximaSemiBold";
      font-size: 1.2em;
      font-weight: 500; }
  .additional-driver:active .additional-driver-content, .additional-driver:focus .additional-driver-content, .additional-driver:hover .additional-driver-content, .additional-driver.active .additional-driver-content, .additional-driver.selected .additional-driver-content {
    background: #fcd900; }
  .additional-driver.active {
    height: 1903px; }
    @media (min-width: 654px) {
      .additional-driver.active {
        height: 1516px; } }
    @media (min-width: 992px) {
      .additional-driver.active {
        height: 1245px; } }
    @media (min-width: 1200px) {
      .additional-driver.active {
        height: 1224px; } }

.alert {
  margin-top: 1em; }

.alert-danger {
  color: #ffffff; }

.benefit {
  overflow: hidden;
  margin-bottom: 1em; }
  .benefit-icon {
    float: left;
    margin-right: 15px; }
  .benefit-details {
    float: left;
    width: 65%; }
  .benefit a {
    color: #252525;
    cursor: pointer;
    display: block;
    font-family: "ProximaSemiBold"; }
    .benefit a span {
      float: left;
      width: 75%; }
  .benefit h4 {
    margin: 0; }
    .benefit h4 img {
      float: left;
      margin-left: 10px; }

.breadcrumb-arrow {
  background-color: #ffffff;
  box-shadow: 0 2px 0 #e5e5e5; }
  .breadcrumb-arrow li > span {
    position: relative; }
    .breadcrumb-arrow li > span:before {
      border-bottom: 18px solid transparent;
      border-left-color: #ffffff;
      border-left-style: solid;
      border-left-width: 11px;
      border-top: 18px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      right: -10px;
      top: -1px;
      width: 0;
      z-index: 3; }
    .breadcrumb-arrow li > span:after {
      border-bottom: 18px solid transparent;
      border-left: 11px solid #e5e5e5;
      border-top: 18px solid transparent;
      content: "";
      height: 0;
      right: -11px;
      position: absolute;
      top: -1px;
      width: 0;
      z-index: 2; }
  .breadcrumb-arrow li:last-of-type > span:before {
    display: none; }
  .breadcrumb-arrow li:last-of-type > span:after {
    display: none; }
  .breadcrumb-arrow li span.glyphicon {
    color: #75bb49;
    vertical-align: baseline; }
  .breadcrumb-arrow li a {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #333333; }
    .breadcrumb-arrow li a:before {
      border-left-color: #ffffff; }
    .breadcrumb-arrow li a:after {
      border-left: 11px solid #e6e6e6; }
    .breadcrumb-arrow li a:active, .breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover, .breadcrumb-arrow li a.active, .breadcrumb-arrow li a.selected {
      background-color: #ffffff;
      border: 1px solid #ffffff; }
      .breadcrumb-arrow li a:active:before, .breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before, .breadcrumb-arrow li a.active:before, .breadcrumb-arrow li a.selected:before {
        border-left-color: #ffffff; }
  .breadcrumb-arrow li.active a {
    background-color: #fcd900;
    border: 1px solid #fcd900;
    color: #333333; }
    .breadcrumb-arrow li.active a:before {
      border-left-color: #fcd900; }
    .breadcrumb-arrow li.active a:after {
      border-left: 11px solid #e3c300; }
    .breadcrumb-arrow li.active a:active, .breadcrumb-arrow li.active a:focus, .breadcrumb-arrow li.active a:hover, .breadcrumb-arrow li.active a.active, .breadcrumb-arrow li.active a.selected {
      background-color: #ffe963;
      border: 1px solid #ffe963; }
      .breadcrumb-arrow li.active a:active:before, .breadcrumb-arrow li.active a:focus:before, .breadcrumb-arrow li.active a:hover:before, .breadcrumb-arrow li.active a.active:before, .breadcrumb-arrow li.active a.selected:before {
        border-left-color: #ffe963; }

.btn {
  border: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: Menlo, Consolas;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  max-width: 100%;
  overflow: hidden;
  padding: 5px 2.5em;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: 0.2s background-color ease-in-out;
          transition: 0.2s background-color ease-in-out; }
  .btn .glyphicon {
    margin-top: -7px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%; }
  .btn .glyphicon-ok {
    visibility: hidden; }
  .btn span {
    pointer-events: none; }
  .btn.active {
    background: #fcd900 !important;
    border: none;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    color: #000000 !important; }
    .btn.active .glyphicon-ok {
      visibility: visible; }
  .btn-sm {
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 10px;
    line-height: 1.5; }
  .btn-default {
    background: #25a8e0;
    color: #ffffff; }
    .btn-default:active, .btn-default:focus, .btn-default:hover, .btn-default.active, .btn-default.selected {
      background: #000000;
      color: #ffffff; }
  .btn--spaced {
    margin: 0 0.5em; }
  .btn-default--inverse {
    background: #ffffff;
    color: #25a8e0; }
  .btn-remove {
    padding-right: 22px; }
    .btn-remove .glyphicon {
      margin-top: -6px;
      right: 6px; }
  .btn-plain {
    background: none;
    box-shadow: none;
    color: #252525;
    font-family: "Proxima";
    padding: 0;
    text-transform: none; }
    .btn-plain:active, .btn-plain:focus, .btn-plain:hover, .btn-plain.active, .btn-plain.selected {
      background: none;
      box-shadow: none;
      color: #252525; }
  .btn-large {
    font-size: 1.6em;
    font-weight: 500; }
    .btn-large img {
      display: block;
      margin: 0 auto; }
  .btn-medium {
    font-size: 1.2em;
    font-weight: 400;
    padding: 0;
    text-align: left; }
    .btn-medium img {
      margin-left: 5px; }
  .btn-primary {
    background: #000000;
    -webkit-transition: 0.2s color ease-in-out;
            transition: 0.2s color ease-in-out; }
    .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary.active, .btn-primary.selected {
      background: #000000;
      color: #75bb49; }
  .btn-action-default {
    display: inline; }
  .btn-action-alt {
    display: none; }
  .btn-action.done {
    background: #000000;
    color: #75bb49; }
    .btn-action.done .glyphicon {
      visibility: visible; }
    .btn-action.done .btn-action-default {
      display: none; }
    .btn-action.done .btn-action-alt {
      display: inline; }
  .btn-white {
    font-size: 13px !important;
    padding: 1em !important; }
    @media (min-width: 768px) {
      .btn-white {
        font-size: 17px !important;
        padding: 1em 3em !important; } }
  .btn-forward {
    background: #75bb49; }
    .btn-forward .glyphicon {
      margin: 0 0 0 1em;
      position: relative;
      right: auto;
      top: auto;
      visibility: visible; }
    .btn-forward:active, .btn-forward:focus, .btn-forward:hover, .btn-forward.active, .btn-forward.selected {
      background: #5e9839; }
  .btn-backward {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 0.225em;
    color: #000000; }
    .btn-backward .glyphicon {
      margin: 0 1em 0 0;
      position: relative;
      right: auto;
      top: auto;
      visibility: visible; }
    .btn-backward:active, .btn-backward:focus, .btn-backward:hover, .btn-backward.active, .btn-backward.selected {
      background: #000000;
      border: 2px solid #000000; }
  .btn-lg {
    font-size: 14px;
    padding: 1em 6em; }
  .btn-select-plan {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0.5em 0; }
  .btn-icon {
    background: none;
    border: none;
    box-shadow: none;
    color: #000000;
    height: 11px;
    margin: 10px;
    padding: 0;
    text-indent: -9999px;
    width: 16px; }
    .btn-icon--chinese {
      background: url(../images/cn.png) no-repeat 0 0; }
    .btn-icon--english {
      background: url(../images/gb.png) no-repeat 0 0; }

.btn-group .btn:first-child {
  background: #ffffff; }

.open .dropdown-toggle.btn-default {
  background-color: #fcd900; }

.excesses {
  margin: 4em 0; }

.excess .label-radio {
  color: #ffffff;
  text-align: center; }
.excess .fake-radio {
  background: #ffffff;
  display: block;
  height: 3.5em;
  line-height: 3.8em;
  margin: 0.5em auto;
  width: 3.5em; }
.excess .glyphicon {
  color: #000000; }
.excess-selecter {
  margin-top: 0.8em; }
  .excess-selecter .selecter-selected {
    background: #25a8e0;
    border: none !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #fcd900 !important;
    font-family: "ProximaSemiBold";
    font-size: 2.5em;
    font-weight: 500;
    text-align: center !important;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
    .excess-selecter .selecter-selected:before {
      background: #ffffff;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 54px; }
    .excess-selecter .selecter-selected:after {
      position: absolute;
      top: 50%;
      right: 17px;
      width: 0;
      height: 0;
      content: "";
      border-top: 9px solid #25a8e0;
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
      margin-top: -3px; }
  .excess-selecter .selecter:focus .selecter-selected, .excess-selecter .selecter:hover .selecter-selected {
    background: #25a8e0; }

.recommended-excess {
  color: #ffffff;
  font-family: "ProximaSemiBold";
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.2em;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .recommended-excess .price {
    color: #fcd900;
    font-size: 1.2em;
    margin-top: 0.3em; }

.input-group-btn {
  vertical-align: top; }
.input-group .form-control {
  box-shadow: 0 3px 0 #e5e5e5; }
.input-group .btn-default {
  border: 1px solid #25a8e0;
  height: 34px;
  padding: 7px 10px; }
.input-group .form-control[disabled], .input-group .form-control[readonly] {
  background-color: #ffffff;
  border-color: #aab2bd;
  cursor: default; }

.selecter .selecter-selected {
  border: 1px solid #ccc;
  color: #707070;
  text-align: left; }

.ng-submitted .selecter {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 33px); }
  .ng-submitted .selecter .ng-invalid + .selecter-selected {
    border: 1px solid #d52b1e; }

.selecter .selecter-options {
  border: 1px solid #25a8e0;
  border-top: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #707070;
  text-align: left; }
  .selecter .selecter-options .placeholder {
    display: none; }

input[type="text"], input[type="number"] {
  border: 1px solid #aab2bd;
  border-radius: 4px;
  box-shadow: none;
  padding: 6px 10px; }
  input[type="text"].ng-invalid.ng-dirty:not(.year):not(.month):not(.day):not(.claim), input[type="number"].ng-invalid.ng-dirty:not(.year):not(.month):not(.day):not(.claim) {
    border: 1px solid #d52b1e;
    display: inline-block;
    width: calc(100% - 33px); }

.ng-submitted .ng-invalid:not(.year):not(.month):not(.day):not(.claim) {
  border: 1px solid #d52b1e;
  display: inline-block;
  width: calc(100% - 33px); }

img[src*="error.png"] {
  margin-left: 5px; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

label.label--large {
  display: block;
  font-size: 1.6em;
  font-weight: 500; }
label img {
  margin-left: 10px; }

.label-checkbox, .label-radio {
  display: block;
  color: #252525;
  margin-bottom: 0.5em; }

.fake-checkbox, .fake-radio {
  background: transparent;
  border: 1px solid #25a8e0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  margin-right: 0.7em;
  text-align: center;
  -webkit-transition: 0.1s all ease-in-out;
          transition: 0.1s all ease-in-out;
  vertical-align: text-top;
  width: 1.5em; }
  .fake-checkbox .glyphicon, .fake-radio .glyphicon {
    opacity: 0;
    -webkit-transition: 0.1s all ease-in-out;
            transition: 0.1s all ease-in-out; }
  .fake-checkbox + span, .fake-radio + span {
    cursor: pointer;
    vertical-align: text-top; }

input[type="checkbox"]:checked + .fake-checkbox {
  background: #fcd900;
  border: 1px solid #fcd900; }
  input[type="checkbox"]:checked + .fake-checkbox .glyphicon {
    opacity: 1; }

input[type="radio"]:checked + .fake-radio {
  background: #fcd900; }
  input[type="radio"]:checked + .fake-radio .glyphicon {
    opacity: 1; }

input[type="checkbox"]:disabled + .fake-checkbox, input[type="radio"]:disabled + .fake-radio {
  border: 1px solid #a5a5a5;
  cursor: not-allowed; }

input[type="checkbox"]:disabled ~ span, input[type="radio"]:disabled ~ span {
  color: #a5a5a5;
  cursor: not-allowed; }

.day.ng-invalid.ng-dirty, .month.ng-invalid.ng-dirty, .year.ng-invalid.ng-dirty {
  border: 1px solid #d52b1e; }

.ng-submitted .day.ng-invalid, .ng-submitted .month.ng-invalid, .ng-submitted .year.ng-invalid {
  border: 1px solid #d52b1e; }

.day, .month {
  margin-bottom: 1em;
  width: 60px; }

.year {
  width: 120px; }

.claim {
  margin: 0 5px 1em 0;
  width: 80px; }
  .claim.ng-invalid.ng-dirty {
    border: 1px solid #d52b1e; }

.ng-submitted .claim.ng-invalid {
  border: 1px solid #d52b1e; }

.navbar {
  background: transparent !important;
  border: none !important;
  margin-bottom: 0 !important; }

.navbar-brand {
  height: 100px;
  margin-right: 2em; }
  .navbar-brand img {
    height: 100%;
    width: auto; }

.navbar-title {
  float: left;
  line-height: 100px;
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 2em; }

.navbar .breadcrumb {
  float: left;
  margin-bottom: 0;
  margin-top: 90px !important;
  width: auto !important; }
  @media (min-width: 769px) {
    .navbar .breadcrumb {
      margin-top: 115px !important;
      width: 100% !important; } }
  @media (min-width: 1000px) {
    .navbar .breadcrumb {
      margin-top: 30px !important;
      width: auto !important; } }

.navbar-telephone {
  margin-top: 25px;
  text-align: right; }
  .navbar-telephone-number {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: -0.3em; }

.jumbotron {
  box-shadow: none;
  padding: 2em; }
  .container .jumbotron {
    padding: 2em; }
  .jumbotron h1 {
    margin-top: 0; }
  .jumbotron p {
    max-width: 66%; }
  .jumbotron--black {
    background: #252525;
    color: #ffffff; }

.navbar-item, .navbar-price, .navbar-smallprint {
  display: block; }

.navbar-item {
  font-size: 0.9em;
  margin-top: 4px; }

.navbar-price {
  font-size: 1.5em; }

.navbar-telephone {
  padding-top: 25px;
  width: 100%; }
  @media (min-width: 768px) {
    .navbar-telephone {
      padding-top: 0;
      width: auto; } }

.navbar-smallprint {
  color: #8a8a8a;
  font-size: 0.85em;
  display: none; }

.navbar-da {
  background: #fcd900;
  background: -webkit-linear-gradient(legacy-direction(to bottom), #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  background: -webkit-linear-gradient(top, #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  background: linear-gradient(to bottom, #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  margin: 2em 0;
  min-height: 92px;
  width: 100%; }
  .navbar-da.fsm-sticky-header {
    margin: 0; }
  .navbar-da nav {
    list-style: none;
    padding: 0;
    float: left; }
    .navbar-da nav li {
      display: inline-block;
      margin-left: -4px !important;
      vertical-align: middle; }
    .navbar-da nav li {
      margin: 0;
      padding: 0; }
    .navbar-da nav li {
      vertical-align: top; }
  .navbar-da a {
    background: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
    color: #333333;
    cursor: pointer;
    font-weight: 300;
    margin: 0.5em 0.4em;
    padding: 0.5em 0.75em;
    position: relative; }
  .navbar-da .active a {
    background: #333333;
    color: #ffffff;
    height: 150%; }
    .navbar-da .active a .navbar-smallprint {
      display: block; }
    .navbar-da .active a:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #333333;
      bottom: -10px;
      content: "";
      display: block;
      height: 0;
      left: 50%;
      margin-left: -10px;
      position: absolute;
      width: 0; }
  .navbar-da .recommended {
    background: #d52b1e;
    color: #ffffff;
    left: -5px;
    font-size: 0.7em;
    margin-top: -14px;
    padding: 0px 10px;
    position: absolute;
    z-index: 2; }
    .navbar-da .recommended:before {
      border-color: #d52b1e transparent;
      border-style: solid;
      border-width: 5px 0px 0px 5px;
      bottom: -5px;
      content: "";
      left: 0px;
      position: absolute; }
    .navbar-da .recommended img {
      margin: 0 5px 0 0; }

.navbar-info {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid #707070;
  height: 66px;
  margin: 0.5em 1px 0.5em 0;
  padding: 0.5em 0.85em;
  text-align: center; }
  .navbar-info.strong {
    font-weight: 500; }

.navbar-da li:last-of-type .navbar-info {
  border-right: none; }

.navbar-da li.active + li .navbar-info {
  border-left: none; }

.save-for-later {
  float: right;
  padding-top: 0.5em;
  width: 12em; }
  .save-for-later .btn {
    box-shadow: none; }
  .save-for-later p {
    font-size: 0.85em;
    margin-top: 0.3em; }

.options {
  margin: 3em 0; }

.option {
  display: inline-block;
  margin: 1em 0.5em;
  position: relative;
  vertical-align: top; }
  .option-content {
    min-height: 215px;
    position: relative;
    width: 320px; }
    .option-content .panel-heading {
      cursor: pointer; }
    .option-content .panel-footer {
      height: 140px;
      padding: 1em;
      position: relative;
      text-align: right; }
  .option-edit h4 {
    color: #000000;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "ProximaSemiBold";
    margin-bottom: 0; }
  .option .panel {
    margin-bottom: 0; }
  .option .panel-heading {
    height: 75px;
    padding: 1em; }
  .option h3 {
    font-family: "ProximaSemiBold";
    margin: 0;
    max-width: 90%;
    text-align: left; }
  .option .option-details-icon {
    position: absolute;
    right: 0.5em;
    top: 0.5em; }
  .option .option-icon {
    bottom: 1em;
    left: 1em;
    position: absolute; }
  .option strong {
    color: #000000;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 108px; }
  .option .buttons {
    bottom: 1em;
    line-height: 1;
    position: absolute;
    right: 1em; }
  .option .icon {
    bottom: 0.5em;
    color: #000000;
    font-size: 28px;
    line-height: 1;
    position: absolute;
    right: 0.5em; }
  .option .recommended {
    background: #d52b1e;
    color: #ffffff;
    left: -5px;
    margin-top: -12px;
    padding: 0px 19px;
    position: absolute;
    z-index: 2; }
    .option .recommended:before {
      border-color: #d52b1e transparent;
      border-style: solid;
      border-width: 5px 0px 0px 5px;
      bottom: -5px;
      content: "";
      left: 0px;
      position: absolute; }
    .option .recommended img {
      margin: 0 5px 0 0; }
  .option.selected .panel-heading {
    background: #fcd900; }
  .option.selected .panel-footer {
    background: #e3c300; }
  .option.editing {
    height: 767px; }
    @media (min-width: 754px) {
      .option.editing {
        height: 637px; } }
    @media (min-width: 992px) {
      .option.editing {
        height: 625px; } }
    @media (min-width: 1200px) {
      .option.editing {
        height: 605px; } }
  .option.details {
    height: 507px; }
    @media (min-width: 754px) {
      .option.details {
        height: 405px; } }
    @media (min-width: 1200px) {
      .option.details {
        height: 385px; } }

.panel {
  color: #707070;
  position: relative; }
  .panel-header, .panel-body, .panel-footer {
    padding: 2em; }
  .panel-nopadding .panel-header, .panel-nopadding .panel-body, .panel-nopadding .panel-footer {
    padding: 0; }
  .panel-close-button {
    cursor: pointer;
    opacity: 0.6;
    position: absolute;
    right: 1em;
    top: 1em;
    -webkit-transition: 0.3s all ease-in-out;
            transition: 0.3s all ease-in-out; }
    .panel-close-button:active, .panel-close-button:focus, .panel-close-button:hover, .panel-close-button.active, .panel-close-button.selected {
      opacity: 1; }
  .panel-header {
    background: #25a8e0;
    border-radius: 0.25em 0.25em 0 0;
    -webkit-transition: 0.3s all ease-in-out;
            transition: 0.3s all ease-in-out; }
    .panel-header .fake-checkbox {
      float: right;
      background: #fcd900;
      color: #000000;
      margin: 0.5em 0; }
      .panel-header .fake-checkbox .glyphicon {
        font-size: 0.75em; }
    .panel-header.compare {
      height: 210px;
      padding-right: 47%; }
      .panel-header.compare .price-summary {
        clear: both; }
  .panel-body--grey {
    background: #f2f2f2; }
  .panel-footer {
    background: #f2f2f2;
    color: #707070;
    border-top: none; }
    .panel-footer h3 {
      color: #252525;
      font-size: 24px;
      font-weight: 600; }
  .panel-comparable {
    overflow: hidden; }
    .panel-comparable .row {
      min-height: 60px; }
  .panel-comparison {
    background: #f2f2f2;
    border-radius: 0 4px 4px 0;
    bottom: 0;
    box-shadow: -2px 6px 8px -6px #000000;
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform ease 0.5s;
            transition: transform ease 0.5s;
    width: 45%; }
    .panel-comparison.active {
      -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
              transform: translateX(0%); }
    .panel-comparison .panel-header {
      background: #e5e5e5;
      height: 210px; }
      .panel-comparison .panel-header h2 {
        color: #252525 !important; }
    .panel-comparison .subtitle-secondary {
      color: #000000; }
    .panel-comparison .btn-medium {
      margin-bottom: 1em; }
    .panel-comparison strong {
      color: #25a8e0; }
    .panel-comparison ul {
      list-style: none;
      padding: 0;
      margin-top: 3em; }
      .panel-comparison ul li {
        margin: 0;
        padding: 0; }
      .panel-comparison ul li {
        margin-bottom: 1em; }
    .panel-comparison li {
      color: #000000;
      font-family: "ProximaSemiBold";
      font-size: 1.6em; }
  .panel h1, .panel h2 {
    margin-bottom: 0;
    margin-top: 0; }
  .panel .arrow {
    height: 13px;
    position: absolute;
    top: -13px;
    width: 26px; }
    .panel .arrow:after {
      border-bottom: 11px solid #ffffff;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: 1px;
      width: 0;
      z-index: 2; }
    .panel .arrow:before {
      border-bottom: 13px solid rgba(0, 0, 0, 0.02);
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      content: "";
      height: 0;
      left: -2px;
      position: absolute;
      right: 1px;
      top: -1px;
      width: 0;
      z-index: 1; }
  .panel-editdriver {
    left: 0;
    margin: 1em 0;
    position: absolute;
    top: 255px;
    width: 270px;
    z-index: 5; }
    @media (min-width: 654px) {
      .panel-editdriver {
        width: 555px; } }
    @media (min-width: 992px) {
      .panel-editdriver {
        width: 838px; } }
    @media (min-width: 1200px) {
      .panel-editdriver {
        width: 1122px; } }
    .panel-editdriver:after {
      border-bottom: 10px solid #ffffff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: "";
      display: block;
      height: 0;
      left: 50%;
      margin-left: -10px;
      position: absolute;
      top: -10px;
      width: 0; }
  .panel-editdriver-1 {
    left: 0; }
    @media (min-width: 992px) {
      .panel-editdriver-1 {
        left: -142px; } }
    @media (min-width: 1200px) {
      .panel-editdriver-1 {
        left: -284px; } }
    @media (min-width: 654px) {
      .panel-editdriver-1:after {
        left: 25%; } }
    @media (min-width: 992px) {
      .panel-editdriver-1:after {
        left: 33.33%; } }
    @media (min-width: 1200px) {
      .panel-editdriver-1:after {
        left: 37.5%; } }
  .panel-editdriver-2 {
    left: 0; }
    @media (min-width: 654px) {
      .panel-editdriver-2 {
        left: -284px; } }
    @media (min-width: 992px) {
      .panel-editdriver-2 {
        left: -426px; } }
    @media (min-width: 1200px) {
      .panel-editdriver-2 {
        left: -568px; } }
    @media (min-width: 654px) {
      .panel-editdriver-2:after {
        left: 75%; } }
    @media (min-width: 992px) {
      .panel-editdriver-2:after {
        left: 66.67%; } }
    @media (min-width: 1200px) {
      .panel-editdriver-2:after {
        left: 62.5%; } }
  .panel-editoption, .panel-option-details {
    left: 0;
    margin: 0;
    position: absolute;
    top: 230px;
    width: 320px;
    z-index: 10; }
    @media (min-width: 754px) {
      .panel-editoption, .panel-option-details {
        width: 655px; } }
    @media (min-width: 992px) {
      .panel-editoption, .panel-option-details {
        width: 840px; } }
    @media (min-width: 1200px) {
      .panel-editoption, .panel-option-details {
        width: 990px; } }
    .panel-editoption:after, .panel-option-details:after {
      border-bottom: 10px solid #ffffff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: "";
      display: block;
      height: 0;
      left: 50%;
      margin-left: -10px;
      position: absolute;
      top: -10px;
      width: 0; }
  .panel-editoption-1 {
    left: 0; }
    @media (min-width: 754px) {
      .panel-editoption-1 {
        left: 0px; } }
    @media (min-width: 992px) {
      .panel-editoption-1 {
        left: -93px; } }
    @media (min-width: 1200px) {
      .panel-editoption-1 {
        left: -335px; } }
    @media (min-width: 754px) {
      .panel-editoption-1:after {
        left: 25%; } }
    @media (min-width: 992px) {
      .panel-editoption-1:after {
        left: 30%; } }
    @media (min-width: 1200px) {
      .panel-editoption-1:after {
        left: 50%; } }
  .panel-editoption-2 {
    left: 0; }
    @media (min-width: 992px) {
      .panel-editoption-2 {
        left: -84px; } }
    @media (min-width: 1200px) {
      .panel-editoption-2 {
        left: -168px; } }
    @media (min-width: 754px) {
      .panel-editoption-2:after {
        left: 25%; } }
    @media (min-width: 992px) {
      .panel-editoption-2:after {
        left: 30%; } }
    @media (min-width: 1200px) {
      .panel-editoption-2:after {
        left: 33.3%; } }
  .panel-editoption-3 {
    left: 0; }
    @media (min-width: 754px) {
      .panel-editoption-3 {
        left: -335px; } }
    @media (min-width: 992px) {
      .panel-editoption-3 {
        left: -428px; } }
    @media (min-width: 1200px) {
      .panel-editoption-3 {
        left: -500px; } }
    @media (min-width: 754px) {
      .panel-editoption-3:after {
        left: 75%; } }
    @media (min-width: 992px) {
      .panel-editoption-3:after {
        left: 70%; } }
    @media (min-width: 1200px) {
      .panel-editoption-3:after {
        left: 66.6%; } }
  .panel-editoption-4 {
    left: 0; }
    @media (min-width: 754px) {
      .panel-editoption-4 {
        left: -335px; } }
    @media (min-width: 992px) {
      .panel-editoption-4 {
        left: -427px; } }
    @media (min-width: 1200px) {
      .panel-editoption-4 {
        left: 0px; } }
    @media (min-width: 754px) {
      .panel-editoption-4:after {
        left: 75%; } }
    @media (min-width: 992px) {
      .panel-editoption-4:after {
        left: 70%; } }
    @media (min-width: 1200px) {
      .panel-editoption-4:after {
        left: 16.65%; } }
  .panel-editoption-5 {
    left: 0; }
    @media (min-width: 754px) {
      .panel-editoption-5 {
        left: -335px; } }
    @media (min-width: 992px) {
      .panel-editoption-5 {
        left: -427px; } }
    @media (min-width: 1200px) {
      .panel-editoption-5 {
        left: -670px; } }
    @media (min-width: 754px) {
      .panel-editoption-5:after {
        left: 75%; } }
    @media (min-width: 992px) {
      .panel-editoption-5:after {
        left: 70%; } }
    @media (min-width: 1200px) {
      .panel-editoption-5:after {
        left: 83.25%; } }
  .panel-option-details .panel-footer {
    border-radius: 4px 4px 4px 4px; }
  .panel-option-details:after {
    border-bottom: 10px solid #f2f2f2; }

.plan-left, .plan-right {
  display: inline-block;
  vertical-align: middle; }
.plan-left {
  margin-right: 2em; }
.plan-item {
  margin-bottom: 10px; }
  .plan-item strong {
    color: #000000;
    display: inline-block;
    font-family: "ProximaBold";
    width: 80px; }
  .plan-item button {
    margin-left: 2em; }
.plan-total {
  color: #25a8e0;
  font-family: "ProximaSemiBold";
  font-size: 2em;
  margin-top: 1em; }
  @media (min-width: 1000px) {
    .plan-total {
      margin-top: 0; } }
  .plan-total .subtitle {
    color: #252525; }

.popover {
  background-color: #333333;
  border-color: #333333;
  box-shadow: none;
  padding: 1em; }
  .popover.bottom {
    margin-top: 20px; }
  .popover.right {
    margin-left: 20px; }
  .popover.bottom .arrow, .popover.bottom .arrow:after {
    border-bottom-color: #333333; }
  .popover.right .arrow, .popover.right .arrow:after {
    border-right-color: #333333; }
  .popover .btn {
    box-shadow: none;
    margin-top: 1em; }
  .popover .success-icon {
    background: #75bb49;
    border-radius: 50%;
    height: 4em;
    line-height: 5;
    margin: 1em auto;
    text-align: center;
    width: 4em; }
    .popover .success-icon .glyphicon {
      font-size: 2em; }
  .popover--yellow {
    background-color: #fcd900;
    border-color: #fcd900;
    color: #333333;
    padding: 0.5em; }
    .popover--yellow.right .arrow, .popover--yellow.right .arrow:after {
      border-right-color: #fcd900; }

.popover-close-button {
  background: transparent;
  border: none;
  color: #ffffff;
  position: absolute;
  right: 0.5em;
  top: 0.5em; }

.section--rounded {
  border-radius: 4px; }
.section--black {
  background: #252525;
  color: #ffffff; }
.section--blue {
  background: #25a8e0 url(../images/blue-background.gif) repeat 0 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff; }
  .section--blue h2 {
    color: #ffffff;
    font-family: "ProximaLight";
    line-height: 1.3;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.section--padded {
  padding: 2em; }
.section--centred {
  text-align: center; }

.side-pagination {
  display: none;
  list-style: none;
  position: fixed;
  padding: 0px;
  right: 0;
  top: 43%;
  z-index: 10; }
  @media (min-width: 768px) {
    .side-pagination {
      display: block; } }
  .side-pagination a {
    background: #25a8e0;
    border-radius: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 8px;
    width: 20px; }
  .side-pagination li {
    position: relative; }
  .side-pagination .active a {
    background: #fcd900;
    border: none; }
  .side-pagination .tooltip {
    left: auto !important;
    margin-right: 32px;
    right: 0;
    min-width: 200px; }
  .side-pagination .tooltip-inner {
    max-width: none;
    width: 100%; }

.table-plain {
  margin-bottom: 0; }
  .table-plain td {
    border-top: none !important;
    padding: 2em !important; }

td.blue {
  background: #25a8e0;
  color: #ffffff !important; }
  td.blue h2 {
    color: #ffffff !important; }
td.light-grey {
  background: #fafafa; }
td.dark-grey {
  background: #e5e5e5; }
td.shadow {
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.1); }

.tooltip-inner {
  color: #333333;
  background-color: #fcd900;
  font-size: 1.2em; }

.tooltip.left .tooltip-arrow {
  border-left-color: #fcd900; }
.tooltip.top .tooltip-arrow {
  border-top-color: #fcd900; }

.navbar-da .notchosen {
  display: block; }
.navbar-da .chosen {
  display: none; }
.navbar-da.fsm-sticky-header .notchosen {
  display: none; }
.navbar-da.fsm-sticky-header .chosen {
  display: block; }

/*panel header*/
.panel .panel-header h2 {
  color: #fff; }

.panel.active .panel-body {
  background: #FCD900;
  border-radius: 5px; }

.panel .drivers {
  display: none; }

.panel .active .drivers {
  display: initial; }

.panel.active .panel-footer {
  background: #efce00;
  border-radius: 0 0 5px 5px; }

.section-plan .panel {
  overflow: hidden; }

.section-plan .panel .panel-header {
  -webkit-transition: padding ease 0.5s;
  transition: padding ease 0.5s; }

.section-plan .panel .panel-header .label-checkbox {
  margin-bottom: -10px;
  margin-top: 10px;
  height: 0px;
  overflow: hidden; }

.section-plan .panel .panel-header .label-checkbox .fake-checkbox {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s; }

.section-plan .panel.compared .panel-header {
  padding-right: 47%; }

.section-plan .panel.compared .panel-header > h2 {
  margin-bottom: 15px; }

.section-plan .panel.compared .panel-header > .yr-right {
  clear: both; }

.section-plan .panel.compared .panel-header > .yr-right label {
  margin-bottom: -15px;
  margin-top: 8px;
  display: block;
  height: auto; }

.section-plan .panel.compared .panel-header > .yr-right [type="checkbox"] ~ .fake-checkbox {
  background-color: #fcd900;
  line-height: 200%;
  height: 2em;
  width: 2em;
  margin-right: 0; }

.section-plan .panel.compared .panel-header > .yr-right [type="checkbox"]:checked ~ .fake-checkbox span {
  opacity: 1; }

.comparison {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
  background: #f2f2f2;
  border-radius: 0 4px 4px 0;
  height: 100%;
  box-shadow: -2px 6px 8px -6px #000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s; }

.comparison.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

.comparison .panel-body > h2 {
  float: left; }

.comparison .panel-body > img {
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
  cursor: pointer; }

.comparison .panel-body .select {
  margin-top: 15px;
  display: block;
  background-color: #000;
  color: #fff;
  padding: 2px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  text-align: center;
  margin-left: auto;
  margin-bottom: 6px; }

.comparison .panel-body > div {
  margin-bottom: 38px; }

.comparison .panel-body > div > h2 {
  font-size: 16px; }

.comparison .panel-body > .totals {
  border-bottom: 1px solid #e3e3e3;
  margin-left: -2em;
  margin-right: -2em;
  padding: 0em 2em;
  padding-bottom: 10px;
  text-align: right; }

.comparison .panel-body > .totals h2 {
  font-size: 22.4px;
  margin-bottom: 8px; }

.comparison .panel-body > .totals > div {
  line-height: 84%;
  font-weight: 200; }

.btn-white {
  background: #fff;
  color: #000;
  border: 1px solid #333;
  font-size: 17px;
  padding: 5px 55px;
  margin-top: 10px; }

/*spacing*/
.space {
  height: 30px; }

/*wrapper section*/
.wrapper {
  background: #25A8E0;
  min-height: 100%; }

/*button*/
.btn-continue {
  background: #ffffff;
  border-radius: 1em;
  color: #25A8E0; }

.btn-continue .glyphicon {
  position: relative;
  visibility: visible; }

.save-for-later-bottom {
  float: left;
  margin-left: 15px;
  width: 160px; }

.save-for-later-bottom button {
  padding: 7px 26px; }

/*yr right*/
.yr-right {
  float: right;
  text-align: right; }

/*check box and radion button*/
.big-checkbox {
  background: #ffffff;
  height: 4.5em;
  width: 4.5em;
  line-height: 4.5em;
  margin: 0em; }

/*white font*/
.white-font {
  color: #ffffff;
  margin-top: 15px;
  font-weight: bold; }

/*custom column*/
.cover .panel {
  margin-bottom: 30px; }

.cover .panel-body {
  height: 76px; }

.cover .panel-body, .cover .panel-footer {
  padding: 1em; }

.cover .panel-footer img {
  position: absolute;
  left: 1em;
  bottom: 1em; }

.cover .panel-footer button {
  padding: 10px 15px; }

.cover .panel .recomended {
  position: absolute;
  background: #D52B1E;
  color: #fff;
  padding: 0px 19px;
  left: -5px;
  margin-top: -12px; }

.cover .panel .recomended:before {
  content: " ";
  border-style: solid;
  border-color: #D52B1E transparent;
  border-width: 5px 0px 0px 5px;
  position: absolute;
  bottom: -5px;
  left: 0px; }

/*  Customization  */
body .outer-wrap {
  height: 100%;
  width: 100%;
  position: absolute !important;
  top: 0px;
  overflow: hidden; }

body .outer-wrap > section {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform ease 1s;
  transition: transform ease 1s; }

.onepage-pagination {
  position: fixed;
  list-style: none;
  padding: 0px;
  top: 43%;
  right: 30px; }

.onepage-pagination li a {
  border: 1px solid #D0D0D0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: block;
  margin: 5px;
  cursor: pointer; }

.onepage-pagination li.active a {
  border: none;
  background: #fcd900; }

.nav-tabs li {
  display: table-cell;
  width: 1%; }

.mobile {
  display: none; }

.compare .row > div {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px; }

.compare .row .active {
  background: #FCD900; }

.compare .row.one .active {
  background: #f7d500; }

.need-help .popover-button {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: fixed;
  right: -60px;
  top: 90px;
  z-index: 9999; }

.save-for-later .popover {
  left: auto;
  margin-left: -50px;
  margin-top: 50px;
  margin-bottom: 30px; }

.custom-tooltip .popover {
  font-size: 12px;
  background: #FCD900;
  border: #FCD900;
  color: #333; }

.custom-tooltip .popover .popover-content {
  padding: 0px; }

.custom-tooltip .popover.right .arrow, .custom-tooltip .popover.right .arrow:after {
  border-right-color: #FCD900; }

.need-help .popover {
  background-color: #FCD900;
  border-color: #FCD900;
  color: #333;
  margin-top: 20px; }

.need-help .popover.left .arrow, .need-help .popover.left .arrow:after {
  border-left-color: #FCD900; }

.need-help .popover {
  position: fixed;
  right: 33px;
  left: auto; }

.error {
  position: relative; }

.error-image {
  position: absolute;
  right: 7px;
  margin-top: 8px;
  width: 16px;
  display: none; }

.error input {
  border-color: #D52B1E;
  border-width: 1px; }

.error .selecter-selected {
  border-color: #D52B1E; }

.error .error-image {
  display: initial; }

/*for overlay*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  text-align: center; }

.overlay .panel {
  width: 600px;
  margin: auto;
  top: 35%; }

.overlay .overlay-close-button {
  background: transparent;
  border: none;
  color: #333;
  position: absolute;
  right: 0.5em;
  top: 0.5em; }

.font-color-25a8e0 {
  color: #25a8e0; }

@media (min-width: 1000px) {
  @viewport {
    width: device-width; }
 }

@media (max-width: 1000px) {
  @viewport {
    width: 780px; }

  .breadcrumb {
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 90px !important; }

  .navbar {
    margin-bottom: 50px !important; }

  .mobile {
    display: initial; }

  .desktop {
    display: none; }
 }

/*!
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.slider.slider-horizontal {
  width: 210px;
  height: 20px; }

.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0; }

.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0; }

.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -5px; }

.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0; }

.slider.slider-vertical {
  height: 210px;
  width: 20px; }

.slider.slider-vertical .slider-track {
  width: 10px;
  height: 100%;
  margin-left: -5px;
  left: 50%;
  top: 0; }

.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0; }

.slider.slider-vertical .slider-handle {
  margin-left: -5px;
  margin-top: -10px; }

.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  border-left-color: #0480be;
  margin-left: 0; }

.slider input {
  display: none; }

.slider .tooltip-inner {
  white-space: nowrap; }

.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

.slider-selection {
  position: absolute;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5);
  background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 4px; }

.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0e90d2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
  border: 0px solid transparent; }

.slider-handle.round {
  border-radius: 20px; }

.slider-handle.triangle {
  background: transparent none; }
