/* direct-asia : 0.0.0 : Thu Mar 26 2015 23:27:08 GMT+0800 (CST) */
@font-face {
  font-family: Proxima;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype"); }

@font-face {
  font-family: ProximaSemiBold;
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.otf") format("opentype"); }

@font-face {
  font-family: ProximaBold;
  src: url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("opentype"); }

@font-face {
  font-family: ProximaLight;
  src: url("../fonts/ProximaNova/ProximaNova-Light.otf") format("opentype"); }

html, body {
  font-family: "Proxima", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #252525;
  font-weight: 200; }

h1 {
  font-size: 2.5em; }

h2 {
  font-family: "ProximaSemiBold";
  font-size: 1.6em; }

h3 {
  font-family: "ProximaLight";
  font-size: 1.6em; }

h4 {
  color: #707070;
  font-size: 1em;
  font-weight: 600; }

a {
  color: #d52b1e; }

label {
  color: #252525; }

.centred {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.subtitle {
  font-family: "Proxima", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 0.3em;
  opacity: 0.7; }
  .subtitle-secondary {
    color: #fcd900; }

.highlight {
  color: #d52b1e; }

strong {
  color: #000000;
  font-family: "ProximaSemiBold";
  font-weight: 600; }

.strikethrough {
  text-decoration: line-through; }

.total {
  color: #25a8e0;
  font-family: "ProximaSemiBold";
  font-size: 2em; }
  .total .subtitle {
    color: #252525; }

body, html {
  background: #fafafa;
  color: #707070; }

.block {
  display: block; }

.margin--bottom {
  margin-bottom: 1em !important; }
.margin--left {
  margin-left: 1em !important; }
.margin--right {
  margin-right: 1em !important; }
.margin--top {
  margin-top: 1em !important; }

.random-margin {
  margin-right: 1.5em; }

.logo {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle; }

h1 img, h2 img {
  margin: 0 0.5em; }

[src="images/question-icon.png"] {
  margin-left: 1em; }

.inline-image {
  display: inline-block;
  vertical-align: middle; }

.benefit-icon {
  float: left;
  margin-right: 15px; }
.benefit-details {
  float: left;
  width: 65%; }
.benefit a {
  color: #252525;
  cursor: pointer;
  display: block;
  font-family: "ProximaSemiBold"; }
.benefit h4 {
  margin: 0; }
  .benefit h4 img {
    margin-left: 10px; }

.breadcrumb-arrow {
  background-color: #ffffff;
  box-shadow: 0 2px 0 #e5e5e5; }
  .breadcrumb-arrow li > span {
    position: relative; }
    .breadcrumb-arrow li > span:before {
      border-bottom: 18px solid transparent;
      border-left-color: #ffffff;
      border-left-style: solid;
      border-left-width: 11px;
      border-top: 18px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      right: -10px;
      top: -1px;
      width: 0;
      z-index: 3; }
    .breadcrumb-arrow li > span:after {
      border-bottom: 18px solid transparent;
      border-left: 11px solid #e5e5e5;
      border-top: 18px solid transparent;
      content: "";
      height: 0;
      right: -11px;
      position: absolute;
      top: -1px;
      width: 0;
      z-index: 2; }
  .breadcrumb-arrow li:last-of-type > span:before {
    display: none; }
  .breadcrumb-arrow li:last-of-type > span:after {
    display: none; }
  .breadcrumb-arrow li span.glyphicon {
    color: #75bb49;
    vertical-align: baseline; }
  .breadcrumb-arrow li a {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #333333; }
    .breadcrumb-arrow li a:before {
      border-left-color: #ffffff; }
    .breadcrumb-arrow li a:after {
      border-left: 11px solid #e6e6e6; }
    .breadcrumb-arrow li a:active, .breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover, .breadcrumb-arrow li a.active, .breadcrumb-arrow li a.selected {
      background-color: #ffffff;
      border: 1px solid #ffffff; }
      .breadcrumb-arrow li a:active:before, .breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before, .breadcrumb-arrow li a.active:before, .breadcrumb-arrow li a.selected:before {
        border-left-color: #ffffff; }
  .breadcrumb-arrow li.active a {
    background-color: #fcd900;
    border: 1px solid #fcd900;
    color: #333333; }
    .breadcrumb-arrow li.active a:before {
      border-left-color: #fcd900; }
    .breadcrumb-arrow li.active a:after {
      border-left: 11px solid #e3c300; }
    .breadcrumb-arrow li.active a:active, .breadcrumb-arrow li.active a:focus, .breadcrumb-arrow li.active a:hover, .breadcrumb-arrow li.active a.active, .breadcrumb-arrow li.active a.selected {
      background-color: #ffe963;
      border: 1px solid #ffe963; }
      .breadcrumb-arrow li.active a:active:before, .breadcrumb-arrow li.active a:focus:before, .breadcrumb-arrow li.active a:hover:before, .breadcrumb-arrow li.active a.active:before, .breadcrumb-arrow li.active a.selected:before {
        border-left-color: #ffe963; }

.btn {
  border: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: Menlo, Consolas;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px 2.5em;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: 0.2s background-color ease-in-out;
          transition: 0.2s background-color ease-in-out; }
  .btn .glyphicon {
    margin-top: -7px;
    position: absolute;
    right: 12px;
    top: 50%;
    visibility: hidden; }
  .btn.active {
    background: #fcd900 !important;
    border: none;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    color: #000000 !important; }
    .btn.active .glyphicon {
      visibility: visible; }
  .btn-default {
    background: #25a8e0;
    color: #ffffff; }
  .btn-plain {
    background: none;
    box-shadow: none;
    color: #252525;
    font-family: "Proxima";
    padding: 0;
    text-transform: none; }
    .btn-plain:active, .btn-plain:focus, .btn-plain:hover, .btn-plain.active, .btn-plain.selected {
      background: none;
      box-shadow: none;
      color: #252525; }
  .btn-large {
    font-size: 1.6em;
    font-weight: 500; }
    .btn-large img {
      display: block;
      margin: 0 auto; }
  .btn-medium {
    font-size: 1.2em;
    font-weight: 400;
    padding: 0;
    text-align: left; }
    .btn-medium img {
      margin-left: 5px; }
  .btn-primary {
    background: #000000;
    -webkit-transition: 0.2s color ease-in-out;
            transition: 0.2s color ease-in-out; }
    .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary.active, .btn-primary.selected {
      background: #000000;
      color: #75bb49; }
  .btn-action-default {
    display: inline; }
  .btn-action-alt {
    display: none; }
  .btn-action.done {
    background: #000000;
    color: #75bb49; }
    .btn-action.done .glyphicon {
      visibility: visible; }
    .btn-action.done .btn-action-default {
      display: none; }
    .btn-action.done .btn-action-alt {
      display: inline; }
  .btn-forward {
    background: #75bb49; }
    .btn-forward .glyphicon {
      margin: 0 0 0 1em;
      position: relative;
      right: auto;
      top: auto;
      visibility: visible; }
    .btn-forward:active, .btn-forward:focus, .btn-forward:hover, .btn-forward.active, .btn-forward.selected {
      background: #5e9839; }
  .btn-backward {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 0.225em;
    color: #000000; }
    .btn-backward .glyphicon {
      margin: 0 1em 0 0;
      position: relative;
      right: auto;
      top: auto;
      visibility: visible; }
    .btn-backward:active, .btn-backward:focus, .btn-backward:hover, .btn-backward.active, .btn-backward.selected {
      background: #000000;
      border: 2px solid #000000; }
  .btn-lg {
    font-size: 14px;
    padding: 1em 6em; }
  .btn-select-plan {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0.5em 0; }

.btn-group .btn:first-child {
  background: #ffffff; }

.open .dropdown-toggle.btn-default {
  background-color: #fcd900; }

.excesses {
  margin: 4em 0; }

.excess .label-radio {
  color: #ffffff;
  text-align: center; }
.excess .fake-radio {
  background: #ffffff;
  display: block;
  height: 3.5em;
  line-height: 3.8em;
  margin: 0.5em auto;
  width: 3.5em; }
.excess .glyphicon {
  color: #000000; }

.recommended-excess {
  color: #ffffff;
  font-family: "ProximaLight";
  font-size: 1.8em;
  font-weight: 300; }
  .recommended-excess .price {
    color: #fcd900;
    font-size: 1.2em;
    margin-top: 0.3em; }

.input-group-btn {
  vertical-align: top; }
.input-group .form-control {
  box-shadow: 0 3px 0 #e5e5e5; }
.input-group .btn-default {
  border: 1px solid #25a8e0;
  height: 34px;
  padding: 7px 10px; }
.input-group .form-control[disabled], .input-group .form-control[readonly] {
  background-color: #ffffff;
  border-color: #aab2bd;
  cursor: default; }

.selecter .selecter-selected {
  border: 1px solid #ccc;
  color: #707070;
  text-align: left; }

.selecter .selecter-options {
  border: 1px solid #25a8e0;
  border-top: none;
  box-shadow: 0 3px 0 #e5e5e5;
  color: #707070;
  text-align: left; }
  .selecter .selecter-options .placeholder {
    display: none; }

input[type="text"], input[type="number"] {
  padding: 6px 10px; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

label.label--large {
  display: block;
  font-size: 1.6em;
  font-weight: 500; }
label img {
  margin-left: 10px; }

.label-checkbox, .label-radio {
  display: block;
  color: #252525;
  margin-bottom: 0.5em; }

.fake-checkbox, .fake-radio {
  background: transparent;
  border: 1px solid #25a8e0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  margin-right: 0.7em;
  text-align: center;
  -webkit-transition: 0.1s all ease-in-out;
          transition: 0.1s all ease-in-out;
  vertical-align: text-top;
  width: 1.5em; }
  .fake-checkbox .glyphicon, .fake-radio .glyphicon {
    opacity: 0;
    -webkit-transition: 0.1s all ease-in-out;
            transition: 0.1s all ease-in-out; }
  .fake-checkbox + span, .fake-radio + span {
    cursor: pointer;
    vertical-align: text-top; }

input[type="checkbox"]:checked + .fake-checkbox {
  background: #fcd900;
  border: 1px solid #fcd900; }
  input[type="checkbox"]:checked + .fake-checkbox .glyphicon {
    opacity: 1; }

input[type="radio"]:checked + .fake-radio {
  background: #fcd900; }
  input[type="radio"]:checked + .fake-radio .glyphicon {
    opacity: 1; }

input[type="checkbox"]:disabled + .fake-checkbox, input[type="radio"]:disabled + .fake-radio {
  border: 1px solid #a5a5a5;
  cursor: not-allowed; }

input[type="checkbox"]:disabled ~ span, input[type="radio"]:disabled ~ span {
  color: #a5a5a5;
  cursor: not-allowed; }

.day, .month {
  width: 60px; }

.year {
  width: 120px; }

.claim {
  margin: 0 5px 0 0;
  width: 80px; }

.navbar {
  background: transparent !important;
  border: none !important;
  margin-bottom: 0 !important; }

.navbar-brand {
  height: 100px;
  margin-right: 2em; }
  .navbar-brand img {
    height: 100%;
    width: auto; }

.navbar-title {
  float: left;
  line-height: 100px;
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 2em; }

.navbar .breadcrumb {
  float: left;
  margin-bottom: 0;
  margin-top: 30px; }

.navbar-telephone {
  margin-top: 25px;
  text-align: right; }
  .navbar-telephone-number {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: -0.3em; }

.jumbotron {
  box-shadow: none;
  padding: 2em; }
  .container .jumbotron {
    padding: 2em; }
  .jumbotron h1 {
    margin-top: 0; }
  .jumbotron p {
    max-width: 66%; }
  .jumbotron--black {
    background: #252525;
    color: #ffffff; }

.navbar-item, .navbar-price, .navbar-smallprint {
  display: block; }

.navbar-item {
  font-size: 0.85em; }

.navbar-price {
  font-size: 1.5em; }

.navbar-smallprint {
  color: #8a8a8a;
  font-size: 0.85em;
  display: none; }

.navbar-da {
  background: #fcd900;
  background: -webkit-linear-gradient(legacy-direction(to bottom), #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  background: -webkit-linear-gradient(top, #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  background: linear-gradient(to bottom, #fcd900 0%, #fcd900 83%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0.1) 85%, transparent 85%, transparent 100%);
  margin: 2em 0;
  min-height: 92px;
  width: 100%; }
  .navbar-da.fsm-sticky-header {
    margin: 0; }
  .navbar-da nav {
    list-style: none;
    padding: 0;
    float: left; }
    .navbar-da nav li {
      display: inline-block;
      margin-left: -4px !important;
      vertical-align: middle; }
    .navbar-da nav li {
      margin: 0;
      padding: 0; }
    .navbar-da nav li {
      vertical-align: top; }
  .navbar-da a {
    background: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
    color: #333333;
    cursor: pointer;
    font-weight: 300;
    margin: 0.5em 0.2em;
    padding: 0.5em 0.75em;
    position: relative; }
  .navbar-da .active a {
    background: #333333;
    color: #ffffff;
    height: 150%; }
    .navbar-da .active a .navbar-smallprint {
      display: block; }
    .navbar-da .active a:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #333333;
      bottom: -10px;
      content: "";
      display: block;
      height: 0;
      left: 50%;
      margin-left: -10px;
      position: absolute;
      width: 0; }

.navbar-info {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid #707070;
  margin: 0.5em 0;
  padding: 0.5em 0.85em;
  text-align: center; }
  .navbar-info.strong {
    font-weight: 500; }

.navbar-da li:last-of-type .navbar-info {
  border-right: none; }

.navbar-da li.active + li .navbar-info {
  border-left: none; }

.save-for-later {
  float: right;
  padding-top: 0.5em;
  width: 12em; }
  .save-for-later .btn {
    box-shadow: none; }
  .save-for-later p {
    font-size: 0.85em;
    margin-top: 0.3em; }

.options {
  margin: 3em 0; }

.option {
  position: relative; }
  .option .panel-heading {
    height: 75px;
    padding: 1em; }
  .option .panel-footer {
    height: 140px;
    line-height: 108px;
    padding: 1em;
    position: relative;
    text-align: right; }
  .option h3 {
    font-family: "ProximaSemiBold";
    margin: 0;
    text-align: left; }
  .option .option-icon {
    bottom: 1em;
    left: 1em;
    position: absolute; }
  .option strong {
    color: #000000;
    display: inline-block;
    font-size: 24px;
    font-weight: 600; }
  .option .btn {
    bottom: 1em;
    position: absolute;
    right: 1em; }
  .option .recommended {
    background: #d52b1e;
    color: #ffffff;
    left: -5px;
    margin-top: -12px;
    padding: 0px 19px;
    position: absolute;
    z-index: 2; }
    .option .recommended:before {
      border-color: #d52b1e transparent;
      border-style: solid;
      border-width: 5px 0px 0px 5px;
      bottom: -5px;
      content: "";
      left: 0px;
      position: absolute; }
    .option .recommended img {
      margin: 0 5px 0 0; }

.panel {
  color: #707070;
  position: relative; }
  .panel-header, .panel-body, .panel-footer {
    padding: 2em; }
  .panel-header {
    background: #25a8e0;
    border-radius: 0.25em 0.25em 0 0;
    -webkit-transition: 0.3s all ease-in-out;
            transition: 0.3s all ease-in-out; }
    .panel-header .fake-checkbox {
      float: right;
      background: #fcd900;
      color: #000000;
      margin: 0.5em 0; }
      .panel-header .fake-checkbox .glyphicon {
        font-size: 0.75em; }
    .panel-header.compare {
      padding-right: 47%; }
      .panel-header.compare .price-summary {
        clear: both; }
  .panel-body--grey {
    background: #f2f2f2; }
  .panel-footer {
    background: #f2f2f2;
    color: #707070;
    border-top: none; }
    .panel-footer h3 {
      color: #252525;
      font-size: 24px;
      font-weight: 600; }
  .panel-comparable {
    overflow: hidden; }
  .panel-comparison {
    background: #f2f2f2;
    border-radius: 0 4px 4px 0;
    bottom: 0;
    box-shadow: -2px 6px 8px -6px #000000;
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform ease 0.5s;
            transition: transform ease 0.5s;
    width: 45%; }
    .panel-comparison.active {
      -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
              transform: translateX(0%); }
    .panel-comparison .btn-medium {
      margin-bottom: 1em; }
    .panel-comparison ul {
      list-style: none;
      padding: 0;
      margin-top: 3em; }
      .panel-comparison ul li {
        margin: 0;
        padding: 0; }
      .panel-comparison ul li {
        margin-bottom: 1em; }
    .panel-comparison li {
      color: #000000;
      font-family: "ProximaSemiBold";
      font-size: 1.6em; }
  .panel h1, .panel h2 {
    margin-bottom: 0;
    margin-top: 0; }
  .panel .arrow {
    height: 13px;
    position: absolute;
    top: -13px;
    width: 26px; }
    .panel .arrow:after {
      border-bottom: 11px solid #ffffff;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: 1px;
      width: 0;
      z-index: 2; }
    .panel .arrow:before {
      border-bottom: 13px solid rgba(0, 0, 0, 0.02);
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      content: "";
      height: 0;
      left: -2px;
      position: absolute;
      right: 1px;
      top: -1px;
      width: 0;
      z-index: 1; }

.plan-left, .plan-right {
  display: inline-block;
  vertical-align: middle; }
.plan-left {
  margin-right: 2em; }
.plan-item {
  margin-bottom: 10px; }
  .plan-item strong {
    color: #000000;
    display: inline-block;
    font-family: "ProximaBold";
    width: 80px; }
  .plan-item button {
    margin-left: 2em; }

.popover {
  background-color: #333333;
  border-color: #333333;
  box-shadow: none;
  padding: 1em; }
  .popover.bottom {
    margin-top: 20px; }
  .popover.right {
    margin-left: 20px; }
  .popover.bottom .arrow, .popover.bottom .arrow:after {
    border-bottom-color: #333333; }
  .popover.right .arrow, .popover.right .arrow:after {
    border-right-color: #333333; }
  .popover .btn {
    box-shadow: none;
    margin-top: 1em; }
  .popover .success-icon {
    background: #75bb49;
    border-radius: 50%;
    height: 4em;
    line-height: 5;
    margin: 1em auto;
    text-align: center;
    width: 4em; }
    .popover .success-icon .glyphicon {
      font-size: 2em; }
  .popover--yellow {
    background-color: #fcd900;
    border-color: #fcd900;
    color: #333333;
    padding: 0.5em; }
    .popover--yellow.right .arrow, .popover--yellow.right .arrow:after {
      border-right-color: #fcd900; }

.popover-close-button {
  background: transparent;
  border: none;
  color: #ffffff;
  position: absolute;
  right: 0.5em;
  top: 0.5em; }

.section--rounded {
  border-radius: 4px; }
.section--black {
  background: #252525;
  color: #ffffff; }
.section--blue {
  background: #25a8e0;
  color: #ffffff; }
  .section--blue h2 {
    color: #ffffff;
    font-family: "ProximaLight"; }
.section--padded {
  padding: 2em; }
.section--centred {
  text-align: center; }

.side-pagination {
  background: #252525;
  list-style: none;
  position: fixed;
  padding: 0px;
  right: 0;
  top: 43%;
  z-index: 10; }
  .side-pagination a {
    border: 2px solid #aaa;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 16px;
    margin: 8px;
    width: 16px; }
  .side-pagination li {
    position: relative; }
  .side-pagination .active a {
    background: #aaa;
    border: none; }
  .side-pagination .tooltip {
    left: auto !important;
    margin-right: 25px;
    right: 0;
    min-width: 200px; }
  .side-pagination .tooltip-inner {
    max-width: none;
    width: 100%; }

.tooltip-inner {
  color: #333333;
  background-color: #fcd900;
  font-size: 1.2em; }

.tooltip.left .tooltip-arrow {
  border-left-color: #fcd900; }
.tooltip.top .tooltip-arrow {
  border-top-color: #fcd900; }

.navbar-da .notchosen {
  display: block; }
.navbar-da .chosen {
  display: none; }
.navbar-da.fsm-sticky-header .notchosen {
  display: none; }
.navbar-da.fsm-sticky-header .chosen {
  display: block; }

/*panel header*/
.panel .panel-header h2 {
  color: #fff; }

.panel.active .panel-body {
  background: #FCD900;
  border-radius: 5px; }

.panel .drivers {
  display: none; }

.panel .active .drivers {
  display: initial; }

.panel.active .panel-footer {
  background: #efce00;
  border-radius: 0 0 5px 5px; }

.section-plan .panel {
  overflow: hidden; }

.section-plan .panel .panel-header {
  -webkit-transition: padding ease 0.5s;
          transition: padding ease 0.5s; }

.section-plan .panel .panel-header .label-checkbox {
  margin-bottom: -10px;
  margin-top: 10px;
  height: 0px;
  overflow: hidden; }

.section-plan .panel .panel-header .label-checkbox .fake-checkbox {
  -webkit-transition: all ease 0.5s;
          transition: all ease 0.5s; }

.section-plan .panel.compared .panel-header {
  padding-right: 47%; }

.section-plan .panel.compared .panel-header > h2 {
  margin-bottom: 15px; }

.section-plan .panel.compared .panel-header > .yr-right {
  clear: both; }

.section-plan .panel.compared .panel-header > .yr-right label {
  margin-bottom: -15px;
  margin-top: 8px;
  display: block;
  height: auto; }

.section-plan .panel.compared .panel-header > .yr-right [type="checkbox"] ~ .fake-checkbox {
  background-color: #fcd900;
  line-height: 200%;
  height: 2em;
  width: 2em;
  margin-right: 0; }

.section-plan .panel.compared .panel-header > .yr-right [type="checkbox"]:checked ~ .fake-checkbox span {
  opacity: 1; }

.comparison {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
  background: #f2f2f2;
  border-radius: 0 4px 4px 0;
  height: 100%;
  box-shadow: -2px 6px 8px -6px #000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
      transform: translateX(100%);
  -webkit-transition: -webkit-transform ease 0.5s;
          transition: transform ease 0.5s; }

.comparison.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
      transform: translateX(0%); }

.comparison .panel-body > h2 {
  float: left; }

.comparison .panel-body > img {
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
  cursor: pointer; }

.comparison .panel-body .select {
  margin-top: 15px;
  display: block;
  background-color: #000;
  color: #fff;
  padding: 2px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  text-align: center;
  margin-left: auto;
  margin-bottom: 6px; }

.comparison .panel-body > div {
  margin-bottom: 38px; }

.comparison .panel-body > div > h2 {
  font-size: 16px; }

.comparison .panel-body > .totals {
  border-bottom: 1px solid #e3e3e3;
  margin-left: -2em;
  margin-right: -2em;
  padding: 0em 2em;
  padding-bottom: 10px;
  text-align: right; }

.comparison .panel-body > .totals h2 {
  font-size: 22.4px;
  margin-bottom: 8px; }

.comparison .panel-body > .totals > div {
  line-height: 84%;
  font-weight: 200; }

.btn-white {
  background: #fff;
  color: #000;
  border: 1px solid #333;
  font-size: 17px;
  padding: 5px 55px;
  margin-top: 10px; }

/*spacing*/
.space {
  height: 30px; }

/*wrapper section*/
.wrapper {
  background: #25A8E0;
  min-height: 100%; }

/*button*/
.btn-continue {
  background: #ffffff;
  border-radius: 1em;
  color: #25A8E0; }

.btn-continue .glyphicon {
  position: relative;
  visibility: visible; }

.save-for-later-bottom {
  float: left;
  margin-left: 15px;
  width: 160px; }

.save-for-later-bottom button {
  padding: 7px 26px; }

/*yr right*/
.yr-right {
  float: right;
  text-align: right; }

/*check box and radion button*/
.big-checkbox {
  background: #ffffff;
  height: 4.5em;
  width: 4.5em;
  line-height: 4.5em;
  margin: 0em; }

/*white font*/
.white-font {
  color: #ffffff;
  margin-top: 15px;
  font-weight: bold; }

/*custom column*/
.cover .panel {
  margin-bottom: 30px; }

.cover .panel-body {
  height: 76px; }

.cover .panel-body, .cover .panel-footer {
  padding: 1em; }

.cover .panel-footer img {
  position: absolute;
  left: 1em;
  bottom: 1em; }

.cover .panel-footer button {
  padding: 10px 15px; }

.cover .panel .recomended {
  position: absolute;
  background: #D52B1E;
  color: #fff;
  padding: 0px 19px;
  left: -5px;
  margin-top: -12px; }

.cover .panel .recomended:before {
  content: " ";
  border-style: solid;
  border-color: #D52B1E transparent;
  border-width: 5px 0px 0px 5px;
  position: absolute;
  bottom: -5px;
  left: 0px; }

/*  Customization  */
body .outer-wrap {
  height: 100%;
  width: 100%;
  position: absolute !important;
  top: 0px;
  overflow: hidden; }

body .outer-wrap > section {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform ease 1s;
          transition: transform ease 1s; }

.onepage-pagination {
  position: fixed;
  list-style: none;
  padding: 0px;
  top: 43%;
  right: 30px; }

.onepage-pagination li a {
  border: 1px solid #D0D0D0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: block;
  margin: 5px;
  cursor: pointer; }

.onepage-pagination li.active a {
  border: none;
  background: #fcd900; }

.nav-tabs li {
  display: table-cell;
  width: 1%; }

.mobile {
  display: none; }

.compare .row > div {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px; }

.compare .row .active {
  background: #FCD900; }

.compare .row.one .active {
  background: #f7d500; }

.need-help .help-button {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: fixed;
  right: -60px;
  top: 90px;
  z-index: 999; }

.need-help .popover {
  background-color: #FCD900;
  border-color: #FCD900;
  color: #333; }

.need-help .popover.left .arrow, .need-help .popover.left .arrow:after {
  border-left-color: #FCD900; }

@media (min-width: 1000px) {
  @viewport {
    width: device-width; }
 }

@media (max-width: 1000px) {
  @viewport {
    width: 780px; }

  .breadcrumb {
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 90px !important; }

  .navbar {
    margin-bottom: 50px !important; }

  .mobile {
    display: initial; }

  .desktop {
    display: none; }
 }
