
<div class="navbar navbar-default">
  <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../images/direct-asia-logo.png"/></a></div>
  <div class="navbar-title">Car Insurance</div>
  <div class="breadcrumb-container">
    <ol class="breadcrumb breadcrumb-arrow">
      <li class="active"><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
      <li><span translate="GC_0_1_2">Your Quote</span></li>
      <li><span translate="GC_0_1_3">Purchase</span></li>
    </ol>
    <ol class="breadcrumb breadcrumb-arrow">
      <li><a href="#" translate="GC_0_1_1">Your Car &amp; Drivers</a></li>
      <li><span translate="GC_0_1_2">Your Quote</span></li>
      <li><span translate="GC_0_1_3">Purchase</span></li>
    </ol>
  </div>
  <div class="navbar-telephone pull-right">Call our Singapore Team on<span class="navbar-telephone-number">9854 4345</span></div>
</div>