
<div class="navbar navbar-default">
  <div class="navbar-header"><a href="/" class="navbar-brand"><img src="../images/direct-asia-logo.png"/></a></div>
  <div class="navbar-title">Car Insurance</div>
  <ol class="breadcrumb breadcrumb-arrow">
    <li class="active"><a href="#">Your Car &amp; Drivers</a></li>
    <li><span>Your Quote</span></li>
    <li><span>Purchase</span></li>
  </ol>
  <div class="navbar-telephone pull-right">Call our Singapore Team on<span class="navbar-telephone-number">9854 4345</span></div>
</div>