.container

	section.section.section-task2

		table.compare-plans.table.table-striped.visible-md.visible-lg
			thead
				tr.thead-task2
					td
						strong Choose Comprehensive cover on the right &raquo;
					td.centred
						strong Sum Insured up to (S$)
					td.centred
						strong Select
					td.align-right(style="width:15%;")
						strong Additional Premium per year (S$)
			tbody
				tr
					td
						strong.name My Workshop/ My Authorised Distributor Workshop 
						span.tip
							img(src="../../images/question-icon.png")
					td.align-right Market Value
					td.centred
						label.label-checkbox(for="checkbox1")
							input#checkbox1(type="checkbox", data-ng-model="checkbox1")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$125.17
				tr
					td
						strong.name Medical Expenses for driver and passengers 
						span.tip
							img(src="../../images/question-icon.png")
					td.align-right S$500/person
					td.centred
						label.label-checkbox(for="checkbox2")
							input#checkbox2(type="checkbox", data-ng-model="checkbox2")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$16.05
				tr
					td
						strong.name Personal accident for driver 
						span.tip
							img(src="../../images/question-icon.png")
					td.align-right
						select.form-control(data-ng-show="checkbox3")
							option(value="") Please select...
						span(data-ng-show="!checkbox3") option
					td.centred
						label.label-checkbox(for="checkbox3")
							input#checkbox3(type="checkbox", data-ng-model="checkbox3")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$53.50
				tr
					td
						strong.name Loss of Use (10 days per accident/ 20 days per policy year) 
						span.tip
							img(src="../../images/question-icon.png")
					td.align-right S$50/day
					td.centred
						label.label-checkbox(for="checkbox4")
							input#checkbox4(type="checkbox", data-ng-model="checkbox4")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$53.50
				tr
					td
						strong.name Repatriation Costs 
						span.tip
							img(src="../../images/question-icon.png")
					td.align-right S$3,500 towing
						br
						| S$200/person
					td.centred
						label.label-checkbox(for="checkbox5")
							input#checkbox5(type="checkbox", data-ng-model="checkbox5")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$10.70
				tr
					td
						strong.name 24Hr Breakdown Assistance 
						span.tip
							img(src="../../images/question-icon.png")
					td.align-right Labour and towing costs
					td.centred
						label.label-checkbox(for="checkbox6")
							input#checkbox6(type="checkbox", data-ng-model="checkbox6")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$26.75
				tr
					td
						strong.name Car accessories 
						span.tip
							img(src="../../images/question-icon.png")
					td.align-right
					td.centred
					td.centred
				tr
					td
						strong.name Solar Film
					td.align-right
						input.form-control(type="text", name="text1", placeholder="1000", value="1000", data-ng-show="checkbox7")
						span(data-ng-show="!checkbox7") 1000
					td.centred
						label.label-checkbox(for="checkbox7")
							input#checkbox7(type="checkbox", data-ng-model="checkbox7")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$21.40
				tr
					td
						strong.name Car Camera 
					td.align-right
						input.form-control(type="text", name="text2", placeholder="1000", value="1000", data-ng-show="checkbox8")
						span(data-ng-show="!checkbox8") 1000
					td.centred
						label.label-checkbox(for="checkbox8")
							input#checkbox8(type="checkbox", data-ng-model="checkbox8")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$10.70
				tr
					td
						strong.name In-Vehicle Entertainment System 
					td.align-right
						input.form-control(type="text", name="text3", placeholder="1000", value="1000", data-ng-show="checkbox9")
						span(data-ng-show="!checkbox9") 1000
					td.centred
						label.label-checkbox(for="checkbox9")
							input#checkbox9(type="checkbox", data-ng-model="checkbox9")
							.fake-checkbox
								span.glyphicon.glyphicon-ok
					td.centred S$10.70

		.hidden-md.hidden-lg.margin--top

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name My Workshop/ My Authorised Distributor Workshop 
							span.tip
								img(src="../../images/question-icon.png")
				tbody
					tr
						td.centred Market Value
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox1 = !checkbox1", data-ng-class="{'active':checkbox1}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$125.17

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name Medical Expenses for driver and passengers 
							span.tip
								img(src="../../images/question-icon.png")
				tbody
					tr
						td.centred S$500/person
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox2 = !checkbox2", data-ng-class="{'active':checkbox2}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$16.05

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name Personal accident for driver 
							span.tip
								img(src="../../images/question-icon.png")
				tbody
					tr
						td.centred
							select.form-control(data-ng-show="checkbox3")
								option(value="") Please select...
							span(data-ng-show="!checkbox3") option
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox3 = !checkbox3", data-ng-class="{'active':checkbox3}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$53.50

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name Loss of Use (10 days per accident/ 20 days per policy year) 
							span.tip
								img(src="../../images/question-icon.png")
				tbody
					tr
						td.centred S$50/day
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox4 = !checkbox4", data-ng-class="{'active':checkbox4}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$53.50

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name Repatriation Costs 
							span.tip
								img(src="../../images/question-icon.png")
				tbody
					tr
						td.centred S$3,500 towing
							br
							| S$200/person
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox5 = !checkbox5", data-ng-class="{'active':checkbox5}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$10.70

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name 24Hr Breakdown Assistance 
							span.tip
								img(src="../../images/question-icon.png")
				tbody
					tr
						td.centred Labour and towing costs
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox6 = !checkbox6", data-ng-class="{'active':checkbox6}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$26.75

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name Car accessories 
							span.tip
								img(src="../../images/question-icon.png")
				tbody
					tr
						td.centred
						td.centred
					tr
						td.centred(colspan="2")

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name Solar Film
				tbody
					tr
						td.centred
							input.form-control(type="text", name="text1", placeholder="1000", value="1000", data-ng-show="checkbox7")
							span(data-ng-show="!checkbox7") 1000
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox7 = !checkbox7", data-ng-class="{'active':checkbox7}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$125.17

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name Car Camera
				tbody
					tr
						td.centred
							input.form-control(type="text", name="text2", placeholder="1000", value="1000", data-ng-show="checkbox8")
							span(data-ng-show="!checkbox8") 1000
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox8 = !checkbox8", data-ng-class="{'active':checkbox8}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$10.70

			table.compare-plans.table.table-striped(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2")
							strong.name In-Vehicle Entertainment System 
				tbody
					tr
						td.centred
							input.form-control(type="text", name="text3", placeholder="1000", value="1000", data-ng-show="checkbox9")
							span(data-ng-show="!checkbox9") 1000
						td.centred
							button.btn.btn-default(type="button", data-ng-click="checkbox9 = !checkbox9", data-ng-class="{'active':checkbox9}", translate="PC_4_5c") Select
								span.glyphicon.glyphicon-ok
					tr
						td.centred(colspan="2") S$10.70