.container

	section.section.section-task2

		table.table.table-task2.visible-md.visible-lg
			thead
				tr
					td Choose Comprehensive cover on the right &raquo;
					td.centred Sum Insured up to (S$)
					td.centred Select
					td.align-right(style="width:15%;") Additional Premium per year (S$)
			tbody
				tr
					td My Workshop/ My Authorised Distributor Workshop 
						i.glyphicon.glyphicon--brown.glyphicon-info-sign
					td.align-right Market Value
					td.centred
						input(type="checkbox", name="checkbox1")
					td.centred S$125.17
				tr
					td Medical Expenses for driver and passengers 
						i.glyphicon.glyphicon--brown.glyphicon-info-sign
					td.align-right S$500/person
					td.centred
						input(type="checkbox", name="checkbox2")
					td.centred S$16.05
				tr
					td Personal accident for driver 
						i.glyphicon.glyphicon--brown.glyphicon-info-sign
					td.align-right
						select.form-control
							option(value="") Please select...
					td.centred
						input(type="checkbox", name="checkbox3")
					td.centred S$53.50
				tr
					td Loss of Use (10 days per accident/ 20 days per policy year) 
						i.glyphicon.glyphicon--brown.glyphicon-info-sign
					td.align-right S$50/day
					td.centred
						input(type="checkbox", name="checkbox4")
					td.centred S$53.50
				tr
					td Repatriation Costs 
						i.glyphicon.glyphicon--brown.glyphicon-info-sign
					td.align-right S$3,500 towing
						br
						| S$200/person
					td.centred
						input(type="checkbox", name="checkbox5")
					td.centred S$10.70
				tr
					td 24Hr Breakdown Assistance 
						i.glyphicon.glyphicon--brown.glyphicon-info-sign
					td.align-right Labour and towing costs
					td.centred
						input(type="checkbox", name="checkbox6")
					td.centred S$26.75
				tr
					td Car accessories 
						i.glyphicon.glyphicon--brown.glyphicon-info-sign
					td.align-right
					td.centred
					td.centred
				tr
					td Solar Film
					td.align-right
						input.form-control(type="text", name="text1", placeholder="1000", value="1000")
					td.centred
						input(type="checkbox", name="checkbox7")
					td.centred S$21.40
				tr
					td Car Camera
					td.align-right
						input.form-control(type="text", name="text2", placeholder="1000", value="1000")
					td.centred
						input(type="checkbox", name="checkbox8")
					td.centred S$10.70
				tr
					td In-Vehicle Entertainment System
					td.align-right
						input.form-control(type="text", name="text3", placeholder="1000", value="1000")
					td.centred
						input(type="checkbox", name="checkbox9")
					td.centred S$10.70

		.hidden-md.hidden-lg.margin--top

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") My Workshop/ My Authorised Distributor Workshop 
							i.glyphicon.glyphicon--brown.glyphicon-info-sign
				tbody
					tr
						td.centred Market Value
						td.centred
							input(type="checkbox", name="checkbox1")
					tr
						td.centred(colspan="2") S$125.17

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") Medical Expenses for driver and passengers 
							i.glyphicon.glyphicon--brown.glyphicon-info-sign
				tbody
					tr
						td.centred S$500/person
						td.centred
							input(type="checkbox", name="checkbox2")
					tr
						td.centred(colspan="2") S$16.05

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") Personal accident for driver 
							i.glyphicon.glyphicon--brown.glyphicon-info-sign
				tbody
					tr
						td.centred
							select.form-control
								option(value="") Please select...
						td.centred
							input(type="checkbox", name="checkbox3")
					tr
						td.centred(colspan="2") S$53.50

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") Loss of Use (10 days per accident/ 20 days per policy year) 
							i.glyphicon.glyphicon--brown.glyphicon-info-sign
				tbody
					tr
						td.centred S$50/day
						td.centred
							input(type="checkbox", name="checkbox4")
					tr
						td.centred(colspan="2") S$53.50

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") Repatriation Costs 
							i.glyphicon.glyphicon--brown.glyphicon-info-sign
				tbody
					tr
						td.centred S$3,500 towing
							br
							| S$200/person
						td.centred
							input(type="checkbox", name="checkbox5")
					tr
						td.centred(colspan="2") S$10.70

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") 24Hr Breakdown Assistance 
							i.glyphicon.glyphicon--brown.glyphicon-info-sign
				tbody
					tr
						td.centred Labour and towing costs
						td.centred
							input(type="checkbox", name="checkbox6")
					tr
						td.centred(colspan="2") S$26.75

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") Car accessories 
							i.glyphicon.glyphicon--brown.glyphicon-info-sign
				tbody
					tr
						td.centred
						td.centred
					tr
						td.centred(colspan="2")

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") Solar Film
				tbody
					tr
						td.centred
							input.form-control(type="text", name="text1", placeholder="1000", value="1000")
						td.centred
							input(type="checkbox", name="checkbox7")
					tr
						td.centred(colspan="2") S$125.17

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") Car Camera
				tbody
					tr
						td.centred
							input.form-control(type="text", name="text2", placeholder="1000", value="1000")
						td.centred
							input(type="checkbox", name="checkbox8")
					tr
						td.centred(colspan="2") S$10.70

			table.table.table-task2(style="table-layout:fixed;")
				thead
					tr
						td.centred(colspan="2") In-Vehicle Entertainment System 
							i.glyphicon.glyphicon--brown.glyphicon-info-sign
				tbody
					tr
						td.centred
							input.form-control(type="text", name="text3", placeholder="1000", value="1000")
						td.centred
							input(type="checkbox", name="checkbox9")
					tr
						td.centred(colspan="2") S$10.70