<div style="text-align:right;">
                                      <div class="col-md-12 col-xs-10">
                                          <h2 style="margin: 5px 0px;" data-resource-id="GS 0.2a">
                                            <span translate="GS_0_2a">Existing Customer?</span>
                                            <div class="subtitle" data-resource-id="GS 0.2b" translate="GS_0_2b">Save time and retrieve your renewal quote</div>
                                          </h2>
                                      </div>
                                      <div class="col-md-12 col-xs-2">
                                          <button style="margin: 10px 0;" type="button" class="btn btn-default" data-resource-id="GS 0.2c"><span translate="GS_0_2c">Login Now</span><span class="glyphicon glyphicon-ok"></span></button>
                                      </div>
                                    </div>