//- Your Policy demo page

extends ../../templates/demo

block title
	| Your Policy - Direct Asia Car Insurance

block styles

block content

	include ../../partials/your-policy/your-policy1.partial.jade

block scripts