
<section id="quote3" class="section section--blue section--padded section--centred">
  <div class="container"><img src="../../images/cover-icon3.png"/>
    <h2 class="margin--bottom">Optional Cover<img src="../../images/question-icon.png"/>
      <div class="subtitle">Customise your coverage and save money by adding optional items</div>
    </h2>
    <div class="options clearfix">
      <div class="col-md-4">
        <div class="option">
          <div class="recommended"><img src="../../images/star-icon.png"/>recommended</div>
          <div class="panel">
            <div class="panel-heading">
              <h3>24 hr breakdown assistance</h3>
            </div>
            <div class="panel-footer"><img src="../../images/break-icon.png" class="option-icon"/><strong>S$ <span>156</span></strong>
              <button type="button" class="btn btn-default">Select</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <div class="recommended"><img src="../../images/star-icon.png"/>recommended</div>
          <div class="panel">
            <div class="panel-heading">
              <h3>24 months new for old replacement car</h3>
            </div>
            <div class="panel-footer"><img src="../../images/car-icon4.png" class="option-icon"/><strong>S$ <span>156</span></strong>
              <button type="button" class="btn btn-default">Select</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <div class="panel">
            <div class="panel-heading">
              <h3>Car modifications</h3>
            </div>
            <div class="panel-footer"><img src="../../images/clock-icon.png" class="option-icon"/><strong>S$ <span>156</span></strong>
              <button type="button" class="btn btn-default">Select</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <div class="panel">
            <div class="panel-heading">
              <h3>My workshop/ garage</h3>
            </div>
            <div class="panel-footer"><img src="../../images/garage-icon.png" class="option-icon"/><strong>S$ <span>156</span></strong>
              <button type="button" class="btn btn-default">Select</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <div class="panel">
            <div class="panel-heading">
              <h3>Medical expenses</h3>
            </div>
            <div class="panel-footer"><img src="../../images/medical-icon.png" class="option-icon"/><strong>S$ <span>156</span></strong>
              <button type="button" class="btn btn-default">Select</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <div class="panel">
            <div class="panel-heading">
              <h3>Personal accident</h3>
            </div>
            <div class="panel-footer"><img src="../../images/accident-icon.png" class="option-icon"/><strong>S$ <span>156</span></strong>
              <button type="button" class="btn btn-default">Select</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <div class="panel">
            <div class="panel-heading">
              <h3>Loss of use</h3>
            </div>
            <div class="panel-footer"><img src="../../images/lost-of-use-icon2.png" class="option-icon"/><strong>S$ <span>156</span></strong>
              <button type="button" class="btn btn-default">Select</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="option">
          <div class="panel">
            <div class="panel-heading">
              <h3>Repatriation costs</h3>
            </div>
            <div class="panel-footer"><img src="../../images/plane-icon.png" class="option-icon"/><strong>S$ <span>156</span></strong>
              <button type="button" class="btn btn-default">Select</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-continue"><i class="glyphicon glyphicon-arrow-down"></i>No Thanks, Continue</button>
      </div>
    </div>
  </div>
</section>