
<section id="quote1" data-ng-show="currentStep&gt;=1" class="container">
  <h1 translate="quotePage.headline">Choose Your Car Insurance Plan</h1>
  <div class="panel">
    <div class="panel-header">
      <h2>Your Recommended Plan<img src="../../images/question-icon.png" style="margin-left:10px;"/>
        <div class="subtitle">Your recommended plan is based on the car and driver details you provide, as well as popular options our customer's enjoy.</div>
      </h2>
    </div>
    <div class="panel-body panel-body--grey">
      <div class="plan">
        <div class="plan-left"><img src="../../images/car-icon3.png"/></div>
        <div class="plan-right">
          <div class="plan-item"><strong>Car</strong><span data-ng-cloak="data-ng-cloak">{{plan.car.year}} </span><span data-ng-cloak="data-ng-cloak">{{plan.car.make}} </span><span data-ng-cloak="data-ng-cloak">{{plan.car.model}}</span><span data-ng-cloak="data-ng-cloak">{{plan.car.lowmileageoption ? ", Low Mileage" : "" }}</span><a href="../car/car.html" title="Edit car details" class="btn btn-default btn-sm margin--left">Edit</a></div>
          <div class="plan-item"><strong>Driver</strong><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.gender}}, </span><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.age}} years old, </span><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.noClaimsDiscount}} NCD, </span>
            <ng-pluralize data-ng-cloak="data-ng-cloak" count="plan.mainDriver.accidents.atFault" when="{'0':'0 at fault claims', '1': '1 at fault claim', 'other': '{} at fault claims'}"></ng-pluralize><a href="../about-your-driver/your-driver.html" title="Edit driver information" class="btn btn-default btn-sm margin--left">Edit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <h2><span data-ng-bind="plan.cover.name"></span><img src="../../images/down-arrow.png"/></h2>
          <div data-ng-if="recommendedPlan.options.length != 0">
            <h3>Recommended Optional Cover</h3>
            <div class="row">
              <div data-ng-repeat="option in recommendedPlan.options" class="col-md-4">
                <div class="benefit"><img data-ng-src="../../images/{{option.name | slugify}}-icon.png" class="benefit-icon"/>
                  <div class="benefit-details">
                    <h4><a data-ng-click="showDescription=!showDescription" data-ng-cloak="data-ng-cloak">{{option.name}}<img src="../../images/down-arrow.png" data-ng-show="!showDescription"/><img src="../../images/up-arrow.png" data-ng-show="showDescription"/></a></h4>
                    <p data-ng-show="showDescription" data-ng-cloak="data-ng-cloak">{{option.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 align-right">
          <h2>S$<span data-ng-bind="plan.cover.baseCost"></span> /yr
            <div class="subtitle">S$<span data-ng-bind="plan.cover.baseCost / 12"></span> /mo</div>
          </h2>
          <h2 style="margin-top:10px;">S$<span data-ng-bind="plan.totalCost"></span> /yr
            <div class="subtitle">S$<span data-ng-bind="plan.totalCost / 12"></span> /mo</div>
            <div class="subtitle highlight">(10% off)</div>
          </h2>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-5"><a data-ng-click="selectPlanAndModify()" href="#quote2" title="" class="btn btn-default btn-lg btn-block btn-select-plan internal-link">Select Plan &amp; Modify<i class="glyphicon glyphicon-ok"></i></a><a data-ng-click="continue(2)" href="#quote2" title="" class="btn btn-white btn-lg btn-block internal-link">or Build Plan Starting at S$<span data-ng-bind="plan.cover.baseCost"></span><i class="glyphicon glyphicon-ok"></i></a></div>
        <div class="col-md-7 align-right">
          <div class="total">Total S$<span data-ng-bind="plan.totalCost"></span> /yr
            <div class="subtitle">S$<span data-ng-bind="plan.totalCost / 12"></span> /mo</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>