
<section class="section section--padded">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <label for="feedback" class="label--large">We'd like to know how you heard about us</label>
        <select id="feedback" selecter="selecter" name="feedback">
          <option selecter="selecter" label="Select an option" value="{{option}}" data-ng-repeat="option in feedbackOptions" selecter-target="#feedback" selecter-callback="select" property="feedback" ng-selected="feedback == selectedItem">{{option}}</option>
        </select>
      </div>
    </div>
    <div style="margin-top:2em;" class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-backward"><span class="glyphicon glyphicon-arrow-left"></span>Back</button>
        <button type="button" class="btn btn-forward btn-lg pull-right">Proceed<span class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
    </div>
    <div class="row margin--top">
      <div class="col-md-2 col-md-offset-10">
        <button type="button" class="btn btn-primary btn-action btn-block btn-sm"><span class="btn-action-default">Save for later</span><span class="btn-action-alt">Saved!</span><span class="glyphicon glyphicon-ok"></span></button>
        <p>Your details will be saved for 90 days so you can finish later</p>
      </div>
    </div>
  </div>
</section>