
<section id="quote5" data-ng-show="currentStep&gt;=5" class="section section--padded">
  <div class="container">
    <div class="panel panel-comparable margin--top">
      <div data-ng-class="{'compare':compare}" class="panel-header">
        <h2 class="pull-left margin--bottom">Your Car Insurance Summary</h2>
        <div class="price-summary clearfix">
          <h2 data-ng-cloak="data-ng-cloak" class="align-right">Total S${{plan.totalCost}} /yr
            <div class="subtitle align-right">S${{plan.totalCost / 12}} /mo</div>
            <div class="subtitle subtitle-secondary align-right">Savings S$167 /yr</div>
          </h2>
          <label data-ng-show="compare" class="label-checkbox">
            <input id="selectCurrent" type="checkbox"/>
            <div class="fake-checkbox"><i class="glyphicon glyphicon-ok"></i></div>
          </label>
        </div>
      </div>
      <div class="panel-body">
        <div style="margin-bottom:2em;" class="row">
          <div class="col-xs-2"><img src="../../images/car-icon2.png"/></div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-3"><strong>Car</strong></div>
              <div class="col-md-8"><span data-ng-cloak="data-ng-cloak">{{plan.car.year}} </span><span data-ng-cloak="data-ng-cloak">{{plan.car.make}} </span><span data-ng-cloak="data-ng-cloak">{{plan.car.model}}</span><span data-ng-cloak="data-ng-cloak">{{plan.car.lowmileageoption ? ", Low Mileage" : "" }}</span>
                <div data-ng-hide="!fulldetails"><span data-ng-if="plan.car.modifications.bodykit || plan.car.modifications.rimstires || plan.car.modifications.airintakeexhaust || plan.car.modifications.suspensionstabiliser">Modifications:</span>
                  <ul data-ng-if="plan.car.modifications.bodykit || plan.car.modifications.rimstires || plan.car.modifications.airintakeexhaust || plan.car.modifications.suspensionstabiliser">
                    <li data-ng-cloak="data-ng-cloak" data-ng-if="plan.car.modifications.bodykit">Body Kit</li>
                    <li data-ng-cloak="data-ng-cloak" data-ng-if="plan.car.modifications.rimstires">Rims/Tires</li>
                    <li data-ng-cloak="data-ng-cloak" data-ng-if="plan.car.modifications.airintakeexhaust">Air Intake/Exhaust</li>
                    <li data-ng-cloak="data-ng-cloak" data-ng-if="plan.car.modifications.suspensionstabiliser">Suspension Stabiliser</li>
                  </ul><span data-ng-if="plan.car.financed">Financed </span><span data-ng-cloak="data-ng-cloak">{{plan.car.ownership == "private" ? "Privately Owned " : "" }}</span><span data-ng-cloak="data-ng-cloak">{{plan.car.lowmileageoption ? "Low Mileage " : "" }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-6"><a href="../car/car.html" title="Edit car details" class="btn btn-default">Edit</a></div>
              <div class="col-md-6 align-right"></div>
            </div>
          </div>
        </div>
        <div style="margin-bottom:2em;" class="row">
          <div class="col-xs-2"><img src="../../images/driver-icon.png"/></div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-3"><strong>Driver</strong></div>
              <div class="col-md-8"><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.gender}}, </span><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.age}} years old, </span><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.noClaimsDiscount}} NCD, </span>
                <p data-ng-hide="!fulldetails">
                  <ng-pluralize data-ng-cloak="data-ng-cloak" count="plan.mainDriver.accidents.atFault" when="{'0':'0 at fault claims', '1': '1 at fault claim', 'other': '{} at fault claims'}"></ng-pluralize>
                </p>
                <p data-ng-hide="!fulldetails"><span data-ng-cloak="data-ng-cloak">{{plan.mainDriver.occupation}} </span>
                  <ng-pluralize data-ng-cloak="data-ng-cloak" count="plan.mainDriver.drivingExperience" when="{'0':'0 years', '1': '1 year', 'other': '{} years'}"></ng-pluralize>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-6"><a href="../about-your-driver/your-driver.html" title="Edit driver information" class="btn btn-default">Edit</a></div>
              <div class="col-md-6 align-right">S$45 /yr</div>
            </div>
          </div>
        </div>
        <div style="margin-bottom:2em;" class="row">
          <div class="col-xs-2"><img src="../../images/policy-icon2.png"/></div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-3"><strong>Policy</strong></div>
              <div class="col-md-8"><span data-ng-cloak="data-ng-cloak">{{plan.cover.name}}</span><span data-ng-cloak="data-ng-cloak" data-ng-show="plan.excess">, {{plan.excess}} policy excess</span>
                <ul data-ng-hide="!fulldetails">
                  <li>Third Party - Death or Bodily Injury</li>
                  <li>Third Party - Property Damage</li>
                  <li>24 hour accident towing</li>
                  <li>Own damage - Fire</li>
                  <li>Own damage - Theft</li>
                  <li>Own damage - Act of God</li>
                  <li>Own damage - All Accidents</li>
                  <li>Windscreen / Window Breakage</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-6"><a href="" title="" class="btn btn-default">Edit</a></div>
              <div class="col-md-6 align-right">S$<span data-ng-cloak="data-ng-cloak">{{plan.cover.baseCost}}</span> /yr</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2"><img src="../../images/cover-icon2.png"/></div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-3"><strong>Cover</strong></div>
              <div class="col-md-8">
                <ul>
                  <li data-ng-repeat="option in plan.options" data-ng-cloak="data-ng-cloak">{{option.name}}<small data-ng-hide="!fulldetails" data-ng-cloak="data-ng-cloak">{{option.description}}</small></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-6"><a href="" title="" class="btn btn-default">Edit</a></div>
              <div class="col-md-6 align-right">S$<span data-ng-cloak="data-ng-cloak">{{calculateOptionsCost(plan)}}</span> /yr
                <div><span class="strikethrough">S$261 /yr</span><span class="highlight"> (10% discount)</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-7">
            <button type="button" data-ng-click="fulldetails=!fulldetails" class="btn btn-plain btn-large btn-block"><span data-ng-hide="fulldetails">Review Full Details</span><img src="../../images/down-arrow.png" data-ng-hide="fulldetails"/><span data-ng-hide="!fulldetails">See Summary</span><img src="../../images/up-arrow.png" data-ng-hide="!fulldetails"/></button>
          </div>
          <div class="col-md-5">
            <button type="button" data-ng-click="compare=!compare" class="btn btn-plain btn-large btn-block">Compare Recommended Plan<img src="../../images/down-arrow.png"/></button>
          </div>
        </div>
      </div>
      <div data-ng-class="{active:compare}" class="panel-comparison">
        <div class="panel-body">
          <button type="button" data-ng-click="compare=!compare" class="btn btn-plain btn-medium btn-block">Compare Recommended Plan<img src="../../images/down-arrow.png"/></button>
          <h2 data-ng-cloak="data-ng-cloak">Total S${{recommendedPlan.totalCost}} /yr
            <div class="subtitle">S${{recommendedPlan.totalCost / 12}} /mo</div>
            <div class="subtitle subtitle-secondary">Savings S$167 /yr</div>
          </h2>
          <button type="button" data-ng-click="useRecommendedPlan()" class="btn btn-primary btn-sm pull-right">Select Plan</button>
          <ul>
            <li data-ng-cloak="data-ng-cloak">{{recommendedPlan.cover.name}}
              <div class="subtitle">S${{recommendedPlan.cover.baseCost}} /yr</div>
            </li>
            <li><span data-ng-repeat="option in recommendedPlan.options" data-ng-cloak="data-ng-cloak">{{option.name}} </span>
              <div data-ng-repeat="option in recommendedPlan.options" data-ng-cloak="data-ng-cloak" class="subtitle">S${{option.cost}} /yr</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>