
<section id="quote1" class="container">
  <h1>Choose Your Car Insurance Plan</h1>
  <div class="panel">
    <div class="panel-header">
      <h2>Your Recommended Plan<img src="../../images/question-icon.png" style="margin-left:10px;"/>
        <div class="subtitle">Your recommended plan is based on the car and driver details you provide, as well as popular options our customer's enjoy.</div>
      </h2>
    </div>
    <div class="panel-body panel-body--grey">
      <div class="plan">
        <div class="plan-left"><img src="../../images/car-icon3.png"/></div>
        <div class="plan-right">
          <div class="plan-item"><strong>Car</strong><span data-ng-bind="data.car"></span>
            <button type="button" class="btn btn-default btn-sm">Edit</button>
          </div>
          <div class="plan-item"><strong>Driver</strong><span data-ng-bind="data.driver"></span>
            <button type="button" class="btn btn-default btn-sm">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <h2><span data-ng-bind="selectedPlan.name"></span><img src="../../images/down-arrow.png"/></h2>
          <h3>Recommended Optional Cover</h3>
          <div class="row">
            <div class="col-md-4">
              <div class="benefit"><img src="../../images/lost-of-use-icon.png" class="benefit-icon"/>
                <div class="benefit-details">
                  <h4><a data-ng-click="benefit1=!benefit1">Loss of use<img src="../../images/down-arrow.png" data-ng-show="!benefit1"/><img src="../../images/up-arrow.png" data-ng-show="benefit1"/></a></h4>
                  <p data-ng-show="benefit1">S$50 to help you with transport costs while your car is being repaired</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="benefit"><img src="../../images/my-workshop-icon.png" class="benefit-icon"/>
                <div class="benefit-details">
                  <h4><a data-ng-click="benefit2=!benefit2">My Workshop<img src="../../images/down-arrow.png" data-ng-show="!benefit2"/><img src="../../images/up-arrow.png" data-ng-show="benefit2"/></a></h4>
                  <p data-ng-show="benefit2">Gives you the freedom to select your own preferred workshop for an optional benefit</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="benefit"><img src="../../images/experienced-drivers-icon.png" class="benefit-icon"/>
                <div class="benefit-details">
                  <h4><a data-ng-click="benefit3=!benefit3">Experienced Drivers<img src="../../images/down-arrow.png" data-ng-show="!benefit3"/><img src="../../images/up-arrow.png" data-ng-show="benefit3"/></a></h4>
                  <p data-ng-show="benefit3">Cover anyone over 30 with more than 2 years driving experience</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 align-right">
          <h2>S$<span data-ng-bind="selectedPlan.baseCost"></span> /yr
            <div class="subtitle">S$<span data-ng-bind="selectedPlan.baseCost / 12"></span> /mo</div>
          </h2>
          <h2 style="margin-top:10px;">S$<span>624</span> /yr
            <div class="subtitle">S$<span>900</span> /yr</div>
            <div class="subtitle highlight">(10% off)</div>
          </h2>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-5">
          <button data-ng-click="" type="button" class="btn btn-default btn-lg btn-block btn-select-plan">Select Plan &amp; Modify<i class="glyphicon glyphicon-ok"></i></button>
          <button data-ng-click="" type="button" class="btn btn-white btn-lg btn-block">or Build Plan Starting at S$<span data-ng-bind="selectedPlan.baseCost"></span><i class="glyphicon glyphicon-ok"></i></button>
        </div>
        <div class="col-md-7 align-right">
          <div class="total">Total S$<span>1,356</span> /yr
            <div class="subtitle">S$<span>113</span> /mo</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>