
<section id="quote4" class="section section--blue section--padded section--centred">
  <div class="container"><img src="../../images/policy-icon.png"/>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="margin--bottom">Policy Excess
          <div class="subtitle">Policy excess is the amount that you'll pay out of your own pocket if you have a claim. If you choose a higher excess, you will have a lower the premium.</div>
        </h2>
      </div>
    </div>
    <div class="excesses">
      <div class="row">
        <div class="col-md-2">
          <div class="excess">
            <label for="radio1" class="label-radio label--large">
              <input id="radio1" type="radio" name="excess"/>
              <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span>S$ 500</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="excess">
            <label for="radio2" class="label-radio label--large">
              <input id="radio2" type="radio" name="excess"/>
              <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span>S$ 1,000</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="excess">
            <label for="radio3" class="label-radio label--large">
              <input id="radio3" type="radio" name="excess"/>
              <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span>S$ 2,000</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="excess">
            <label for="radio4" class="label-radio label--large">
              <input id="radio4" type="radio" name="excess"/>
              <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span>S$ 3,000</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="excess">
            <label for="radio5" class="label-radio label--large">
              <input id="radio5" type="radio" name="excess"/>
              <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span>S$ 4,000</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="excess">
            <label for="radio6" class="label-radio label--large">
              <input id="radio6" type="radio" name="excess"/>
              <div class="fake-radio"><span class="glyphicon glyphicon-ok"></span></div><span>S$ 5,000</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-continue"><i class="glyphicon glyphicon-arrow-down"></i>Continue</button>
      </div>
    </div>
  </div>
</section>