
<div class="container">
  <section class="section section-task2">
    <table class="table table-task2 visible-md visible-lg">
      <thead>
        <tr>
          <td>Choose Comprehensive cover on the right &raquo;</td>
          <td class="centred">Sum Insured up to (S$)</td>
          <td class="centred">Select</td>
          <td style="width:15%;" class="align-right">Additional Premium per year (S$)</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>My Workshop/ My Authorised Distributor Workshop <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          <td class="align-right">Market Value</td>
          <td class="centred">
            <input type="checkbox" name="checkbox1"/>
          </td>
          <td class="centred">S$125.17</td>
        </tr>
        <tr>
          <td>Medical Expenses for driver and passengers <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          <td class="align-right">S$500/person</td>
          <td class="centred">
            <input type="checkbox" name="checkbox2"/>
          </td>
          <td class="centred">S$16.05</td>
        </tr>
        <tr>
          <td>Personal accident for driver <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          <td class="align-right">
            <select class="form-control">
              <option value="">Please select...</option>
            </select>
          </td>
          <td class="centred">
            <input type="checkbox" name="checkbox3"/>
          </td>
          <td class="centred">S$53.50</td>
        </tr>
        <tr>
          <td>Loss of Use (10 days per accident/ 20 days per policy year) <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          <td class="align-right">S$50/day</td>
          <td class="centred">
            <input type="checkbox" name="checkbox4"/>
          </td>
          <td class="centred">S$53.50</td>
        </tr>
        <tr>
          <td>Repatriation Costs <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          <td class="align-right">S$3,500 towing<br/>S$200/person</td>
          <td class="centred">
            <input type="checkbox" name="checkbox5"/>
          </td>
          <td class="centred">S$10.70</td>
        </tr>
        <tr>
          <td>24Hr Breakdown Assistance <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          <td class="align-right">Labour and towing costs</td>
          <td class="centred">
            <input type="checkbox" name="checkbox6"/>
          </td>
          <td class="centred">S$26.75</td>
        </tr>
        <tr>
          <td>Car accessories <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          <td class="align-right"></td>
          <td class="centred"></td>
          <td class="centred"></td>
        </tr>
        <tr>
          <td>Solar Film</td>
          <td class="align-right">
            <input type="text" name="text1" placeholder="1000" value="1000" class="form-control"/>
          </td>
          <td class="centred">
            <input type="checkbox" name="checkbox7"/>
          </td>
          <td class="centred">S$21.40</td>
        </tr>
        <tr>
          <td>Car Camera</td>
          <td class="align-right">
            <input type="text" name="text2" placeholder="1000" value="1000" class="form-control"/>
          </td>
          <td class="centred">
            <input type="checkbox" name="checkbox8"/>
          </td>
          <td class="centred">S$10.70</td>
        </tr>
        <tr>
          <td>In-Vehicle Entertainment System</td>
          <td class="align-right">
            <input type="text" name="text3" placeholder="1000" value="1000" class="form-control"/>
          </td>
          <td class="centred">
            <input type="checkbox" name="checkbox9"/>
          </td>
          <td class="centred">S$10.70</td>
        </tr>
      </tbody>
    </table>
    <div class="hidden-md hidden-lg margin--top">
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">My Workshop/ My Authorised Distributor Workshop <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">Market Value</td>
            <td class="centred">
              <input type="checkbox" name="checkbox1"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$125.17</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">Medical Expenses for driver and passengers <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">S$500/person</td>
            <td class="centred">
              <input type="checkbox" name="checkbox2"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$16.05</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">Personal accident for driver <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">
              <select class="form-control">
                <option value="">Please select...</option>
              </select>
            </td>
            <td class="centred">
              <input type="checkbox" name="checkbox3"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$53.50</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">Loss of Use (10 days per accident/ 20 days per policy year) <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">S$50/day</td>
            <td class="centred">
              <input type="checkbox" name="checkbox4"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$53.50</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">Repatriation Costs <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">S$3,500 towing<br/>S$200/person</td>
            <td class="centred">
              <input type="checkbox" name="checkbox5"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$10.70</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">24Hr Breakdown Assistance <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">Labour and towing costs</td>
            <td class="centred">
              <input type="checkbox" name="checkbox6"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$26.75</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">Car accessories <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred"></td>
            <td class="centred"></td>
          </tr>
          <tr>
            <td colspan="2" class="centred"></td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">Solar Film</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">
              <input type="text" name="text1" placeholder="1000" value="1000" class="form-control"/>
            </td>
            <td class="centred">
              <input type="checkbox" name="checkbox7"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$125.17</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">Car Camera</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">
              <input type="text" name="text2" placeholder="1000" value="1000" class="form-control"/>
            </td>
            <td class="centred">
              <input type="checkbox" name="checkbox8"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$10.70</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="table table-task2">
        <thead>
          <tr>
            <td colspan="2" class="centred">In-Vehicle Entertainment System <i class="glyphicon glyphicon--brown glyphicon-info-sign"></i></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="centred">
              <input type="text" name="text3" placeholder="1000" value="1000" class="form-control"/>
            </td>
            <td class="centred">
              <input type="checkbox" name="checkbox9"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="centred">S$10.70</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>