
<div class="container">
  <section class="section section-task2">
    <table class="compare-plans table table-striped visible-md visible-lg">
      <thead>
        <tr class="thead-task2">
          <td><strong>Choose Comprehensive cover on the right &raquo;</strong></td>
          <td class="centred"><strong>Sum Insured up to (S$)</strong></td>
          <td class="centred"><strong>Select</strong></td>
          <td style="width:15%;" class="align-right"><strong>Additional Premium per year (S$)</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong class="name">My Workshop/ My Authorised Distributor Workshop </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          <td class="align-right">Market Value</td>
          <td class="centred">
            <label for="checkbox1" class="label-checkbox">
              <input id="checkbox1" type="checkbox" data-ng-model="checkbox1"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$125.17</td>
        </tr>
        <tr>
          <td><strong class="name">Medical Expenses for driver and passengers </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          <td class="align-right">S$500/person</td>
          <td class="centred">
            <label for="checkbox2" class="label-checkbox">
              <input id="checkbox2" type="checkbox" data-ng-model="checkbox2"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$16.05</td>
        </tr>
        <tr>
          <td><strong class="name">Personal accident for driver </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          <td class="align-right">
            <select data-ng-show="checkbox3" class="form-control">
              <option value="">Please select...</option>
            </select><span data-ng-show="!checkbox3">option</span>
          </td>
          <td class="centred">
            <label for="checkbox3" class="label-checkbox">
              <input id="checkbox3" type="checkbox" data-ng-model="checkbox3"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$53.50</td>
        </tr>
        <tr>
          <td><strong class="name">Loss of Use (10 days per accident/ 20 days per policy year) </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          <td class="align-right">S$50/day</td>
          <td class="centred">
            <label for="checkbox4" class="label-checkbox">
              <input id="checkbox4" type="checkbox" data-ng-model="checkbox4"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$53.50</td>
        </tr>
        <tr>
          <td><strong class="name">Repatriation Costs </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          <td class="align-right">S$3,500 towing<br/>S$200/person</td>
          <td class="centred">
            <label for="checkbox5" class="label-checkbox">
              <input id="checkbox5" type="checkbox" data-ng-model="checkbox5"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$10.70</td>
        </tr>
        <tr>
          <td><strong class="name">24Hr Breakdown Assistance </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          <td class="align-right">Labour and towing costs</td>
          <td class="centred">
            <label for="checkbox6" class="label-checkbox">
              <input id="checkbox6" type="checkbox" data-ng-model="checkbox6"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$26.75</td>
        </tr>
        <tr>
          <td><strong class="name">Car accessories </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          <td class="align-right"></td>
          <td class="centred"></td>
          <td class="centred"></td>
        </tr>
        <tr>
          <td><strong class="name">Solar Film</strong></td>
          <td class="align-right">
            <input type="text" name="text1" placeholder="1000" value="1000" data-ng-show="checkbox7" class="form-control"/><span data-ng-show="!checkbox7">1000</span>
          </td>
          <td class="centred">
            <label for="checkbox7" class="label-checkbox">
              <input id="checkbox7" type="checkbox" data-ng-model="checkbox7"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$21.40</td>
        </tr>
        <tr>
          <td><strong class="name">Car Camera </strong></td>
          <td class="align-right">
            <input type="text" name="text2" placeholder="1000" value="1000" data-ng-show="checkbox8" class="form-control"/><span data-ng-show="!checkbox8">1000</span>
          </td>
          <td class="centred">
            <label for="checkbox8" class="label-checkbox">
              <input id="checkbox8" type="checkbox" data-ng-model="checkbox8"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$10.70</td>
        </tr>
        <tr>
          <td><strong class="name">In-Vehicle Entertainment System </strong></td>
          <td class="align-right">
            <input type="text" name="text3" placeholder="1000" value="1000" data-ng-show="checkbox9" class="form-control"/><span data-ng-show="!checkbox9">1000</span>
          </td>
          <td class="centred">
            <label for="checkbox9" class="label-checkbox">
              <input id="checkbox9" type="checkbox" data-ng-model="checkbox9"/>
              <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
            </label>
          </td>
          <td class="centred">S$10.70</td>
        </tr>
      </tbody>
    </table>
    <div class="hidden-md hidden-lg margin--top">
      <p>Choose comprehensive cover on the following:</p>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">My Workshop/ My Authorised Distributor Workshop </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox1" class="label-checkbox">
                <input id="checkbox1" type="checkbox" data-ng-model="checkbox1"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">S$125.17</td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$103.00</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">Medical Expenses for driver and passengers </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox2" class="label-checkbox">
                <input id="checkbox2" type="checkbox" data-ng-model="checkbox2"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">HK$500/person</td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$16.05</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">Personal accident for driver </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox3" class="label-checkbox">
                <input id="checkbox3" type="checkbox" data-ng-model="checkbox3"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">
              <select data-ng-show="checkbox3" class="form-control">
                <option value="">Please select...</option>
              </select><span data-ng-show="!checkbox3">option</span>
            </td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$53.50</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">Loss of Use (10 days per accident/ 20 days per policy year) </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox4" class="label-checkbox">
                <input id="checkbox4" type="checkbox" data-ng-model="checkbox4"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">HK$50/day</td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$53.50</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">Repatriation Costs </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox5" class="label-checkbox">
                <input id="checkbox5" type="checkbox" data-ng-model="checkbox5"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">HK$3,500 towing</td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$10.70</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">24Hr Breakdown Assistance </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox6" class="label-checkbox">
                <input id="checkbox6" type="checkbox" data-ng-model="checkbox6"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">Labour and towing costs</td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$26.75</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">Car accessories </strong><span class="tip"><img src="../../images/question-icon.png"/></span></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred"></td>
          </tr>
          <tr>
            <td class="align-right"></td>
            <td class="centred"></td>
          </tr>
          <tr>
            <td class="align-right"></td>
            <td class="centred"></td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">Solar Film</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox7" class="label-checkbox">
                <input id="checkbox7" type="checkbox" data-ng-model="checkbox7"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">
              <input type="text" name="text1" placeholder="1000" value="1000" data-ng-show="checkbox7" class="form-control"/><span data-ng-show="!checkbox7">1000</span>
            </td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$125.17</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">Car Camera</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox8" class="label-checkbox">
                <input id="checkbox8" type="checkbox" data-ng-model="checkbox8"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">
              <input type="text" name="text2" placeholder="1000" value="1000" data-ng-show="checkbox8" class="form-control"/><span data-ng-show="!checkbox8">1000</span>
            </td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$10.70</td>
          </tr>
        </tbody>
      </table>
      <table style="table-layout:fixed;" class="compare-plans table table-striped">
        <thead>
          <tr>
            <td colspan="2" class="centred"><strong class="name">In-Vehicle Entertainment System </strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-right">Select this cover?</td>
            <td class="centred">
              <label for="checkbox9" class="label-checkbox">
                <input id="checkbox9" type="checkbox" data-ng-model="checkbox9"/>
                <div class="fake-checkbox"><span class="glyphicon glyphicon-ok"></span></div>
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Sum insured up to:</td>
            <td class="centred">
              <input type="text" name="text3" placeholder="1000" value="1000" data-ng-show="checkbox9" class="form-control"/><span data-ng-show="!checkbox9">1000</span>
            </td>
          </tr>
          <tr>
            <td class="align-right">Additional Premium per year:</td>
            <td class="centred">HK$10.70</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>