//- .login

//- 	button.btn.btn-primary.btn-action.btn-sm(style="margin: 10px 0;", type="button", data-toggle="popover", data-placement="left", popover="#popover-login", popover-type="", data-resource-id="GS 0.2c")
//- 		span(translate="GS_0_2c") Login Now
//- 		span.glyphicon.glyphicon-ok

//- 	#popover-login.popup-div.popover.left

//- 		button.popover-close-button(type="button")
//- 			span.glyphicon.glyphicon-remove

//- 		.popup-header Login Details

//- 		.popup-body

//- 			p
//- 				input.form-control(type="text", placeholder="Username")

//- 			p
//- 				input.form-control(type="text", placeholder="Password")


strong(translate="GS_0_2a") Existing Customer?
p(translate="GS_0_2b") Save time and retrieve your renewal quote
button.btn.btn-primary(type="button")
	span(translate="GS_0_2c") Login Now
	span.glyphicon.glyphicon-ok