//- Page header at the top of every page

.navbar.navbar-default
	.navbar-header
		a.navbar-brand(href="/")
			img(src="../images/direct-asia-logo.png")

	.navbar-title Car Insurance

	ol.breadcrumb.breadcrumb-arrow
		li.active
			a(href="#") Your Car &amp; Drivers
		li
			span Your Quote
		li
			span Purchase

	.navbar-telephone.pull-right Call our Singapore Team on
		span.navbar-telephone-number 9854 4345