//- Page header at the top of every page

.navbar.navbar-default
	.navbar-header
		a.navbar-brand(href="/")
			img(src="../images/direct-asia-logo.png")

	.navbar-title Car Insurance

	.breadcrumb-container

		ol.breadcrumb.breadcrumb-arrow
			li.active
				a(href="#", translate="GC_0_1_1") Your Car &amp; Drivers
			li
				span(translate="GC_0_1_2") Your Quote
			li
				span(translate="GC_0_1_3") Purchase

		ol.breadcrumb.breadcrumb-arrow
			li
				a(href="#", translate="GC_0_1_1") Your Car &amp; Drivers
			li
				span(translate="GC_0_1_2") Your Quote
			li
				span(translate="GC_0_1_3") Purchase

	.navbar-telephone.pull-right Call our Singapore Team on
		span.navbar-telephone-number 9854 4345