.benefit {
	height:					120px;
	overflow:				hidden;
	margin-bottom:			1em;

	&-icon {
		float:				left;
		margin-right:		15px;
	}

	&-details {
		float:				left;
		width:				65%;
	}

	a {

		span {
			float:			left;
			width:			75%;
		}

		color:				$dark-grey-1;
		cursor:				pointer;
		display:			block;
		font-family: 		"ProximaSemiBold";
	}

	h4 {
		margin:				0;

		img {
			float:			left;
			margin-left:	10px;
		}
	}

}