.breadcrumb-arrow {
	background-color:				$white;
	box-shadow:						0 2px 0 $light-grey-1;

	li {

		& >  span {
			position:				relative;

			&:before {
				border-bottom: 		18px solid transparent;
				border-left-color: 	$white;
				border-left-style: 	solid;
				border-left-width: 	11px;
				border-top: 		18px solid transparent;
				content: 			"";
				height: 			0;
				position: 			absolute;
				right: 				-10px;
				top: 				-1px;
				width: 				0;
				z-index: 			3;
			}
			&:after {
				border-bottom: 		18px solid transparent;
				border-left: 		11px solid $light-grey-1;
				border-top: 		18px solid transparent;
				content: 			"";
				height: 			0;
				right: 				-11px;
				position: 			absolute;
				top: 				-1px;
				width: 				0;
				z-index: 			2;
			}
		}

		&:last-of-type {
			& > span {
				&:before {
					display:		none;
				}
				&:after {
					display: 		none;
				}
			}
		}

		span.glyphicon {
			color:					$green;
			vertical-align: 		baseline;
		}

		a {
			background-color: 		$white;
			border: 				1px solid $white;
			color:					$dark-grey-2;

			&:before {
				border-left-color: 	$white;
			}

			&:after {
				border-left: 		11px solid darken($white, 10%);
			}

			@include ActiveFocusHover {
				background-color: 	$white;
				border: 			1px solid $white;

				&:before {
					border-left-color: 	$white;
				}
			}
		}

		&.active a {

			background-color: 		$yellow;
			border: 				1px solid $yellow;
			color:					$dark-grey-2;

			&:before {
				border-left-color: 	$yellow;
			}

			&:after {
				border-left: 		11px solid darken($yellow, 5%);
			}

			@include ActiveFocusHover {
				background-color: 	lighten($yellow, 20%);
				border: 			1px solid lighten($yellow, 20%);

				&:before {
					border-left-color: 	lighten($yellow, 20%);
				}
			}

		}
		
	}
}