.excesses {
	margin:				4em 0;
}

.excess {

	.label-radio {
		color:			$white;
		text-align:		center;
	}

	.fake-radio {
		background:		$white;
		display:		block;
		height: 		3.5em;
		line-height: 	3.8em;
		margin:			0.5em auto;
		width: 			3.5em;
	}
	
	.glyphicon {
		color:			$black;
	}

}

.recommended-excess {
	color:				$white;
	font-family:		"ProximaLight";
	font-size:			1.8em;
	font-weight:		300;

	.price {
		color:			$yellow;
		font-size:		1.2em;
		margin-top:		0.3em;
	}
}