.help {
	height:					90px;
	position:				fixed;
	right:					0;
	top:					100px;
	width:					90px;
	z-index:				1000000;

	&-button {
		border-radius:		4px 4px 0 0;
		transform:			rotate(-90deg) translateX(19px);
		transform-origin:	100% 100%;
	}
}