.modal {
	background:		$light-grey-3;
}

.modal-content {
	background:		transparent;
	border-radius:	0;
	box-shadow:		none;
	padding: 		$base-spacing-unit;

	h2 {
		font-family: 	Proxima;
		font-size:		2em;
		margin-top:		0;
	}

	p,
	strong {
		margin:			1.5em auto;
	}

	.close {
		position:	absolute;
		right:		0.5 * $base-spacing-unit;
		top:		0.5 * $base-spacing-unit;
		z-index:	1000000;
	}
}