.options {
	margin:				3em 0;
}

.option {
	display:			inline-block;
	margin:				1em 0.5em;
	position:			relative;
	vertical-align:		top;

	&-content {
		min-height:			215px;
		position:			relative;
		width:				320px;

		.panel-heading {
			cursor:			pointer;
		}

		.panel-footer {
			height:			140px;
			padding:		1em;
			position:		relative;
			text-align: 	right;
		}
	}

	&-edit {
		h4 {
  			color: 			$black;
			font-size: 		1.2em;
  			font-weight: 	600;
  			font-family: 	"ProximaSemiBold";
  			margin-bottom: 	0;
		}
	}

	.panel {
		margin-bottom:		0;
	}
	
	.panel-heading {
		height:			75px;
		padding: 		1em;
	}

	h3 {
		font-family:	"ProximaSemiBold";
		margin: 		0;
		max-width: 		90%;
		text-align: 	left;
	}

	.option-details-icon {
		position: 		absolute;
		right:			0.5em;
		top:			0.5em;
	}

	.option-icon {
		bottom:			1em;
		left:			1em;
		position:		absolute;
	}

	strong {
		color:			$black;
		display:		inline-block;
		font-size:		24px;
		font-weight:	600;
		line-height: 	108px;
	}

	.buttons {
		bottom:			1em;
		line-height: 	1;
		position:		absolute;
		right:			1em;
	}

	.icon {
		bottom:			0.5em;
		color:			$black;
		font-size:		28px;
		line-height: 	1;
		position:		absolute;
		right:			0.5em;
	}

	.recommended {
		background: 	$red;
		color: 			$white;
		left: 			-5px;
		margin-top: 	-12px;
		padding: 		0px 19px;
		position: 		absolute;
		z-index:		2;

		&:before {
			border-color:	$red transparent;
			border-style:	solid;
			border-width:	5px 0px 0px 5px;
			bottom:			-5px;
			content:		"";
			left:			0px;
			position:		absolute;
		}

		img {
			margin:			0 5px 0 0;
		}
	}

	&.selected {
		.panel-heading {
			background:		$yellow;
		}
		.panel-footer {
			background:		darken($yellow, 5%);
		}
	}

	&.editing {
		height:				767px;

		@media (min-width: 754px) {
			height:			637px;
		}

		@media (min-width: 992px) {
			height:			625px;
		}

		@media (min-width: 1200px) {
			height:			605px;
		}
	}

	&.details {
		height:				507px;

		@media (min-width: 754px) {
			height:			405px;
		}

		@media (min-width: 1200px) {
			height:			385px;
		}
	}

}