// Panel styles

.panel {
	color:						$medium-grey;
	position:					relative;

	&-header,
	&-body,
	&-footer {
		padding:				2em;
	}

	&-nopadding {
		.panel-header,
		.panel-body,
		.panel-footer {
			padding:			0;
		}
	}

	&-header {
		background:				$blue;
		border-radius:			$border-radius $border-radius 0 0;
		transition:				$fast-transition;

		.fake-checkbox {
			@include right();
			background:			$yellow;
			color:				$black;
			margin:				0.5em 0;

			.glyphicon {
				font-size:		0.75em;
			}
		}

		&.compare {
			height:				210px;
			padding-right:		47%;

			.price-summary {
				clear:			both;
			}
		}
	}

	&-body--grey {
		background:				$light-grey-2;
	}

	&-footer {
		background:				$light-grey-2;
		color:					$medium-grey;
		border-top:				none;

		h3 {
			color:				$dark-grey-1;
			font-size:			24px;
			font-weight:		600;
		}
	}

	&-comparable {
		overflow:				hidden;

		.row {
			min-height:			60px;
		}
	}

	&-comparison {
		background: 			$light-grey-2;
		border-radius: 			0 4px 4px 0;
		bottom: 				0;
		box-shadow: 			-2px 6px 8px -6px $black;
		height: 				100%;
		position:				absolute;
		right: 					0;
		transform: 				translateX(100%);
		transition: 			transform ease 0.5s;
		width: 					45%;

		&.active {
			transform: 			translateX(0%);
		}

		.panel-header {
			background:			$light-grey-1;
			height:				210px;

			h2 {
				color:			$dark-grey-1 !important;
			}
		}

		.subtitle-secondary {
			color:				$black;
		}

		.btn-medium {
			margin-bottom:		1em;
		}

		strong {
			color:				$blue;
		}

		ul {
			@include unstyled-list();
			margin-top:			3em;

			li {
				margin-bottom: 	1em;
			}
		}

		li {
			color:				$black;
			font-family: 		"ProximaSemiBold";
			font-size:			1.6em;
		}
	}

	h1,
	h2 {
		margin-bottom:			0;
		margin-top:				0;
	}

	.arrow {
		height:					13px;
		position:				absolute;
		top:					-13px;
		width:					26px;

		&:after {
			border-bottom: 		11px solid $white;
			border-left: 		11px solid transparent;
			border-right: 		11px solid transparent;
			content: 			"";
			height: 			0;
			position: 			absolute;
			top: 				1px;
			width: 				0;
			z-index: 			2;
		}

		&:before {
			border-bottom: 		13px solid rgba($black, 0.02);
			border-left: 		13px solid transparent;
			border-right: 		13px solid transparent;
			content: 			"";
			height: 			0;
			left:				-2px;
			position: 			absolute;
			right:				1px;
			top: 				-1px;
			width: 				0;
			z-index: 			1;			
		}
	}

	&-otherdriver {
		width:					270px;

		@media (min-width: 654px) {
			width:				555px;
		}

		@media (min-width: 992px) {
			width:				838px;
		}

		@media (min-width: 1200px) {
			width:				1122px;
		}
	}


	&-otherdriver-1 {
		&:after {
			border-bottom: 		10px solid $white;
			border-left: 		10px solid transparent;
			border-right: 		10px solid transparent;
			content:			"";
			display:			block;
			height: 			0;
			left:				50%;
			margin-left:		-10px;
			position:			absolute;
			top:				-10px;
			width: 				0;
		}
	}

	&-otherdriver-2 {
		&:after {
			border-bottom: 		10px solid $white;
			border-left: 		10px solid transparent;
			border-right: 		10px solid transparent;
			content:			"";
			display:			block;
			height: 			0;
			left:				50%;
			margin-left:		-10px;
			position:			absolute;
			top:				-10px;
			width: 				0;

			@media (min-width: 654px) {
				left:			75%;
			}

			@media (min-width: 769px) {
				left:			62.5%;
			}
		}
	}

	&-otherdriver-3 {
		&:after {
			border-bottom: 		10px solid $white;
			border-left: 		10px solid transparent;
			border-right: 		10px solid transparent;
			content:			"";
			display:			block;
			height: 			0;
			left:				50%;
			margin-left:		-10px;
			position:			absolute;
			top:				-10px;
			width: 				0;

			@media (min-width: 654px) {
				left:			75%;
			}
		}
	}

	&-otherdriver-4 {
		&:after {
			border-bottom: 		10px solid $white;
			border-left: 		10px solid transparent;
			border-right: 		10px solid transparent;
			content:			"";
			display:			block;
			height: 			0;
			left:				50%;
			margin-left:		-10px;
			position:			absolute;
			top:				-10px;
			width: 				0;

			@media (min-width: 654px) {
				left:			87.5%;
			}
		}
	}

	&-editdriver {
		left:					0;
		margin:					1em 0;
		position:				absolute;
		top:					255px;
		width:					270px;
		z-index:				10;

		@media (min-width: 654px) {
			width:				555px;
		}

		@media (min-width: 992px) {
			width:				838px;
		}

		@media (min-width: 1200px) {
			width:				1122px;
		}

		&:after {
			border-bottom: 		10px solid $white;
			border-left: 		10px solid transparent;
			border-right: 		10px solid transparent;
			content:			"";
			display:			block;
			height: 			0;
			left:				50%;
			margin-left:		-10px;
			position:			absolute;
			top:				-10px;
			width: 				0;
		}

	}

	&-editdriver-1 {
		left:					0;

		@media (min-width: 654px) {
			left:				-284px;
		}

		@media (min-width: 1200px) {
			left:				-426px;
		}

		&:after {

			@media (min-width: 654px) {
				left:			75%;
			}

			@media (min-width: 992px) {
				left:			50%;
			}
		}
	}

	&-editdriver-2 {
		left:					0;

		@media (min-width: 992px) {
			left:				-568px;
		}

		@media (min-width: 1200px) {
			left:				-284px;
		}

		&:after {

			@media (min-width: 654px) {
				left:			25%;
			}

			@media (min-width: 992px) {
				left:			83.25%;
			}

			@media (min-width: 1200px) {
				left:			37.5%;
			}
		}
	}

	&-editdriver-3 {
		left:					0;

		@media (min-width: 654px) {
			left:				0;
		}

		@media (min-width: 1200px) {
			left:				-568px;
		}

		&:after {

			@media (min-width: 654px) {
				left:			25%;
			}

			@media (min-width: 992px) {
				left:			16.65%;
			}

			@media (min-width: 1200px) {
				left:			62.5%;
			}
		}
	}

	&-editdriver-4 {
		left:					0;

		@media (min-width: 1200px) {
			left:				-142px;
		}

		&:after {

			@media (min-width: 654px) {
				left:			25%;
			}

			@media (min-width: 992px) {
				left:			16.5%;
			}

			@media (min-width: 1200px) {
				left:			25%;
			}
		}
	}

	&-editdriver-5 {
		left:					0;

		@media (min-width: 654px) {
			left:				-142px;
		}

		@media (min-width: 992px) {
			left:				-568px;
			width:				838px;
		}

		&:after {

			@media (min-width: 654px) {
				left:			50%;
			}

			@media (min-width: 992px) {
				left:			83.25%;
			}

			@media (min-width: 1200px) {
				left:			82.5%;
			}
		}
	}

	&-editdriver-6 {
		left:					0;

		@media (min-width: 992px) {
			left:				-284px;
		}

		@media (min-width: 1200px) {
			left:				0px;
		}

		&:after {

			@media (min-width: 654px) {
				left:			25%;
			}

			@media (min-width: 992px) {
				left:			50%;
			}

			@media (min-width: 1200px) {
				left:			12.5%;
			}
		}
	}

	&-editdriver-7 {
		left:					0;

		@media (min-width: 654px) {
			left:				-284px;
		}

		@media (min-width: 1200px) {
			left:				-852px;
		}

		&:after {

			@media (min-width: 654px) {
				left:			75%;
			}

			@media (min-width: 992px) {
				left:			50%;
			}

			@media (min-width: 1200px) {
				left:			87.5%;
			}
		}
	}

	&-editoption,
	&-option-details {
		left:					0;
		margin:					0;
		position:				absolute;
		top:					230px;
		width:					320px;
		z-index:				10;

		@media (min-width: 754px) {
			width:				655px;
		}

		@media (min-width: 992px) {
			width:				840px;
		}

		@media (min-width: 1200px) {
			width:				990px;
		}

		&:after {
			border-bottom: 		10px solid $white;
			border-left: 		10px solid transparent;
			border-right: 		10px solid transparent;
			content:			"";
			display:			block;
			height: 			0;
			left:				50%;
			margin-left:		-10px;
			position:			absolute;
			top:				-10px;
			width: 				0;
		}
	}

	&-editoption-1 {
		left:					0;

		@media (min-width: 754px) {
			left:				0px;
		}

		@media (min-width: 992px) {
			left:				-93px;
		}

		@media (min-width: 1200px) {
			left:				-335px;
		}

		&:after {

			@media (min-width: 754px) {
				left:			25%;
			}

			@media (min-width: 992px) {
				left:			30%;
			}

			@media (min-width: 1200px) {
				left:			50%;
			}

		}
	}

	&-editoption-2 {
		left:					0;

		@media (min-width: 992px) {
			left:				-84px;
		}

		@media (min-width: 1200px) {
			left:				-168px;
		}

		&:after {

			@media (min-width: 754px) {
				left:			25%;
			}

			@media (min-width: 992px) {
				left:			30%;
			}

			@media (min-width: 1200px) {
				left:			33.3%;
			}

		}
	}

	&-editoption-3 {
		left:					0;

		@media (min-width: 754px) {
			left:				-335px;
		}

		@media (min-width: 992px) {
			left:				-428px;
		}

		@media (min-width: 1200px) {
			left:				-500px;
		}

		&:after {

			@media (min-width: 754px) {
				left:			75%;
			}

			@media (min-width: 992px) {
				left:			70%;
			}

			@media (min-width: 1200px) {
				left:			66.6%;
			}

		}
	}

	&-editoption-4 {
		left:					0;

		@media (min-width: 754px) {
			left:				-335px;
		}

		@media (min-width: 992px) {
			left:				-427px;
		}

		@media (min-width: 1200px) {
			left:				0px;
		}

		&:after {

			@media (min-width: 754px) {
				left:			75%;
			}

			@media (min-width: 992px) {
				left:			70%;
			}

			@media (min-width: 1200px) {
				left:			16.65%;
			}

		}
	}

	&-editoption-5 {
		left:					0;

		@media (min-width: 754px) {
			left:				-335px;
		}

		@media (min-width: 992px) {
			left:				-427px;
		}

		@media (min-width: 1200px) {
			left:				-670px;
		}

		&:after {

			@media (min-width: 754px) {
				left:			75%;
			}

			@media (min-width: 992px) {
				left:			70%;
			}

			@media (min-width: 1200px) {
				left:			83.25%;
			}

		}
	}

	&-option-details {
		.panel-footer {
			border-radius:		4px 4px 4px 4px;
		}

		&:after {
			border-bottom: 		10px solid $light-grey-2;
		}
	}
}