// Panel styles

.panel {
	overflow:					hidden;
	position:					relative;

	&-header,
	&-body,
	&-footer {
		padding:				2em;
	}

	&-header {
		background:				$blue;
		border-radius:			$border-radius $border-radius 0 0;
		transition:				$fast-transition;

		.fake-checkbox {
			@include right();
			background:			$yellow;
			color:				$black;
			margin:				0.5em 0;

			.glyphicon {
				font-size:		0.75em;
			}
		}

		&.compare {
			padding-right:		47%;

			.price-summary {
				clear:			both;
			}
		}
	}

	&-body--grey {
		background:				$light-grey-2;
	}

	&-footer {
		background:				$light-grey-2;
		color:					$medium-grey;
		border-top:				none;

		h3 {
			color:				$dark-grey-1;
			font-size:			24px;
			font-weight:		600;
		}
	}

	&-comparison {
		background: 			$light-grey-2;
		border-radius: 			0 4px 4px 0;
		bottom: 				0;
		box-shadow: 			-2px 6px 8px -6px $black;
		height: 				100%;
		position:				absolute;
		right: 					0;
		transform: 				translateX(100%);
		transition: 			transform ease 0.5s;
		width: 					45%;

		&.active {
			transform: 			translateX(0%);
		}

		.btn-medium {
			margin-bottom:		1em;
		}

		ul {
			@include unstyled-list();
			margin-top:			3em;

			li {
				margin-bottom: 	1em;
			}
		}

		li {
			color:				$black;
			font-family: 		"ProximaSemiBold";
			font-size:			1.6em;
		}
	}

	h1,
	h2 {
		margin-bottom:			0;
		margin-top:				0;
	}

	.arrow {
		height:					13px;
		position:				absolute;
		top:					-13px;
		width:					26px;

		&:after {
			border-bottom: 		11px solid $white;
			border-left: 		11px solid transparent;
			border-right: 		11px solid transparent;
			content: 			"";
			height: 			0;
			position: 			absolute;
			top: 				1px;
			width: 				0;
			z-index: 			2;
		}

		&:before {
			border-bottom: 		13px solid rgba($black, 0.02);
			border-left: 		13px solid transparent;
			border-right: 		13px solid transparent;
			content: 			"";
			height: 			0;
			left:				-2px;
			position: 			absolute;
			right:				1px;
			top: 				-1px;
			width: 				0;
			z-index: 			1;			
		}
	}
}