.plan {

	&-option {
		display:			inline-block;
		height:				220px;
		margin:				$base-spacing-unit;
		position:			relative;
		text-align:			center;
		vertical-align: 	top;

		&-status {
			bottom:			20px;
			left:			50%;
			position:		absolute;
			transform:		translateX(-50%);
		}

		&.selected {
			background:		$yellow;
		}
	}

	&-left,
	&-right {
		display:			inline-block;
		vertical-align: 	middle;
	}

	&-left {
		margin-right:		$base-spacing-unit;
	}

	&-item {
		margin-bottom:		10px;

		strong {
			color:			$black;
			display:		inline-block;
			font-family: 	"ProximaBold";
			width:			80px;
		}

		button {
			margin-left:	$base-spacing-unit;
		}
	}

	&-total {
		color:				$blue;
		font-family:		"ProximaSemiBold";
		font-size:			2em;
		margin-top:			0.5 * $base-spacing-unit;

		@media(min-width: 1000px) {
			margin-top:		0;
		}

		.subtitle {
			color:			$dark-grey-1;
		}
	}

	&.selected {
		background:			$yellow;
	}

}