.plan {

	&-left,
	&-right {
		display:			inline-block;
		vertical-align: 	middle;
	}

	&-left {
		margin-right:		$base-spacing-unit;
	}

	&-item {
		margin-bottom:		10px;

		strong {
			color:			$black;
			display:		inline-block;
			font-family: 	"ProximaBold";
			width:			80px;
		}

		button {
			margin-left:	$base-spacing-unit;
		}
	}

	&-total {
		color:				$blue;
		font-family:		"ProximaSemiBold";
		font-size:			2em;
		margin-top:			0.5 * $base-spacing-unit;

		@media(min-width: 1000px) {
			margin-top:		0;
		}

		.subtitle {
			color:			$dark-grey-1;
		}
	}

}