.slider {
	margin-bottom: 			10px !important;

	&-labels {
		margin-left: 		-10px;
		position:			relative;
		width:				275px;

		span {
			display:		inline-block;
			font-weight:	600;
			width:			14.28%;
		}
	}

	&-horizontal {
		width:				235px !important;
	}

	&-labels-experience {
		width:				345px;
	}
}