// Tooltip styles

.tooltip-inner {
	color:					$dark-grey-2;
	background-color:		$yellow;
	font-size:				1.2em;
}

.tooltip {

	&.left .tooltip-arrow {
		border-left-color: 	$yellow;
	}

	&.top .tooltip-arrow {
		border-top-color: 	$yellow;
	}

}